<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <div>
              <h4 slot="header" class="card-title">3rd Party Company Details</h4>

                    <br>
                              <br />
                              <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Company Name</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Company Registration No.</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>New Company Registration No.</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Address</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>City</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>State</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Country</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Telephone Number</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Fax Number</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td></td>
                                  </tr>

                                </tbody>
                              </table>

                          </div>
          </va-card>
<br/><br/><br/>
<va-card>
  <vue-form-generator
                :model="model"
                :schema="schema"
                :options="formOptions"
                ref="ReviewRemark"
              ></vue-form-generator>
              <br/>
              <button
              @click="back"
              type="button"
              class="btn btn-primary btn-fill float-left btn-md"
            >
              <i class="fa fa-step-backward" /> &nbsp; Previous
            </button>
            <button
              @click="onSubmit"
              type="button"
              class="ml-2 btn btn-primary btn-fill float-right btn-md"
            >
              <i class="fa fa-paper-plane" /> &nbsp; Approve
            </button>
            <button @click="onReject" type="button" class="ml-2 btn btn-danger btn-fill float-right btn-md">
                  <i class="fa fa-ban" /> &nbsp; Reject
                </button>
            <button
              @click="rtrn"
              type="button"
              class="ml-2 btn btn-warning btn-fill float-right btn-md"
            >
              <i class="fa fa-reply" /> &nbsp; Return
            </button>

            <button @click="" type="button" class="ml-2 btn btn-info btn-fill float-right btn-md">
                  <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
                </button>
</va-card>
                </div>
                <br/>

        </div>
      </div>
    </div>
</template>

<script>
import Vue from "vue";
export default {
  mounted () {

  },
  components: {},

  methods: {
    back () {
      this.$router.go(-1)
    },
  },

  computed: {

  },

  data () {
    return{

      model: {
        Remark: "",
      },
      schema: {
        fields: [

          {
            type: 'textArea',
            label: 'ID Review',
            model: 'Remark',
            hint: 'Max 500 characters',
            max: 1000,
            rows: 5,
            placeholder: 'Enter Remark',
            styleClasses: 'col-md-12',
            required: true,
            validator: 'string',
          },
        ],
      },
      formOptions: {
        validateAfterChanged: true,
      },
    }
  }
  }
</script>

<!-- New step! Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss">
.display-inline label {
  display: inline !important;
  padding: 5px;
}
.app-layout__main {
  background: #e8e8e8;
}
.container {
  max-width: 620px;
  min-width: 420px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #888;
}

/* Style the tabs */
.tabs {
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: -2px; // hide bottom border
}

.tabs ul {
  list-style-type: none;
  margin-left: 20px;
}

.tabs a {
  float: left;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 0.2s;
  border: 1px solid #ccc;
  border-right: none;
  background-color: #f1f1f1;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
.tabs a:last-child {
  border-right: 1px solid #ccc;
}

/* Change background color of tabs on hover */
.tabs a:hover {
  background-color: #aaa;
  color: #fff;
}

/* Styling for active tab */
.tabs a.active {
  background-color: #fff;
  color: #484848;
  border-bottom: 2px solid #fff;
  cursor: default;
}

/* Style the tab content */
.tabcontent {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #e1e1e1;
}
</style>
<style scoped>
.widthModal {
  width: 80%;
}
.width {
  width: 100%;
}
.widthName {
  width: 5%;
}
</style>
