<template>
  <va-card>
    <div class="col-lg-10">
      <h4 slot="header">SETTING BY MODULE</h4>
    </div>
    <br />
    <br />

    <h5>
      <i class="fa fa-bank"></i>&nbsp;&nbsp;
      <b>ANNUAL FEE</b>
    </h5>
    <hr />

    <div class="ml-5">
      <!-- Marketing Approach -->
        <va-card>
          <br />
          <vue-form-generator
            :model="model"
            :schema="Tab1Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          <vue-form-generator
            :model="model"
            :schema="Tab2Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          <vue-form-generator
            :model="model"
            :schema="Tab3Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br />
        </va-card>
        
          <br />
          <va-card>
          <vue-form-generator
            :model="model"
            :schema="Tab4Schema"
            :options="formOptions"
            ref="Tab2Form"
          ></vue-form-generator>
          <br/>
          <vue-form-generator
            :model="model"
            :schema="Tab5Schema"
            :options="formOptions"
            ref="Tab2Form"
          ></vue-form-generator>
          <br/>
          <vue-form-generator
            :model="model"
            :schema="Tab6Schema"
            :options="formOptions"
            ref="Tab2Form"
          ></vue-form-generator>
          <br />
          </va-card>
          <br/>
          <br/>
          <div class="float-right">
            <button
              @click="submit"
              type="button"
              class="ml-2 btn btn-primary btn-fill btn-md"
            >
              <i class="fa fa-save" /> &nbsp; SAVE
            </button>
          </div>
          <div class="float-right"></div>
          <br />
          <h4>List of Freeze Period </h4>
          <br/>
          <!-- list -->
          <va-card class="mt-2">
            <va-data-table
              :fields="DateFields"
              :data="filteredDataDateFields"
              :per-page="parseInt(perPage)"
              :datacount="DateCount"
               :dataperpage="parseInt(perPage)"
              clickable
            >
              <template slot="no" slot-scope="row">
                {{ row.rowIndex + 1 }}
              </template>

              <template slot="actions" slot-scope="props">
                <h4 class="mt-2">
                  <span
                    class="badge badge-primary mr-1"
                    v-on:click="editAnnualFeee(props.rowData)"
                  >
                    <i class="fa fa-edit"></i
                  ></span>
                </h4>
              </template>
            </va-data-table>
            <br />
            <br/>
          
          </va-card>
          <br/>
          <br/>
          <h4>R&A Verification Period </h4>
          <br/>
          <!-- list -->
          <va-card class="mt-2">
            <va-data-table
              :fields="RNADateList"
              :data="filteredDataRNADateList"
            >
            </va-data-table>
            <br />
          
          </va-card>
    
      
    

     
    </div>

    <!-- Marketing Approach  -->
    <vudal name="simpleModalEditAnnualFeeDate" class="widthModal">
      <div class="header">
        EDIT ANNUAL FEE DATE<i class="close icon">&times;</i>
      </div>
      <div class="content">
        <vue-form-generator
          :model="model"
          :schema="editAnnualFeeSchema"
          :options="formOptions"
        />
      </div>
      <div class="actions">
        <button
          type="button"
          class="cancel vudal-btn mr-2 btn btn-danger btn-fill btn-md"
        >
          <i class="fa fa-times" /> &nbsp; CLOSE
        </button>
        <button
          @click="updateAnnualFeeAPI"
          type="button"
          class="cancel vudal-btn mr-2 btn btn-primary btn-fill btn-md"
        >
          <i class="fa fa-edit" /> &nbsp; UPDATE
        </button>
      </div>
    </vudal>
<br/>
<br/>
    <button
          @click="back"
          type="button"
          class="btn btn-primary btn-fill btn-md"
        >
          <i class="fa fa-step-backward" /> &nbsp; Previous
        </button>

  </va-card>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import Vue from "vue";
import Vudal from "vudal";
import "vue-form-generator/dist/vfg.css";
import * as servicesModule0 from "../../../app/module0/services02";
import { debounce } from "lodash";
Vue.component("field-vfg-functional-date", VfgFunctionalDate);
import VfgFunctionalDate from "../../component/VfgFunctionalCalendar.vue";
import moment from "moment";
import FullCalendar from "@fullcalendar/vue";
import interactionPlugin from "@fullcalendar/interaction";
import { DeleteDistributorMarketingApproach } from "../../../app/module0/acap";

export default {
  mounted() {
    // this.getAllmarketingApproach();
    this.getAllAnnualPrevious();
    this.getAllListDate();
    //this.getAllListRnaDate();
  },
  components: {
    FullCalendar,
    Vudal,
  },
  // DATA SCHEMA
  data() {
    return {
      term: null,
      visibleLogin: false,
      visibleBlockDuration: false,
      visibleBlockDuration2: false,
      perPage: "6",
      perPageOptions: ["4", "6", "10", "20"],
      AnnualPreviousYear: [],
      DateList: [],
      RnaDateList: [],

      MarketingApproachList: [],
      DateCount: null,
      RnaDateCount: null,


      StatusCount: null,
      loading: false,

      count: 1,
      model: {
        addCurrent: {
          YEAR: '',
          ASSESSMENT_START_DATE: '',
          ASSESSMENT_END_DATE: '',
          SUBMISSION_START_DATE: '',
          SUBMISSION_END_DATE: '',
        },
        addPrevious: {
          YEAR: '',
          ASSESSMENT_START_DATE: '',
          ASSESSMENT_END_DATE: '',
          SUBMISSION_START_DATE: '',
          SUBMISSION_END_DATE: '',
        },

        editCurrent: {
          YEAR: '',
          ASSESSMENT_START_DATE: '',
          ASSESSMENT_END_DATE: '',
          SUBMISSION_START_DATE: '',
          SUBMISSION_END_DATE: '',
        },
        

    
      },

  

      formOptions: {
        validateAfterChanged: true,
      },
      //5 Module CPD Calculation
      Tab1Schema: {
        groups: [
          {
            // styleClasses: "row mt-2",
            fields: [
              {
                labels:"Year",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addCurrent.YEAR',
                noLabel: true,
                styleClasses: "col-md-6",
                required: true,
                dateFormat: 'YYYY',
                view: 'year',
              },
            ],
          },
        ],
        
      },
      Tab2Schema: {
        groups: [
          {
            // styleClasses: "row mt-2",
            fields: [
              {

                labels:"Assessment Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addCurrent.ASSESSMENT_START_DATE',
                styleClasses: "col-md-6",
                required: true,
              },
              { 
                labels:"Assessment End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addCurrent.ASSESSMENT_END_DATE',
                styleClasses: "col-md-6",
                required: true,
              },
            ],
          },
        ],
        
      },
      Tab3Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                labels:"Submission Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addCurrent.SUBMISSION_START_DATE',
                styleClasses: "col-md-6",
                required: true,
              },
              {
                 labels:"Submission End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addCurrent.SUBMISSION_END_DATE',
                styleClasses: "col-md-6",
                required: true,
              },
            ],
          },
        ],
        
      },
      Tab4Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                labels:"Previous Year",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addPrevious.YEAR',
                noLabel: true,
                styleClasses: "col-md-6",
                 disabled: true,
              
              },
            ],
          },
        ],
        
      },
      Tab5Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                labels:"Assessment Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addPrevious.ASSESSMENT_START_DATE',
                noLabel: true,
                styleClasses: "col-md-6",
                 disabled: true,
              },
              {
                 labels:"Assessment End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addPrevious.ASSESSMENT_END_DATE',
                noLabel: true,
                styleClasses: "col-md-6",
                 disabled: true,
              },
            ],
          },
        ],
        
      },
      Tab6Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                labels:"Submission Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addPrevious.SUBMISSION_START_DATE',
                noLabel: true,
                styleClasses: "col-md-6",
                 disabled: true,
              },
              {
                labels:"Submission End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'addPrevious.SUBMISSION_END_DATE',
                noLabel: true,
                styleClasses: "col-md-6",
                 disabled: true,
              },
            ],
          },
        ],
        
      },
      editAnnualFeeSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                labels:"Year",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editCurrent.YEAR',
                styleClasses: "col-md-12",    
                dateFormat: 'YYYY',
                view: 'year',
              },
              {

                labels:"Assessment Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editCurrent.ASSESSMENT_START_DATE',
                noLabel: true,
                styleClasses: "col-md-12",
              
              },
              { 
                labels:"Assessment End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editCurrent.ASSESSMENT_END_DATE',
             
                styleClasses: "col-md-12",
              
              },
              {
                labels:"Submission Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editCurrent.SUBMISSION_START_DATE',
    
                styleClasses: "col-md-12",
               
              },
              {
                 labels:"Submission End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editCurrent.SUBMISSION_END_DATE',
                styleClasses: "col-md-12",
              },
            ],
          },
        ],
      },

      
  
      
    };
  },
  methods: {
    back() {
      this.$router.push("/fimm/bymodule-list");
    },
  getAllAnnualPrevious: async function () {
      const response = await servicesModule0.getAllAnnualDateFirst();
      this.AnnualPreviousYear = response;
      this.model.addPrevious = response;
      // this.CountryCount = this.CountryList.length;
    },

    getAllListDate: async function () {
      const response = await servicesModule0.getAllListDate();
      this.DateList = response;
      this.DateCount = this.DateList.length;
    },
    // getAllListRnaDate: async function () {
    //   const response = await servicesModule0.getAllRnaDatelist();
    //   this.RnaDateList = response;
    //   this.RnaDateCount = this.RnaDateList.length;
    // },

   
async submit() {
      if (this.$refs.Tab1Form.validate()) {
        const data = new FormData();
        data.append("ASSESSMENT_YEAR", moment(this.model.addCurrent.YEAR).format("YYYY"));
        data.append(
          "ASSESSMENT_START_DATE",
          moment(this.model.addCurrent.ASSESSMENT_START_DATE).format("YYYY-MM-DD")
        );
        data.append(
          "ASSESSMENT_END_DATE",
          moment(this.model.addCurrent.ASSESSMENT_END_DATE).format("YYYY-MM-DD")
        );
        data.append(
          "SUBMISSION_START_DATE",
          moment(this.model.addCurrent.SUBMISSION_START_DATE).format("YYYY-MM-DD")
        );
        data.append(
          "SUBMISSION_END_DATE",
          moment(this.model.addCurrent.SUBMISSION_END_DATE).format("YYYY-MM-DD")
        );
        data.append(
          "RNA_START_DATE",
          moment(this.model.addCurrent.SUBMISSION_END_DATE).subtract(1, 'year').format("YYYY-MM-DD")
        );
        data.append(
          "RNA_END_DATE",
          moment(this.model.addCurrent.SUBMISSION_END_DATE).format("YYYY-MM-DD")
        );
        try {
          console.log(data);
          const response = await servicesModule0.createAnnualFeeDate(data);
          this.getAllListDate();
          // this.$modals.simpleModal.$hide();
        } catch (error) {
          console.log(error);
        }
      }
    },


     async editAnnualFeee(data) {
      const response = await servicesModule0.getAnnualFeeById(
        data.ANNUAL_FEES_DATE_ID
      );
      this.$modals.simpleModalEditAnnualFeeDate.$show();
      this.ANNUAL_FEES_DATE_ID = response.ANNUAL_FEES_DATE_ID;
      this.model.editCurrent = response.data;
      // this.model.editCurrent.YEAR = response.ASSESSMENT_YEAR;
      // this.model.editCurrent.ASSESSMENT_START_DATE = response.ASSESSMENT_START_DATE;
      // this.model.editCurrent.ASSESSMENT_END_DATE = response.ASSESSMENT_END_DATE;
      // this.model.editCurrent.SUBMISSION_START_DATE = response.SUBMISSION_START_DATE;
      // this.model.editCurrent.SUBMISSION_END_DATE = response.SUBMISSION_END_DATE;
      console.log(response);
    },
  
    async updateAnnualFeeAPI() {
      try {
        const data = new FormData();
        data.append(
          "ANNUAL_FEES_DATE_ID",
          this.ANNUAL_FEES_DATE_ID
        );
        data.append("ASSESSMENT_YEAR", moment(this.model.editCurrent.YEAR).format("YYYY"));
        data.append(
          "ASSESSMENT_START_DATE",
          moment(this.model.editCurrent.ASSESSMENT_START_DATE).format("YYYY-MM-DD")
        );
        data.append(
          "ASSESSMENT_END_DATE",
          moment(this.model.editCurrent.ASSESSMENT_END_DATE).format("YYYY-MM-DD")
        );
        data.append(
          "SUBMISSION_START_DATE",
          moment(this.model.editCurrent.SUBMISSION_START_DATE).format("YYYY-MM-DD")
        );
        data.append(
          "SUBMISSION_END_DATE",
          moment(this.model.editCurrent.SUBMISSION_END_DATE).format("YYYY-MM-DD")
        );
        data.append(
          "RNA_START_DATE",
          moment(this.model.editCurrent.SUBMISSION_END_DATE).subtract(1, 'year').format("YYYY-MM-DD")
        );
        data.append(
          "RNA_END_DATE",
          moment(this.model.editCurrent.SUBMISSION_END_DATE).format("YYYY-MM-DD")
        );
        const response = await servicesModule0.updateAnnualFee(data);
        this.getAllListDate();
      } catch (error) {
        console.log(error);
      }
    },

    

    

  

  },

  computed: {
    DateFields() {
      return [
        {
          name: "__slot:marker",
          width: "30px",
          dataClass: "text-center",
        },
        {
          name: "__slot:no",
          title: "No",
        },
        {
          name: "ASSESSMENT_YEAR",
          title: "YEAR",
          // sortField: "DIST_SET_PARAM",
        },
        {
          name: "ASSESSMENT_START_DATE",
          title: "ASSESSMENT START DATE ",
          // sortField: "DIST_SET_PARAM",
        },
        {
          name: "ASSESSMENT_END_DATE",
          title: "ASSESSMENT END DATE ",
          // sortField: "DIST_SET_PARAM",
        },
        {
          name: "SUBMISSION_START_DATE",
          title: "SUBMISSION START DATE ",
          // sortField: "DIST_SET_PARAM",
        },
        {
          name: "SUBMISSION_END_DATE",
          title: "SUBMISSION END DATE",
          // sortField: "DIST_SET_PARAM",
        },

        {
          name: "__slot:actions",
          title: "Action",
          dataClass: "justify-content-center",
          width: "15%",
        },
      ];
    },
    filteredDataDateFields() {
      if (!this.term || this.term.length < 1) {
        return this.DateList;
      }
    },
   RNADateList() {
      return [
        {
          name: "__slot:marker",
          width: "30px",
          dataClass: "text-center",
        },
        {
          name: "__slot:no",
          title: "No",
        },
        {
          name: "RNA_START_DATE",
          title: "START DATE ",
          // sortField: "DIST_SET_PARAM",
        },
        {
           name: "RNA_END_DATE",
          title: "END DATE ",
          // sortField: "DIST_SET_PARAM",
        },
        
      ];
    },
    filteredDataRNADateList() {
      if (!this.term || this.term.length < 1) {
        return this.DateList;
      }
    },
    



  },
};
</script>