<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">Appeal Selection List</h4>
    </div>
    <va-card class="mt-5 col-12">
      <table class="table">
        <tbody>
          <tr>
            <td style="width:10%">&nbsp;</td>
            <td style="width:5%;text-align:center"><b>Distributor</b></td>
            <td style="width:5%;text-align:center"><b>Fimm Training Provider</b></td>
            <td style="width:5%;text-align:center"><b>Training Provider</b></td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-external-link" />
              &nbsp;POST-VETTING PROGRAM 
            </td>
            <td style="text-align:center"><a href="d-appealPostVettingList">0</a></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-external-link" />
              &nbsp;PRE-VETTING PROGRAM
            </td>
            <td style="text-align:center"><a href="d-appealPreVettingList">0</a></td>
            <td style="text-align:center"><a href="f-appealPreVettingList">0</a></td>
            <td style="text-align:center"><a href="t-appealPreVettingList">0</a></td>
            
          </tr>
          <tr>
            <td>
              <i class="fa fa-external-link" />
              &nbsp;WRITING AND PUBLISHING BOOKS/ARTICLES
            </td>
             <td style="text-align:center"><a href="d-appealWritingList">0</a></td>
             
          </tr>
          <tr>
            <td>
              <i class="fa fa-external-link" />
              &nbsp;READING APPROVED FINCANCIAL LITERATURE
            </td>
              <td style="text-align:center"><a href="d-appealReadingList">0</a></td>
              <td style="text-align:center"><a href="f-appealReadingList">0</a></td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-external-link" />
              &nbsp;TEACHING/SPEAKING
            </td>
               <td style="text-align:center"><a href="d-appealTeachingList">0</a></td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-external-link" />
              &nbsp;ACADEMIC/PROFESSIONAL QUALIFICATION
            </td>
             <td style="text-align:center"><a href="d-appealAcademicList">0</a></td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-external-link" />
              &nbsp;PASSING FINANCIAL PLANNER MODULES
            </td>
            <td style="text-align:center"><a href="d-appealFinancialList">0</a></td>
            <td></td>
            <td></td>
          </tr>
           
        </tbody>
      </table>
    </va-card>
  </va-card>
</template>
<script>
import * as servicesModule4 from "../../app/module4/services01";

export default {
  mounted() {
    this.countPrevetDist();
  },
  methods: {

     countPrevetDist: async function () {
     const response = await servicesModule4.getCountPrevetDistributor();
     this.PDATA = response;
     //alert(this.PDATA.TOTAL_NEW);

 
    },
    data(){
      return{
        PDATA:[],
      };
    }
    
  },
};
</script>

