<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <template v-if="!currentDistributor">
            <va-card>
              <h4 style="margin-top:0px; margin-bottom:20px">
                List of New Candidate Application (RD)
              </h4>

              <!-- <div class="col-3">
              <div
                style="display: flex; align-items:center"
                class="form-group form-group-sm has-search"
              >
                <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="filter.distributor"
                  type="text"
                  class="form-control"
                  placeholder="Search"
                />
              </div>
            </div> -->
              <div style="display:flex; justify-content:flex-end; align-items:center">
                <div class="flex md3 offset--md3">
                  <va-input :placeholder="$t('Search')" v-model="search.distributor" removable>
                    <va-icon name="fa fa-search" slot="prepend" />
                  </va-input>
                </div>
              </div>

              <!-- DISTRIBUTOR TABLE -->
              <va-data-table
                :fields="fields.distributor"
                :data="filteredDistributor"
                no-data-label="No data found"
                :per-page="parseInt(perPage)"
                :datacount="filteredDistributor.length"
                :dataperpage="parseInt(perPage)"
                clickable
              >
                <template slot="index" slot-scope="row">
                  {{ row.rowIndex + 1 }}
                </template>
                <template slot="ACTION" slot-scope="props">
                  <h5 class="mt-1">
                    <span
                      v-b-tooltip.hover
                      title="View"
                      v-on:click="setCurrentDistributor(props)"
                      class="badge badge-primary mr-2"
                    >
                      <i class="fa fa-eye"></i
                    ></span>
                  </h5>
                </template>
              </va-data-table>
            </va-card>
          </template>

          <template v-else>
            <template v-if="!currentConsultant">
              <va-card>
                <h4 style="margin-top:0px; margin-bottom:20px">
                  List of New Consultant Application
                </h4>
                <h6 style="margin-top:0px; margin-bottom:20px">
                  Distributor Name - {{ currentDistributor }}
                </h6>
                <!-- <div class="col-3">
              <div
                style="display: flex; align-items:center"
                class="form-group form-group-sm has-search"
              >
                <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="filter.consultant"
                  type="text"
                  class="form-control"
                  placeholder="Search"
                />
              </div>
            </div> -->
                <div style="display:flex; justify-content:flex-end; align-items:center">
                  <div class="flex md3 offset--md3">
                    <va-input :placeholder="$t('Search')" v-model="search.consultant" removable>
                      <va-icon name="fa fa-search" slot="prepend" />
                    </va-input>
                  </div>
                </div>
                <!-- CONSULTANT TABLE -->
                <!-- select-mode="single" -->
                <va-data-table
                  :fields="fields.consultant"
                  :data="filteredConsultant"
                  no-data-label="No data found"
                  :per-page="parseInt(perPage)"
                  :datacount="filteredConsultant.length"
                  :dataperpage="parseInt(perPage)"
                  clickable
                >
                  <!-- <template slot="checkbox" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                >
                </b-form-checkbox>
              </template> -->
                  <template slot="index" slot-scope="row">
                    {{ row.rowIndex + 1 }}
                  </template>
                  <template slot="ACTION" slot-scope="props">
                    <h5 class="mt-1">
                      <span
                        v-b-tooltip.hover
                        title="View"
                        v-on:click="viewCurrentConsultant(props)"
                        class="badge badge-primary mr-2"
                      >
                        <i class="fa fa-eye"></i
                      ></span>
                    </h5>
                  </template>
                </va-data-table>
                <br />

                <br />

                <div class="float-left">
                  <button
                    @click="
                      currentDistributor = null;
                      model.PROFILE_UPLOADED_DOCUMENTS = null;
                    "
                    type="button"
                    class="btn btn-primary btn-fill btn-md"
                  >
                    <i class="fa fa-step-backward" /> &nbsp; Previous
                  </button>
                </div>
              </va-card>
            </template>
            <template v-else>
              <va-card>
                <h4 style="margin-top:0">Consultant Details</h4>
                <br />
                <div>
                  <tabs
                    :tabs="tabs"
                    :currentTab="currentTab"
                    :wrapper-class="'default-tabs'"
                    :tab-class="'default-tabs__item'"
                    :tab-active-class="'default-tabs__item_active'"
                    :line-class="'default-tabs__active-line'"
                    @onClick="handleClick"
                  />
                  <div class="content">
                    <div v-if="currentTab === 'tab1'">
                      <div class="ml-4">
                        <br />
                        <table id="consultant-profile" class="table table-striped">
                          <tbody>
                            <tr>
                              <td style="width: 15%">Name</td>
                              <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                            </tr>
                            <tr>
                              <td>New NRIC</td>
                              <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                            </tr>
                            <tr>
                              <td>Date of Birth</td>
                              <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                            </tr>

                            <tr>
                              <td>Address</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                            </tr>
                            <tr>
                              <td>Postcode</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                            </tr>
                            <tr>
                              <td>City</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                            </tr>
                            <tr>
                              <td>State</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                            </tr>
                            <tr>
                              <td>Telephone Number</td>
                              <td>{{ currentConsultant.CONSULTANT_PHONENO }}</td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                            </tr>
                            <tr>
                              <td>Highest Qualification</td>
                              <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                            </tr>
                            <tr>
                              <td>Consultant Status</td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <vue-form-generator
                          :model="model"
                          :schema="fileUploadSchema"
                          :options="formOptions"
                          ref="fileUploadForm"
                        >
                        </vue-form-generator>
                      </div>
                    </div>
                    <div v-if="currentTab === 'tab2'">
                      <div class="ml-4">
                        <br />
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td style="width: 15%">Category</td>
                              <td>{{ currentConsultant.CONSULTANT_CATEGORY }}</td>
                            </tr>
                            <tr>
                              <td>Apprienticeship Program</td>
                              <td>Yes</td>
                            </tr>
                            <tr>
                              <td>Company Distributor</td>
                              <td>{{ currentConsultant.DISTRIBUTOR }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div v-if="currentTab === 'tab3'">
                      <div class="ml-4">
                        <br />
                        <table class="table table-striped">
                          <tbody>
                            <tr style="width: 100%">
                              <vue-form-generator
                                :model="model"
                                :schema="fileUploadSchema"
                                :options="formOptions"
                                ref="fileUploadForm"
                              >
                              </vue-form-generator>
                            </tr>
                            <!-- <tr>
                            <th>No</th>
                            <th>Document</th>
                          </tr> -->
                            <!-- <tr>
                            <td>1</td>
                            <td>
                              Cover letter for Former and Variation PRS consultant
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>
                              Letter of Undertaking for variation due to Merger
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>
                              Printed online application
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>
                              Statutory Declaration
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr> -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div v-if="currentTab === 'tab4'">
                      <div class="ml-3">
                        <br />
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td style="width: 15%">Examination Type</td>
                              <td>{{ currentConsultant.COURSE_TYPE }}</td>
                            </tr>

                            <tr>
                              <td>Result</td>
                              <td>
                                FAIL
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Certificate
                              </td>
                              <td>
                                Not Available
                                <a
                                  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                  target="_blank"
                                >
                                  View</a
                                >
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Bankruptcy Check
                              </td>
                              <td>
                                Pass
                                <a
                                  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                  target="_blank"
                                >
                                  View</a
                                >
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Bankruptcy Remark
                              </td>
                              <td>
                                Insert remark here
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </va-card>
              <br />
              <va-card>
                <h4 style="margin-top:0">Application Approval</h4>
                <br />

                <vue-form-generator
                  :model="model"
                  :schema="tabSchema2"
                  :options="formOptions"
                  ref="tabForm2"
                  @model-updated="onModelUpdated"
                  @validated="onValidated"
                >
                </vue-form-generator>
                <br />
              </va-card>
              <br />
              <va-card>
                <div class="ml-2 col-md-12">
                  Approval Log
                  <downloadExcel
                    :json_data="caDetailsRecordList"
                    :excelname="excelname"
                    :sheetname="sheetname"
                    :column="column"
                  ></downloadExcel>

                  <button
                    v-if="visibleLog"
                    v-b-toggle.collapse-3
                    type="button"
                    class="float-right btn-fill btn-md"
                  >
                    <i class="fa fa-eye-slash"></i>
                  </button>
                  <button
                    v-else
                    v-b-toggle.collapse-3
                    type="button"
                    class="float-right btn-fill btn-md"
                  >
                    <i class="fa fa-eye"></i>
                  </button>

                  <hr />
                  <b-collapse id="collapse-3" class="mt-2" v-model="visibleLog">
                    <div class="row">
                      <div class="flex md2 offset--md10">
                        <va-input :placeholder="$t('Search')" v-model="search.log" removable>
                          <va-icon name="fa fa-search" slot="prepend" />
                        </va-input>
                      </div>
                    </div>
                    <va-data-table
                      :fields="fields.log"
                      :data="logAPI"
                      no-data-label="No data found"
                      :per-page="parseInt(perPage)"
                      :datacount="logAPI.length"
                      :dataperpage="parseInt(perPage)"
                      clickable
                    >
                      <template slot="no" slot-scope="row">
                        {{ row.rowIndex + 1 }}
                      </template>
                      <!-- <template slot="remarks" slot-scope="props">
                      {{ props.rowData.APPR_REMARK }}
                      <span
                        v-b-tooltip.hover
                        v-on:click="readMore(props.rowData)"
                        title="Read more"
                        class="badge badge-primary mr-2"
                      >
                        <i class="fa fa-eye"></i
                      ></span>
                    </template>
                    <template slot="updates" slot-scope="props">
                      {{ props.rowData.LATEST_UPDATE }}
                    </template> -->
                    </va-data-table>
                  </b-collapse>
                </div>

                <br />
                <br />

                <div>
                  <div class="float-left">
                    <button
                      @click="currentConsultant = null"
                      type="button"
                      class="btn btn-primary btn-fill btn-md"
                    >
                      <i class="fa fa-step-backward" /> &nbsp; Previous
                    </button>
                  </div>
                  <div @click="saveAsDraft" class="float-right">
                    <button type="button" class="btn btn-info btn-fill btn-md">
                      <i class="fa fa-edit" /> &nbsp;Save as Draft
                    </button>
                    <button
                      @click="updateRegistrationApproval(7)"
                      type="button"
                      class="ml-2 btn btn-warning btn-fill btn-md"
                    >
                      <i class="fa fa-paper-plane" /> &nbsp; Return
                    </button>
                    <button
                      @click="updateRegistrationApproval(5)"
                      type="button"
                      class="ml-2 btn btn-danger btn-fill btn-md"
                    >
                      <i class="fa fa-ban" /> &nbsp; Reject
                    </button>
                    <button
                      @click="updateRegistrationApproval(3)"
                      type="button"
                      class="ml-2 btn btn-success btn-fill btn-md"
                    >
                      <i class="fa fa-paper-plane" /> &nbsp; Approve
                    </button>
                  </div>
                </div>
              </va-card>
            </template>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import HorizontalScroll from 'vue-horizontal-scroll';
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import * as services02module2 from '../../../app/module2/services02';
import RepositoryFactory from '../../../repositories/RepositoryFactory';
import TerminationRepository from '../../../repositories/module2/TerminationRepository';
import * as servicesModule3 from '../../../app/module3/services01';
import Tabs from 'vue-tabs-with-active-line';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');
const Termination = RepositoryFactory.get('termination');

export default {
  components: { Tabs },
  data() {
    return {
      tabs: [
        {
          title: 'Applicant Profile',
          value: 'tab1',
        },
        {
          title: 'Type of Applicant',
          value: 'tab2',
        },
        {
          title: 'Uploaded Document',
          value: 'tab3',
        },
        {
          title: 'Examination & Bankruptcy Check Result',
          value: 'tab4',
        },
      ],

      currentTab: 'tab1',

      currentDistributor: null,
      currentConsultant: null,
      visibleLog: false,

      isBusy: true,
      terminationType: [
        {
          label: 'Disqualified',
          value: '1',
        },
        {
          label: 'Other (please specify)',
          value: '2',
        },
      ],

      formOptions: {
        validateAfterChanged: true,
      },

      fields: {
        distributor: [
          { name: '__slot:index', title: 'NO' },
          // A column that needs custom formatting
          { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },
          // { name: 'DIST_CODE', title: 'DISTRIBUTOR CODE' },
          { name: 'DIST_NAME', title: 'DISTRIBUTOR NAME' },
          { name: 'DIST_TYPE', title: 'DISTRIBUTOR TYPE' },
          { name: 'TOTAL_CONSULTANT', title: 'TOTAL APPLICATION' },
          { name: 'REGISTRATION_TYPE', title: 'REGISTRATION TYPE' },
          { name: 'STATUS', title: 'STATUS' },
          // { name: 'DIST_PHONE_NO', title: 'PHONE NO' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        consultant: [
          // {
          //   name: '__checkbox',
          //   titleClass: 'center aligned',
          //   dataClass: 'center aligned',
          // },
          // A virtual column that doesn't exist in items
          // {
          //   name: '__slot:checkbox',
          //   title: 'SELECTED',
          // },
          { name: '__slot:index', title: 'NO' },
          { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },

          // A column that needs custom formatting
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC NUMBER' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NUMBER' },
          { name: 'DIST_PHONE_NO', title: 'PHONE NUMBER' },
          { name: 'APPLICATION_TYPE', title: 'APPLICATION TYPE' },
          { name: 'STATUS', title: 'STATUS' },

          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        log: [
          {
            name: '__slot:no',
            title: 'NO',
          },
          {
            name: 'CREATE_TIMESTAMP',
            title: 'Date',
            sortField: 'CREATE_TIMESTAMP',
          },
          {
            name: 'GROUP_NAME',
            title: 'Group',
            sortField: 'GROUP_NAME',
          },
          {
            name: 'USER_NAME',
            title: 'Creation By',
            sortField: 'USER_NAME',
          },
          {
            name: 'TS_PARAM',
            title: 'Activity',
            sortField: 'TS_PARAM',
          },

          // {
          //   name: "LATEST_UPDATE",
          //   title: "Latest Update",
          //   sortField: "LATEST_UPDATE",
          // },
          {
            name: '__slot:remarks',
            title: 'Remarks/Comments',
            sortField: 'APPR_REMARK',
          },
          {
            name: '__slot:updates',
            title: 'Latest Update',
            sortField: 'LATEST_UPDATE',
          },
        ],
      },
      // filter: {
      //   distributor: null,
      //   consultant: null,
      // },
      search: {
        distributor: '',
        consultant: '',
      },

      distributorsAPI: [],
      consultantsAPI: [],
      logAPI: [],

      // distributor: [],
      // consultants: null,

      currentPage: 1,
      perPage: '10',

      model: {
        // "TERMINATION_TYPE"
        // "TERMINATION_DATE"
        // "CONSULTANT_ID"
        // "TERMINATION_REMARK"
        // "CREATE_BY"
        // "CREATE_TIMESTAMP"
        PROFILE_UPLOADED_DOCUMENTS: [],
        TERMINATION_TYPE: '',
        TERMINATION_TYPE_OTHER_SPECIFY: '',
        TERMINATION_DATE: '',
        CONSULTANT_ID: [],
        TERMINATION_REMARK: '',
        CREATE_BY: JSON.parse(localStorage.getItem('user')).user_id,
        // CONSULTANTS: [],
      },

      // fields.distributor: ,
      // fields: ,

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'textArea',

                rows: 10,
                max: 1000,
                label: 'Remarks / Comments',
                hint: 'maximum of 1000 characters',
                model: 'REMARK_COMMENTS',
                placeholder: 'Enter Remarks or Comments',
                styleClasses: 'col-md-12',
              },
              {
                labels: 'Upload Document',
                text: 'Choose a File',
                model: 'SUPPORTED_DOCUMENT',
                type: 'vfg-custom-multiple-file',
                styleClasses: 'col-md-12',

                required: true,
              },
            ],
          },
        ],
      },
      fileUploadSchema: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                accept: '.pdf',
                multiple: true,
                text: 'Choose a File',
                model: 'PROFILE_UPLOADED_DOCUMENTS',
                type: 'vfg-custom-file-view',
                styleClasses: 'col-md-12',
                required: false,
                disabled: true,
              },
            ],
          },
        ],
      },
    };
  },
  async created() {
    await this.getDistributors();
    // await this.getConsultantRecord();
    // await this.getDocumentByID('241');
  },

  computed: {
    filteredDistributor() {
      const search = this.search.distributor.toLowerCase();
      if (this.search) {
        return this.distributorsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.distributorsAPI;
    },
    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      if (this.search) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultantsAPI;
    },
  },

  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },
    async getDistributors() {
      this.distributorsAPI = await services02module2.getDistributorRecords();
      this.isReady = true;
       console.log('this is distributors', this.distributorsAPI);
    },
    async getConsultantRecord(id) {
      console.log('inside get consultant record');
      const response = await services02module2.getConsultantsByDistributor(id);
      this.consultantsAPI = response;
      // this.isBusy = false;
      console.log(this.consultantsAPI);
    },

    async setCurrentDistributor(props) {
      console.log(props);
       await this.getConsultantRecord(props.rowData.DISTRIBUTOR_ID);
      this.currentDistributor = props.rowData.DIST_NAME;
    },

    // fix this
    setCurrentConsultantAll(scope) {
      if (this.mappedSelectedConsultantArray.length) {
        this.$refs['consultantTable'].clearSelected();
      } else {
        this.$refs['consultantTable'].selectAllRows();
      }
    },
    async viewCurrentConsultant(props) {
      try {
        this.currentConsultant = props.rowData;
        await this.getDocumentByID(props.rowData.CONSULTANT_ID);
      } catch (error) {
        console.log(error);
      }
    },

    setCurrentConsultant(props) {
      console.log('inside setCurrentConsultant');
      const index = this.model.CONSULTANT_ID.findIndex(
        el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID,
      );

      console.log(props);

      if (index >= 0) {
        this.model.CONSULTANT_ID.splice(index, 1);
      } else {
        this.model.CONSULTANT_ID.push(props.rowData);
      }
      console.log(this.model.CONSULTANT_ID);
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === 'TERMINATION_TYPE') {
        // this.visible.TERMINATION_TYPE = newVal.value;
        this.visible.TERMINATION_TYPE_OTHER_SPECIFY = false;
        if (newVal.label.match('Other')) {
          this.visible.TERMINATION_TYPE_OTHER_SPECIFY = true;
        }
      }
    },
    onValidated(isValid, errors) {
      console.log('Validation result: ', isValid, ', Errors:', errors[0].error);
    },

    saveAsDraft: async function(status) {},

    updateRegistrationApproval: async function(status) {
      // const response = await services02module2.updateRegistrationStatus(status)
    },

    getDocumentByID: async function(data) {
      console.log('inside get consultant by id');
      const response = await services02module2.getConsultantByID(data);

      response.DOCUMENTS.forEach(el => {
        el.DOC_BLOB = this.b64toBlobPDF(el.DOC_BLOB, 'application/pdf');

        el.DOC_BLOB = new File([el.DOC_BLOB], el.DOC_ORIGINAL_NAME + '.' + el.DOC_FILETYPE, {
          type: el.DOC_BLOB.type,
        });

        const data = {
          name: el.DOC_ORIGINAL_NAME + '.' + el.DOC_FILETYPE,
          size: el.DOC_FILESIZE,
          type: el.DOC_FILETYPE,
          ext: 'exe',
          url: window.URL.createObjectURL(el.DOC_BLOB),
        };

        this.model.PROFILE_UPLOADED_DOCUMENTS.push(data);
      });

      console.log('getConsultantRecords: ', this.model.PROFILE_UPLOADED_DOCUMENTS);
    },

    b64toBlobPDF(b64Data, contentType, sliceSize) {
      contentType = contentType || '';
      sliceSize = sliceSize || 512;

      var byteCharacters = atob(b64Data);
      var byteArrays = [];

      for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
      }

      console.log(byteArrays);

      return new File(byteArrays, 'pot', { type: contentType });
    },
  },
};
</script>
