<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">

          <va-card>
          <div v-if="!dataReady">
            <div class="text-center text-danger my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Loading...</strong>
              </div>
          </div>
            <div v-else>

           
            <h1>List of Consultant</h1>
            <br />
            <div style="display:flex; justify-content:flex-end; align-items:center">
                <div class="flex md3 offset--md3">
                  <va-input :placeholder="$t('Search')" v-model="search.consultant" removable>
                    <va-icon name="fa fa-search" slot="prepend" />
                  </va-input>
                </div>
              </div>
              <va-data-table
                :fields="fields.consultant"
                :data="filteredConsultant"
                no-data-label="No data found"
                :per-page="20"
                :datacount="filteredConsultant.length"
                :dataperpage="20"
                clickable
              >
                <template slot="index" slot-scope="row">
                  {{ row.rowIndex + 1 }}
                </template>

                <template slot="ACTION" slot-scope="props">
                  <h4 @click="viewConsultant(props)" style="margin:0; font-size:20px">
                    <span v-b-tooltip.hover title="View Profile" class="badge badge-success mr-2">
                      <i class="fa fa-eye"></i>
                    </span>
                  </h4>
                <h4 @click="registerConsultant(props)" style="margin:0; font-size:20px">
                    <span v-b-tooltip.hover title="Re-Register" class="badge badge-success mr-2">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </h4>
                  <h4 @click="resignConsultant(props)" style="margin:0; font-size:20px">
                    <span v-b-tooltip.hover title="Resign" class="badge badge-success mr-2">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </h4>
                  <h4 @click="rescheduleConsultant(props)" style="margin:0; font-size:20px">
                    <span v-b-tooltip.hover title="Reschedule" class="badge badge-success mr-2">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </h4>
                  <h4 @click="appealConsultant(props)" style="margin:0; font-size:20px">
                    <span v-b-tooltip.hover title="Appeal" class="badge badge-success mr-2">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </h4>
                </template>
              </va-data-table>
            <!-- <b-table
              hover
              selectable
              select-mode="single"
              :items="consultants"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              responsive="md"
              :busy="isBusy"
              @row-selected="onRowSelected"
            >
              <template #table-busy>
                <div class="text-center text-danger my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Loading...</strong>
                </div>
              </template>
              <template #cell(index)="data">
                {{ data.index + 1 }}
              </template>
              <template #cell()="data">
                <span class="description">{{ data.value }}</span>
              </template>
            </b-table> -->
            <!-- <div class="float-right">
              <button
                @click="submitTerminate"
                type="button"
                class="ml-1 btn btn-danger btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> &nbsp; Terminate
              </button>
            </div> -->
            </div>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

import FullCalendar from '@fullcalendar/vue';
import dayGridPlugin from '@fullcalendar/daygrid';
import interactionPlugin from '@fullcalendar/interaction';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import HorizontalScroll from 'vue-horizontal-scroll';
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';
import { parse } from 'vue-currency-input';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import * as services02module2 from '../../../app/module2/services02';
import RepositoryFactory from '../../../repositories/RepositoryFactory';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');

export default {
  data() {
    return {
      dataReady: false,
      isBusy: true,
      terminationType: [
        {
          label: 'Disqualified',
          value: '1',
        },
        {
          label: 'Other (please specify)',
          value: '2',
        },
      ],

      formOptions: {
        validateAfterChanged: true,
      },

      filter: null,
      consultants: null,
      selectedConsultant: null,
      currentPage: 1,
      perPage: 20,
      visible: {
        TERMINATION_FORM: false,
        TERMINATION_TYPE_OTHER_SPECIFY: false,
      },
      model: {
        TERMINATION_TYPE: '',
        TERMINATION_TYPE_OTHER_SPECIFY: '',
        TERMINATION_DATE: '',
        SELECTED_CONSULTANT: '',
        REMARKS_COMMENTS: '',
        CONSULTANTS: [],
      },
      // fields: [
      //   // A virtual column that doesn't exist in items
      //   { key: 'actions', label: '' },
      //   // A column that needs custom formatting
      //   { key: 'CONSULTANT_NAME', label: 'Consultant Name' },
      //   { key: 'CONSULTANT_NRIC', label: 'NRIC No' },
      //   { key: 'CONSULTANT_PASSPORT_NO', label: 'Passport No' },
      //   { key: 'CONSULTANT_FIMM_NO', label: 'FIMM No' },
      //   { key: 'SCHEME', label: 'Consultant Type' },
      // ],
      fields: {
        distributor: [
          { name: '__slot:index', title: 'NO' },
          // A column that needs custom formatting
          { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },
          { name: 'DIST_NAME', title: 'DISTRIBUTOR NAME' },
          { name: 'DIST_PHONE_NO', title: 'PHONE NO' },
          { name: 'TOTAL_CONSULTANT', title: 'TOTAL CONSULTANT' },
          { name: 'TOTAL_CONSULTANT_TERMINATED', title: 'TOTAL CONSULTANT TERMINATED' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        consultant: [
          // {
          //   name: '__checkbox',
          //   titleClass: 'center aligned',
          //   dataClass: 'center aligned',
          // },
          // A virtual column that doesn't exist in items
          // {
          //   name: '__slot:checkbox',
          //   title: 'SELECTED',
          // },
          { name: '__slot:index', title: 'NO' },
          { name: 'CONSULTANT_ID', title: 'CONSULTANT ID' },
          // { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC NUMBER' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NUMBER' },
          { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NUMBER' },
          { name: 'CONSULTANT_TYPE', title: 'CONSULTANT TYPE' },
          { name: 'TERMINATION_TYPE', title: 'TERMINATION TYPE' },
          { name: 'EFFECTIVE_DATE', title: 'EFFECTIVE DATE' },
          { name: 'STATUS', title: 'STATUS' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        log: [
          {
            name: '__slot:no',
            title: 'NO',
          },
          {
            name: 'CREATE_TIMESTAMP',
            title: 'Date',
            sortField: 'CREATE_TIMESTAMP',
          },
          {
            name: 'GROUP_NAME',
            title: 'Group',
            sortField: 'GROUP_NAME',
          },
          {
            name: 'USER_NAME',
            title: 'Creation By',
            sortField: 'USER_NAME',
          },
          {
            name: 'TS_PARAM',
            title: 'Activity',
            sortField: 'TS_PARAM',
          },

          // {
          //   name: "LATEST_UPDATE",
          //   title: "Latest Update",
          //   sortField: "LATEST_UPDATE",
          // },
          {
            name: '__slot:remarks',
            title: 'Remarks/Comments',
            sortField: 'APPR_REMARK',
          },
          {
            name: '__slot:updates',
            title: 'Latest Update',
            sortField: 'LATEST_UPDATE',
          },
        ],
      },

      search: {
        distributor: '',
        consultant: '',
      },

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'vueMultiSelect',
                label: 'Termination Type',
                model: 'TERMINATION_TYPE',
                placeholder: 'Enter Termination Type',
                styleClasses: 'col-md-6',
                required: true,
                validator: 'required',
                selectOptions: {
                  multiple: false,
                  label: 'label',
                  value: 'value',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.terminationType;
                },
              },
              {
                type: 'input',
                inputType: 'date',
                label: 'Termination Date',
                model: 'TERMINATION_DATE',
                placeholder: 'Enter Termination Date',
                required: true,
                validator: 'date',
                styleClasses: 'col-md-6',
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Other',
                model: 'TERMINATION_TYPE_OTHER_SPECIFY',
                placeholder: 'Please specify',
                styleClasses: 'col-md-6',
                required: true,
                validator: 'required',
                visible: (model, field, form) => {
                  return this.visible.TERMINATION_TYPE_OTHER_SPECIFY;
                },
              },
              {
                styleClasses: 'col-md-6',
                visible: (model, field, form) => {
                  return this.visible.TERMINATION_TYPE_OTHER_SPECIFY;
                },
              },

              {
                type: 'textArea',
                required: true,
                row: 10,
                max: 1000,
                label: 'Remarks / Comments',
                model: 'REMARKS_COMMENTS',
                placeholder: 'Enter Remarks or Comments',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
    };
  },
  async mounted() {
    await this.getConsultantRecord().then(res => {
      this.dataReady = true;
    });
    // await this.getFilterConsultantRecord();
    // this.consultants = await services02module2.getConsultant();
    // await console.log(this.consultants)
  },
  computed: {
    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      if (this.search && this.consultants) {
        return this.consultants.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultants;
    },
  },
  methods: {
    async getConsultantRecord() {
      console.log('inside get consultant record');
      const response = await ConsultantRecord.getAllConsultantRecord();
      this.consultants = response.data.data;
      this.isBusy = false;
      console.log(this.consultants);
    },
    // async getFilterConsultantRecord() {
    //   const filter_cons_records = await ConsultantRecord.getFilterConsultantRecord();
    //   console.log('this is filter cons records', filter_cons_records);
    // },
    viewConsultant(consultant) {
      console.log(consultant.rowData)
      this.$router.push({ name: 'consultant-details' ,params: { id: consultant.rowData.CONSULTANT_ID }})
    },
    registerConsultant(consultant) {
      console.log(consultant.rowData)
      this.$router.push({ name: 'consultant-registration-fimm' ,params: { id: consultant.rowData.CONSULTANT_ID }})
    },
    resignConsultant(consultant) {
      console.log(consultant.rowData)
      this.$router.push({ name: 'consultant-resignation-fimm' ,params: { id: consultant.rowData.CONSULTANT_ID }})
    },
    rescheduleConsultant(consultant) {
      console.log(consultant.rowData)
      this.$router.push({ name: 'consultant-reschedule-fimm' ,params: { id: consultant.rowData.CONSULTANT_ID }})
    },
    appealConsultant(consultant) {
      console.log(consultant.rowData)
      this.$router.push({ name: 'consultant-appeal-fimm' ,params: { id: consultant.rowData.CONSULTANT_ID }})
    },
    onRowSelected(items) {
      this.model.SELECTED_CONSULTANT = items[0];
      console.log(this.model.SELECTED_CONSULTANT);
    },
    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === 'TERMINATION_TYPE') {
        this.visible.TERMINATION_TYPE_OTHER_SPECIFY = false;
        if (newVal.value.match('Other')) {
          this.visible.TERMINATION_TYPE_OTHER_SPECIFY = true;
        }
      }
    },
    submitTerminate: async function() {
      console.log(this.model);

      let form1 = this.$refs.tabForm2.validate();
      if (form1) {
        let data = {
          TERMINATION_TYPE : this.model.TERMINATION_TYPE.value,
          CONSULTANT_ID: 1,
          CREATE_BY: 2,
          TERMINATION_REMARK: this.model.REMARKS_COMMENTS,
          TERMINATION_DATE:  moment(this.model.TERMINATION_DATE).format()   
        }
        const returnresponse = await services02module2.postTerminateConsultant(data);
        console.log(returnresponse)
      }
    },

    //     addConsultant(data) {
    //   console.log(data);
    //   this.selectedConsultant = data;
    //   console.log(this.selectedConsultant);
    // },
  },
};
</script>
