<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <template v-if="!currentDistributor">
            <va-card>
              <div v-if="!isReady">
                <div class="text-center text-danger my-2">
                      <b-spinner class="align-middle"></b-spinner>
                      <strong>Loading...</strong>
                  </div>
              </div>
              <div v-else>
              <h4 style="margin-top:0">List of Termination Submission</h4>

              <div style="display:flex; justify-content:flex-end; align-items:center">
                <div class="flex md3 offset--md3">
                  <va-input :placeholder="$t('Search')" v-model="search.distributor" removable>
                    <va-icon name="fa fa-search" slot="prepend" />
                  </va-input>
                </div>
              </div>

              <!-- DISTRIBUTOR TABLE -->
              <va-data-table
                :fields="fields.distributor"
                :data="filteredDistributor"
                no-data-label="No data found"
                :per-page="parseInt(perPage)"
                :datacount="filteredDistributor.length"
                :dataperpage="parseInt(perPage)"
                clickable
              >
                <template slot="index" slot-scope="row">
                  {{ row.rowIndex + 1 }}
                </template>

                <template slot="ACTION" slot-scope="props">
                  <h4 @click="setCurrentDistributor(props)" style="margin:0; font-size:20px">
                    <span v-b-tooltip.hover title="View" class="badge badge-success mr-2">
                      <i class="fa fa-eye"></i>
                    </span>
                  </h4>
                </template>
              </va-data-table>
              <!-- <b-table
              hover
              selectable
              no-select-on-click
              ref="distributorTable"
              select-mode="single"
              :items="distributor"
              :fields="fields.distributor"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter.distributor"
              responsive="md"
              :busy="isBusy"
            >
              @row-selected="onRowSelected" 
              <template #table-busy>
                <div class="text-center text-danger my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Loading...</strong>
                </div>
              </template>
              <template #cell(index)="data">
                {{ data.index + 1 }}
              </template>
              <template #cell()="data">
                <span class="description">{{ data.value }}</span>
              </template>
              <template #cell(ACTION)="data">
                <h4 @click="setCurrentDistributor(data)" style="margin:0; font-size:20px">
                  <span class="badge badge-primary mr-1">
                    <i class="fa fa-eye"></i>
                  </span>
                </h4>
              </template>
            </b-table>
            <div class="row col ml-2 mt-2">
              <b-pagination
                size="md"
                :total-rows="distributor.length"
                :per-page="perPage"
                v-model="currentPage"
              />
              <b-form-fieldset horizontal class="col-1">
                <b-form-select
                  :options="[
                    { text: 3, value: 3 },
                    { text: 5, value: 5 },
                    { text: 10, value: 10 },
                    { text: 15, value: 15 },
                  ]"
                  v-model="perPage"
                >
                </b-form-select>
              </b-form-fieldset>
            </div>  -->
            </div>
            </va-card>
          </template>
          <template v-else>
            <template v-if="!currentConsultant">
              <va-card>
                <div v-if="!isReady">
                  <div class="text-center text-danger my-2">
                        <b-spinner class="align-middle"></b-spinner>
                        <strong>Loading...</strong>
                    </div>
                </div>
                <div v-else>
                <h4 style="margin-top:0px; margin-bottom:20px">
                  List of Consultant Termination Submission
                </h4>

                <p style="margin:0; font-size: 1.1rem">
                  DISTRIBUTOR NAME - {{ currentDistributor.toUpperCase() }}
                </p>

                <div style="display:flex; justify-content:flex-end; align-items:center">
                  <div class="flex md3 offset--md3">
                    <va-input :placeholder="$t('Search')" v-model="search.consultant" removable>
                      <va-icon name="fa fa-search" slot="prepend" />
                    </va-input>
                  </div>
                </div>

                <!-- CONSULTANT TABLE -->
                <!-- select-mode="single" -->
                <va-data-table
                  :fields="fields.consultant"
                  :data="filteredConsultant"
                  no-data-label="No data found"
                  :per-page="parseInt(perPage)"
                  :datacount="filteredConsultant.length"
                  :dataperpage="parseInt(perPage)"
                  clickable
                >
                  <!-- <template slot="actions" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                />
              </template> -->

                  <template slot="checkbox" slot-scope="props">
                    <b-form-checkbox
                      v-model="props.rowData.selected"
                      @change="setCurrentConsultant(props)"
                    >
                    </b-form-checkbox>
                  </template>
                  <template slot="index" slot-scope="row">
                    {{ row.rowIndex + 1 }}
                  </template>
                  <template slot="ACTION" slot-scope="props">
                    <h4 @click="viewCurrentConsultant(props)" style="margin:0; font-size:20px">
                      <span v-b-tooltip.hover title="View" class="badge badge-success mr-2">
                        <i class="fa fa-eye"></i>
                      </span>
                    </h4>
                  </template>
                </va-data-table>
                <br />

                <!-- <b-table
              hover
              selectable
              no-select-on-click
              ref="consultantTable"
              :items="consultants"
              :fields="fields.consultant"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter.consultant"
              responsive="md"
              :busy="isBusy"
              @row-selected="onRowSelected"
            >
              <template #table-busy>
                <div class="text-center text-danger my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Loading...</strong>
                </div>
              </template>
              <template #head(checkbox)="scope">
                <b-form-checkbox @change="setCurrentConsultantAll(scope)"> </b-form-checkbox>
              </template>
              <template #cell(checkbox)="data">
                <b-form-checkbox v-model="data.item.selected" @change="setCurrentConsultant(data)">
                </b-form-checkbox>
              </template>
              <template #cell(index)="data">
                {{ data.index + 1 }}
              </template>
              <template #cell()="data">
                <span class="description">{{ data.value }}</span>
              </template>
            </b-table> -->

                <vue-form-generator
                  :model="model"
                  :schema="tabSchema2"
                  :options="formOptions"
                  ref="tabForm2"
                  @model-updated="onModelUpdated"
                >
                </vue-form-generator>

                <br />
                <!-- v-if="this.model.CONSULTANT_ID.length" -->

                <br />

                <div class="float-left">
                  <button
                    @click="currentDistributor = null"
                    type="button"
                    class="btn btn-primary btn-fill btn-md"
                  >
                    <i class="fa fa-step-backward" /> &nbsp; Previous
                  </button>
                </div>
                <div class="float-right">
                  <button @click="saveAsDraft" type="button" class="btn btn-info btn-fill btn-md">
                    <i class="fa fa-edit" /> &nbsp;Save as Draft
                  </button>
                  <button
                    @click="updateTerminationApproval(8)"
                    type="button"
                    class="ml-2 btn btn-warning btn-fill btn-md text-white"
                  >
                    <i class="fa fa-undo" /> &nbsp; Return
                  </button>
                  <button
                    @click="updateTerminationApproval(5)"
                    type="button"
                    class="ml-2 btn btn-danger btn-fill btn-md"
                  >
                    <i class="fa fa-ban" /> &nbsp; Reject
                  </button>
                  <button
                    @click="submitTerminationApproval"
                    type="button"
                    class="ml-2 btn btn-danger btn-fill btn-md"
                  >
                    <i class="fa fa-ban" /> &nbsp; Terminate
                  </button>
                </div>
                </div>
              </va-card>
            </template>
            <template v-else>
              <va-card>
                <h4 style="margin-top:0">Consultant Details</h4>
                <br />
                <div>
                  <!-- <tabs
                  :tabs="tabs"
                  :currentTab="currentTab"
                  :wrapper-class="'default-tabs'"
                  :tab-class="'default-tabs__item'"
                  :tab-active-class="'default-tabs__item_active'"
                  :line-class="'default-tabs__active-line'"
                  @onClick="handleClick"
                /> -->
                  <div class="content">
                    <div v-if="currentTab === 'tab1'">
                      <div class="ml-4">
                        <br />
                        <table id="consultant-profile" class="table table-striped">
                          <tbody>
                            <tr>
                              <td style="width: 15%">Name</td>
                              <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                            </tr>
                            <tr>
                              <td>New NRIC</td>
                              <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                            </tr>
                            <tr>
                              <td>Date of Birth</td>
                              <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                            </tr>

                            <tr>
                              <td>Address</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                            </tr>
                            <tr>
                              <td>Postcode</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                            </tr>
                            <tr>
                              <td>City</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                            </tr>
                            <tr>
                              <td>State</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                            </tr>
                            <tr>
                              <td>Telephone Number</td>
                              <td>{{ currentConsultant.CONSULTANT_PHONENO }}</td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                            </tr>
                            <tr>
                              <td>Highest Qualification</td>
                              <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                            </tr>
                            <tr>
                              <td>Examination Type</td>
                              <td>{{ currentConsultant.COURSE_TYPE }}</td>
                            </tr>
                          </tbody>
                        </table>

                        <!-- <table>
                        <tbody>
                          <tr style="width:">
                            <th>Termination Type</th>
                            <th>Effective Date</th>
                          </tr>
                          <tr>
                            <td>Misconduct</td>
                            <td>13/08/2021</td>
                          </tr>
                        </tbody>
                      </table> -->

                        <!-- <vue-form-generator
                        :model="model"
                        :schema="fileUploadSchema"
                        :options="formOptions"
                        ref="fileUploadForm"
                      >
                      </vue-form-generator> -->
                      </div>
                    </div>
                  </div>
                </div>

                <br />

                <b-container style="margin-left:0">
                  <b-row style="width:45%" class="d-flex justify-content-start">
                    <b-col>Termination Type</b-col>
                    <b-col>Effective Date</b-col>
                  </b-row>
                  <b-row style="width:45%">
                    <b-col>MISCONDUCT</b-col>
                    <b-col>05-May-2021</b-col>
                  </b-row>
                </b-container>

                <br />
                <br />
                <br />
                <vue-form-generator
                  :model="model"
                  :schema="tabSchema2"
                  :options="formOptions"
                  ref="tabForm2"
                  @model-updated="onModelUpdated"
                >
                </vue-form-generator>

                <br />

                <div class="float-left">
                  <button
                    @click="currentConsultant = null"
                    type="button"
                    class="btn btn-primary btn-fill btn-md"
                  >
                    <i class="fa fa-step-backward" /> &nbsp; Previous
                  </button>
                </div>
                <div class="float-right">
                  <button type="button" class="btn btn-info btn-fill btn-md">
                    <i class="fa fa-edit" /> &nbsp;Save as Draft
                  </button>
                  <button
                    @click="updateTerminationApproval(8)"
                    type="button"
                    class="ml-2 btn btn-warning btn-fill btn-md text-white"
                  >
                    <i class="fa fa-undo" /> &nbsp; Return
                  </button>
                  <button
                    @click="updateTerminationApproval(5)"
                    type="button"
                    class="ml-2 btn btn-danger btn-fill btn-md"
                  >
                    <i class="fa fa-ban" /> &nbsp; Reject
                  </button>
                  <button
                    @click="submitTerminationApproval"
                    type="button"
                    class="ml-2 btn btn-danger btn-fill btn-md"
                  >
                    <i class="fa fa-ban" /> &nbsp; Terminate
                  </button>
                </div>
                <!-- <div class="float-right">
                <button type="button" class="btn btn-info btn-fill btn-md">
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button>
                <button
                  @click="submitTerminationApproval"
                  type="button"
                  class="ml-1 btn btn-success btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Submit
                </button>
              </div> -->
              </va-card>
              <!-- <va-card>
                <h4 style="margin-top:0">Consultant Details</h4>
                <br />
                <div>
                  <tabs
                    :tabs="tabs"
                    :currentTab="currentTab"
                    :wrapper-class="'default-tabs'"
                    :tab-class="'default-tabs__item'"
                    :tab-active-class="'default-tabs__item_active'"
                    :line-class="'default-tabs__active-line'"
                    @onClick="handleClick"
                  />
                  <div class="content">
                    <div v-if="currentTab === 'tab1'">
                      <div class="ml-4">
                        <br />
                        <table id="consultant-profile" class="table table-striped">
                          <tbody>
                            <tr>
                              <td style="width: 15%">Name</td>
                              <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                            </tr>
                            <tr>
                              <td>New NRIC</td>
                              <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                            </tr>
                            <tr>
                              <td>Date of Birth</td>
                              <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                            </tr>

                            <tr>
                              <td>Address</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                            </tr>
                            <tr>
                              <td>Postcode</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                            </tr>
                            <tr>
                              <td>City</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                            </tr>
                            <tr>
                              <td>State</td>
                              <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                            </tr>
                            <tr>
                              <td>Telephone Number</td>
                              <td>{{ currentConsultant.CONSULTANT_MOBILE_NO }}</td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                            </tr>
                            <tr>
                              <td>Highest Qualification</td>
                              <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                            </tr>
                            <tr>
                              <td>Consultant Status</td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <vue-form-generator
                          :model="model"
                          :schema="fileUploadSchema"
                          :options="formOptions"
                          ref="fileUploadForm"
                        >
                        </vue-form-generator>
                      </div>
                    </div>
                    <div v-if="currentTab === 'tab2'">
                      <div class="ml-4">
                        <br />
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td style="width: 15%">Category</td>
                              <td>{{ currentConsultant.CATEGORY }}</td>
                            </tr>
                            <tr>
                              <td>Apprienticeship Program</td>
                              <td>Yes</td>
                            </tr>
                            <tr>
                              <td>Company Distributor</td>
                              <td>{{ currentConsultant.DISTRIBUTOR }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div v-if="currentTab === 'tab3'">
                      <div class="ml-4">
                        <br />
                        <table class="table table-striped">
                          <tbody>
                            <tr style="width: 100%">
                              <vue-form-generator
                                :model="model"
                                :schema="fileUploadSchema"
                                :options="formOptions"
                                ref="fileUploadForm"
                              >
                              </vue-form-generator>
                            </tr>
                             <tr>
                            <th>No</th>
                            <th>Document</th>
                          </tr> 
                             <tr>
                            <td>1</td>
                            <td>
                              Cover letter for Former and Variation PRS consultant
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>
                              Letter of Undertaking for variation due to Merger
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>
                              Printed online application
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>
                              Statutory Declaration
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr> 
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div v-if="currentTab === 'tab4'">
                      <div class="ml-3">
                        <br />
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td style="width: 15%">Examination Type</td>
                              <td>CUTE</td>
                            </tr>

                            <tr>
                              <td>Result</td>
                              <td>
                                FAIL
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Certificate
                              </td>
                              <td>
                                Not Available
                                <a
                                  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                  target="_blank"
                                >
                                  View</a
                                >
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Bankruptcy Check
                              </td>
                              <td>
                                Pass
                                <a
                                  href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                  target="_blank"
                                >
                                  View</a
                                >
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Bankruptcy Remark
                              </td>
                              <td>
                                Insert remark here
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </va-card>
              <br />
              <va-card>
                <h4 style="margin-top:0">Termination Request Form</h4>
                <br />

                <vue-form-generator
                  :model="model"
                  :schema="tabSchema2"
                  :options="formOptions"
                  ref="tabForm2"
                  @model-updated="onModelUpdated"
                  
                >
                </vue-form-generator>
                <br />

                <div class="float-left">
                  <button
                    @click="currentConsultant = null"
                    type="button"
                    class="btn btn-primary btn-fill btn-md"
                  >
                    <i class="fa fa-step-backward" /> &nbsp; Previous
                  </button>
                </div>
                <div class="float-right">
                  <button type="button" class="btn btn-info btn-fill btn-md">
                    <i class="fa fa-edit" /> &nbsp;Save as Draft
                  </button>
                  <button
                    @click="submitTerminationApproval"
                    type="button"
                    class="ml-2 btn btn-warning btn-fill btn-md text-white"
                  >
                    <i class="fa fa-undo" /> &nbsp; Return
                  </button>
                  <button
                    @click="submitTerminationApproval"
                    type="button"
                    class="ml-2 btn btn-danger btn-fill btn-md"
                  >
                    <i class="fa fa-ban" /> &nbsp; Reject
                  </button>
                  <button
                    @click="submitTerminationApproval"
                    type="button"
                    class="ml-2 btn btn-danger btn-fill btn-md"
                  >
                    <i class="fa fa-ban" /> &nbsp; Terminate
                  </button>
                </div>
              </va-card> -->
            </template>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import HorizontalScroll from 'vue-horizontal-scroll';
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';

import RepositoryFactory from '../../../repositories/RepositoryFactory';
import TerminationRepository from '../../../repositories/module2/TerminationRepository';
import * as servicesModule3 from '../../../app/module3/services01';
import * as services02module2 from '../../../app/module2/services02';
import Tabs from 'vue-tabs-with-active-line';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');
const Termination = RepositoryFactory.get('termination');

export default {
  components: { Tabs },

  data() {
    return {
      isReady: false,
      tabs: [
        {
          title: 'Applicant Profile',
          value: 'tab1',
        },
        {
          title: 'Type of Applicant',
          value: 'tab2',
        },
        {
          title: 'Uploaded Document',
          value: 'tab3',
        },
        {
          title: 'Examination & Bankruptcy Check',
          value: 'tab4',
        },
      ],

      currentTab: 'tab1',
      currentConsultant: null,
      currentDistributor: null,
      visibleLog: false,

      isBusy: true,

      formOptions: {
        validateAfterChanged: true,
      },

      // fields: {
      //   distributor: [
      //     { key: 'index', label: 'NO' },
      //     // A column that needs custom formatting
      //     { key: 'DIST_NAME', label: 'DISTRIBUTOR NAME' },
      //     { key: 'DIST_PHONE_NO', label: 'PHONE NO' },
      //     { key: 'TOTAL_APPLICATION', label: 'TOTAL APPLICATION' },
      //     { key: 'ACTION', label: 'ACTION' },
      //   ],
      //   consultant: [
      //     // A virtual column that doesn't exist in items
      //     { key: 'checkbox', label: 'checkbox' },

      //     { key: 'index', label: 'NO' },
      //     // A column that needs custom formatting
      //     { key: 'CONSULTANT_NAME', label: 'CONSULTANT NAME' },
      //     { key: 'CONSULTANT_NRIC_PASSPORT_NO', label: 'NRIC NO/PASSPORT NO' },
      //     // { key: 'CONSULTANT_NRIC', label: 'NRIC NO' },
      //     // { key: 'CONSULTANT_PASSPORT_NO', label: 'PASSPORT NO' },
      //     { key: 'CONSULTANT_FIMM_NO', label: 'FIMM NO' },
      //     { key: 'SCHEME', label: 'CONSULTANT TYPE' },
      //     { key: 'TERMINATION_TYPE', label: 'TERMINATION TYPE' },
      //     { key: 'STATUS', label: 'STATUS' },
      //     // { key: 'ACTION', label: 'ACTION' },
      //   ],
      // },

      fields: {
        distributor: [
          { name: '__slot:index', title: 'NO' },
          // A column that needs custom formatting
          // { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },
          { name: 'DIST_NAME', title: 'DISTRIBUTOR NAME' },
          { name: 'DIST_MOBILE_NUMBER', title: 'PHONE NO' },
          { name: 'TOTAL_CONSULTANT', title: 'TOTAL CONSULTANT' },
          { name: 'TOTAL_CONSULTANT_TERMINATED', title: 'TOTAL CONSULTANT TERMINATED' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        consultant: [
          // {
          //   name: '__checkbox',
          //   titleClass: 'center aligned',
          //   dataClass: 'center aligned',
          // },
          // A virtual column that doesn't exist in items
          {
            name: '__slot:checkbox',
            title: 'SELECTED',
          },
          { name: '__slot:index', title: 'NO' },
          { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },

          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC NUMBER' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NUMBER' },
          { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NUMBER' },
          { name: 'CONSULTANT_TYPE', title: 'CONSULTANT TYPE' },
          { name: 'TERMINATION_TYPE', title: 'TERMINATION TYPE' },
          { name: 'EFFECTIVE_DATE', title: 'EFFECTIVE DATE' },
          { name: 'STATUS', title: 'STATUS' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        log: [
          {
            name: '__slot:no',
            title: 'NO',
          },
          {
            name: 'CREATE_TIMESTAMP',
            title: 'Date',
            sortField: 'CREATE_TIMESTAMP',
          },
          {
            name: 'GROUP_NAME',
            title: 'Group',
            sortField: 'GROUP_NAME',
          },
          {
            name: 'USER_NAME',
            title: 'Creation By',
            sortField: 'USER_NAME',
          },
          {
            name: 'TS_PARAM',
            title: 'Activity',
            sortField: 'TS_PARAM',
          },

          // {
          //   name: "LATEST_UPDATE",
          //   title: "Latest Update",
          //   sortField: "LATEST_UPDATE",
          // },
          {
            name: '__slot:remarks',
            title: 'Remarks/Comments',
            sortField: 'APPR_REMARK',
          },
          {
            name: '__slot:updates',
            title: 'Latest Update',
            sortField: 'LATEST_UPDATE',
          },
        ],
      },
      search: {
        distributor: '',
        consultant: '',
      },

      consultantsAPI: [],
      terminatedAPI: [],
      logAPI: [],

      distributorsAPI: [],

      currentPage: 1,
      perPage: '10',
      visible: {
        TERMINATION_FORM: false,
      },
      model: {
        PROFILE_UPLOADED_DOCUMENTS: [],
        CONSULTANT_ID: [],
        TERMINATION_REMARK: '',
        CREATE_BY: JSON.parse(localStorage.getItem('user')).user_id,
      },

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'textArea',
                rows: 10,
                max: 1000,
                label: 'Remarks / Comments',
                model: 'TERMINATION_REMARK',
                hint: 'Max 1000 characters',
                placeholder: 'Enter Remarks or Comments',
                // validator: 'number',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
      fileUploadSchema: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                accept: '.pdf',
                multiple: true,
                text: 'Choose a File',
                model: 'PROFILE_UPLOADED_DOCUMENTS',
                type: 'vfg-custom-file-view',
                styleClasses: 'col-md-12',
                required: false,
                disabled: true,
              },
            ],
          },
        ],
      },
    };
  },
  async created() {
    await this.getDistributorRecord();
    // await this.getConsultantRecord();
    await this.getAllTermination();
    await this.getTerminationType();
    await this.getDocumentByID();
  },
  computed: {
    // distributors() {
    //   if (this.distributorsAPI) return this.distributorsAPI;
    //   return [];
    // },
    // consultants() {
    //   if (this.consultantsAPI) return this.consultantsAPI;
    //   return [];
    // },

    filteredDistributor() {
      const search = this.search.distributor.toLowerCase();
      if (this.distributorsAPI && this.search) {
        return this.distributorsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultantsAPI;
    },
    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      if (this.search) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultantsAPI;
    },
    // mappedSelectedConsultantArray() {
    //   if (this.model.CONSULTANT_ID.length)
    //     return this.model.CONSULTANT_ID.map(el => el.CONSULTANT_ID);

    //   return [];
    // },
  },
  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },
    async getConsultantRecord(id) {
      console.log('inside get consultant record');
      const response = await services02module2.getTerminationByDistributor(id);
      this.consultantsAPI = response;
      // this.isBusy = false;
      console.log(this.consultantsAPI);
    },
    async getDistributorRecord() {
      console.log('inside get distributor termination record');
      const response = await services02module2.getDistributorTerminationList();
      this.distributorsAPI = response;
      this.isReady = true;
      // this.isBusy = false;
      console.log(this.distributorsAPI);
    },
    async getTerminationType() {
      const response = await services02module2.getTerminationType();
      console.log('get Termination Type: ', response);
    },

    async getAllTermination() {
      const termination = await services02module2.getAllTermination();
      console.log('this is termination', termination);

      this.terminatedAPI = termination;
    },
    viewCurrentConsultant(props) {
      this.currentConsultant = props.rowData;
      console.log(this.currentConsultant);
    },

    async setCurrentDistributor(props) {
      console.log(props);
      await this.getConsultantRecord(props.rowData.DISTRIBUTOR_ID);
      this.currentDistributor = props.rowData.DIST_NAME;
    },
    setCurrentConsultant(props) {      
      console.log('inside setCurrentConsultant');
      const index = this.model.CONSULTANT_ID.findIndex(
        el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID,
      );

      console.log(props);

      if (index >= 0) {
        this.model.CONSULTANT_ID.splice(index, 1);
      } else {
        this.model.CONSULTANT_ID.push(props.rowData);
      }
      console.log(this.model.CONSULTANT_ID);

      // const existed = this.mappedSelectedConsultantArray.some(
      //   el => el === data.item.CONSULTANT_ID,
      // );

      // console.log(existed);
      // const existed = this.mappedSelectedConsultantArray.some(el => el === data.item.CONSULTANT_ID);
      // existed
      //   ? this.$refs['consultantTable'].unselectRow(data.index)
      //   : this.$refs['consultantTable'].selectRow(data.index);
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === 'TERMINATION_REMARK') {
      }
    },
    onValidated(isValid, errors) {
      console.log('Validation result: ', isValid, ', Errors:', errors[0].error);
    },
    saveAsDraft: async function() {
      let data = {
        CONSULTANT_ID: this.model.CONSULTANT_ID.map(el => el.CONSULTANT_ID),
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        APPROVAL_STATUS: 1,
      };

      if (this.currentConsultant) data.CONSULTANT_ID = this.currentConsultant.CONSULTANT_ID;

      console.log(data);

      const response = await services02module2.postTerminateConsultant(data);
      console.log(response);
      // }
    },

    updateTerminationApproval: async function(status) {
      let data = {
        CONSULTANT_ID: this.model.CONSULTANT_ID.map(el => el.CONSULTANT_ID),
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        APPROVAL_STATUS: status,
      };

      if (this.currentConsultant) data.CONSULTANT_ID = this.currentConsultant.CONSULTANT_ID;

      console.log(data);
      const response = await services02module2.updateTerminationApproval(data);
      console.log(response);
      // }
    },
    submitTerminationApproval: async function() {
      let data = {
        CONSULTANT_ID: this.model.CONSULTANT_ID.map(el => el.CONSULTANT_ID),
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        APPROVAL_STATUS: 2,
      };

      if (this.currentConsultant) data.CONSULTANT_ID = this.currentConsultant.CONSULTANT_ID;

      console.log(data);
      const response = await services02module2.postTerminateConsultant(data);
      console.log(response);
      // }
    },

    getDocumentByID: async function() {
      console.log('inside getDocumentByID');

      const response = await servicesModule3.getDocumentById(261);
      console.log('inside getDocumentByID: ', response);

      response.forEach(element => {
        console.log(element.DOC_BLOB);
        element.DOC_BLOB = this.b64toBlobPDF(element.DOC_BLOB, 'application/pdf');
        console.log('mula');
        console.log(element.DOC_BLOB); // <----- cuba tgk ini
        console.log('habis');
        element.DOC_BLOB = new File(
          [element.DOC_BLOB],
          element.DOC_ORIGINAL_NAME + '.' + element.DOC_FILETYPE,
          { type: element.DOC_BLOB.type },
        );
        console.log(element.DOC_BLOB);
        const data = {
          name: element.DOC_ORIGINAL_NAME + '.' + element.DOC_FILETYPE,
          size: element.DOC_FILESIZE,
          type: element.DOC_FILETYPE,
          ext: 'exe',
          url: window.URL.createObjectURL(element.DOC_BLOB),
        };

        this.file = element.DOC_BLOB;
        //alert(JSON.stringify(element.DOC_BLOB));

        if (this.model.PROFILE_UPLOADED_DOCUMENTS.length < 3) {
          this.model.PROFILE_UPLOADED_DOCUMENTS.push(data);
        } else {
          return;
        }
        //alert(JSON.stringify(data));
      });
    },

    b64toBlobPDF(b64Data, contentType, sliceSize) {
      contentType = contentType || '';
      sliceSize = sliceSize || 512;

      var byteCharacters = atob(b64Data);
      var byteArrays = [];

      for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
      }

      console.log(byteArrays);

      return new File(byteArrays, 'pot', { type: contentType });
    },

    // async getFilterConsultantRecord() {
    //   const filter_cons_records = await ConsultantRecord.getFilterConsultantRecord();
    //   console.log('this is filter cons records', filter_cons_records);
    // },

    // fix this
    // setCurrentConsultantAll(scope) {
    //   if (this.mappedSelectedConsultantArray.length) {
    //     this.$refs['consultantTable'].clearSelected();
    //   } else {
    //     this.$refs['consultantTable'].selectAllRows();
    //   }
    //   // this.mappedSelectedConsultantArray.length
    //   // ? this.$refs['consultantTable'].clearSelected()
    //   // : this.$refs['consultantTable'].selectAllRows();
    // },

    // setCurrentConsultant() {
    //   console.log(this.selected);
    //   // alert("here");
    //   // console.log(this.selected);
    //   if (document.getElementById('checkboxId_' + id).checked) {
    //     this.checkboxArray.push(screenId);
    //   } else {
    //     const indexToRemove = this.checkboxArray.indexOf(screenId);
    //     if (indexToRemove > -1) {
    //       this.checkboxArray.splice(indexToRemove, 1);
    //     }
    //   }
    // },

    // onRowSelected(items) {
    //   this.model.CONSULTANT_ID = items;
    //   console.log(this.model.CONSULTANT_ID);
    // },
  },
};
</script>
