<template>
  <div>
    <table id="consultant-profile" class="table table-striped">
      <tbody v-if="consultant">
        <tr>
          <td style="width: 15%">Name</td>
          <td>{{ consultant.CONSULTANT_NAME }}</td>
        </tr>
        <tr>
          <td>New NRIC</td>
          <td>{{ consultant.CONSULTANT_NRIC }}</td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td>{{ consultant.CONSULTANT_DOB }}</td>
        </tr>

        <tr>
          <td>Address</td>
          <td>
            {{ consultant.CONSULTANT_CORRESPONDENT_ADDR1 }}
          </td>
        </tr>
        <tr>
          <td>Postcode</td>
          <td>
            {{ consultant.CONSULTANT_CORRESPONDENT_POSTAL }}
          </td>
        </tr>
        <tr>
          <td>City</td>
          <td>
            {{ consultant.CONSULTANT_CORRESPONDENT_CITY }}
          </td>
        </tr>
        <tr>
          <td>State</td>
          <td>
            {{ consultant.CONSULTANT_CORRESPONDENT_STATE }}
          </td>
        </tr>
        <tr>
          <td>Telephone Number</td>
          <td>{{ consultant.CONSULTANT_PHONENO }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ consultant.CONSULTANT_EMAIL }}</td>
        </tr>
        <tr>
          <td>Highest Qualification</td>
          <td>
            {{ consultant.CONSULTANT_HIGHEST_QUALIFICATION }}
          </td>
        </tr>
        <tr>
          <td>Consultant Status</td>
          <td>{{ consultant.REGISTRATION_STATUS }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    // The parameters the component accepts
    consultant: Object,
  },
};
</script>

<style>
</style>
