/* eslint-disable eqeqeq */
<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <div>
              <h4 slot="header" class="card-title">Fund Details</h4><br />

              <div class="container">
                <div class="row no-gutters ml-4">
                  <div class="col">
                    <div class="row mb-3">
                      <span class="description row col-4"> <b>Management Company</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">{{FUNDPROFILE.DIST_NAME}}</span>
                      <!-- <span class="description row col">BIMB INVESTMENT MANAGEMENT BERHAD</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-4"> <b>Company Type</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">{{FUNDPROFILE.DIST_TYPE_NAME}}</span>
                      <!-- <span class="description row col">3rd Party Company</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-4"> <b>Umbrella Fund</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">{{FUNDPROFILE.FUND_UMBRELLA}}</span>
                      <!-- <span class="description row col">Advantage Global Equity Volatility Focused</span> -->
                    </div>
                  </div>
                </div>
              </div> <br /><br />

              <div class="container">
                <div class="row no-gutters ml-4">
                  <div class="col">
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Member Fund Code</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_CODE_MEMBER}}
                      </span>
                      <!-- <span class="description row col">1001</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Fund Chinese Name (Traditional)</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_NAME_CHINESE}}
                      </span>
                      <!-- <span class="description row col">RHB GLOBAL SHARIAH EQUITY INDEX - RM - HEDGED</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Fund Short Name</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_SHORT_NAME}}
                      </span>
                      <!-- <span class="description row col">RHB GLOBAL SHARIAH EQUITY INDEX - RM - HEDGED</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>FiMM Fund Type</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_TYPE}}
                      </span>
                      <!-- <span class="description row col">Absolute Return</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>FiMM Fund Category</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_CATEGORY}}
                      </span>
                      <!-- <span class="description row col">Alternatives</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>FiMM Domicite</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_DOMICILE}}
                      </span>
                      <!-- <span class="description row col">Malaysia</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>FiMM Currency Denomination</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_CURR_DENOMINATION}}
                      </span>
                      <!-- <span class="description row col">MYR</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Sub Manager Name</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_SUB_MANAGER}}
                      </span>
                      <!-- <span class="description row col">Mohd Khairul</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Syariah Compliant</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_SYARIAH_COMP}}
                      </span>
                      <!-- <span class="description row col">Yes</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Annual Management Status</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_ANNUAL_MGMT}}
                      </span>
                      <!-- <span class="description row col">Yes</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Declaration of Fund Performance</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_FUND_PERFORMANCE}}
                      </span>
                      <!-- <span class="description row col">Yes</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>EPF Status</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_STATUS_EPF}}
                      </span>
                      <!-- <span class="description row col">Yes</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Disclosure of Daily NAV in the Newspaper</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_DAILY_NAV}}
                      </span>
                      <!-- <span class="description row col">Yes</span> -->
                    </div>
                  </div>

                  <div class="col-6 ml-5">
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Fund Status</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_STATUS_FUND}}
                      </span>
                      <!-- <span class="description row col">New</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Fund Name</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_NAME}}
                      </span>
                      <!-- <span class="description row col">RHB GLOBAL SHARIAH EQUITY INDEX - RM - HEDGED</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Annual Management Fee</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_FEE_ANNUAL}}
                      </span>
                      <!-- <span class="description row col">5.50%</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Performance Fee</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_FEE_PERFORMACE}}
                      </span>
                      <!-- <span class="description row col">5.50%</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Ratio</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_RATIO}}
                      </span>
                      <!-- <span class="description row col">20:80</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Hurdle Rate</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_HURDLE}}
                      </span>
                      <!-- <span class="description row col">2.333%</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Launch Price per unit</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_PRICE_PERUNIT}}
                      </span>
                      <!-- <span class="description row col">RM1 000</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Launch Date</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_DATE_LAUNCH}}
                      </span>
                      <!-- <span class="description row col">20-12-2020</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Financial Year End</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_YEAR_END}}
                      </span>
                      <!-- <span class="description row col">12-2020</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Minimum Sales Charge</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_SALES_CHARGE}}
                      </span>
                      <!-- <span class="description row col">2.22%</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Scheme Structure</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_SCHEME}}
                      </span>
                      <!-- <span class="description row col">UTF</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Foreign / Local Focused</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_FOCUS}}
                      </span>
                      <!-- <span class="description row col">Local-Focused</span> -->
                    </div>
                    <div class="row mb-3">
                      <span class="description row col-6"> <b>Wholesale Fund</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_WHOLESALE}}
                      </span>
                      <!-- <span class="description row col">Yes</span> -->
                    </div>
                    <div class="row mb-2">
                      <span class="description row col-6"> <b>Feeder Fund</b> </span>
                      <span class="description row col-1">:</span>
                      <span class="description row col">
                        {{FUNDPROFILE.FUND_FEEDER}}
                      </span>
                      <!-- <span class="description row col">Yes</span> -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <br />
            <div>
              <br />
            </div>
            <va-card>
              <br />
              <div>
                <h4 slot="header" class="card-title">
                  Fund Deletion/Suspension/Closure Application
                </h4>
                <!-- <h4 slot="header" class="card-title">
                  Status And Justification
                </h4>
                <br /> -->
                <!-- <card
                  class="strpied-tabled-with-hover"
                  body-classes="table-full-width table-responsive"
                > -->
                <vue-form-generator
                  :model="model"
                  :schema="applicationtypeschema"
                  :options="formOptions"
                  @model-updated="onModelUpdated"
                  ref="statusForm"
                >
                </vue-form-generator>
              <!-- </card> -->
              </div>
              <br />
              <div class="float-left">
                <button
                  @click="back"
                  type="button"
                  class="btn btn-primary btn-fill float-left btn-md"
                >
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
              </div>
              <div class="float-right">
                <button @click="saveAsDraft" type="button" class="mr-2 btn btn-info btn-fill btn-md">
                  <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
                </button>
                <button @click="cancellationAppeal" type="button" class="ml-1 btn btn-success btn-fill btn-md">
                  <i class="fa fa-paper-plane" /> &nbsp; Submit
                </button>
              </div>
            </va-card>
            <!-- </form> -->
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import 'vue-form-generator/dist/vfg.css'
import * as services06Module0 from "../../../app/module0/services06";
import * as servicesModule5 from '../../../app/module5/services03'
export default {

  props: {
    FUNDPROFILE: {},
  },

  mounted () {
    var data = localStorage.getItem('fundLodgementView')
    this.FUNDPROFILE = JSON.parse(data)
    this.getAllFundProfile()
  },

  components: {},
  status: [
    {
      value: '1',
      name: 'Termination',
    },
    {
      value: '2',
      name: 'Suspension',
    },
    {
      value: '3',
      name: 'Closure',
    },
  ],
  model: {
    status: '',
    mergewith: '',
    startdate: '',
    enddate: '',
    effectivedate: '',
    Remark: '',
    documentName: '',
  },

  methods: {
    gethAllFundProfile: async function () {
      const response = await servicesModule5.getAllFundProfile()
      this.getAllFundProfile = response
    },
    back () {
      this.$router.go(-1)
    }, // back button

    handleClick (newTab) {
      this.currentTab = newTab
    }, // end tab
    saveAsDraft () {},
    validatestatusForm () {
      return this.$refs.ReviewRemark.validate()
    },

    validateEntryForm () {
      return this.$refs.ReviewRemark.validate()
    },
    onModelUpdated (newVal, schema) {
      console.log(newVal)
      // eslint-disable-next-line eqeqeq
      if (schema == 'status' && newVal == '1') {
        this.visibleMergewith = true
        this.visibleStartDate = false
        this.visibleEndDate = false
        this.visibleEffectiveDate = true
      // eslint-disable-next-line eqeqeq
      } else if (schema == 'status' && newVal == '2') {
        this.visibleMergewith = false
        this.visibleStartDate = true
        this.visibleEndDate = true
        this.visibleEffectiveDate = false
      // eslint-disable-next-line eqeqeq
      } else if (schema == 'status' && newVal == '3') {
        this.visibleMergewith = false
        this.visibleStartDate = false
        this.visibleEndDate = false
        this.visibleEffectiveDate = true
      }
    },

    submit: async function () {
      const response = await this.validateEntryForm()
      if (response) {
        const data = new FormData()
        const user = localStorage.getItem('user')
        data.append('FUND_PROFILE_ID', this.FUNDPROFILE.FUND_PROFILE_ID)

        data.append('USER_ID', JSON.parse(user).user_id)

        data.append('APPR_REMARK', this.model.comment)
        data.append('APPR_PUBLISH_STATUS', '1')
        data.append('TS_ID', '3')
        data.append('CREATE_BY', JSON.parse(user).user_id)
        const approvalLevel = await services06Module0.getApprovalLevel(6, 1)
        data.append('APPR_LIST', JSON.stringify(approvalLevel))
        try {
          const response = await servicesModule5.updateApprovalFundCreation(data)
          // alert(JSON.stringify(response));

          this.$router.push('/distributor/fundManagementSecondLevelApprovalList')
        } catch (error) {
          console.log(error)
        }
      } else {
        console.log(response)
      }
    },
  },

  computed: {},

  data () {
    return {
      // eslint-disable-next-line vue/no-dupe-keys
      FUNDPROFILE: '',
      selected: true,
      unselected: false,
      visibleMergewith: false,
      visibleStartDate: false,
      visibleEndDate: false,
      visibleEffectiveDate: false,
      fileRecords: [],
      model: {
        status: '',
        mergewith: '',
        startdate: '',
        enddate: '',
        effectivedate: '',
        Remark: '',
        documentName: '',
      },
      mergewith: [
        'Areca Strategic Income 7.0',
        'Areca Progressive Income 7.0',

      ],
      status: [
        {
          value: '1',
          name: 'Deletion',
        },
        {
          value: '2',
          name: 'Suspension',
        },
        {
          value: '3',
          name: 'Closure',
        },
      ],
      fundlist: [
        'Areca Strategic Income 7.0',
        'Areca Progressive Income 7.0',
      ],
      applicationtypeschema: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'radios',
                label: 'Application Type',
                model: 'status',
                styleClasses: 'ml-1 col-md-12 display-inline',

                values: () => {
                  return this.status
                },
                required: true,
                validator: 'string',
              },
              {
                type: 'input',
                inputType: 'date',
                label: 'Start Date',
                model: 'startdate',
                format: 'YYYY-MM-DD HH:mm:ss',
                styleClasses: 'ml-3 col-md-3',
                required: true,
                visible: (model, field, form) => {
                  return this.visibleStartDate
                },
              },
              {
                type: 'input',
                inputType: 'date',
                label: 'End Date',
                model: 'enddate',
                format: 'YYYY-MM-DD HH:mm:ss',
                styleClasses: 'ml-3 col-md-3',
                required: true,
                visible: (model, field, form) => {
                  return this.visibleEndDate
                },
              },
              {
                type: 'input',
                inputType: 'date',
                label: 'Effective Date',
                model: 'effectivedate',
                styleClasses: 'ml-3 col-md-3',
                required: true,
                visible: (model, field, form) => {
                  return this.visibleEffectiveDate
                },
              },
              {
                type: 'vueMultiSelect',
                inputType: 'text',
                label: 'Reason: ',
                model: 'mergewith',
                placeholder: 'Select Reason',
                required: true,
                selectOptions: {
                  multiple: false,
                  // key: "name",
                  // label: "name",
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.fundlist
                },
                visible: (model, field, form) => {
                  return this.visibleMergewith
                },
              },
              {
                type: 'input',
                inputType: 'file',
                model: 'documentName',
                required: false,
                validator: 'string',
                hideInput: true,
                preview: false,
              },
            ],
          },
        ],
      },
      formOptions: {
        validateAfterChanged: true,
      },
    }
  },
}
</script>
<style lang="scss">
.content i {
    font-style: normal;
}
</style>
