<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <template slot="header">
              <div class="row">
                <div class="col">
                  <h4 class="card-title">NAV Daily Update</h4>
                </div>
                <div class="col float-right">
                  <div class="float-right">
                    <h5>
                      <b-badge
                        v-b-toggle.collapse-1
                        class="mr-1"
                        variant="secondary"
                      >
                        <i class="fa fa-search"></i>
                      </b-badge>
                    </h5>
                  </div>
                </div>
              </div>
              <b-collapse id="collapse-1" class="mt-2">
                <va-card>
                  <vue-form-generator
                    :model="model"
                    :schema="schema"
                    ref="firstTabForm"
                  >
                  </vue-form-generator>
                </va-card>
              </b-collapse>
            </template>
            <div class="row col-3">
              <div class="form-group form-group-sm has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="filter"
                  type="date"
                  class="form-control"
                  aria-label="Previous Price Date"
                />
              </div>
            </div>

            <!-- Main table element -->
            <div class="col-ml-2">
              <b-table
                hover
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                responsive="md"
              >
                <!-- A virtual column -->
                <template #cell(index)="data">
                  {{ data.index + 1 }}
                </template>
                <template #cell()="data">
                  {{ data.value }}
                </template>
                <template #cell(NAV_VAL)>
                  <h4>
                    <b-form-input type="text" value="0.0000"></b-form-input>
                  </h4>
                </template>
              </b-table>
            </div>
            <div class="row col ml-2 mt-2">
              <b-pagination
                size="md"
                :total-rows="this.items.length"
                :per-page="perPage"
                v-model="currentPage"
              />
              <b-form-fieldset horizontal class="col-1">
                <b-form-select
                  :options="[
                    { text: 5, value: 5 },
                    { text: 10, value: 10 },
                    { text: 15, value: 15 },
                  ]"
                  v-model="perPage"
                >
                </b-form-select>
              </b-form-fieldset>
            </div>
            <br />
            <div class="float-right">
              <button
                @click="saveAsDraft"
                type="button"
                class="mr-2 btn btn-info btn-fill btn-md"
              >
                <i class="fa fa-pencil-square-o" /> &nbsp; Save as Draft
              </button>
              <button
                @click="submit"
                type="button"
                class="mr-2 btn btn-success btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> &nbsp; Submit
              </button>
            </div>
          </va-card>
        </div>
      </div>
    </div>
    <div>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <template slot="header">
              <div class="row">
                <div class="col">
                  <h4 class="card-title">Bulk Upload</h4>
                </div>
              </div>
            </template>
            <div class="row col-12">
              <div class="form-group">
                <vue-form-generator
                  :model="model"
                  :schema="schema"
                  :options="formOptions"
                  @model-updated="onModelUpdated"
                  ref="statusForm"
                >
                </vue-form-generator>
              </div>
            </div>
            <div class="float-right">
              <button
                @click="submit"
                type="button"
                class="btn btn-primary btn-fill btn-md"
              >
                <i class="" /> &nbsp; Upload
              </button>
            </div>
          </va-card>
        </div>
      </div>
    </div>

    <div>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</template>
<script>

export default {
  methods: {
    onClick() {
      console.log("jhdfj");
      // this.$router.push("/admin/company-registration");
    },

    view(item) {
      console.log(item);
      this.$router.push("");
    },
  },
  components: {
  },
  data() {
    return {
      fields: [
        // A virtual column that doesn't exist in items
        { key: "index", label: "No" },
        // A column that needs custom formatting
        { key: "FIMMFundCode", label: "FIMM Fund Code", sortable: true },
        // A regular column
        { key: "MFundCode", label: "Member Fund Code", sortable: true },
        // A regular column
        { key: "SName", label: "Fund Short Name", sortable: true },
        { key: "FundName", label: "Fund Name", sortable: true },
        { key: "PreviousPrice", label: "Previous Price", sortable: true },
        { key: "NAV_VAL", label: "Today's Price" },
        // A virtual column made up from two fields
        // { key: "nameage", label: "First name and age" }
      ],
      items: [
        {
          no: 1,
          FIMMFundCode: "00318",
          MFundCode: "021",
          SName: "ABFMY1",
          FundName: "",
          PreviousPrice:"1.5448"
        },
        {
          no: 2,
          FIMMFundCode: "0026",
          MFundCode: "0033",
          SName: "FBMETF",
          FundName: "",
          PreviousPrice:"1.0000"
        },
        {
          no: 3,
          FIMMFundCode: "00222",
          MFundCode: "0004",
          SName: "AMAA",
          FundName: "",
          PreviousPrice:"1.0000"
        },
        {
          no: 4,
          FIMMFundCode: "00231",
          MFundCode: "0023",
          SName: "AMCM",
          FundName: "",
          PreviousPrice:"1.0000"
        },
        {
          no: 5,
          FIMMFundCode: "00226",
          MFundCode: "0026",
          SName: "AMINCOME",
          FundName: "",
          PreviousPrice:"0.0000"
        },
      ],
      tableVariants: [
        "primary",
        "secondary",
        "info",
        "danger",
        "warning",
        "success",
        "light",
        "dark",
      ],
      currentPage: 1,
      perPage: 5,
      filter: null,

      model: {
        companyName: "",
        regno: "",
        phoneno: "",
        status: "",
      },

      schema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                id: '1',
                labels: 'Bulk Upload',
                accept: '.csv,.xlsx,.xls',
                multiple: true,
                text: 'Choose a File',
                model: 'file',
                type: 'vfg-custom-multiple-file-edit',
                styleClasses: 'col-md-12',
          },
            ],
          },
        ],
      },

      type: [
        {
          id: "UTMC",
          name: "UTMC",
        },
        {
          id: "IUTA",
          name: "IUTA",
        },
        {
          id: "CUTA",
          name: "CUTA",
        },
      ],
      status: [
        {
          id: "Pending",
          name: "Pending",
        },
        {
          id: "Approve",
          name: "Approve",
        },
      ],
      category: [
        {
          id: "Agent",
          name: "Agent",
        },
        {
          id: "Employee",
          name: "Employee",
        },
      ],
    };
  },
};
</script>
<style>
</style>
