<template>
  <div class="content">
    <!-- consultantlist -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <template slot="header">
              <div class="row">
                <div class="col">
                  <h4 class="card-title">NAV Approval </h4>
                </div>

              <b-collapse id="collapse-1" class="mt-2">
                <va-card>
                  <vue-form-generator
                    :model="model"
                    :schema="schema"
                    ref="firstTabForm"
                  >
                  </vue-form-generator>
                </va-card>
              </b-collapse>
              </div>
            </template>


            <!-- Main table element -->
            <div class="col-ml-2">
              <b-table
                hover
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                responsive="md"
              >
                <!-- A virtual column -->
                <template #cell(index)="data">
                  {{ data.index + 1 }}
                </template>
                <template #head(actions)="">
                  <base-checkbox
                    v-b-tooltip.hover
                    title="Select All"
                    @change="selectFund('all')"
                    v-model="checked"
                  ></base-checkbox>
                </template>
                <template #cell(actions)="data">
                  <base-checkbox
                    class=""
                    @change="selectFund(data.item)"
                    v-model="data.item.selected"
                  ></base-checkbox>
                </template>
                <template #cell()="data">
                  <span class="description">{{ data.value }}</span>
                </template>
                <template #cell(reason)>

                  <a href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" class="row">view</a>

                  </template>

              </b-table>
            </div>
            <div class="row col ml-2 mt-2">
              <b-pagination
                size="md"
                :total-rows="this.items.length"
                :per-page="perPage"
                v-model="currentPage"
              />
              <b-form-fieldset horizontal class="col-1">
                <b-form-select
                  :options="[
                    { text: 3, value: 3 },
                    { text: 5, value: 5 },
                    { text: 10, value: 10 },
                    { text: 15, value: 15 },
                  ]"
                  v-model="perPage"
                >
                </b-form-select>
              </b-form-fieldset>
            </div>
            <div>
              <vue-form-generator
                              tag="div"
                              :schema="schema"
                              :model="model"
                              :options="formOptions"
                              @model-updated="onModelUpdated"
                              ref="EntryForm"
                            >
                            </vue-form-generator>
            </div>

<br>
                            <button type="submit" class="btn btn-primary btn-fill float-left btn-md">
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
                <div class="float-right">
                  <button type="submit" class="mr-2 btn btn-warning btn-fill btn-md"  @click.prevent="submit">
                    <i class="fa fa-reply" /> &nbsp; Return
                  </button>
                  <button @click="submit" type="button" class="ml-2 btn btn-success btn-fill btn-md">
                    <i class="fa fa-paper-plane" /> &nbsp; Verify
                  </button>
                  </div>
          </va-card>
        </div>
      </div>
    </div>

  </div>
</template>
<script>

export default {
  methods: {
    addParticipant(data) {
      console.log(JSON.stringify(data.item));

      this.selectedList.unshift(data.item);
    },

    reset() {
      this.model.name = "";
      this.model.nric = "";
      this.model.nric = "";
      this.model.phoneno = "";
      this.model.type = "";
      this.model.status = "";
      this.model.expdate = "";
    },

    edit(item) {
      console.log(item);
    },
  },

  components: {
  },

  data() {
    return {
      type: [
        { id: "UTS", name: "UTS" },
        { id: "PRS", name: "PRS" },
      ],

      status: [
        { id: "Active", name: "Active" },
        { id: "Suspend", name: "Suspend" },
        { id: "Terminate", name: "Terminate" },
      ],

      fields: [
        // A virtual column that doesn't exist in items
        { key: "actions", label: "", thStyle: "text-align-center" },
        { key: "index", label: "No" },
        // A column that needs custom formatting
        { key: "FIMMFundCode", label: "FIMM Fund Code", sortable: true },
        // A regular column
        { key: "MFundCode", label: "Member Fund Code", sortable: true },
        // A regular column
        { key: "SName", label: "Fund Short Name", sortable: true },
        { key: "FundName", label: "Fund Name", sortable: true },
        { key: "fundPrevPrice", label: "Previous Price", sortable:true},
        { key: "fundTodayPrice", label: "Updated Price", sortable: true},
        { key: "reason", label: "Supported Document" },
        // { key: "actions", label: "Actions" },
        // A virtual column made up from two fields
        // { key: "nameage", label: "First name and age" }
      ],
      items: [
        {
          no: 1,
          FIMMFundCode: "00218",
          MFundCode: "022",
          SName: "ABFMY1",
          FundName: "ABF Malaysia Bond Index(a)",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.5504

        },
        {
          no: 2,
          FIMMFundCode: "0023",
          MFundCode: "0037",
          SName: "FBMETF",
          FundName: "FTSE Bursa Malaysia KLCI ETF",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.9448
        },
        {
          no: 3,
          FIMMFundCode: "00209",
          MFundCode: "0009",
          SName: "AMAA",
          FundName: "Amal-Amin Z2",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.6348
        },
        {
          no: 4,
          FIMMFundCode: "00201",
          MFundCode: "0001",
          SName: "AMCM",
          FundName: "Amcash Management Z3",
          fundPrevPrice: 1.1648,
          fundTodayPrice: 1.6448
        },
        {
          no: 5,
          FIMMFundCode: "00206",
          MFundCode: "0006",
          SName: "AMINCOME",
          FundName: "Amincome Z1",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.6848
        },
      ],
      schema: {
        fields: [
          {
                type: "textArea",
                label: "Remark/Comment",
                model: "comment",
                hint: "Max 500 characters",
                max: 500,
                placeholder: "Enter remark/comment",
                rows: 5,
                validator: "string",
                // required:true
              },

        ]
        },
      tableVariants: [
        "primary",
        "secondary",
        "info",
        "danger",
        "warning",
        "success",
        "light",
        "dark",
      ],

      //1st table
      currentPage: 1,
      perPage: 3,
      filter: null,

      //2ndTable
      currentPageSelected: 1,
      perPageSelected: 5,
      filterSelected: null,

      model: {
        name: "",
        nric: "",
        phoneno: "",
        type: "",
        status: "",
        file: "",
      },

      bulkSchema: {
        fields: [
          {
                id: '1',
                labels: 'Bulk Upload',
                accept: '.csv,.xlsx,.xls',
                multiple: true,
                text: 'Choose a File',
                model: 'file',
                type: 'vfg-custom-multiple-file-edit',
                styleClasses: 'col-md-12',
          },
        ],
      },
    };
  },
};
</script>

