/* eslint-disable eqeqeq */
<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="flex xs12 md12 xl12">
          <va-card
            class="striped-tabled-with-hover"
            body-classes="table-full-width table-responsive"
          >
            <br />
            <h4 slot="header" class="card-title">
              Fund Details
            </h4>

            <br />
            <div>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td style="width: 15%"><b>Management Company</b></td>
                    <td style="width: 1%">:</td>
                    <td>{{ FUNDPROFILE.DIST_NAME }}</td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Company Type</b></td>
                    <td style="width: 1%">:</td>
                    <td>{{ FUNDPROFILE.DIST_TYPE_NAME }}</td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Umbrella Fund</b></td>
                    <td style="width: 1%">:</td>
                    <td>{{ FUNDPROFILE.UMBRELLA_FUND_NAME }}</td>
                  </tr>
                </tbody>
              </table>
              <br />
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td style="width: 15%"><b>Member Fund Code</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      {{ FUNDPROFILE.FUND_CODE_MEMBER }}
                    </td>

                    <td style="width: 15%"><b>Fund Status</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">{{ FUNDPROFILE.TS_PARAM }}</td>
                  </tr>
                  <tr>
                    <td style="width: 15%">
                      <b>Fund Chinese Name (Traditional)</b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      {{ FUNDPROFILE.FUND_NAME_CHINESE }}
                    </td>

                    <td style="width: 15%"><b>Fund Name</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      {{ FUNDPROFILE.FUND_PROFILE_NAME }}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Fund Short Name</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      {{ FUNDPROFILE.FUND_NAME_SHORT }}
                    </td>

                    <td style="width: 15%"><b>Annual Management Fee</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEE_ANNUAL != null ||
                            FUNDPROFILE.FUND_FEE_ANNUAL != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_FEE_ANNUAL }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEE_ANNUAL == null ||
                            FUNDPROFILE.FUND_FEE_ANNUAL == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>FiMM Fund Type</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_TYPE != null ||
                            FUNDPROFILE.FUND_TYPE != ''
                        "
                      >
                        {{ FUNDPROFILE.TYPENAME }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_TYPE == null ||
                            FUNDPROFILE.FUND_TYPE == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Performance Fee</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEE_PERFORMANCE != null ||
                            FUNDPROFILE.FUND_FEE_PERFORMANCE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_FEE_PERFORMANCE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEE_PERFORMANCE == null ||
                            FUNDPROFILE.FUND_FEE_PERFORMANCE == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>FiMM Fund Category</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_CATEGORY != null ||
                            FUNDPROFILE.FUND_CATEGORY != ''
                        "
                      >
                        {{ FUNDPROFILE.GROUP_ASSET }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_CATEGORY == null ||
                            FUNDPROFILE.FUND_CATEGORY == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Ratio</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_RATIO != null ||
                            FUNDPROFILE.FUND_RATIO != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_RATIO }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_RATIO == null ||
                            FUNDPROFILE.FUND_RATIO == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>FiMM Domicile</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_DOMICILE != null ||
                            FUNDPROFILE.FUND_DOMICILE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_DOMICILE_NAME }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_DOMICILE == null ||
                            FUNDPROFILE.FUND_DOMICILE == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Hurdle Rate</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_HURDLE != null ||
                            FUNDPROFILE.FUND_HURDLE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_HURDLE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_HURDLE == null ||
                            FUNDPROFILE.FUND_HURDLE == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%">
                      <b>FiMM Currency Denomination</b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_CURR_DENOMINATION != null ||
                            FUNDPROFILE.FUND_CURR_DENOMINATION != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_CURR_DENOMINATION }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_CURR_DENOMINATION == null ||
                            FUNDPROFILE.FUND_CURR_DENOMINATION == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Launch Price per unit</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_PRICE_PERUNIT != null ||
                            FUNDPROFILE.FUND_PRICE_PERUNIT != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_PRICE_PERUNIT }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_PRICE_PERUNIT == null ||
                            FUNDPROFILE.FUND_PRICE_PERUNIT == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Sub Manager Name</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SUB_MANAGER != null ||
                            FUNDPROFILE.FUND_SUB_MANAGER != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_SUB_MANAGER }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SUB_MANAGER == null ||
                            FUNDPROFILE.FUND_SUB_MANAGER == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Launch Date</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_DATE_LAUNCH != null ||
                            FUNDPROFILE.FUND_DATE_LAUNCH != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_DATE_LAUNCH }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_DATE_LAUNCH == null ||
                            FUNDPROFILE.FUND_DATE_LAUNCH == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Syariah Compliant</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_SYARIAH_COMP == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_SYARIAH_COMP == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SYARIAH_COMP == null ||
                            FUNDPROFILE.FUND_SYARIAH_COMP == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Financial Year End</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_YEAR_END != null ||
                            FUNDPROFILE.FUND_YEAR_END != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_YEAR_END }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_YEAR_END == null ||
                            FUNDPROFILE.FUND_YEAR_END == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Annual Management Status</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_ANNUAL_MGMT == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_ANNUAL_MGMT == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_ANNUAL_MGMT == null ||
                            FUNDPROFILE.FUND_ANNUAL_MGMT == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Minimum Sales Charge</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE != null ||
                            FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE == null ||
                            FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%">
                      <b>Declaration of Fund Performance</b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_FUND_PERFORMANCE == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_FUND_PERFORMANCE == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FUND_PERFORMANCE == null ||
                            FUNDPROFILE.FUND_FUND_PERFORMANCE == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Maximum Sales Charge</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE != null ||
                            FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE == null ||
                            FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>EPF Status</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_STATUS_EPF == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_STATUS_EPF == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_STATUS_EPF == null ||
                            FUNDPROFILE.FUND_STATUS_EPF == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Scheme Structure</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SCHEME != null ||
                            FUNDPROFILE.FUND_SCHEME != ''
                        "
                      >
                        {{ FUNDPROFILE.FMS_SCHEME_NAME }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SCHEME == null ||
                            FUNDPROFILE.FUND_SCHEME == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%">
                      <b>Disclosure of Daily NAV in the Newspaper</b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_DAILY_NAV == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_DAILY_NAV == 2">
                        No
                      </div>
                      <!-- <div v-if="FUNDPROFILE.FUND_DAILY_NAV == null || FUNDPROFILE.FUND_DAILY_NAV == ''">
                      -
                    </div> -->
                    </td>

                    <td style="width: 15%"><b>Foreign / Local Focused</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FOCUS != null ||
                            FUNDPROFILE.FUND_FOCUS != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_FOCUS }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FOCUS == null ||
                            FUNDPROFILE.FUND_FOCUS == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Wholesale Fund</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_WHOLESALE != null ||
                            FUNDPROFILE.FUND_WHOLESALE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_WHOLESALE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_WHOLESALE == null ||
                            FUNDPROFILE.FUND_WHOLESALE == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Feeder Fund</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_FEEDER == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_FEEDER == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEEDER == null ||
                            FUNDPROFILE.FUND_FEEDER == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </va-card>
        </div>
        <br />
        <div class="col-12">
          <va-card>
            <br />
            <div>
              <h4 slot="header" class="card-title">
                Fund Deletion/Suspension/Closure Application Details
              </h4>
              <br />
              <br />
              <div class="row no-gutters ml-4">
                <div class="col">
                  <div class="row mb-3">
                    <span class="description row col-6"> <b>Status</b> </span>
                    <span class="description row col-1">:</span>
                    <span class="description row col">
                      {{ FUNDPROFILE.APPL_TYPE }}
                    </span>
                  </div>
                  <div class="row mb-3">
                    <span class="description row col-6">
                      <b v-if="FUNDPROFILE.APPL_TYPE != 'SUSPENSION'"
                        >Effective Date</b
                      >

                      <b v-if="FUNDPROFILE.APPL_TYPE == 'SUSPENSION'"
                        >Start Date</b
                      >
                    </span>
                    <span class="description row col-1">:</span>
                    <div v-if="FUNDPROFILE.APPL_TYPE == 'DELETION'">
                      <span class="description row col">
                        {{ FUNDPROFILE.APP_EFFEC_DATE }}
                      </span>
                    </div>
                    <div v-if="FUNDPROFILE.APPL_TYPE == 'SUSPENSION'">
                      <span class="description row col">
                        {{ FUNDPROFILE.APPL_DATE_START }}
                      </span>
                    </div>
                    <div v-if="FUNDPROFILE.APPL_TYPE == 'CLOSURE'">
                      <span class="description row col">
                        {{ FUNDPROFILE.APP_EFFEC_DATE }}
                      </span>
                    </div>
                  </div>
                  <div
                    class="row mb-3"
                    v-if="FUNDPROFILE.APPL_TYPE == 'SUSPENSION'"
                  >
                    <span class="description row col-6">
                      <b>End Date</b>
                    </span>
                    <span class="description row col-1">:</span>
                    <div v-if="FUNDPROFILE.APPL_TYPE == 'SUSPENSION'">
                      <span class="description row col">
                        {{ FUNDPROFILE.APPL_DATE_END }}
                      </span>
                    </div>
                  </div>
                  <div
                    class="row mb-3"
                    v-if="FUNDPROFILE.APPL_TYPE == 'DELETION'"
                  >
                    <span class="description row col-6"> <b>Reason</b> </span>
                    <span class="description row col-1">:</span>
                    <span class="description row col">
                      {{ FUNDPROFILE.APPL_REASON }}
                    </span>
                  </div>
                </div>
              </div>
              <vue-form-generator
                :model="model"
                :schema="applicationtypeschema"
                :options="formOptions"
                @model-updated="onModelUpdated"
                ref="statusForm"
              >
              </vue-form-generator>
              <!-- </card> -->
            </div>
            <br />
            <div class="float-left">
              <button
                @click="back"
                type="button"
                class="btn btn-primary btn-fill float-left btn-md"
              >
                <i class="fa fa-step-backward" /> &nbsp; Previous
              </button>
            </div>
            <div class="float-right">
              <button
                type="submit"
                class="mr-2 btn btn-warning btn-fill btn-md"
                @click="rtrn"
              >
                <i class="fa fa-reply" /> &nbsp; Return
              </button>
              <button
                @click="reject"
                type="button"
                class="mr-2 btn btn-danger btn-fill btn-md"
              >
                <i class="fa fa-ban" /> &nbsp; Reject
              </button>
              <button
                @click="approval"
                type="button"
                class="ml-1 btn btn-success btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> &nbsp; Approve
              </button>
            </div>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import "vue-form-generator/dist/vfg.css";
import * as services06Module0 from "../../../app/module0/services06";
import * as servicesModule5 from "../../../app/module5/services03";
export default {
  props: {
    FUNDPROFILE: {}
  },

  mounted() {
    var data = localStorage.getItem("fundApplication");
    this.FUNDPROFILE = JSON.parse(data);
  },

  components: {},
  status: [
    {
      value: "1",
      name: "Deletion"
    },
    {
      value: "2",
      name: "Suspension"
    },
    {
      value: "3",
      name: "Closure"
    }
  ],
  model: {
    status: "",
    mergewith: "",
    startdate: "",
    enddate: "",
    effectivedate: "",
    REMARKS_COMMENTS: "",
    documentName: ""
  },

  methods: {
    gethAllFundProfile: async function() {
      const response = await servicesModule5.getAllFundProfile();
      this.getAllFundProfile = response;
    },
    back() {
      this.$router.go(-1);
    }, // back button

    handleClick(newTab) {
      this.currentTab = newTab;
    }, // end tab
    saveAsDraft() {},
    validatestatusForm() {
      return this.$refs.ReviewRemark.validate();
    },

    validateEntryForm() {
      return this.$refs.ReviewRemark.validate();
    },
    onModelUpdated(newVal, schema) {
      console.log(newVal);
      // eslint-disable-next-line eqeqeq
      if (schema == "status" && newVal == "1") {
        this.visibleMergewith = true;
        this.visibleStartDate = false;
        this.visibleEndDate = false;
        this.visibleEffectiveDate = true;
        // eslint-disable-next-line eqeqeq
      } else if (schema == "status" && newVal == "2") {
        this.visibleMergewith = false;
        this.visibleStartDate = true;
        this.visibleEndDate = true;
        this.visibleEffectiveDate = false;
        // eslint-disable-next-line eqeqeq
      } else if (schema == "status" && newVal == "3") {
        this.visibleMergewith = false;
        this.visibleStartDate = false;
        this.visibleEndDate = false;
        this.visibleEffectiveDate = true;
      }
    },
    reject: async function() {
      const data = new FormData();
      const user = localStorage.getItem("user");
      const FPData = localStorage.getItem("fundApplication");
      data.append("FUND_APPL_ID", JSON.parse(FPData).FUND_APPL_ID);
      data.append("FUND_PROFILE_ID", JSON.parse(FPData).FUND_PROFILE_ID);
      data.append("DIST_ID", JSON.parse(user).USER_DIST_ID);

      data.append("APPR_REMARK", this.model.REMARKS_COMMENTS);
      data.append("APPR_PUBLISH_STATUS", "1");
      data.append("TS_ID", "5");
      data.append("CREATE_BY", JSON.parse(user).user_id);
      const approvalLevel = await services06Module0.getApprovalLevel(6, 1);
      data.append("APPR_LIST", JSON.stringify(approvalLevel));
      try {
        if (confirm("Are you sure to reject this application?")) {
          const response = await servicesModule5.updateApprovalFundApplication(
            data
          );
          alert("Data has been submitted successfully");
          this.$router.push("/distributor/fund_ApplicationFMList");
        } else {
        }
      } catch (error) {
        console.log(error);
      }
    },
    rtrn: async function() {
      const data = new FormData();
      const user = localStorage.getItem("user");
      const FPData = localStorage.getItem("fundApplication");
      data.append("FUND_APPL_ID", JSON.parse(FPData).FUND_APPL_ID);
      data.append("FUND_PROFILE_ID", JSON.parse(FPData).FUND_PROFILE_ID);
      data.append("DIST_ID", JSON.parse(user).USER_DIST_ID);

      data.append("APPR_REMARK", this.model.REMARKS_COMMENTS);
      data.append("APPR_PUBLISH_STATUS", "1");
      data.append("TS_ID", "9");
      data.append("CREATE_BY", JSON.parse(user).user_id);
      const approvalLevel = await services06Module0.getApprovalLevel(6, 1);
      data.append("APPR_LIST", JSON.stringify(approvalLevel));
      try {
        if (confirm("Are you sure to return this application?")) {
          const response = await servicesModule5.updateApprovalFundApplication(
            data
          );
          alert("Data has been submitted successfully");
          this.$router.push("/distributor/fund_ApplicationFMList");
        } else {
        }
      } catch (error) {
        console.log(error);
      }
    },
    approval: async function() {
      const data = new FormData();
      const user = localStorage.getItem("user");
      const FPData = localStorage.getItem("fundApplication");
      data.append("FUND_APPL_ID", JSON.parse(FPData).FUND_APPL_ID);
      data.append("FUND_PROFILE_ID", JSON.parse(FPData).FUND_PROFILE_ID);
      data.append("DIST_ID", JSON.parse(user).USER_DIST_ID);

      data.append("APPR_REMARK", this.model.REMARKS_COMMENTS);
      data.append("APPR_PUBLISH_STATUS", "1");
      data.append("TS_ID", "3");
      data.append("CREATE_BY", JSON.parse(user).user_id);
      const approvalLevel = await services06Module0.getApprovalLevel(6, 1);
      data.append("APPR_LIST", JSON.stringify(approvalLevel));
      try {
        if (confirm("Are you sure to approve this application?")) {
          const response = await servicesModule5.updateApprovalFundApplication(
            data
          );
          alert("Data has been submitted successfully");
          this.$router.push("/distributor/fund_ApplicationFMList");
        } else {
        }
      } catch (error) {
        console.log(error);
      }
    }
  },

  computed: {},

  data() {
    return {
      // eslint-disable-next-line vue/no-dupe-keys
      FUNDPROFILE: "",
      selected: true,
      unselected: false,
      visibleMergewith: false,
      visibleStartDate: false,
      visibleEndDate: false,
      visibleEffectiveDate: false,
      fileRecords: [],
      model: {
        status: "",
        mergewith: "",
        startdate: "",
        enddate: "",
        effectivedate: "",
        REMARKS_COMMENTS: "",
        documentName: ""
      },
      mergewith: ["Areca Strategic Income 7.0", "Areca Progressive Income 7.0"],
      status: [
        {
          value: "1",
          name: "Deletion"
        },
        {
          value: "2",
          name: "Suspension"
        },
        {
          value: "3",
          name: "Closure"
        }
      ],
      fundlist: ["Areca Strategic Income 7.0", "Areca Progressive Income 7.0"],
      applicationtypeschema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "textArea",
                required: true,
                rows: 8,
                max: 1000,
                hint: "Maximum characters of 1000",
                label: "Remarks / Comments",
                model: "REMARKS_COMMENTS",
                placeholder: "Enter Remarks or Comments",
                styleClasses: "col-md-12"
              }
            ]
          }
        ]
      },
      formOptions: {
        validateAfterChanged: true
      }
    };
  }
};
</script>
<style lang="scss">
.content i {
  font-style: normal;
}
</style>
