<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <template slot="header">
              <div class="row">
                <div class="col">
                  <h4 class="card-title">Today's Verified Price</h4>
                </div>
                <div class="col float-right">
                  <div class="float-right">
                    <h5>
                      <b-badge
                        v-b-toggle.collapse-1
                        class="mr-1"
                        variant="secondary"
                      >
                        <i class="fa fa-search"></i>
                      </b-badge>
                    </h5>
                  </div>
                </div>
              </div>
              <b-collapse id="collapse-1" class="mt-2">
                <va-card>
                  <vue-form-generator
                    :model="model"
                    :schema="schema"
                    ref="firstTabForm"
                  >
                  </vue-form-generator>
                </va-card>
              </b-collapse>
            </template>
            <div class="row col-3">
              <div class="form-group form-group-sm has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="filter"
                  type="date"
                  class="form-control"
                  placeholder="Search"
                />
              </div>
            </div>

            <!-- Main table element -->
            <div class="col-ml-2">
              <b-table
                hover
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                responsive="md"
              >
                <template #head(actions)="">
                  <base-checkbox
                    v-b-tooltip.hover
                    title="Select All"
                    @change="selectFund('all')"
                    v-model="checked"
                  ></base-checkbox>
                </template>
                <template #cell(actions)="data">
                  <base-checkbox
                    class=""
                    @change="selectFund(data.item)"
                    v-model="data.item.selected"
                  ></base-checkbox>
                </template>
                <!-- A virtual column -->

                <!-- <template #cell(actions)="row">
                  <h4>
                    <span
                      v-on:click="view(row)"
                      class="badge badge-success mr-1"
                    >
                      <i class="fa fa-eye"></i
                    ></span>
                  </h4>
                </template> -->
              </b-table>
            </div>
            <div class="row col ml-2 mt-2">
              <b-pagination
                size="md"
                :total-rows="this.items.length"
                :per-page="perPage"
                v-model="currentPage"
              />
              <b-form-fieldset horizontal class="col-1">
                <b-form-select
                  :options="[
                    { text: 5, value: 5 },
                    { text: 10, value: 10 },
                    { text: 15, value: 15 },
                  ]"
                  v-model="perPage"
                >
                </b-form-select>
              </b-form-fieldset>
            </div>
            <br />
            <vue-form-generator
              :model="model"
              :schema="acknowledgeschema"
              :options="formOptions"
              @model-updated="onModelUpdated"
              ref="statusForm"
            >
            </vue-form-generator>
            <br />
            <button
              type="submit"
              class="btn btn-primary btn-fill float-left btn-md"
            >
              <i class="fa fa-step-backward" /> &nbsp; Previous
            </button>
            <div class="float-right">
              <!-- <button
                @click="saveAsDraft"
                type="button"
                class="mr-2 btn btn-info btn-fill btn-md"
              >
                <i class="fa fa-pencil-square-o" /> &nbsp; Save as Draft
              </button> -->
              <button
                type="submit"
                class="mr-2 btn btn-warning btn-fill btn-md"
                @click.prevent="submit"
              >
                <i class="fa fa-reply" /> &nbsp; Return
              </button>
              <button
                @click="submit"
                type="button"
                class="mr-2 btn btn-success btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> &nbsp; Verify
              </button>
            </div>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    onClick() {
      console.log("jhdfj");
      // this.$router.push("/admin/company-registration");
    },

    view(item) {
      console.log(item);
      this.$router.push("Company-Fund-Termination-Details");
    },
    selectFund(data){
      if(data != "all"){
        this.checked = false
         console.log("data :"+JSON.stringify(data));
      }else{
        if(this.checked == true){
        this.items.forEach((element)=>{
          element.selected = true;
        })
        }else{
          this.items.forEach((element)=>{
          element.selected = false;
        })
        }
      }
    },
  },
  components: {
  },
  data() {
    return {
      fields: [
        // A virtual column that doesn't exist in items
        { key: "actions", label: "", thStyle: "text-align-center" },
        // A column that needs custom formatting
        // A regular column
        { key: "FIMMFundCode", label: "FIMM Fund Code", sortable: true },
        // A regular column
        { key: "MemberFundCode", label: "Member Fund Code", sortable: true },
        { key: "FundShortName", label: "Fund Short Name", sortable: true },
        { key: "FundName", label: "Fund Name", sortable: true },
        { key: "PreviousPrice", label: "Previous Price", sortable: true },
        { key: "UnitNAV", label: "Today’s Verified Price", sortable: true },
        { key: "NAVVariance", label: "Variance", sortable: true },
        // A virtual column made up from two fields
        // { key: "nameage", label: "First name and age" }
      ],
      items: [
        {
          no: 1,
          ManagementCompany: "Amfunds Management Berhad",
          FIMMFundCode: "00218",
          MemberFundCode: "0022",
          FundShortName: "ABFMY1",
          FundName: "ABF Malaysia Bond Index",
          PreviousPrice: "1.6648",
          UnitNAV: "1.6648",
        },
        {
          no: 2,
          ManagementCompany: "Amfunds Management Berhad",
          FIMMFundCode: "00233",
          MemberFundCode: "0037",
          FundShortName: "FBMETF",
          FundName: "FTSE Bursa Malaysia KLCI MTF",
          PreviousPrice: "1.0340",
          UnitNAV: "1.0000",
        },
        {
          no: 3,
          ManagementCompany: "Amfunds Management Berhad",
          FIMMFundCode: "00209",
          MemberFundCode: "0009",
          FundShortName: "AMAA",
          FundName: "Amal-Amin",
          PreviousPrice: "1.0000",
          UnitNAV: "1.0500",
        },
        {
          no: 4,
          ManagementCompany: "Amfunds Management Berhad",
          FIMMFundCode: "00201",
          MemberFundCode: "0001",
          FundShortName: "AMCM",
          FundName: "Amcash Management",
          PreviousPrice: "1.0000",
          UnitNAV: "1.0000",
        },
        {
          no: 5,
          ManagementCompany: "Amfunds Management Berhad",
          FIMMFundCode: "00206",
          MemberFundCode: "0006",
          FundShortName: "AMINCOME",
          FundName: "Amincome",
          PreviousPrice: "1.0000",
          UnitNAV: "1.0000",
        },
        {
          no: 6,
          ManagementCompany: "Amfunds Management Berhad",
          FIMMFundCode: "00222",
          MemberFundCode: "0026",
          FundShortName: "AMIA",
          FundName: "Amincome Advantage",
          PreviousPrice: "1.0145",
          UnitNAV: "1.0145",
        },
        {
          no: 7,
          ManagementCompany: "Amfunds Management Berhad",
          FIMMFundCode: "00213",
          MemberFundCode: "0014",
          FundShortName: "AMIP",
          FundName: "Amincome Plus",
          PreviousPrice: "0.6693",
          UnitNAV: "0.6693",
        },
      ],
      tableVariants: [
        "primary",
        "secondary",
        "info",
        "danger",
        "warning",
        "success",
        "light",
        "dark",
      ],
      currentPage: 1,
      perPage: 5,
      filter: null,

      model: {
        companyName: "",
        regno: "",
        phoneno: "",
        status: "",
      },

      acknowledgeschema: {
        fields: [
          {
            type: "textArea",
            label: "Comments/Remarks",
            model: "Remark",
            hint: "Max 500 characters",
            max: 500,
            rows: 4,
            required: false,
            validator: "string",
          },
        ],
      },

      schema: {
        fields: [
          {
            type: "select",
            label: "Management Company",
            model: "status",
            styleClasses: "col-md-6",

            values: (model, schema) => {
              return this.status;
            },
          },
          {
            type: "input",
            inputType: "date",
            label: "Manager's Price For",
            model: "price",
            format: "YYYY-MM-DD HH:mm:ss",
            required: true,
            styleClasses: "col-md-6",
          },
        ],
        groups: [
          {
            fields: [
              {
                type: "submit",
                buttonText: "Search",
                onSubmit(model) {
                  console.log(model);
                },
                label: "Search",
                styleClasses: "col-1",
                // validateBeforeSubmit: true
              },
              {
                type: "submit",
                buttonText: "Reset",
                onSubmit(model) {
                  console.log(model);
                  model.companyName = "";
                  model.regno = "";
                  model.phoneno = "";
                  model.status = "";
                },
                label: "Search",
                styleClasses: "col-1",
                // validateBeforeSubmit: true
              },
            ],
          },
        ],
      },

      status: [
        {
          id: "A.D.Fincancia Sdn. Bhd.",
          name: "A.D.Fincancia Sdn. Bhd.",
        },
        {
          id: "Affin Bank Berhad",
          name: "Affin Bank Berhad",
        },
        {
          id: "Affin Hwang Asset Management Berhad",
          name: "Affin Hwang Asset Management Berhad  .",
        },
        {
          id: "AIA Pension and Asset Management Sdn. Bhd.",
          name: "AIA Pension and Asset Management Sdn. Bhd.",
        },
      ],
    };
  },
};
</script>
<style>
</style>
