/* eslint-disable eqeqeq */
<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="flex xs12 md12 xl12">
          <va-card
            class="striped-tabled-with-hover"
            body-classes="table-full-width table-responsive"
          >
            <br />
            <h4 slot="header" class="card-title">
              Fund Details
            </h4>

            <br />
            <div>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td style="width: 15%"><b>Management Company</b></td>
                    <td style="width: 1%">:</td>
                    <td>{{ FUNDPROFILE.DIST_NAME }}</td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Company Type</b></td>
                    <td style="width: 1%">:</td>
                    <td>{{ FUNDPROFILE.DIST_TYPE_NAME }}</td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Umbrella Fund</b></td>
                    <td style="width: 1%">:</td>
                    <td>{{ FUNDPROFILE.UMBRELLA_FUND_NAME }}</td>
                  </tr>
                </tbody>
              </table>
              <br />
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td style="width: 15%"><b>Member Fund Code</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      {{ FUNDPROFILE.FUND_CODE_MEMBER }}
                    </td>

                    <td style="width: 15%"><b>Fund Status</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">{{ FUNDPROFILE.TS_PARAM }}</td>
                  </tr>
                  <tr>
                    <td style="width: 15%">
                      <b>Fund Chinese Name (Traditional)</b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      {{ FUNDPROFILE.FUND_NAME_CHINESE }}
                    </td>

                    <td style="width: 15%"><b>Fund Name</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      {{ FUNDPROFILE.FUND_PROFILE_NAME }}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Fund Short Name</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      {{ FUNDPROFILE.FUND_NAME_SHORT }}
                    </td>

                    <td style="width: 15%"><b>Annual Management Fee</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEE_ANNUAL != null ||
                            FUNDPROFILE.FUND_FEE_ANNUAL != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_FEE_ANNUAL }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEE_ANNUAL == null ||
                            FUNDPROFILE.FUND_FEE_ANNUAL == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>FiMM Fund Type</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_TYPE != null ||
                            FUNDPROFILE.FUND_TYPE != ''
                        "
                      >
                        {{ FUNDPROFILE.TYPENAME }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_TYPE == null ||
                            FUNDPROFILE.FUND_TYPE == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Performance Fee</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEE_PERFORMANCE != null ||
                            FUNDPROFILE.FUND_FEE_PERFORMANCE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_FEE_PERFORMANCE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEE_PERFORMANCE == null ||
                            FUNDPROFILE.FUND_FEE_PERFORMANCE == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>FiMM Fund Category</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_CATEGORY != null ||
                            FUNDPROFILE.FUND_CATEGORY != ''
                        "
                      >
                        {{ FUNDPROFILE.GROUP_ASSET }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_CATEGORY == null ||
                            FUNDPROFILE.FUND_CATEGORY == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Ratio</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_RATIO != null ||
                            FUNDPROFILE.FUND_RATIO != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_RATIO }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_RATIO == null ||
                            FUNDPROFILE.FUND_RATIO == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>FiMM Domicile</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_DOMICILE != null ||
                            FUNDPROFILE.FUND_DOMICILE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_DOMICILE_NAME }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_DOMICILE == null ||
                            FUNDPROFILE.FUND_DOMICILE == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Hurdle Rate</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_HURDLE != null ||
                            FUNDPROFILE.FUND_HURDLE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_HURDLE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_HURDLE == null ||
                            FUNDPROFILE.FUND_HURDLE == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%">
                      <b>FiMM Currency Denomination</b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_CURR_DENOMINATION != null ||
                            FUNDPROFILE.FUND_CURR_DENOMINATION != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_CURR_DENOMINATION }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_CURR_DENOMINATION == null ||
                            FUNDPROFILE.FUND_CURR_DENOMINATION == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Launch Price per unit</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_PRICE_PERUNIT != null ||
                            FUNDPROFILE.FUND_PRICE_PERUNIT != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_PRICE_PERUNIT }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_PRICE_PERUNIT == null ||
                            FUNDPROFILE.FUND_PRICE_PERUNIT == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Sub Manager Name</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SUB_MANAGER != null ||
                            FUNDPROFILE.FUND_SUB_MANAGER != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_SUB_MANAGER }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SUB_MANAGER == null ||
                            FUNDPROFILE.FUND_SUB_MANAGER == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Launch Date</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_DATE_LAUNCH != null ||
                            FUNDPROFILE.FUND_DATE_LAUNCH != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_DATE_LAUNCH }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_DATE_LAUNCH == null ||
                            FUNDPROFILE.FUND_DATE_LAUNCH == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Syariah Compliant</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_SYARIAH_COMP == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_SYARIAH_COMP == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SYARIAH_COMP == null ||
                            FUNDPROFILE.FUND_SYARIAH_COMP == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Financial Year End</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_YEAR_END != null ||
                            FUNDPROFILE.FUND_YEAR_END != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_YEAR_END }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_YEAR_END == null ||
                            FUNDPROFILE.FUND_YEAR_END == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Annual Management Status</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_ANNUAL_MGMT == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_ANNUAL_MGMT == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_ANNUAL_MGMT == null ||
                            FUNDPROFILE.FUND_ANNUAL_MGMT == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Minimum Sales Charge</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE != null ||
                            FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE == null ||
                            FUNDPROFILE.FUND_MINIMUM_SALE_CHARGE == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%">
                      <b>Declaration of Fund Performance</b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_FUND_PERFORMANCE == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_FUND_PERFORMANCE == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FUND_PERFORMANCE == null ||
                            FUNDPROFILE.FUND_FUND_PERFORMANCE == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Maximum Sales Charge</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE != null ||
                            FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE == null ||
                            FUNDPROFILE.FUND_MAXIMUM_SALE_CHARGE == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>EPF Status</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_STATUS_EPF == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_STATUS_EPF == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_STATUS_EPF == null ||
                            FUNDPROFILE.FUND_STATUS_EPF == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Scheme Structure</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SCHEME != null ||
                            FUNDPROFILE.FUND_SCHEME != ''
                        "
                      >
                        {{ FUNDPROFILE.FMS_SCHEME_NAME }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_SCHEME == null ||
                            FUNDPROFILE.FUND_SCHEME == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%">
                      <b>Disclosure of Daily NAV in the Newspaper</b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_DAILY_NAV == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_DAILY_NAV == 2">
                        No
                      </div>
                      <!-- <div v-if="FUNDPROFILE.FUND_DAILY_NAV == null || FUNDPROFILE.FUND_DAILY_NAV == ''">
                      -
                    </div> -->
                    </td>

                    <td style="width: 15%"><b>Foreign / Local Focused</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FOCUS != null ||
                            FUNDPROFILE.FUND_FOCUS != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_FOCUS }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FOCUS == null ||
                            FUNDPROFILE.FUND_FOCUS == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 15%"><b>Wholesale Fund</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div
                        v-if="
                          FUNDPROFILE.FUND_WHOLESALE != null ||
                            FUNDPROFILE.FUND_WHOLESALE != ''
                        "
                      >
                        {{ FUNDPROFILE.FUND_WHOLESALE }}
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_WHOLESALE == null ||
                            FUNDPROFILE.FUND_WHOLESALE == ''
                        "
                      >
                        -
                      </div>
                    </td>

                    <td style="width: 15%"><b>Feeder Fund</b></td>
                    <td style="width: 1%">:</td>
                    <td style="width: 34%">
                      <div v-if="FUNDPROFILE.FUND_FEEDER == 1">
                        Yes
                      </div>
                      <div v-if="FUNDPROFILE.FUND_FEEDER == 2">
                        No
                      </div>
                      <div
                        v-if="
                          FUNDPROFILE.FUND_FEEDER == null ||
                            FUNDPROFILE.FUND_FEEDER == ''
                        "
                      >
                        -
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </va-card>
        </div>
        <div class="col-12">
          <va-card>
            <br />
            <div>
              <h4 slot="header" class="card-title">
                Fund Deletion/Suspension/Closure Application
              </h4>
              <br />
              <vue-form-generator
                :model="model"
                :schema="applicationtypeschema"
                :options="formOptions"
                @model-updated="onModelUpdated"
                ref="statusForm"
              >
              </vue-form-generator>
            </div>
            <br />
            <div class="float-left">
              <button
                @click="back"
                type="button"
                class="btn btn-primary btn-fill float-left btn-md"
              >
                <i class="fa fa-step-backward" /> &nbsp; Previous
              </button>
            </div>
            <div class="float-right">
              <button
                @click="saveAsDraft"
                type="button"
                class="mr-2 btn btn-info btn-fill btn-md"
              >
                <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
              </button>
              <button
                @click="submit"
                type="button"
                class="ml-1 btn btn-success btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> &nbsp; Submit
              </button>
            </div>
            <br />
            <br />
          </va-card>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import "vue-form-generator/dist/vfg.css";
import moment from "moment";
import * as servicesModule5 from "../../../app/module5/services03";
export default {
  props: {
    FUNDPROFILE: {}
  },

  mounted() {
    var data = localStorage.getItem("fundApplication");
    this.FUNDPROFILE = JSON.parse(data);
    this.getAllFundProfile();
  },

  components: {},
  status: [
    {
      value: "1",
      name: "Deletion"
    },
    {
      value: "2",
      name: "Suspension"
    },
    {
      value: "3",
      name: "Closure"
    }
  ],
  model: {
    status: "",
    mergewith: "",
    startdate: "",
    enddate: "",
    effectivedate: "",
    Remark: "",
    documentName: "",
    applicationSuppDoc: "",
    APPL_REASON: ""
  },

  methods: {
    gethAllFundProfile: async function() {
      const response = await servicesModule5.getAllFundProfile();
      this.getAllFundProfile = response;
    },
    back() {
      this.$router.go(-1);
    }, // back button

    saveAsDraft() {},
    validatestatusForm() {
      return this.$refs.ReviewRemark.validate();
    },

    validateEntryForm() {
      return this.$refs.ReviewRemark.validate();
    },
    onModelUpdated(newVal, schema) {
      console.log(newVal);
      if (schema == "status" && newVal == "1") {
        this.visibleMergewith = true;
        this.visibleStartDate = false;
        this.visibleEndDate = false;
        this.visibleEffectiveDate = true;
        this.visibleReasonClosure = false;
        this.visibleReasonSuspension = false;
        this.visibleSuppDoc = false;
      } else if (schema == "status" && newVal == "2") {
        this.visibleMergewith = false;
        this.visibleStartDate = true;
        this.visibleEndDate = true;
        this.visibleEffectiveDate = false;
        this.visibleReasonClosure = false;
        this.visibleReasonSuspension = true;
        this.visibleSuppDoc = true;
      } else if (schema == "status" && newVal == "3") {
        this.visibleMergewith = false;
        this.visibleStartDate = false;
        this.visibleEndDate = false;
        this.visibleEffectiveDate = true;
        this.visibleReasonClosure = true;
        this.visibleReasonSuspension = false;
        this.visibleSuppDoc = true;
      }
    },
    saveAsDraft: async function() {
      const vm = this;
      const user = localStorage.getItem("user");
      const fundDetails = localStorage.getItem("fundApplication");
      const data = new FormData();
      data.append("FUND_PROFILE_ID", JSON.parse(fundDetails).FUND_PROFILE_ID);
      data.append("DIST_USER_ID", JSON.parse(user).USER_DIST_ID);
      data.append("DIST_USER_GROUP", JSON.parse(user).USER_GROUP_ID);
      data.append("IS_SUBMIT", 1);

      if ((this.model.status = 1)) {
        console.log("Deletion");
        data.append(
          "APP_EFFEC_DATE",
          moment(this.model.effectivedate).format("YYYY-MM-DD") ?? ""
        );
        data.append("APPL_REASON", this.model.mergewith);
        data.append("APPL_TYPE", "DELETION");
        if (confirm("Are you sure to submit?")) {
          const response = await servicesModule5.createFundApplication(data);
          console.log(data);
          alert("Application Has Been Save As Draft.");
          this.back();
        } else {
        }
      } else if ((this.model.status = 2)) {
        console.log("Suspension");
        data.append(
          "APPL_DATE_START",
          moment(this.model.startdate).format("YYYY-MM-DD") ?? ""
        );
        data.append(
          "APPL_DATE_END",
          moment(this.model.enddate).format("YYYY-MM-DD") ?? ""
        );
        data.append("APPL_TYPE", "SUSPENSION");
        if (confirm("Are you sure to submit?")) {
          const response = await servicesModule5.createFundApplication(data);
          console.log(data);
          alert("Application Has Been Save As Draft.");
          this.back();
        } else {
        }
      } else if ((this.model.status = 3)) {
        console.log("Closure");
        data.append(
          "APP_EFFEC_DATE",
          moment(this.model.effectivedate).format("YYYY-MM-DD") ?? ""
        );
        data.append("APPL_TYPE", "CLOSURE");
        if (confirm("Are you sure to submit?")) {
          const response = await servicesModule5.createFundApplication(data);
          console.log(data);
          alert("Application Has Been Save As Draft.");
          this.back();
        } else {
        }
      }
    },
    submit: async function() {
      const user = localStorage.getItem("user");
      const fundDetails = localStorage.getItem("fundApplication");
      const data = new FormData();
      data.append("FUND_PROFILE_ID", JSON.parse(fundDetails).FUND_PROFILE_ID);
      data.append("DIST_USER_ID", JSON.parse(user).USER_DIST_ID);
      data.append("DIST_USER_GROUP", JSON.parse(user).USER_GROUP_ID);
      data.append("IS_SUBMIT", 2);

      if ((this.model.status = 1)) {
        console.log("Deletion");
        data.append(
          "APP_EFFEC_DATE",
          moment(this.model.effectivedate).format("YYYY-MM-DD") ?? ""
        );
        data.append("APPL_REASON", this.model.mergewith);
        data.append("APPL_TYPE", "DELETION");
        if (confirm("Are you sure to submit?")) {
          const response = await servicesModule5.createFundApplication(data);
          console.log(data);
          alert("Application Has Been Submitted Successfully.");
          this.back();
        } else {
        }
      } else if ((this.model.status = 2)) {
        console.log("Suspension");
        data.append(
          "APPL_DATE_START",
          moment(this.model.startdate).format("YYYY-MM-DD") ?? ""
        );
        data.append(
          "APPL_DATE_END",
          moment(this.model.enddate).format("YYYY-MM-DD") ?? ""
        );
        data.append("APPL_REASON", this.model.APPL_REASON_SUSPENSION);
        data.append("APPL_TYPE", "SUSPENSION");
        if (confirm("Are you sure to submit?")) {
          const response = await servicesModule5.createFundApplication(data);
          console.log(data);
          alert("Application Has Been Submitted Successfully.");
          this.back();
        } else {
        }
      } else if ((this.model.status = 3)) {
        console.log("Closure");
        data.append(
          "APP_EFFEC_DATE",
          moment(this.model.effectivedate).format("YYYY-MM-DD") ?? ""
        );
        data.append("APPL_REASON", this.model.APPL_REASON_CLOSURE);
        data.append("APPL_TYPE", "CLOSURE");
        if (confirm("Are you sure to submit?")) {
          const response = await servicesModule5.createFundApplication(data);
          console.log(data);
          alert("Application Has Been Submitted Successfully.");
          this.back();
        } else {
        }
      }
    }
  },

  computed: {},

  data() {
    return {
      FUNDPROFILE: "",
      selected: true,
      unselected: false,
      visibleMergewith: false,
      visibleStartDate: false,
      visibleEndDate: false,
      visibleEffectiveDate: false,
      visibleReasonClosure: false,
      visibleReasonSuspension: false,
      visibleSuppDoc: false,
      APPL_REASON: "",
      applicationSuppDoc: "",
      fileRecords: [],
      model: {
        status: "",
        mergewith: "",
        startdate: "",
        enddate: "",
        effectivedate: "",
        Remark: "",
        documentName: ""
      },
      mergewith: ["Areca Strategic Income 7.0", "Areca Progressive Income 7.0"],
      status: [
        {
          value: "1",
          name: "Deletion"
        },
        {
          value: "2",
          name: "Suspension"
        },
        {
          value: "3",
          name: "Closure"
        }
      ],
      fundlist: ["Wrong Data", "Inaccurate Information"],
      suspensionReason: [
        "Fund Distribution",
        "Unit Split",
        "NAV Recalculate",
        "Fully Redeemed"
      ],
      closureReason: [
        "Fund Matured",
        "Fully Redeemed",
        "Fund Objective Achieved",
        "Restructed",
        "Fund Merger"
      ],
      applicationtypeschema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "radios",
                label: "Application Type",
                model: "status",
                styleClasses: "ml-1 col-md-12 display-inline",

                values: () => {
                  return this.status;
                },
                required: true,
                validator: "string"
              },
              {
                labels: "Start Date",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "startdate",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                required: true,
                visible: (model, field, form) => {
                  return this.visibleStartDate;
                }
              },
              {
                labels: "End Date",
                type: "vfg-functional-date",
                model: "enddate",
                placeholder: "DD-MM-YYYY",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                required: true,
                visible: (model, field, form) => {
                  return this.visibleEndDate;
                }
              },
              {
                labels: "Effective Date",
                type: "vfg-functional-date",
                model: "effectivedate",
                placeholder: "DD-MM-YYYY",
                format: "dd-MM-yyyy",
                noLabel: true,
                noClearButton: true,
                required: true,
                visible: (model, field, form) => {
                  return this.visibleEffectiveDate;
                }
              },
              {
                type: "vueMultiSelect",
                inputType: "text",
                label: "Reason: ",
                model: "mergewith",
                placeholder: "Select Reason",
                required: true,
                selectOptions: {
                  multiple: false,
                  // key: "name",
                  // label: "name",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.fundlist;
                },
                visible: (model, field, form) => {
                  return this.visibleMergewith;
                }
              },

              {
                type: "vueMultiSelect",
                inputType: "text",
                label: "Reason: ",
                model: "APPL_REASON_CLOSURE",
                placeholder: "Select Reason",
                required: true,
                selectOptions: {
                  multiple: false,
                  // key: "name",
                  // label: "name",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.closureReason;
                },
                visible: (model, field, form) => {
                  return this.visibleReasonClosure;
                }
              },
              {
                type: "vueMultiSelect",
                inputType: "text",
                label: "Reason: ",
                model: "APPL_REASON_SUSPENSION",
                placeholder: "Select Reason",
                required: true,
                selectOptions: {
                  multiple: false,
                  // key: "name",
                  // label: "name",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.suspensionReason;
                },
                visible: (model, field, form) => {
                  return this.visibleReasonSuspension;
                }
              },
              {
                labels: "Supported Document",
                accept: ".pdf,.doc,.docx",
                multiple: false,
                text: "Choose a File",
                model: "applicationSuppDoc",
                type: "vfg-custom-multiple-file-edit",
                styleClasses: "col-md-12",
                Required: true,
                visible: (model, field, form) => {
                  return this.visibleSuppDoc;
                }
              }
            ]
          }
        ]
      },
      formOptions: {
        validateAfterChanged: false
      }
    };
  }
};
</script>
