/* eslint-disable no-unused-expressions */
<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <h4 slot="header" class="card-title">Fund Creation</h4>
            <br>
            <vue-form-generator
              :model="model"
              :schema="schemaFundList"
              :options="formOptions"
              @model-updated="onModelUpdated"
              ref="dropdownformFundList"
            >
            </vue-form-generator>
            <vue-form-generator
              :model="model"
              :schema="schemaUmbrellaFund"
              :options="formOptions"
              @model-updated="onModelUpdated"
              ref="dropdownformUmbrellaFund"
            >
            </vue-form-generator>
            <div>

              <br />
              <b-tabs content-class="mt-3" v-on:activate-tab="tabActivated" ref="tabs" v-model="tabModal">
                <b-tab title="Fund Profile" active>
                  <vue-form-generator
                    :model="model"
                    :schema="schemaNewFund"
                    :options="formOptions"
                    @model-updated="onModelUpdated"
                    ref="profileFundForm"
                  >
                  </vue-form-generator>
                  <button
                    type="submit"
                    class="ml-2 btn btn-primary btn-fill float-right btn-md"
                    @click="$refs.tabs.nextTab()"
                  >
                    Next &nbsp;<i class="fa fa-step-forward" />
                  </button>
                </b-tab>
                <b-tab title="Document">
                  <div style="overflow-x:auto;">
                    <table class="table">
                      <thead>
                        <slot name="columns">
                          <tr>
                            <th></th>
                            <th>Document</th>
                            <th>Choose file</th>
                          </tr>
                        </slot>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in photoUploadList" :key="index">
                          <slot :row="item">
                            <td>
                              <va-checkbox
                                class=""
                                v-model="item.selected"
                                disabled="true"
                              ></va-checkbox>
                            </td>
                            <td>
                              <span class="description">{{item.fileName}} &nbsp; <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              >View</a>
                              </span>
                            </td>
                            <td>
                              <form enctype="multipart/form-data">
                                <input type="file" accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document" ref="file" @change="uploadImage(index, item)" :id="'file-input'+index">
                              </form>
                            </td>
                          </slot>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br/>
                  <button
                    @click="back"
                    type="button"
                    class="float-left btn btn-primary btn-fill btn-md"
                  >
                    <i class="fa fa-step-backward" /> &nbsp; Previous
                  </button>
                  <div class="float-right">
                    <button
                      type="submit"
                      class="btn btn-primary btn-fill float-right btn-md"
                      @click.prevent="submit"
                    >
                      <i class="fa fa-paper-plane" /> &nbsp; Submit
                    </button>
                    <button
                      type="submit"
                      class="mr-2 btn btn-info btn-fill float-right btn-md"
                      @click.prevent="submit"
                    >
                      <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
                    </button>
                  </div>
                </b-tab>
              </b-tabs>
            </div>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.icon-flex,
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid blue;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapper i {
  color: blue;
}

.icon-wrapperConsultant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapperConsultant {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid green;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapperConsultant i {
  color: green;
}

.icon-wrapperBoth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapperBoth {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #6600ff;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapperBoth i {
  color: #6600ff;
}
</style>
<script>
// import Vue from "vue";
import moment from 'moment'
import { debounce } from 'lodash'
import * as servicesModule5 from '../../../app/module5/services03'

export default {

  props: ['FUNDPROFILE'],

  methods: {
    // tabActivated (newTabIndex, oldTabIndex, event) {
    //   console.log(newTabIndex)
    //   if (this.$refs.profileFundForm.validate()) {
    //     this.tabIndex = newTabIndex
    //     console.log('validate')
    //   } else {
    //     event.preventDefault()
    //     console.log('non validate')
    //   }
    // },

    nextTab () {
      this.tabModal = this.tabs.findIndex(tab => tab === this.$route.hash)
    },

    uploadImage (index, item) {
      item.selected = true
      // if(index == 0){
      //   // console.log(this.$refs.applicantPhoto[0].files[0]);
      // this.applicantPhoto = this.$refs.applicantPhoto[0].files[0];
      // let reader = new FileReader();
      // reader.addEventListener(
      //   "load",
      //   function() {
      //     this.$refs.applicantPhotoDisplay[0].src = reader.result;
      //   }.bind(this),
      //   false
      // );

      // reader.readAsDataURL(this.applicantPhoto);
      // console.log(item.selected);
      // // item.selected = true;
      // }
      // else if(index == 1){
      //   this.file1 = this.$refs.file[0].files[0];
      //   item.selected = true;
      // }else if(index == 2){
      //   this.file2 = this.$refs.file2[0].files[0];
      //   item.selected = true;
      // }else if(index == 3){
      //   this.file3 = this.$refs.file3[0].files[0];
      //   item.selected = true;
      // }else if(index == 4){
      //   this.file4 = this.$refs.file4[0].files[0];
      //   item.selected = true;
      // }
    },
    previous () {
      this.disabledNext = false
      this.filterConsultant = null
      this.filter = null
      if (this.nextValue > 1) {
        this.nextValue--
      }
      if (this.nextValue == 1) {
        this.disabledPrev = true
      }
    },
    next (value) {
      if (value != undefined) {
        this.tabIndex = 0
        this.selectedFund = value
      }

      this.disabledPrev = false
      this.filterConsultant = null
      this.filter = null
      if (this.nextValue < 3) {
        this.nextValue++
      }
      if (this.nextValue == 3) {
        this.disabledNext = true
      }
    },
    validateDivestmentForm () {
      return this.$refs.schemaDivestmentForm.validate()
    },
    saveAsDraft: async function () {
      const response = await this.validateDivestmentForm()
      if (response) {
        this.$router.push('company-detail')
      } else {
      }
    },
    submit: async function () {
      // const response = await this.validateDivestmentForm();
      console.log(JSON.stringify(this.fundList))
      if (this.$refs.RegForm.validate()) {
        const data = new FormData()
        data.append('fimmFundCode', this.model.fimmFundCode)
        data.append('memberFundCode', this.model.memberFundCode)
        data.append('expiryDate', this.model.expiryDate)
        data.append('fundChineseName', this.model.fundChineseName)
        data.append('fundShortName', this.model.fundShortName)
        data.append('fimmFundType', this.model.fimmFundType)
        data.append('fimmFundCategory', this.model.fimmFundCategory)
        data.append('fimmDomicite', this.model.fimmDomicite)
        data.append('fimmCurrencyDenomination', this.model.fimmCurrencyDenomination)
        data.append('subManagerName', this.model.subManagerName)
        data.append('syariahCompliant', this.model.syariahCompliant)
        data.append('annualMgmtStatus', this.model.annualMgmtStatus)
        data.append('declarationFundPerf', this.model.declarationFundPerf)
        data.append('epfStatus', this.model.epfStatus)
        data.append('diclosureDailyNav', this.model.diclosureDailyNav)
        data.append('fundStatus', this.model.fundStatus)
        data.append('fundName', this.model.fundName)
        data.append('anualMgmtFee', this.model.annualMgmtStatus)
        data.append('performanceFee', this.model.performanceFee)
        data.append('ratio', this.model.ratio)
        data.append('launchDate', this.model.launchDate)
        data.append('finYearEnd', this.model.finYearEnd)
        data.append('schemeStructure', this.model.schemaStructure)
        data.append('locFocused', this.model.locFocused)
        data.append('wholeSaleFund', this.model.wholeSaleFund)
        data.append('feederFund', this.model.feederFund)
        data.append('hurdleRate', this.model.hurdleRate)
        data.append('launchPrice', this.model.launchPrice)
        data.append('minSalesCharge', this.model.minSalesCharge)
        try {
          const response = await servicesModule5.updateFundProfile
          this.$modals.simplemodal.$hide()
        } catch (error) {
          console.log(error)
        }
      }
    },
    onModelUpdated (newVal, schema) {
      console.log(schema)
      if (schema == 'mgmtCompany') {
        console.log(newVal)
        this.model.selectedUmbrellaFund = null
        this.model.selectedFund = null
        if (newVal != null) {
          this.showumbrellaFund = true
          this.showFundList = false
        } else {
          this.showumbrellaFund = false
          this.showFundList = false
        }
      } else if (schema == 'selectedUmbrellaFund') {
        this.model.selectedFund = null
        if (newVal != null) {
          this.showFundList = true
        } else {
          this.showFundList = false
        }
      } else if (schema == 'selectedFund') {
        if (this.newFund == false) {
          this.model.fundChineseName = 'A.D.Financial Berhad',
          this.model.fundShortName = 'A.D.Financial Berhad',
          this.model.fimmFundType = [{
            name: 'Absolute Return',
            id: '1',
          }]
          this.model.fimmFundCategory = [{
            name: 'Alternatives',
            id: '1',
          }]
          this.model.fimmDomicite = [{
            name: 'Malaysia',
            code: 'MY',
          }]
          this.model.fimmCurrencyDenomination = [{
            name: 'MYR',
            id: '1',
          }]
          this.model.subManagerName = 'Mohd Khairul'
          this.model.syariahCompliant = '1'
          this.model.annualMgmtStatus = '1'
          this.model.declarationFundPerf = '1'
          this.model.epfStatus = '1'
          this.model.diclosureDailyNav = '1'
          this.model.fundName = 'A.D.Financial Berhad'
          this.model.expiryDate = '2022-03-15'
          this.model.anualMgmtFee = [{
            name: '9%',
          }]
          this.model.performanceFee = [{
            name: '9%',
          }]
          this.model.ratio = '20:30'
          this.model.hurdleRate = '22.7%'
          this.model.launchPrice = '1000'
          this.model.minSalesCharge = '10000'
          this.model.launchDate = '2020-12-27'
          this.model.finYearEnd = '2020-12-27'
          this.model.schemeStructure = [{
            name: 'UTF',
            id: '1',
          }]
          this.model.locFocused = [{
            name: 'Local-Focused',
            id: '1',
          }]
          this.model.wholeSaleFund = '1'
          this.model.feederFund = '1'
        }
      }
    },
    back () {
      this.$router.go(-1)
    },
  },
  data () {
    return {
      newFund: true,
      // existingFund:false,

      showumbrellaFund: false,
      showFundList: false,
      tabIndex: 0,
      tabModal: 0,
      expiryDate: null,
      launchDate: null,
      finYearEnd: null,
      fee: [{
        name: '1%',
      },
      {
        name: '2%',
      },
      {
        name: '3%',
      },
      {
        name: '4%',
      },
      {
        name: '5%',
      },
      {
        name: '6%',
      },
      {
        name: '7%',
      },
      {
        name: '8%',
      },
      {
        name: '9%',
      },
      {
        name: '10%',
      }],
      mgmtComp: [
        {
          no: 1,
          name: 'A.D.Fincancial Sdn. Bhd.',
        },
        {
          no: 2,
          name: 'Affin Bank Berhad',
        },
        {
          no: 3,
          name: 'Affin Hwang Asset Management Berhad',
        },
        {
          no: 4,
          name: 'AIA Pension and Asset Management Sdn. Bhd.',
        },
        {
          no: 5,
          name: 'Manulife Investment Management (M) Berhad',
        },
        {
          no: 6,
          name: 'Principal Asset Management Berhad',
        },
        {
          no: 7,
          name: 'Public Mutual Bank Berhad',
        },
      ],
      photoUploadList: [
        {
          id: '1',
          fileName: "Copy of approval letter from the SC/Fund Lodgement Summary from the SC's LOLA Online Submission System for new fund",
          type: 'file',
          filePath: '',
          selected: false,
        },
        {
          id: '2',
          fileName: 'Two sets pf Prospectus/Information Memorendum/Product Highlight Sheet/Disclosure Document',
          type: 'file',
          filePath: '',
          selected: false,
        },
        {
          id: '3',
          fileName: 'Key Data section of the Prospectus/Information Memorendum/Product Highlight Sheet/Disclosure Document duly registered with the SC',
          type: 'file',
          filePath: '',
          selected: false,
        },
        {
          id: '4',
          fileName: 'For funds approval under the ASEAN CIS, a copy of approval letter from the SC for the appointment of the company as Local Representive',
          type: 'file',
          filePath: '',
          selected: false,
        },
      ],
      fundType: [
        {
          id: '1',
          name: 'sfsfsdf',
          selected: false,
        },
        {
          id: '2',
          name: 'sdfsfsf',
        },
        {
          id: '3',
          name: 'sdfsdf',
        },
      ],
      syariahCompliant: [
        {
          value: '1',
          name: 'Yes',
        },
        {
          value: '2',
          name: 'No',
        },
      ],
      anualMgmtStatus: [
        {
          value: '1',
          name: 'Yes',
        },
        {
          value: '2',
          name: 'No',
        },
      ],
      declarationFundPerf: [
        {
          value: '1',
          name: 'Yes',
        },
        {
          value: '2',
          name: 'No',
        },
      ],
      epfStatus: [
        {
          value: '1',
          name: 'Yes',
        },
        {
          value: '2',
          name: 'No',
        },
      ],
      diclosureDailyNav: [
        {
          value: '1',
          name: 'Yes',
        },
        {
          value: '2',
          name: 'No',
        },
      ],
      feederFund: [
        {
          value: '1',
          name: 'Yes',
        },
        {
          value: '2',
          name: 'No',
        },
      ],
      fields: [
        // A virtual column that doesn't exist in items
        { key: 'index', label: 'No' },
        // A column that needs custom formatting
        { key: 'fundName', label: 'Fund Name' },
        { key: 'actions', label: '' },
      ],
      umbrellaList: [
        {
          id: '0',
          name: 'None',
        },
        {
          id: '1',
          name: 'Advantage Global Equity Volatility Focused',
          selected: false,
        },
        {
          id: '2',
          name: 'Amaustralia',
          selected: false,
        },
        {
          id: '3',
          name: 'Amchina A-Shares',
          selected: false,
        },

      ],
      fundList: [
        {
          id: '0',
          name: 'None',
          selected: false,
        },
        {
          id: '1',
          name: 'EASTSPRING INVESTMENTS TARGET INCOME 12',
          selected: false,
        },
        {
          id: '2',
          name: 'AFFIN HWANG FLEXIBLE MATURITY INCOME 20',
          selected: false,
        },
        {
          id: '3',
          name: 'AFFIN HWANG SHARIAH GOLD TRACKER',
          selected: false,
        },
      ],
      fundDomicite: [
        {
          name: 'Afghanistan',
          code: 'AF',
        },
        {
          name: 'Åland Islands',
          code: 'AX',
        },
        {
          name: 'Albania',
          code: 'AL',
        },
        {
          name: 'Algeria',
          code: 'DZ',
        },
        {
          name: 'American Samoa',
          code: 'AS',
        },
        {
          name: 'AndorrA',
          code: 'AD',
        },
        {
          name: 'Angola',
          code: 'AO',
        },
        {
          name: 'Anguilla',
          code: 'AI',
        },
        {
          name: 'Antarctica',
          code: 'AQ',
        },
        {
          name: 'Antigua and Barbuda',
          code: 'AG',
        },
        {
          name: 'Argentina',
          code: 'AR',
        },
        {
          name: 'Armenia',
          code: 'AM',
        },
        {
          name: 'Aruba',
          code: 'AW',
        },
        {
          name: 'Australia',
          code: 'AU',
        },
        {
          name: 'Austria',
          code: 'AT',
        },
        {
          name: 'Azerbaijan',
          code: 'AZ',
        },
        {
          name: 'Bahamas',
          code: 'BS',
        },
        {
          name: 'Bahrain',
          code: 'BH',
        },
        {
          name: 'Bangladesh',
          code: 'BD',
        },
        {
          name: 'Barbados',
          code: 'BB',
        },
        {
          name: 'Belarus',
          code: 'BY',
        },
        {
          name: 'Belgium',
          code: 'BE',
        },
        {
          name: 'Belize',
          code: 'BZ',
        },
        {
          name: 'Benin',
          code: 'BJ',
        },
        {
          name: 'Bermuda',
          code: 'BM',
        },
        {
          name: 'Bhutan',
          code: 'BT',
        },
        {
          name: 'Bolivia',
          code: 'BO',
        },
        {
          name: 'Bosnia and Herzegovina',
          code: 'BA',
        },
        {
          name: 'Botswana',
          code: 'BW',
        },
        {
          name: 'Bouvet Island',
          code: 'BV',
        },
        {
          name: 'Brazil',
          code: 'BR',
        },
        {
          name: 'British Indian Ocean Territory',
          code: 'IO',
        },
        {
          name: 'Brunei Darussalam',
          code: 'BN',
        },
        {
          name: 'Bulgaria',
          code: 'BG',
        },
        {
          name: 'Burkina Faso',
          code: 'BF',
        },
        {
          name: 'Burundi',
          code: 'BI',
        },
        {
          name: 'Cambodia',
          code: 'KH',
        },
        {
          name: 'Cameroon',
          code: 'CM',
        },
        {
          name: 'Canada',
          code: 'CA',
        },
        {
          name: 'Cape Verde',
          code: 'CV',
        },
        {
          name: 'Cayman Islands',
          code: 'KY',
        },
        {
          name: 'Central African Republic',
          code: 'CF',
        },
        {
          name: 'Chad',
          code: 'TD',
        },
        {
          name: 'Chile',
          code: 'CL',
        },
        {
          name: 'China',
          code: 'CN',
        },
        {
          name: 'Christmas Island',
          code: 'CX',
        },
        {
          name: 'Cocos (Keeling) Islands',
          code: 'CC',
        },
        {
          name: 'Colombia',
          code: 'CO',
        },
        {
          name: 'Comoros',
          code: 'KM',
        },
        {
          name: 'Congo',
          code: 'CG',
        },
        {
          name: 'Congo, The Democratic Republic of the',
          code: 'CD',
        },
        {
          name: 'Cook Islands',
          code: 'CK',
        },
        {
          name: 'Costa Rica',
          code: 'CR',
        },
        {
          name: 'Cote D"Ivoire',
          code: 'CI',
        },
        {
          name: 'Croatia',
          code: 'HR',
        },
        {
          name: 'Cuba',
          code: 'CU',
        },
        {
          name: 'Cyprus',
          code: 'CY',
        },
        {
          name: 'Czech Republic',
          code: 'CZ',
        },
        {
          name: 'Denmark',
          code: 'DK',
        },
        {
          name: 'Djibouti',
          code: 'DJ',
        },
        {
          name: 'Dominica',
          code: 'DM',
        },
        {
          name: 'Dominican Republic',
          code: 'DO',
        },
        {
          name: 'Ecuador',
          code: 'EC',
        },
        {
          name: 'Egypt',
          code: 'EG',
        },
        {
          name: 'El Salvador',
          code: 'SV',
        },
        {
          name: 'Equatorial Guinea',
          code: 'GQ',
        },
        {
          name: 'Eritrea',
          code: 'ER',
        },
        {
          name: 'Estonia',
          code: 'EE',
        },
        {
          name: 'Ethiopia',
          code: 'ET',
        },
        {
          name: 'Falkland Islands (Malvinas)',
          code: 'FK',
        },
        {
          name: 'Faroe Islands',
          code: 'FO',
        },
        {
          name: 'Fiji',
          code: 'FJ',
        },
        {
          name: 'Finland',
          code: 'FI',
        },
        {
          name: 'France',
          code: 'FR',
        },
        {
          name: 'French Guiana',
          code: 'GF',
        },
        {
          name: 'French Polynesia',
          code: 'PF',
        },
        {
          name: 'French Southern Territories',
          code: 'TF',
        },
        {
          name: 'Gabon',
          code: 'GA',
        },
        {
          name: 'Gambia',
          code: 'GM',
        },
        {
          name: 'Georgia',
          code: 'GE',
        },
        {
          name: 'Germany',
          code: 'DE',
        },
        {
          name: 'Ghana',
          code: 'GH',
        },
        {
          name: 'Gibraltar',
          code: 'GI',
        },
        {
          name: 'Greece',
          code: 'GR',
        },
        {
          name: 'Greenland',
          code: 'GL',
        },
        {
          name: 'Grenada',
          code: 'GD',
        },
        {
          name: 'Guadeloupe',
          code: 'GP',
        },
        {
          name: 'Guam',
          code: 'GU',
        },
        {
          name: 'Guatemala',
          code: 'GT',
        },
        {
          name: 'Guernsey',
          code: 'GG',
        },
        {
          name: 'Guinea',
          code: 'GN',
        },
        {
          name: 'Guinea-Bissau',
          code: 'GW',
        },
        {
          name: 'Guyana',
          code: 'GY',
        },
        {
          name: 'Haiti',
          code: 'HT',
        },
        {
          name: 'Heard Island and Mcdonald Islands',
          code: 'HM',
        },
        {
          name: 'Holy See (Vatican City State)',
          code: 'VA',
        },
        {
          name: 'Honduras',
          code: 'HN',
        },
        {
          name: 'Hong Kong',
          code: 'HK',
        },
        {
          name: 'Hungary',
          code: 'HU',
        },
        {
          name: 'Iceland',
          code: 'IS',
        },
        {
          name: 'India',
          code: 'IN',
        },
        {
          name: 'Indonesia',
          code: 'ID',
        },
        {
          name: 'Iran, Islamic Republic Of',
          code: 'IR',
        },
        {
          name: 'Iraq',
          code: 'IQ',
        },
        {
          name: 'Ireland',
          code: 'IE',
        },
        {
          name: 'Isle of Man',
          code: 'IM',
        },
        {
          name: 'Israel',
          code: 'IL',
        },
        {
          name: 'Italy',
          code: 'IT',
        },
        {
          name: 'Jamaica',
          code: 'JM',
        },
        {
          name: 'Japan',
          code: 'JP',
        },
        {
          name: 'Jersey',
          code: 'JE',
        },
        {
          name: 'Jordan',
          code: 'JO',
        },
        {
          name: 'Kazakhstan',
          code: 'KZ',
        },
        {
          name: 'Kenya',
          code: 'KE',
        },
        {
          name: 'Kiribati',
          code: 'KI',
        },
        {
          name: 'Korea, Democratic People"S Republic of',
          code: 'KP',
        },
        {
          name: 'Korea, Republic of',
          code: 'KR',
        },
        {
          name: 'Kuwait',
          code: 'KW',
        },
        {
          name: 'Kyrgyzstan',
          code: 'KG',
        },
        {
          name: 'Lao People"S Democratic Republic',
          code: 'LA',
        },
        {
          name: 'Latvia',
          code: 'LV',
        },
        {
          name: 'Lebanon',
          code: 'LB',
        },
        {
          name: 'Lesotho',
          code: 'LS',
        },
        {
          name: 'Liberia',
          code: 'LR',
        },
        {
          name: 'Libyan Arab Jamahiriya',
          code: 'LY',
        },
        {
          name: 'Liechtenstein',
          code: 'LI',
        },
        {
          name: 'Lithuania',
          code: 'LT',
        },
        {
          name: 'Luxembourg',
          code: 'LU',
        },
        {
          name: 'Macao',
          code: 'MO',
        },
        {
          name: 'Macedonia, The Former Yugoslav Republic of',
          code: 'MK',
        },
        {
          name: 'Madagascar',
          code: 'MG',
        },
        {
          name: 'Malawi',
          code: 'MW',
        },
        {
          name: 'Malaysia',
          code: 'MY',
        },
        {
          name: 'Maldives',
          code: 'MV',
        },
        {
          name: 'Mali',
          code: 'ML',
        },
        {
          name: 'Malta',
          code: 'MT',
        },
        {
          name: 'Marshall Islands',
          code: 'MH',
        },
        {
          name: 'Martinique',
          code: 'MQ',
        },
        {
          name: 'Mauritania',
          code: 'MR',
        },
        {
          name: 'Mauritius',
          code: 'MU',
        },
        {
          name: 'Mayotte',
          code: 'YT',
        },
        {
          name: 'Mexico',
          code: 'MX',
        },
        {
          name: 'Micronesia, Federated States of',
          code: 'FM',
        },
        {
          name: 'Moldova, Republic of',
          code: 'MD',
        },
        {
          name: 'Monaco',
          code: 'MC',
        },
        {
          name: 'Mongolia',
          code: 'MN',
        },
        {
          name: 'Montserrat',
          code: 'MS',
        },
      ],

      fundCategory: [
        {
          name: 'Alternatives',
          id: '1',
        },
      ],
      schemaStructure: [
        {
          name: 'UTF',
          id: '1',
        },
      ],

      localFocused: [
        {
          name: 'Local-Focused',
          id: '1',
        },
      ],

      currencyDenomination: [
        {
          name: 'MYR',
          id: '1',
        },
      ],

      model: {
        mgmtCompany: null,
        selectedFund: null,
        selectedUmbrellaFund: null,
        fimmFundCode: this.FUNDPROFILE.FUND_CODE_FIMM,
        memberFundCode: this.FUNDPROFILE.FUND_CODE_MEMBER,
        expiryDate: this.FUNDPROFILE.FUND_DATE_EXPIRY,
        fundChineseName: this.FUNDPROFILE.FUND_NAME_CHINESE,
        fundShortName: this.FUNDPROFILE.FUND_NAME_SHORT,
        fimmFundType: '',
        fimmFundCategory: '',
        fimmDomicite: '',
        fimmCurrencyDenomination: '',
        subManagerName: this.FUNDPROFILE.FUND_SUB_MANAGER,
        syariahCompliant: this.FUNDPROFILE.FUND_SYARIAH_COMP,
        annualMgmtStatus: this.FUNDPROFILE.FUND_ANNUAL_MGMT,
        declarationFundPerf: this.FUNDPROFILE.FUND_FUND_PERFORMANCE,
        epfStatus: this.FUNDPROFILE.FUND_STATUS_EPF,
        diclosureDailyNav: this.FUNDPROFILE.FUND_DAILY_NAV,
        fundStatus: this.FUNDPROFILE.FUND_STATUS_FUND,
        fundName: this.FUNDPROFILE.FUND_NAME,
        anualMgmtFee: {'name':this.FUNDPROFILE.FUND_FEE_ANNUAL},
        performanceFee: '',
        ratio: this.FUNDPROFILE.FUND_RATIO,
        launchDate: this.FUNDPROFILE.FUND_DATE_LAUNCH,
        finYearEnd: this.FUNDPROFILE.FUND_YEAR_END,
        schemeStructure: '',
        locFocused: '',
        wholeSaleFund: this.FUNDPROFILE.FUND_WHOLESALE,
        feederFund: this.FUNDPROFILE.FUND_FEEDER,
        hurdleRate: this.FUNDPROFILE.FUND_HURDLE,
        launchPrice: this.FUNDPROFILE.FUND_PRICE_PERUNIT,
        minSalesCharge: this.FUNDPROFILE.FUND_SALES_CHARGE,
      },

      schemaUmbrellaFund: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'vueMultiSelect',
                model: 'selectedUmbrellaFund',
                label: 'Umbrella Fund',
                placeholder: 'Select Umbrella Fund',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-12',
                selectOptions: {
                  multiple: false,
                  key: 'name',
                  label: 'name',
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.umbrellaList
                },
              },

              {
                type: 'vueMultiSelect',
                model: 'selectedFund',
                label: 'Select Fund',
                placeholder: 'Select Fund',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-12',
                selectOptions: {
                  multiple: false,
                  key: 'name',
                  label: 'name',
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.fundList
                },
                visible: (model, field, form) => {
                  return this.showFundList
                },
              },
            ],
          },
        ],
      },

      schemaFundList: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'vueMultiSelect',
                model: 'mgmtCompany',
                label: 'Management Company',
                placeholder: 'Select Management Company',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-12',
                selectOptions: {
                  multiple: false,
                  key: 'name',
                  label: 'name',
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.mgmtComp
                },
                //     visible: (model, field, form) => {
                //       return this.newFund
                // }
              },
              {
                type: 'vueMultiSelect',
                model: 'selectedUmbrellaFund',
                label: 'Umbrella Fund',
                placeholder: 'Select Umbrella Fund',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-12',
                selectOptions: {
                  multiple: false,
                  key: 'name',
                  label: 'name',
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.umbrellaList
                },
                visible: (model, field, form) => {
                  return this.showumbrellaFund
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'selectedFund',
                label: 'Select Fund',
                placeholder: 'Select Fund',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-12',
                selectOptions: {
                  multiple: false,
                  key: 'name',
                  label: 'name',
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.fundList
                },
                visible: (model, field, form) => {
                  return this.showFundList
                },
              },
            ],
          },
        ],
      },

      schemaNewFund: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'input',
                inputType: 'text',
                label: 'FiMM Fund Code',
                model: 'FUND_CODE_FIMM',
                disabled: true,
                styleClasses: 'col-md-3',
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Member Fund Code',
                model: 'FUND_CODE_MEMBER',
                placeholder: 'Enter member fund code',
                disabled: false,
                styleClasses: 'col-md-3',
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'SC Fund Code',
                model: 'SC_CODE_MEMBER',
                placeholder: 'Enter SC fund code',
                disabled: false,
                styleClasses: 'col-md-3',
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Lipper Fund Code',
                model: 'LIPPER_CODE_MEMBER',
                placeholder: 'Enter lipper fund code',
                disabled: false,
                styleClasses: 'col-md-3',
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'ISIN',
                model: 'ISIN',
                placeholder: 'Enter ISIN',
                validator: 'string',
                styleClasses: 'col-md-12',
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Fund Short Name',
                model: 'FUND_NAME_SHORT',
                placeholder: 'Enter fund short name',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-12',
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Fund Chinese Name (Traditional)',
                model: 'FUND_NAME_CHINESE',
                placeholder: 'Enter fund chinese name',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-12',
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_TYPE',
                label: 'FiMM Fund Type',
                placeholder: 'Select FiMM fund type',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-4',
                selectOptions: {
                  multiple: false,
                  key: 'FMS_FUNDTYPE_ID',
                  label: 'FUND_NAME',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.FundTypeList
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_CATEGORY',
                label: 'FiMM Fund Category',
                placeholder: 'Select FiMM fund type',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-4',
                selectOptions: {
                  multiple: false,
                  key: 'FMS_FUNDCATEGORY_ID',
                  label: 'GROUP_ASSET',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.FundCategoryList
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_DOMICILE',
                label: 'Fund Domicile',
                placeholder: 'Select domicile',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-3',
                selectOptions: {
                  multiple: false,
                  key: 'FUND_DOMICILE_ID',
                  label: 'FUND_DOMICILE_NAME',
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.FundDomicileList
                },
              },
              {
                labels: 'Fund Expiry Date',
                type: 'vfg-functional-date',
                placeholder: 'Expiry Date',
                model: 'FUND_DATE_EXPIRY',
                noLabel: true,
                noClearButton: true,
                format: 'dd-MM-yyyy',
                styleClasses: 'col-md-3',
                required: true,
              },
              // {
              //   labels: 'Name Change Effective Date',
              //   type: 'vfg-functional-date',
              //   placeholder: 'Date',
              //   model: 'FUND_DATE_NAME_CHANGE_EFFECTIVE',
              //   noLabel: true,
              //   noClearButton: true,
              //   format: 'dd-MM-yyyy',
              //   styleClasses: 'col-md-4',
              //   required: true,
              // },
              {
                type: 'radios',
                label: 'SRI/ESG Status',
                model: 'FUND_STATUS_SRI_ESG',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-2 display-inline',
                values: () => {
                  return this.FUND_STATUS_SRI_ESG
                },
              },
              {
                labels: 'SRI/ESG Effective Date',
                type: 'vfg-functional-date',
                placeholder: 'Date',
                model: 'FUND_DATE_SRI_ESG_EFFECTIVE_DATE',
                noLabel: true,
                noClearButton: true,
                format: 'dd-MM-yyyy',
                styleClasses: 'col-md-4',
                required: true,
                visible: (model, field, form) => {
                  return this.showSRIESG
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_CURR_DENOMINATION',
                label: 'FiMM Currency Denomination',
                placeholder: 'Select FiMM currency denomination',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-4',
                selectOptions: {
                  multiple: false,
                  key: 'SETTING_GENERAL_ID',
                  label: 'SET_PARAM',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.getAllCurrencyFormat
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Sub Manager Name',
                model: 'FUND_SUB_MANAGER',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-12',
              },
              {
                type: 'radios',
                label: 'Syariah Compliant',
                model: 'FUND_SYARIAH_COMP',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-2 display-inline',
                values: () => {
                  return this.FUND_SYARIAH_COMP
                },
              },
              {
                type: 'radios',
                label: 'Annual Management Status',
                model: 'FUND_ANNUAL_MGMT',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-3 display-inline',
                values: () => {
                  return this.anualMgmtStatus
                },
              },
              {
                type: 'radios',
                label: 'Declaration of Fund Performance',
                model: 'FUND_FUND_PERFORMANCE',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-3 display-inline',
                values: () => {
                  return this.FUND_FUND_PERFORMANCE
                },
              },
              {
                type: 'radios',
                label: 'EPF Status',
                model: 'FUND_STATUS_EPF',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                values: () => {
                  return this.FUND_STATUS_EPF
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Fund EPF Code',
                model: 'FUND_EPF_CODE',
                placeholder: 'Enter EPF code',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                visible: (model, field, form) => {
                  return this.showEPF
                },
              },
              {
                type: 'radios',
                label: 'Disclosure of Daily NAV in the newspaper',
                model: 'FUND_DAILY_NAV',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-6 display-inline',
                values: () => {
                  return this.FUND_DAILY_NAV
                },
              },
              {
                type: 'radios',
                label: 'MER Status',
                model: 'FUND_STATUS_MER',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                values: () => {
                  return this.FUND_STATUS_MER
                },

              },
              {
                type: 'input',
                inputType: 'text',
                label: 'MER',
                model: 'FUND_MER',
                placeholder: 'Enter MER',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                visible: (model, field, form) => {
                  return this.visibleMer
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Fund Status',
                model: 'FUND_STATUS_FUND',
                disabled: true,
                styleClasses: 'col',
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_FEE_ANNUAL',
                label: 'Annual Management Fee',
                placeholder: 'Select annual management fee',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-6',
                selectOptions: {
                  multiple: false,
                  key: 'name',
                  label: 'name',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.fee
                },
              },
              {
                type: 'radios',
                label: 'Performance Fee Status',
                model: 'FUND_STATUS_FEE_PERFORMANCE',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                values: () => {
                  return this.FUND_STATUS_PERFORMANCE_FEE
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_FEE_PERFORMANCE',
                label: 'Performance Fee',
                placeholder: 'Select performance fee',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-6',
                selectOptions: {
                  multiple: false,
                  key: 'name',
                  label: 'name',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.PerformanceFee
                },
                visible: (model, field, form) => {
                  return this.showPerformanceFee
                },
              },
              {
                type: 'radios',
                label: 'Ratio Status',
                model: 'FUND_STATUS_RATIO',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                values: () => {
                  return this.FUND_STATUS_RATIO
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Ratio',
                model: 'FUND_RATIO',
                placeholder: 'e.g 20:80 with UTMC portion comes first',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-6',
                visible: (model, field, form) => {
                  return this.showRatio
                },
              },
              {
                type: 'radios',
                label: 'Hurdle Rate Status',
                model: 'FUND_STATUS_HURDLE_RATE',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                values: () => {
                  return this.FUND_STATUS_EPF
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Hurdle Rate',
                model: 'FUND_HURDLE',
                placeholder: 'e.g x.xx%',
                required: true,
                validator: 'string',
                styleClasses: 'col',
                visible: (model, field, form) => {
                  return this.showHurdleRate
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Launch Price per unit',
                model: 'FUND_PRICE_PERUNIT',
                placeholder: 'e.g x.xxxx',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-6',
              },
              {
                labels: 'Launch Date',
                type: 'vfg-functional-date',
                placeholder: 'Launch Date',
                model: 'FUND_DATE_LAUNCH',
                noLabel: true,
                noClearButton: true,
                format: 'dd-MM-yyyy',
                styleClasses: 'col',
                required: true,
              },
              // {
              //   labels: 'Maturity/Fund Closure Date',
              //   type: 'vfg-functional-date',
              //   placeholder: 'Maturity/Fund Closure Date',
              //   model: 'FUND_DATE_MATURITY_FUND_CLOSURE',
              //   noLabel: true,
              //   noClearButton: true,
              //   format: 'dd-MM-yyyy',
              //   styleClasses: 'col',
              //   required: true,
              // },
              // {
              //   labels: 'Suspension Date',
              //   type: 'vfg-functional-date',
              //   placeholder: 'Suspension Date',
              //   model: 'FUND_DATE_SUSPENSION',
              //   noLabel: true,
              //   noClearButton: true,
              //   format: 'dd-MM-yyyy',
              //   styleClasses: 'col',
              //   required: true,
              // },
              // {
              //   labels: 'Reactivation Date',
              //   type: 'vfg-functional-date',
              //   placeholder: 'Reactivation Date',
              //   model: 'FUND_DATE_REACTIVATION',
              //   noLabel: true,
              //   noClearButton: true,
              //   format: 'dd-MM-yyyy',
              //   styleClasses: 'col',
              //   required: true,
              // },
              {
                labels: 'Financial Year End',
                type: 'vfg-functional-date',
                placeholder: 'Financial Year End',
                model: 'FUND_YEAR_END',
                noLabel: true,
                noClearButton: true,
                format: 'dd-MM-yyyy',
                styleClasses: 'col-md-6',
                required: true,
              },
              {
                type: 'radios',
                label: 'Sale Charge Status',
                model: 'FUND_STATUS_SALE_CHARGE',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                values: () => {
                  return this.FUND_STATUS_SALE_CHARGE
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Minimum Sales Charge',
                model: 'FUND_SALES_CHARGE_MINIMUM',
                placeholder: 'e.g x.xx%',
                required: true,
                validator: 'string',
                styleClasses: 'col',
                visible: (model, field, form) => {
                  return this.showSalesCharge
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Maximum Sales Charge',
                model: 'FUND_SALES_CHARGE_MAXIMUM',
                placeholder: 'e.g x.xx%',
                required: true,
                validator: 'string',
                styleClasses: 'col',
                visible: (model, field, form) => {
                  return this.showSalesCharge
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Effective Sales Charge',
                model: 'FUND_SALES_CHARGE_EFFECTIVE',
                placeholder: 'e.g x.xx%',
                required: true,
                validator: 'string',
                styleClasses: 'col',
                visible: (model, field, form) => {
                  return this.showSalesCharge
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_SCHEME',
                label: 'Scheme Structure',
                placeholder: 'Select scheme structure',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-6',
                selectOptions: {
                  multiple: false,
                  key: 'FMS_SCHEME_ID',
                  label: 'FMS_SCHEME_NAME',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.FundSchemeList
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_UNITS',
                label: 'Units Structure',
                placeholder: 'Select units structure',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-6',
                selectOptions: {
                  multiple: false,
                  key: 'id',
                  label: 'name',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.unitStructure
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_FOCUS_INVESTMENT',
                label: 'Investment Focus',
                placeholder: 'Select investment focus',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-6',
                selectOptions: {
                  multiple: false,
                  key: 'id',
                  label: 'name',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.investmentFocus
                },
              },
              {
                type: 'radios',
                label: 'Wholesale Fund',
                model: 'FUND_WHOLESALE',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-6 display-inline',
                values: () => {
                  return this.FUND_SYARIAH_COMP
                },
              },
              {
                type: 'radios',
                label: 'Feeder Fund',
                model: 'FUND_FEEDER',
                required: true,
                validator: 'string',
                styleClasses: 'col display-inline',
                values: () => {
                  return this.FUND_FEEDER
                },
              },
              {
                type: 'radios',
                label: 'FOF',
                model: 'FUND_FOF',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-6 display-inline',
                values: () => {
                  return this.FUND_SYARIAH_COMP
                },
              },
              {
                type: 'radios',
                label: 'UCITS',
                model: 'FUND_UCITS',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-6 display-inline',
                values: () => {
                  return this.FUND_SYARIAH_COMP
                },
              },
              {
                type: 'radios',
                label: 'ASEAN CIS',
                model: 'FUND_ASEAN_CIS_STATUS',
                required: true,
                validator: 'string',
                styleClasses: 'col-md-6 display-inline',
                values: () => {
                  return this.FUND_ASEAN_CIS_STATUS
                },
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'FUND ASEAN CIS',
                model: 'FUND_ASEAN_CIS',
                placeholder: 'Enter Fund ASEAN CIS',
                required: true,
                validator: 'string',
                styleClasses: 'col',
                visible: (model, field, form) => {
                  return this.showAseanCIS
                },
              },
              {
                type: 'vueMultiSelect',
                model: 'FUND_NOTES',
                label: 'Fund Notes',
                placeholder: 'Select fund notes',
                required: true,
                validator: 'required',
                styleClasses: 'col-md-4',
                selectOptions: {
                  multiple: true,
                  key: 'FUNDNOTES_ID',
                  label: 'FUNDNOTES_DESC',
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.FundNoteList
                },
              },
            ],
          },
        ],
      },

      formOptions: {
        // validationErrorClass: "has-error",
        // validationSuccessClass: "has-`success`",
        validateAfterChanged: true,
      },
    }
  },
}
</script>
