/* eslint-disable no-unused-expressions */
<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <vudal name="showStaticModalOK" class="widthModal">
            <div class="content">
              <p>
                Your submission has been submitted, please wait for approval.
              </p>
              <div class="actions">
                <button
                  type="button"
                  class="cancel vudal-btn mr-2 btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-edit" /> &nbsp; Ok
                </button>
              </div>
            </div>
          </vudal>
          <vudal name="showStaticModalSaveAsDraft" class="widthModal">
            <div class="content">
              <p>Your submission has been save as draft.</p>
              <div class="actions">
                <button
                  type="button"
                  class="cancel vudal-btn mr-2 btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-edit" /> &nbsp; Ok
                </button>
              </div>
            </div>
          </vudal>
          <vudal name="showStaticModal" class="widthModal">
            <div class="content">
              <vue-form-generator
                :model="model"
                :schema="declarationSchema"
                :options="formOptions"
                ref="declarationRef"
                @model-updated="onModelUpdated"
              ></vue-form-generator>
            </div>
            <div class="actions">
              <button
                type="button"
                class="cancel vudal-btn mr-2 btn btn-danger btn-fill btn-md"
              >
                <i class="fa fa-times" /> &nbsp; Disagree
              </button>
              <button
                @click="submitDistributor"
                type="button"
                class="vudal-btn mr-2 btn btn-success btn-fill btn-md"
              >
                <i class="fa fa-edit" /> &nbsp; Agree
              </button>
            </div>
          </vudal>
          <va-card>
            <h4 slot="header" class="card-title">Fund Creation</h4>
            <br />
            <vue-form-generator
              v-if="newFund == false"
              :model="model"
              :schema="schemaFundList"
              :options="formOptions"
              @model-updated="onModelUpdated"
              ref="dropdownformFundList"
            >
            </vue-form-generator>
            <vue-form-generator
              v-if="newFund == true"
              :model="model"
              :schema="schemaUmbrellaFund"
              :options="formOptions"
              @model-updated="onModelUpdated"
              ref="dropdownformUmbrellaFund"
            >
            </vue-form-generator>
            <div>
              <br />
              <b-tabs
                v-if="
                  ( (newFund == false || newFund == true) &&
                    model.selectedUmbrellaFund != null || model.inputUmbrellaFund != null || model.setVisibleUmbrellaFund == true ||
                    model.selectedFund != null
                    )
                "
                content-class="mt-3"
                v-on:activate-tab="tabActivated"
                ref="tabs"
                v-model="tabModal"
              >
                <b-tab title="Fund Profile" active>
                  <br />
                  <vue-form-generator
                    :model="model"
                    :schema="schemaNewFund"
                    :options="formOptions"
                    @model-updated="onModelUpdated"
                    ref="profileFundForm"
                  >
                  </vue-form-generator>
                  <br />
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund2"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br/>
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund3"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund4"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund5"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br/>
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund6"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund7"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund8"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund9"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund10"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br />
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund11"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <div>
                    <vue-form-generator
                      :model="model"
                      :schema="schemaNewFund12"
                      :options="formOptions"
                      @model-updated="onModelUpdated"
                      ref="profileFundForm"
                    ></vue-form-generator>
                  </div>
                  <br />
                  <button
                    v-if="
                        tabIndex == 0
                    "
                    type="submit"
                    class="ml-2 btn btn-primary btn-fill float-right btn-md"
                    @click="$refs.tabs.nextTab()"
                  >
                    Next &nbsp;<i class="fa fa-step-forward" />
                  </button>
                </b-tab>
                <b-tab title="Document">
                  <div style="overflow-x:auto;">
                    <table class="table">
                      <thead>
                        <slot name="columns">
                          <tr>
                          </tr>
                        </slot>
                      </thead>
                      <tbody>
                        <br />
                        <vue-form-generator
                          :model="model"
                          :schema="fileUploadSchema"
                          :options="formOptions"
                          ref="fileUploadForm"
                        ></vue-form-generator>
                      </tbody>
                    </table>
                  </div>
                  <br />
                  <div>
                    <button
                      type="submit"
                      class="ml-2 btn btn-primary btn-fill float-left btn-md"
                      @click="previous()"
                    >
                      <i class="fa fa-step-backward" />
                      Previous &nbsp;
                      <!-- <i class="fa fa-step-forward" /> -->
                    </button>
                  </div>
                  <div class="float-right">
                    <button
                      @click="saveAsDraft"
                      type="button"
                      class="mr-2 btn btn-info btn-fill btn-md"
                    >
                      <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary btn-fill float-right btn-md"
                      @click.prevent="onSubmit"
                    >
                      <i class="fa fa-paper-plane" /> &nbsp; Submit
                    </button>
                  </div>
                </b-tab>
              </b-tabs>
            </div>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.icon-flex,
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid blue;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapper i {
  color: blue;
}

.icon-wrapperConsultant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapperConsultant {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid green;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapperConsultant i {
  color: green;
}

.icon-wrapperBoth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapperBoth {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #6600ff;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapperBoth i {
  color: #6600ff;
}
.inline {
  display: inline-flex;
  float: right;
}
.display-inline label {
  display: inline !important;
  padding: 5px;
}
</style>
<script>
// import Vue from "vue";
import moment from "moment";
import { debounce } from "lodash";
import * as servicesModule0main from "../../../app/module0/services";
import * as servicesModule0second from "../../../app/module0/services02";
import * as servicesModule0sixth from "../../../app/module0/services06";
import * as servicesModule5 from "../../../app/module5/services03";

export default {
  mounted() {
    // this.getBackData();

    const fund = localStorage.getItem("fundDetails");
    // if (JSON.parse(fund).FUND_STATUS_FUND = "DRAFT") {
    //   this.getFundProfileDataById(JSON.parse(fund).FUND_PROFILE_ID);
    // }
    this.getAllUmbrellafundLists();
    this.getAllFundCategoryList();
    this.getAllSchemeList();
    this.getAllFundNotesList();
    this.getAllFundDomicileList();

    this.getAllFundTypeList();
    this.getDistributorType();

    this.getAllCurrencyFormat();

    this.getRunningNoFundCode();

  },
  methods: {
    // tabActivated (newTabIndex, oldTabIndex, event) {
    //   console.log(newTabIndex)
    //   if (this.$refs.profileFundForm.validate()) {
    //     this.tabIndex = newTabIndex
    //     console.log('validate')
    //   } else {
    //     event.preventDefault()
    //     console.log('non validate')
    //   }
    // },
    async readDateStr (value) {
      var str = value;
      var ch = '/DATE';

      var count = str.split("/DATE").length - 1;
      console.log(count);
      return count;
    },
    async getRunningNoFundCode() {
      const vm = this;
      const response = await servicesModule5.getRunningNoFundCode();
      // alert(JSON.stringify(response));
      this.model.FUND_CODE_FIMM = response;
    },
    getAllUmbrellafundLists: async function() {
      const response = await servicesModule0second.getAllUmbrellafundLists();
      this.umbrellaList = response;
      console.log(this.umbrellaList);
    },
    getAllFundCategoryList: async function() {
      const response = await servicesModule0second.getAllFundGroupList();
      this.FundCategoryList = response;
      console.log(this.FundCategoryList);
    },
    // getAllCountryList: async function () {
    //   const response = await servicesModule0second.getAllCountryList()
    //   this.FundCountryList = response
    //   console.log(this.FundCountryList)
    // },
    getAllSchemeList: async function() {
      const response = await servicesModule0second.getAllSchemeList();
      this.FundSchemeList = response;
      console.log(this.FundSchemeList);
    },

    getAllCurrencyFormat: async function() {
      const response = await servicesModule5.getAllCurrencyFormat();
      this.FundCurrencyList = response;
      console.log(this.FundCurrencyList);
    },
    getAllFundTypeList: async function() {
      const response = await servicesModule0second.getAllFundTypeList();
      this.FundTypeList = response;
      console.log(this.FundTypeList);
    },
    getAllFundDomicileList: async function() {
      const response = await servicesModule0second.getAllFundDomicileList();
      this.FundDomicileList = response;
      console.log(this.FundDomicileList);
    },
    getAllFundNotesList: async function() {
      const response = await servicesModule0second.getAllFundNotesList();
      this.FundNoteList = response;
      console.log(this.FundNoteList);
    },
    getDistributorType: async function() {
      const response = await servicesModule0main.getDistributorType();
      this.DistributorType = response;
      console.log(this.DistributorType);
    },
    async enforceAPI() {
      data.append(
        "FUND_DATE_EXPIRY",
        moment(this.model.FUND_DATE_EXPIRY).format("YYYY-MM-DD")
      );
    },

    nextTab() {
      this.tabModal = this.tabs.findIndex(tab => tab === this.$route.hash);
    },

    uploadImage(index, item) {
      item.selected = true;
      // if(index == 0){
      //   // console.log(this.$refs.applicantPhoto[0].files[0]);
      // this.applicantPhoto = this.$refs.applicantPhoto[0].files[0];
      // let reader = new FileReader();
      // reader.addEventListener(
      //   "load",
      //   function() {
      //     this.$refs.applicantPhotoDisplay[0].src = reader.result;
      //   }.bind(this),
      //   false
      // );

      // reader.readAsDataURL(this.applicantPhoto);
      // console.log(item.selected);
      // // item.selected = true;
      // }
      // else if(index == 1){
      //   this.file1 = this.$refs.file[0].files[0];
      //   item.selected = true;
      // }else if(index == 2){
      //   this.file2 = this.$refs.file2[0].files[0];
      //   item.selected = true;
      // }else if(index == 3){
      //   this.file3 = this.$refs.file3[0].files[0];
      //   item.selected = true;
      // }else if(index == 4){
      //   this.file4 = this.$refs.file4[0].files[0];
      //   item.selected = true;
      // }
    },
    previous(value) {
      if (value != undefined) {
        this.tabIndex = 0;
        this.selectedFund = value;
      }
      this.disabledNext = false;
      this.filterConsultant = null;
      this.filter = null;
      if (this.nextValue > 1) {
        this.nextValue--;
      }
      if (this.nextValue == 1) {
        this.disabledPrev = true;
      }
    },
    next(value) {
      if (value != undefined) {
        this.tabIndex = 0;
        this.selectedFund = value;
      }
      this.disabledPrev = false;
      this.filterConsultant = null;
      this.filter = null;
      if (this.nextValue < 3) {
        this.nextValue++;
      }
      if (this.nextValue == 3) {
        this.disabledNext = true;
      }
    },
    validateDivestmentForm() {
      // return this.$refs.schemaDivestmentForm.validate()
    },
    validateFundNotes(value) {
      if (value != null){
        console.log("validated");
      } else {
        return['Fund Notes must be selected before submit']
      }
    },

    async getFundProfileDataById(value) {
      const response = await servicesModule0second.getFundProfileDataById(value);
      this.FPData = response;
      console.log(this.FPData);

      // this.


    },

    submit: async function() {
      console.log("Start function submit");
      console.log(JSON.stringify(this.profileFundForm));
      if (this.$refs.profileFundForm.validate()) {
        const data = new FormData();
        const user = localStorage.getItem("user");
        console.log(JSON.stringify(this.user));
        data.append("DIST_ID", JSON.parse(user).user_id);
        data.append("DIST_USER_ID", JSON.parse(user).user_id);
        data.append("DIST_USER_GROUP", JSON.parse(user).user_id);
        data.append("FUND_CODE_FIMM", this.model.FUND_CODE_FIMM);
        data.append("FUND_CODE_MEMBER", this.model.FUND_CODE_MEMBER);
        // data.append('FUND_DATE_EXPIRY', this.model.FUND_DATE_EXPIRY.formattedValue)
        data.append("FUND_NAME_CHINESE", this.model.FUND_NAME_CHINESE);
        data.append("FUND_NAME_SHORT", this.model.FUND_NAME_SHORT);
        // data.append('FUND_TYPE', this.model.FUND_TYPE)
        // data.append('FUND_CATEGORY', this.model.FUND_CATEGORY)
        // data.append('FUND_DOMICILE', this.model.FUND_DOMICILE)
        // data.append('FUND_CURR_DENOMINATION', this.model.FUND_CURR_DENOMINATION)
        data.append("FUND_SUB_MANAGER", this.model.FUND_SUB_MANAGER);
        data.append("FUND_SYARIAH_COMP", this.model.FUND_SYARIAH_COMP);
        // data.append('FUND_ANNUAL_MGMT', this.model.FUND_ANNUAL_MGMT)
        // data.append('FUND_FUND_PERFORMANCE', this.model.FUND_FUND_PERFORMANCE)
        data.append("FUND_STATUS_EPF", this.model.FUND_STATUS_EPF);
        data.append("FUND_DAILY_NAV", this.model.FUND_DAILY_NAV);
        data.append("FUND_STATUS_FUND", this.model.FUND_STATUS_FUND);
        data.append("FUND_NAME", this.model.FUND_NAME);
        //data.append('FUND_FEE_ANNUAL', this.model.FUND_FEE_ANNUAL)
        data.append("FUND_FEE_PERFORMANCE", this.model.FUND_FEE_PERFORMANCE);
        data.append("FUND_RATIO", this.model.FUND_RATIO);
        // data.append('FUND_DATE_LAUNCH', this.model.FUND_DATE_LAUNCH)
        // data.append('FUND_YEAR_END', this.model.FUND_YEAR_END)
        // data.append('FUND_SCHEME', this.model.FUND_SCHEME)
        //  data.append('FUND_FOCUS', this.model.FUND_FOCUS)
        data.append("FUND_WHOLESALE", this.model.FUND_WHOLESALE);
        data.append("FUND_FEEDER", this.model.FUND_FEEDER);
        data.append("FUND_HURDLE", this.model.FUND_HURDLE);
        data.append("FUND_PRICE_PERUNIT", this.model.FUND_PRICE_PERUNIT);
        data.append("FUND_SALES_CHARGE", this.model.FUND_SALES_CHARGE);
        try {
          const response = await servicesModule5.createFundProfile(data);
          console.log(response);
          this.$router.push("/distributor/fundCreationlist");
        } catch (error) {
          console.log(error);
        }
      }
    },
    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema == "mgmtCompany") {
        console.log(newVal);
        this.model.selectedUmbrellaFund = null;
        this.model.selectedFund = true;
        if (newVal != null) {
          this.showumbrellaFund = true;
          this.showFundList = false;
        } else {
          this.showumbrellaFund = false;
          this.showFundList = false;
        }
      } else if (schema == "selectedUmbrellaFund") {
        this.model.selectedFund = true;
        if (newVal != 0) {
          this.showFundList = true;
        } else {
          this.showFundList = false;
        }
      } else if (schema == "FUND_CATEGORY") {
        if (this.model.FUND_CATEGORY.FMS_FUNDCATEGORY_ID === 1) {
          this.showFundDateExpiry = true;
        } else if  (this.model.FUND_CATEGORY.FMS_FUNDCATEGORY_ID === 3) {
          this.showFundDateExpiry = true;
        } else {
          this.showFundDateExpiry = false;
        }
      } else if (schema == "FUND_STATUS_MER") {
        if (newVal == 1) {
          this.visibleMer = true;
        } else {
          this.visibleMer = false;
        }
      } else if (schema == "FUND_STATUS_EPF") {
        if (newVal == 1) {
          this.showEPF = true;
        } else {
          this.showEPF = false;
        }
      } else if (schema == "FUND_STATUS_HURDLE_RATE") {
        if (newVal == 1) {
          this.showHurdleRate = true;
        } else {
          this.showHurdleRate = false;
        }
      } else if (schema == "FUND_STATUS_SALE_CHARGE") {
        if (newVal == 1) {
          this.showSalesCharge = true;
        } else {
          this.showSalesCharge = false;
        }
      } else if (schema == "FUND_STATUS_MINIMUM_SALE_CHARGE") {
        if (newVal == 1){
          this.minsalechargena = false;
          this.minsalechargemask = true;
        }else if (newVal == 0){
          this.minsalechargena = true;
          this.minsalechargemask = false;
          this.model.FUND_SALES_CHARGE_MINIMUM = "N/A";
        }
      } else if (schema == "FUND_STATUS_MAXIMUM_SALE_CHARGE") {
        if (newVal == 1){
          this.maxsalechargena = false;
          this.maxsalechargemask = true;
        }else if (newVal == 0){
          this.maxsalechargena = true;
          this.maxsalechargemask = false;
          this.model.FUND_SALES_CHARGE_MAXIMUM = "N/A";
        }
      } else if (schema == "FUND_ANNUAL_MGMT"){
        if (newVal == 1) {
          this.showAMF = true;
        } else {
          this.showAMF = false
        }
      } else if (schema == "FUND_STATUS_FEE_PERFORMANCE") {
        if (newVal == 1) {
          this.showPerformanceFee = true;
        } else {
          this.showPerformanceFee = false;
        }
      } else if (schema == "FUND_STATUS_RATIO") {
        if (newVal == 1) {
          this.showRatio = true;
        } else {
          this.showRatio = false;
        }
      } else if (schema == "FUND_STATUS_SRI_ESG") {
        if (newVal == 1) {
          this.showSRIESG = true;
        } else {
          this.showSRIESG = false;
        }
      } else if (schema == "FUND_ASEAN_CIS_STATUS") {
        if (newVal == 1) {
          this.visibleCISUpload = true;
          this.showAseanCIS = true;
        } else {
          this.visibleCISUpload = false;
          this.showAseanCIS = false;
        }
      } else if (schema == "FUND_NOTES") {
        console.log(this.model.FUND_NOTES.FUNDNOTES_DESC);
        // var length = this.readDateStr(this.model.FUND_NOTES.FUNDNOTES_DESC);
        // console.log(length.PromiseResult);
        var str = this.model.FUND_NOTES.FUNDNOTES_DESC;
        var ch = '/DATE';

        var length = str.split("/DATE").length - 1;
        console.log(length);
        if(length === 1) {
          this.showDate1 = true;
          this.showDate2 = false;
          this.showDate3 = false;
          this.showDate4 = false;
          this.showDate5 = false;
        } else if (length === 2) {
          this.showDate1 = true;
          this.showDate2 = true;
          this.showDate3 = false;
          this.showDate4 = false;
          this.showDate5 = false;
        } else if (length === 3) {
          this.showDate1 = true;
          this.showDate2 = true;
          this.showDate3 = true;
          this.showDate4 = false;
          this.showDate5 = false;
        } else if (length === 4) {
          this.showDate1 = true;
          this.showDate2 = true;
          this.showDate3 = true;
          this.showDate4 = true;
          this.showDate5 = false;
        } else if (length === 5) {
          this.showDate1 = true;
          this.showDate2 = true;
          this.showDate3 = true;
          this.showDate4 = true;
          this.showDate5 = true;
        } else if ( length === 0) {
          this.showDate1 = false;
          this.showDate2 = false;
          this.showDate3 = false;
          this.showDate4 = false;
          this.showDate5 = false;
        }
      } else if (schema == "setVisibleUmbrellaFund") {
        this.model.setVisibleUmbrellaFund = true;
        if (newVal == true) {
          this.showFundList = true;
          this.visibleFundUmbrellaForm = true;
          this.visibleFundUmbrellaDD = false;
        } else {
          this.showFundList = false;
          this.visibleFundUmbrellaForm = false;
          this.visibleFundUmbrellaDD = true;
        }
      }
    },
    saveAsDraft: async function() {
      console.log("Start Save As Draft");

      const data = new FormData();
      const user = localStorage.getItem("user");
      console.log(JSON.stringify(this.user));
      data.append("DIST_ID", JSON.parse(user).USER_DIST_ID);
      data.append("DIST_USER_ID", JSON.parse(user).user_id);
      data.append("DIST_USER_GROUP", JSON.parse(user).USER_GROUP_ID);

      if (this.model.setVisibleUmbrellaFund == true) {
        console.log("Self Entry Umbrella Fund");
        data.append("UMBRELLA_FUND", this.model.inputUmbrellaFund ?? "");
      } else {
        data.append(
          "UMBRELLA_FUND",
          this.model.selectedUmbrellaFund.FMS_UMBRELLA_FUND_ID ?? ""
        );
      }

      data.append("FUND_NAME", this.model.FUND_NAME ?? "");
      data.append("FUND_CODE_FIMM", this.model.FUND_CODE_FIMM);
      data.append("FUND_CODE_MEMBER", this.model.FUND_CODE_MEMBER ?? "");
      data.append("FUND_LIPPER_CODE", this.model.LIPPER_CODE_MEMBER ?? "");
      data.append("FUND_ISIN", this.model.ISIN ?? "");
      data.append("FUND_SC_CODE", this.model.SC_CODE_MEMBER ?? "");
      //add old fund detail append

      data.append("FUND_NAME_CHINESE", this.model.FUND_NAME_CHINESE ?? "");
      data.append("FUND_NAME_SHORT", this.model.FUND_NAME_SHORT ?? "");

      data.append("FUND_TYPE", this.model.FUND_TYPE.FMS_FUNDTYPE_ID ?? "");
      data.append(
        "FUND_CATEGORY",
        this.model.FUND_CATEGORY.FMS_FUNDCATEGORY_ID ?? ""
      );
      data.append(
        "FUND_DOMICILE",
        this.model.FUND_DOMICILE.FUND_DOMICILE_ID ?? ""
      );
      data.append(
        "FUND_CURR_DENOMINATION",
        this.model.FUND_CURR_DENOMINATION.SETTING_GENERAL_ID ?? ""
      );
      data.append(
        "FUND_DATE_EXPIRY",
        moment(this.model.FUND_DATE_EXPIRY).format("YYYY-MM-DD") ?? ""
      );

      data.append("FUND_SUB_MANAGER", this.model.FUND_SUB_MANAGER ?? "");
      data.append("FUND_DAILY_NAV", this.model.FUND_DAILY_NAV ?? "");
      data.append("FUND_SYARIAH_COMP", this.model.FUND_SYARIAH_COMP ?? "");
      data.append("FUND_ANNUAL_MGMT", this.model.FUND_ANNUAL_MGMT ?? "");
      data.append(
        "FUND_FUND_PERFORMANCE",
        this.model.FUND_FUND_PERFORMANCE ?? ""
      );

      data.append("FUND_STATUS_SRI_ESG", this.model.FUND_STATUS_SRI_ESG ?? "");
      data.append("FUND_STATUS_EPF", this.model.FUND_STATUS_EPF ?? "");
      data.append(
        "FUND_DATE_SRI_ESG_EFFECTIVE_DATE",
        moment(this.model.FUND_DATE_SRI_ESG_EFFECTIVE_DATE).format(
          "YYYY-MM-DD"
        ) ?? ""
      );
      data.append("FUND_EPF_CODE", this.model.FUND_EPF_CODE ?? "");
      // data.append("",moment().format("YYYY-MM-DD"));

      data.append("FUND_STATUS_ANNUAL_MGMT", this.model.FUND_ANNUAL_MGMT ?? "");
      data.append("FUND_STATUS_MER", this.model.FUND_STATUS_MER ?? "");
      data.append(
        "FUND_STATUS_FEE_PERFORMANCE",
        this.model.FUND_STATUS_FEE_PERFORMANCE.name ?? ""
      );
      data.append("FUND_FEE_ANNUAL", this.model.FUND_FEE_ANNUAL.name ?? "");
      data.append("FUND_MER", this.model.FUND_MER ?? "");
      data.append(
        "FUND_FEE_PERFORMANCE",
        this.model.FUND_FEE_PERFORMANCE.name ?? ""
      );

      data.append("FUND_STATUS_RATIO", this.model.FUND_STATUS_RATIO ?? "");
      data.append("FUND_RATIO", this.model.FUND_RATIO ?? "");

      data.append(
        "FUND_STATUS_HURDLE_RATE",
        this.model.FUND_STATUS_HURDLE_RATE ?? ""
      );
      data.append(
        "FUND_STATUS_SALE_CHARGE",
        this.model.FUND_STATUS_SALE_CHARGE ?? ""
      );
      data.append("FUND_HURDLE", this.model.FUND_HURDLE ?? "");
      data.append(
        "FUND_SALE_CHARGE_MINIMUM",
        this.model.FUND_SALE_CHARGE_MINIMUM ?? ""
      );
      data.append(
        "FUND_SALE_CHARGE_MAXIMUM",
        this.model.FUND_SALE_CHARGE_MAXIMUM ?? ""
      );
      data.append(
        "FUND_SALE_CHARGE_EFFECTIVE",
        this.model.FUND_SALE_CHARGE_EFFECTIVE ?? ""
      );

      data.append(
        "FUND_DATE_LAUNCH",
        moment(this.model.FUND_DATE_LAUNCH).format("YYYY-MM-DD") ?? ""
      );
      data.append("FUND_PRICE_PERUNIT", this.model.FUND_PRICE_PERUNIT ?? "");
      data.append(
        "FUND_YEAR_END",
        moment(this.model.FUND_YEAR_END).format("YYYY-MM-DD") ?? ""
      );
      data.append("FUND_SCHEME", this.model.FUND_SCHEME.FMS_SCHEME_ID ?? "");
      data.append("FUND_UNITS", this.model.FUND_UNITS.name ?? "");
      data.append(
        "FUND_INVESTMENT_FOCUS",
        this.model.FUND_FOCUS_INVESTMENT.NAME ?? ""
      );

      data.append("FUND_FEEDER", this.model.FUND_FEEDER ?? "");
      data.append("FUND_FOF", this.model.FUND_FOF ?? "");
      data.append("FUND_UCITS", this.model.FUND_UCITS ?? "");
      data.append(
        "FUND_ASEAN_CIS_STATUS",
        this.model.FUND_ASEAN_CIS_STATUS ?? ""
      );

      // FUND NOTES SECTION
      // data.append("FUND_NOTES", this.model.FUND_NOTES.FUNDNOTES_ID ?? "");

      data.append("FUND_STATUS_FUND", "1");

      data.append("FUND_ISSUBMIT", "1");

      //File upload
      if (this.model.file0.length != 0) {
        for (let i = 0; i < this.model.file0.length; i++) {
          data.append("file0", this.model.file0);
        }
      }
      if (this.model.file1.length != 0) {
        for (let i = 0; i < this.model.file1.length; i++) {
          data.append("file1", this.model.file1);
        }
      }
      if (this.model.file2.length != 0) {
        for (let i = 0; i < this.model.file2.length; i++) {
          data.append("file2", this.model.file2);
        }
      }
      if (this.model.file3.length != 0) {
        for (let i = 0; i < this.model.file3.length; i++) {
          data.append("file3", this.model.file3);
        }
      }
      if (this.model.file4.length != 0) {
        for (let i = 0; i < this.model.file4.length; i++) {
          data.append("file4", this.model.file4);
        }
      }

      try {
        console.log("current data" + JSON.stringify(data));
        if (confirm("Save fund creation form as draft?")) {
          const response = await servicesModule5.createFundProfile(data);
          console.log(response);
          this.$router.push("/distributor/fundCreationlist");
        } else {
        }
      } catch (error) {
        console.log(error);
      }
    },
    onSubmit: async function() {
      console.log("Start function submit");

      const data = new FormData();
      const user = localStorage.getItem("user");
      console.log(JSON.stringify(this.user));
      data.append("DIST_ID", JSON.parse(user).USER_DIST_ID);
      data.append("DIST_USER_ID", JSON.parse(user).user_id);
      data.append("DIST_USER_GROUP", JSON.parse(user).USER_GROUP_ID);
      if (this.model.setVisibleUmbrellaFund == false) {
        console.log("Self Entry Umbrella Fund");
        data.append("UMBRELLA_FUND", this.model.inputUmbrellaFund);
      } else {
        data.append(
          "UMBRELLA_FUND",
          this.model.selectedUmbrellaFund.FMS_UMBRELLA_FUND_ID
        );
      }
      data.append("FUND_NAME", this.model.FUND_NAME);
      data.append("FUND_CODE_FIMM", this.model.FUND_CODE_FIMM);
      data.append("FUND_CODE_MEMBER", this.model.FUND_CODE_MEMBER);
      data.append("FUND_LIPPER_CODE", this.model.LIPPER_CODE_MEMBER);
      data.append("FUND_ISIN", this.model.ISIN);
      data.append("FUND_SC_CODE", this.model.SC_CODE_MEMBER);
      //add old fund detail append

      data.append("FUND_NAME_CHINESE", this.model.FUND_NAME_CHINESE);
      data.append("FUND_NAME_SHORT", this.model.FUND_NAME_SHORT);

      data.append("FUND_TYPE", this.model.FUND_TYPE.FMS_FUNDTYPE_ID);
      data.append(
        "FUND_CATEGORY",
        this.model.FUND_CATEGORY.FMS_FUNDCATEGORY_ID
      );
      data.append("FUND_DOMICILE", this.model.FUND_DOMICILE.FUND_DOMICILE_ID);
      data.append(
        "FUND_CURR_DENOMINATION",
        this.model.FUND_CURR_DENOMINATION.SETTING_GENERAL_ID
      );
      data.append(
        "FUND_DATE_EXPIRY",
        moment(this.model.FUND_DATE_EXPIRY).format("YYYY-MM-DD")
      );

      data.append("FUND_SUB_MANAGER", this.model.FUND_SUB_MANAGER);
      data.append("FUND_DAILY_NAV", this.model.FUND_DAILY_NAV);
      data.append("FUND_SYARIAH_COMP", this.model.FUND_SYARIAH_COMP);
      data.append("FUND_ANNUAL_MGMT", this.model.FUND_ANNUAL_MGMT);
      data.append("FUND_FUND_PERFORMANCE", this.model.FUND_FUND_PERFORMANCE);

      data.append("FUND_STATUS_SRI_ESG", this.model.FUND_STATUS_SRI_ESG);
      data.append("FUND_STATUS_EPF", this.model.FUND_STATUS_EPF);
      data.append(
        "FUND_DATE_SRI_ESG_EFFECTIVE_DATE",
        moment(this.model.FUND_DATE_SRI_ESG_EFFECTIVE_DATE).format("YYYY-MM-DD")
      );
      data.append("FUND_EPF_CODE", this.model.FUND_EPF_CODE);
      // data.append("",moment().format("YYYY-MM-DD"));

      data.append("FUND_STATUS_ANNUAL_MGMT", this.model.FUND_ANNUAL_MGMT);
      data.append("FUND_STATUS_MER", this.model.FUND_STATUS_MER);
      data.append(
        "FUND_STATUS_FEE_PERFORMANCE",
        this.model.FUND_STATUS_FEE_PERFORMANCE
      );
      data.append("FUND_FEE_ANNUAL", this.model.FUND_FEE_ANNUAL);
      data.append("FUND_MER", this.model.FUND_MER);
      data.append("FUND_FEE_PERFORMANCE", this.model.FUND_FEE_PERFORMANCE);

      data.append("FUND_STATUS_RATIO", this.model.FUND_STATUS_RATIO);
      data.append("FUND_RATIO", this.model.FUND_RATIO);

      data.append(
        "FUND_STATUS_HURDLE_RATE",
        this.model.FUND_STATUS_HURDLE_RATE
      );
      data.append(
        "FUND_STATUS_SALE_CHARGE",
        this.model.FUND_STATUS_SALE_CHARGE
      );
      data.append("FUND_HURDLE", this.model.FUND_HURDLE ?? "");
      data.append(
        "FUND_SALE_CHARGE_MINIMUM",
        this.model.FUND_SALE_CHARGE_MINIMUM ?? ""
      );
      data.append(
        "FUND_SALE_CHARGE_MAXIMUM",
        this.model.FUND_SALE_CHARGE_MAXIMUM ?? ""
      );
      data.append(
        "FUND_SALE_CHARGE_EFFECTIVE",
        this.model.FUND_SALE_CHARGE_EFFECTIVE ?? ""
      );

      data.append(
        "FUND_DATE_LAUNCH",
        moment(this.model.FUND_DATE_LAUNCH).format("YYYY-MM-DD")
      );
      data.append("FUND_PRICE_PERUNIT", this.model.FUND_PRICE_PERUNIT);
      data.append(
        "FUND_YEAR_END",
        moment(this.model.FUND_YEAR_END).format("YYYY-MM-DD")
      );
      data.append("FUND_SCHEME", this.model.FUND_SCHEME.FMS_SCHEME_ID);
      data.append("FUND_UNITS", this.model.FUND_UNITS);
      data.append(
        "FUND_INVESTMENT_FOCUS",
        this.model.FUND_FOCUS_INVESTMENT.FMS_SCHEME_ID
      );

      data.append("FUND_FEEDER", this.model.FUND_FEEDER);
      data.append("FUND_FOF", this.model.FUND_FOF);
      data.append("FUND_UCITS", this.model.FUND_UCITS);
      data.append("FUND_ASEAN_CIS_STATUS", this.model.FUND_ASEAN_CIS_STATUS);

      // FUND NOTES SECTION
      data.append("FUND_NOTES", this.model.FUND_NOTES.FUNDNOTES_ID);
      data.append("FN_DATE1",this.model.DATE_1);
      data.append("FN_DATE2",this.model.DATE_2);
      data.append("FN_DATE3",this.model.DATE_3);
      data.append("FN_DATE4",this.model.DATE_4);
      data.append("FN_DATE5",this.model.DATE_5);

      //Fund Status
      data.append("FUND_STATUS_FUND", "2");

      data.append("FUND_ISSUBMIT", "1");
      data.append("DRAFT_UPDATE", this.FUND_CREATION_DRAFT);

      //File upload
      if (this.model.file0.length != 0) {
        for (let i = 0; i < this.model.file0.length; i++) {
          data.append("file0[]", this.model.file0[i]);
        }
      }
      if (this.model.file1.length != 0) {
        for (let i = 0; i < this.model.file1.length; i++) {
          data.append("file1[]", this.model.file1[i]);
        }
      }
      if (this.model.file2.length != 0) {
        for (let i = 0; i < this.model.file2.length; i++) {
          data.append("file2[]", this.model.file2[i]);
        }
      }
      if (this.model.file3.length != 0) {
        for (let i = 0; i < this.model.file3.length; i++) {
          data.append("file3[]", this.model.file3[i]);
        }
      }
      if (this.model.file4.length != 0) {
        for (let i = 0; i < this.model.file4.length; i++) {
          data.append("file4[]", this.model.file4[i]);
        }
      }
      //notification
      data.append(
        "NOTI_LOCATION",
        "/distributor/fundCreationSecondLevelReviewList"
      );

      var remarkEntry = "M - New Fund Creation";

      data.append("NOTI_REMARK", remarkEntry);

      var notiTitle = "New entry pending Approval";
      data.append("NOTI_TITLE", notiTitle);

      try {
        console.log("current data" + JSON.stringify(data));
        if (confirm("Are you sure to submit?")) {
          const response = await servicesModule5.createFundProfile(data);
          console.log(response);
          this.$router.push("/distributor/fundCreationlist");
        } else {
        }
      } catch (error) {
        console.log(error);
      }
    }
  },
  onModelUpdated(newVal, schema) {
    console.log(newVal);
    if (schema == "registrationType") {
      if (newVal == "1") {
        this.visibleIc = false;
      } else {
        this.visibleIc = true;
      }
    } else if (schema == "applicationType") {
      this.model.applicationType = newVal;
      if (newVal == "2") {
        this.visibleCatExemption = true;
      } else {
        this.visibleCatExemption = false;
      }
    }
  },
  data() {
    return {
      newFund: true,
      DRAFT_UPDATE: false,
      // existingFund:false,

      showumbrellaFund: false,
      showFundList: false,
      showFundMER: false,
      showEPF: false,
      showSRIESG: false,
      showPerformanceFee: false,
      showAMF: false,
      showRatio: false,
      showHurdleRate: false,
      showSalesCharge: false,
      showFundDateExpiry: false,
      showDate1: false,
      showDate2: false,
      showDate3: false,
      showDate4: false,
      showDate5: false,
      maxsalechargemask: false,
      minsalechargemask: false,
      maxsalechargena: false,
      minsalechargena: false,
      visibleFundUmbrellaForm: false,
      visibleFundUmbrellaDD: true,
      visibleCISUpload: false,
      setVisibleUmbrellaFund: false,
      tabIndex: 0,
      tabModal: 0,
      FUND_DATE_EXPIRY: null,
      FUND_DATE_LAUNCH: null,
      FUND_YEAR_END: null,
      FundTypeList: [],
      FundCategoryList: [],
      FundDomicileList: [],
      FundCurrencyList: [],
      FundSchemeList: [],
      FundNoteList: [],
      documentIdArray: [],
      uploadFileOject: [],
      CURRENT_NO:[],
      FPData: [],
      model: {
        data: "",
        file0: [],
        file1: [],
        file2: [],
        file3: [],
        file4: []
      },
      PerformanceFee: [
        {
          name: "1%"
        },
        {
          name: "2%"
        },
        {
          name: "3%"
        },
        {
          name: "4%"
        },
        {
          name: "5%"
        },
        {
          name: "6%"
        },
        {
          name: "7%"
        },
        {
          name: "8%"
        },
        {
          name: "9%"
        },
        {
          name: "10%"
        }
      ],
      fee: [
        {
          name: "1%"
        },
        {
          name: "2%"
        },
        {
          name: "3%"
        },
        {
          name: "4%"
        },
        {
          name: "5%"
        },
        {
          name: "6%"
        },
        {
          name: "7%"
        },
        {
          name: "8%"
        },
        {
          name: "9%"
        },
        {
          name: "10%"
        }
      ],
      FUND_SYARIAH_COMP: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "2",
          name: "No"
        }
      ],
      anualMgmtStatus: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "2",
          name: "No"
        }
      ],
      FUND_FUND_PERFORMANCE: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "2",
          name: "No"
        }
      ],
      FUND_STATUS_EPF: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "2",
          name: "No"
        }
      ],
      FUND_STATUS_MER: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "0",
          name: "No"
        }
      ],
      FUND_STATUS_SALE_CHARGE: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "0",
          name: "No"
        }
      ],
      FUND_STATUS_HURDLE_RATE: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "0",
          name: "No"
        }
      ],
      FUND_STATUS_RATIO: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "0",
          name: "No"
        }
      ],
      FUND_STATUS_SRI_ESG: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "0",
          name: "No"
        }
      ],
      FUND_STATUS_PERFORMANCE_FEE: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "2",
          name: "No"
        }
      ],
      FUND_DAILY_NAV: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "2",
          name: "No"
        }
      ],
      FUND_FEEDER: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "2",
          name: "No"
        }
      ],
      FUND_ASEAN_CIS_STATUS: [
        {
          value: "1",
          name: "Yes"
        },
        {
          value: "2",
          name: "No"
        }
      ],
      fields: [
        // A virtual column that doesn't exist in items
        { key: "index", label: "No" },
        // A column that needs custom formatting
        { key: "FUND_NAME", label: "Fund Name" },
        { key: "actions", label: "" }
      ],
      umbrellaList: [],
      fundList: [],
      fundDomicile: [],
      fundCategory: [
        {
          name: "Alternatives",
          id: "1"
        }
      ],
      schemaStructure: [],
      unitStructure: [
        {
          name: "CLOSE-END",
          id: "0"
        },
        {
          name: "OPEN-END",
          id: "1"
        },
        {
          name: "ETF",
          id: "2"
        }
      ],
      investmentFocus: [
        {
          name: "Local Focused",
          id: "0"
        },
        {
          name: "Foreign Focused",
          id: "1"
        }
      ],
      model: {
        file0: "",
        file1: "",
        file2: "",
        file3: "",
        file4: "",
        mgmtCompany: null,
        selectedFund: null,
        selectedUmbrellaFund: null,
        inputUmbrellaFund: null,
        FUND_CODE_FIMM: "",
        FUND_CODE_MEMBER: "",
        FUND_DATE_EXPIRY: null,
        FUND_NAME_CHINESE: "",
        FUND_NAME_SHORT: "",
        FUND_TYPE: "",
        FUND_CATEGORY: "",
        FUND_DOMICILE: "",
        FUND_CURR_DENOMINATION: "",
        FUND_SUB_MANAGER: "",
        FUND_SYARIAH_COMP: "",
        FUND_ANNUAL_MGMT: "",
        FUND_FUND_PERFORMANCE: "",
        FUND_STATUS_EPF: "",
        FUND_STATUS_MER: "",
        FUND_DAILY_NAV: "",
        FUND_STATUS_FUND: "NEW",
        FUND_NAME: "",
        FUND_FEE_ANNUAL: "",
        FUND_FEE_PERFORMANCE: "",
        FUND_RATIO: "",
        FUND_DATE_LAUNCH: null,
        FUND_YEAR_END: null,
        FUND_SCHEME: "",
        FUND_FOCUS_INVESTMENT: "",
        FUND_WHOLESALE: "",
        FUND_FEEDER: "",
        FUND_HURDLE: "",
        FUND_PRICE_PERUNIT: "",
        FUND_SALES_CHARGE: "",
        FUND_SALES_CHARGE_MINIMUM: "",
        FUND_SALES_CHARGE_MAXIMUM: "",
        FUND_SALES_CHARGE_EFFECTIVE: "",
        DATE_1:"",
        DATE_2:"",
        DATE_3:"",
        DATE_4:"",
        DATE_5:"",
      },

      fileUploadSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                id: "1",
                labels: "New Fund Notification Letter to FIMM",
                accept: ".pdf,.doc,.docx",
                multiple: false,
                text: "Choose a File",
                model: "file0",
                type: "vfg-custom-multiple-file-edit",
                styleClasses: "col-md-12"
              },
              {
                id: "2",
                labels: "New Fund Application Form to FIMM",
                accept: ".pdf,.doc,.docx",
                multiple: false,
                text: "Choose a File",
                model: "file1",
                type: "vfg-custom-multiple-file-edit",
                styleClasses: "col-md-12"
              },
              {
                id: "3",
                labels:
                  "Approval Letter from the Security Commission (SC)/ Fund Lodgement Summary from the SC’s LOLA Online Submission System for New Fund",
                accept: ".pdf,.doc,.docx",
                multiple: false,
                text: "Choose a File",
                model: "file2",
                type: "vfg-custom-multiple-file-edit",
                styleClasses: "col-md-12"
              },
              {
                id: "4",
                labels:
                  "Prospectus/ Information Memorandum/ Product Highlight Sheet/ Disclosure Document (in the same form as distributed to potential investors)",
                accept: ".pdf,.doc,.docx",
                multiple: false,
                text: "Choose a File",
                model: "file3",
                type: "vfg-custom-multiple-file-edit",
                styleClasses: "col-md-12"
              },
              {
                id: "5",
                labels:
                  "For Funds Approval under the ASEAN CIS, a copy of approval letter from the SC for the appointment of the company as Local Representative",
                accept: ".pdf,.doc,.docx",
                multiple: false,
                text: "Choose a File",
                model: "file4",
                type: "vfg-custom-multiple-file-edit",
                styleClasses: "col-md-12",
                visible: (model, field, form) => {
                  return this.visibleCISUpload;
                }
              }
            ]
          }
        ]
      },

      schemaUmbrellaFund: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "checkbox",
                label: "Tick if To Register New Umbrella Fund",
                model: "setVisibleUmbrellaFund",
                styleClasses: "col-md-12",
                default: true
              },
              {
                type: "vueMultiSelect",
                model: "selectedUmbrellaFund",
                label: "Umbrella Fund",
                placeholder: "Select Umbrella Fund",
                required: false,
                validator: "required",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "FMS_UMBRELLA_FUND_ID",
                  label: "UMBRELLA_FUND_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.umbrellaList;
                },
                visible: (model, field, form) => {
                  return this.visibleFundUmbrellaDD;
                }
              },
              {
                type: "input",
                inputType: "text",
                label: "Umbrella Fund",
                model: "inputUmbrellaFund",
                placeholder: "Enter umbrella fund name",
                required: false,
                validator: "string",
                styleClasses: "col-md-12",
                visible: (model, field, form) => {
                  return this.visibleFundUmbrellaForm;
                }
              },
              {
                type: "input",
                inputType: "text",
                label: "Fund Name",
                model: "FUND_NAME",
                placeholder: "Enter fund name",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              }
            ]
          }
        ]
      },

      schemaFundList: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "vueMultiSelect",
                model: "mgmtCompany",
                label: "Management Company",
                placeholder: "Select Management Company",
                required: true,
                validator: "required",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "name",
                  label: "name",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.mgmtComp;
                }
                //     visible: (model, field, form) => {
                //       return this.newFund
                // }
              },
              {
                type: "vueMultiSelect",
                model: "selectedUmbrellaFund",
                label: "Umbrella Fund",
                placeholder: "Select Umbrella Fund",
                required: true,
                validator: "required",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "name",
                  label: "name",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.umbrellaList;
                },
                visible: (model, field, form) => {
                  return this.showumbrellaFund;
                }
              },
              {
                type: "vueMultiSelect",
                model: "selectedFund",
                label: "Select Fund",
                placeholder: "Select Fund",
                required: true,
                validator: "required",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "name",
                  label: "name",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.fundList;
                },
                visible: (model, field, form) => {
                  return this.showFundList;
                }
              }
            ]
          }
        ]
      },

      schemaNewFund: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "text",
                label: "FiMM Fund Code",
                model: "FUND_CODE_FIMM",
                disabled: true,
                styleClasses: "col-xs-3 col-sm-2"
              },
              {
                type: "input",
                inputType: "text",
                label: "Member Fund Code",
                model: "FUND_CODE_MEMBER",
                placeholder: "Enter member fund code",
                required: true,
                disabled: false,
                styleClasses: "col-xs-3 col-sm-2"
              },
              {

                type: "vfg-the-mask3",
                mask: "LPXXXXXXXX",
                label: "Lipper Fund Code",
                model: "LIPPER_CODE_MEMBER",
                placeholder: "Enter lipper fund code",
                disabled: false,
                required: true,
                styleClasses: "col-xs-3 col-sm-2"
              },
              {
                type: "input",
                inputType: "text",
                label: "ISIN",
                model: "ISIN",
                placeholder: "Enter ISIN",
                validator: "string",
                styleClasses: "col-xs-3 col-sm-2"
              },
              {
                type: "input",
                inputType: "text",
                label: "SC Fund Code",
                model: "SC_CODE_MEMBER",
                placeholder: "Enter SC fund code",
                disabled: false,
                styleClasses: "col-xs-3 col-sm-2"
              }

              // add previous
            ]
          }
        ]
      },
      schemaNewFund2: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "text",
                label: "Fund Chinese Name (Traditional)",
                model: "FUND_NAME_CHINESE",
                placeholder: "Enter fund chinese name",
                required: false,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                label: "Fund Short Name",
                model: "FUND_NAME_SHORT",
                placeholder: "Enter fund short name",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              }
            ]
          }
        ]
      },
      schemaNewFund3: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "vueMultiSelect",
                model: "FUND_TYPE",
                label: "Fund Type",
                placeholder: "Select fund type",
                required: true,
                validator: "required",
                styleClasses: "col-md-2",
                selectOptions: {
                  multiple: false,
                  key: "FMS_FUNDTYPE_ID",
                  label: "FUND_NAME",
                  searchable: false
                },
                values: (model, schema) => {
                  return this.FundTypeList;
                }
              },
              {
                type: "vueMultiSelect",
                model: "FUND_CATEGORY",
                label: "Fund Category",
                placeholder: "Select fund type",
                required: true,
                validator: "required",
                styleClasses: "col-md-2",
                selectOptions: {
                  multiple: false,
                  key: "FMS_FUNDCATEGORY_ID",
                  label: "GROUP_ASSET",
                  searchable: false
                },
                values: (model, schema) => {
                  return this.FundCategoryList;
                }
              },
              {
                type: "vueMultiSelect",
                model: "FUND_DOMICILE",
                label: "Fund Domicile",
                placeholder: "Select domicile",
                required: true,
                validator: "required",
                styleClasses: "col-md-2",
                selectOptions: {
                  multiple: false,
                  key: "FUND_DOMICILE_ID",
                  label: "FUND_DOMICILE_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.FundDomicileList;
                }
              },
              {
                type: "vueMultiSelect",
                model: "FUND_CURR_DENOMINATION",
                label: "Currency Denomination",
                placeholder: "Select currency denomination",
                required: true,
                validator: "required",
                styleClasses: "col-md-3",
                selectOptions: {
                  multiple: false,
                  key: "SETTING_GENERAL_ID",
                  label: "SET_PARAM",
                  searchable: false
                },
                values: (model, schema) => {
                  return this.FundCurrencyList;
                }
              },
              {
                labels: "Fund Expiry Date",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "FUND_DATE_EXPIRY",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-3",
                visible: (model, field, form) => {
                  return this.showFundDateExpiry;
                }
              }
            ]
          }
        ]
      },
      schemaNewFund4: {
        groups: [
          {
            styleClasses: "row",
            fields: []
          }
        ]
      },
      schemaNewFund5: {
        groups: [
          {
            styleClasses: "row",
            fields: []
          }
        ]
      },
      schemaNewFund6: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "text",
                label: "Sub Manager Name",
                model: "FUND_SUB_MANAGER",
                required: false,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "radios",
                label: "Disclosure of Daily NAV in the newspaper",
                model: "FUND_DAILY_NAV",
                required: true,
                validator: "string",
                styleClasses: "col-xs-6 col-sm-4 display-inline",
                values: () => {
                  return this.FUND_DAILY_NAV;
                }
              },
              {
                type: "radios",
                label: "Syariah Compliant",
                model: "FUND_SYARIAH_COMP",
                required: true,
                validator: "string",
                styleClasses: "col-xs-6 col-sm-4 display-inline",
                values: () => {
                  return this.FUND_SYARIAH_COMP;
                }
              },
              {
                type: "radios",
                label: "Declaration of Fund Performance",
                model: "FUND_FUND_PERFORMANCE",
                required: true,
                validator: "string",
                styleClasses: "col-xs-6 col-sm-4 display-inline",
                values: () => {
                  return this.FUND_FUND_PERFORMANCE;
                }
              }
            ]
          }
        ]
      },
      schemaNewFund7: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "radios",
                label: "SRI/ESG Status",
                model: "FUND_STATUS_SRI_ESG",
                required: true,
                validator: "string",
                styleClasses: "col-md-2 display-inline",
                values: () => {
                  return this.FUND_STATUS_SRI_ESG;
                }
              },
              {
                type: "radios",
                label: "EPF Status",
                model: "FUND_STATUS_EPF",
                required: false,
                validator: "string",
                styleClasses: "col-md-2 display-inline",
                values: () => {
                  return this.FUND_STATUS_EPF;
                }
              },
              {
                labels: "SRI/ESG Effective Date",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "FUND_DATE_SRI_ESG_EFFECTIVE_DATE",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-3",
                required: true,
                visible: (model, field, form) => {
                  return this.showSRIESG;
                }
              },
              {
                type: "input",
                inputType: "text",
                label: "Fund EPF Code",
                model: "FUND_EPF_CODE",
                placeholder: "Enter EPF code",
                required: true,
                validator: "string",
                styleClasses: "col-md-3",
                visible: (model, field, form) => {
                  return this.showEPF;
                }
              }
            ]
          }
        ]
      },
      schemaNewFund8: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "radios",
                label: "Annual Management Status",
                model: "FUND_ANNUAL_MGMT",
                required: true,
                validator: "string",
                styleClasses: "col-md-3 display-inline",
                values: () => {
                  return this.anualMgmtStatus;
                }
              },
              {
                type: "radios",
                label: "MER Status",
                model: "FUND_STATUS_MER",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                values: () => {
                  return this.FUND_STATUS_MER;
                }
              },
              {
                type: "radios",
                label: "Performance Fee Status",
                model: "FUND_STATUS_FEE_PERFORMANCE",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                values: () => {
                  return this.FUND_STATUS_PERFORMANCE_FEE;
                }
              },
              {
                type: "vfg-the-mask3",
                mask: "#.##%",
                model: "FUND_FEE_ANNUAL",
                label: "Annual Management Fee",
                placeholder: "e.g x.xx%",
                required: true,
                validator: "required",
                styleClasses: "col-md-4",
                visible: (model, field, form) => {
                  return this.showAMF;
                }
              },
              {
                type: "vfg-the-mask3",
                mask: "#.###%",
                label: "MER",
                model: "FUND_MER",
                placeholder: "Enter MER",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                visible: (model, field, form) => {
                  return this.visibleMer;
                }
              },
              {
                type: "vfg-the-mask3",
                mask: "#.##%",
                model: "FUND_FEE_PERFORMANCE",
                label: "Performance Fee",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                visible: (model, field, form) => {
                  return this.showPerformanceFee;
                }
              },
              {
                type: "radios",
                label: "Ratio Status",
                model: "FUND_STATUS_RATIO",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                values: () => {
                  return this.FUND_STATUS_RATIO;
                }
              },
              {
                type: "vfg-the-mask3",
                mask: "##:##",
                label: "Ratio",
                model: "FUND_RATIO",
                placeholder: "e.g 20:80 with UTMC portion comes first",

                validator: "string",
                styleClasses: "col-md-6",
                visible: (model, field, form) => {
                  return this.showRatio;
                }
              }
            ]
          }
        ]
      },
      schemaNewFund9: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "radios",
                label: "Hurdle Rate Status",
                model: "FUND_STATUS_HURDLE_RATE",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                values: () => {
                  return this.FUND_STATUS_EPF;
                }
              },
              {
                type: "radios",
                label: "Sale Charge Status",
                model: "FUND_STATUS_SALE_CHARGE",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                values: () => {
                  return this.FUND_STATUS_SALE_CHARGE;
                }
              },
              {
                type: "radios",
                label: "Minimum Sale Charge Status",
                model: "FUND_STATUS_MINIMUM_SALE_CHARGE",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                values: () => {
                  return this.FUND_STATUS_SALE_CHARGE;
                },
                visible: (model, field, form) => {
                  return this.showSalesCharge;
                }
              },

              {
                type: "radios",
                label: "Maximum Sale Charge Status",
                model: "FUND_STATUS_MAXIMUM_SALE_CHARGE",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                values: () => {
                  return this.FUND_STATUS_SALE_CHARGE;
                },
                visible: (model, field, form) => {
                  return this.showSalesCharge;
                }
              },
              {
                type: "vfg-the-mask3",
                mask: "#.###%",
                label: "Hurdle Rate",
                model: "FUND_HURDLE",
                placeholder: "e.g x.xxx%",
                validator: "string",
                styleClasses: "col",
                visible: (model, field, form) => {
                  return this.showHurdleRate;
                }
              },
              {
                type: "vfg-the-mask3",
                mask: "#.###%",
                label: "Minimum Sales Charge",
                model: "FUND_SALES_CHARGE_MINIMUM",
                placeholder: "e.g x.xxx%",
                validator: "string",
                styleClasses: "col",
                visible: (model, field, form) => {
                  return this.minsalechargemask;
                }
              },
              {
                type: "input",
                inputType: "text",
                label: "Minimum Sales Charge",
                model: "FUND_SALES_CHARGE_MINIMUM",
                validator: "string",
                disabled:true,
                styleClasses: "col",
                visible: (model, field, form) => {
                  return this.minsalechargena;
                }
              },
              {
                type: "vfg-the-mask3",
                mask: "#.###%",
                label: "Maximum Sales Charge",
                model: "FUND_SALES_CHARGE_MAXIMUM",
                placeholder: "e.g x.xxx%",
                required: true,
                validator: "string",
                styleClasses: "col",
                visible: (model, field, form) => {
                  return this.maxsalechargemask;
                }
              },
              {
                type: "input",
                inputType: "text",
                label: "Maximum Sales Charge",
                model: "FUND_SALES_CHARGE_MAXIMUM",
                disabled:true,
                validator: "string",
                styleClasses: "col",
                visible: (model, field, form) => {
                  return this.maxsalechargena;
                }
              },
              {
                type: "vfg-the-mask3",
                mask: "#.###%",
                label: "Effective Sales Charge",
                model: "FUND_SALES_CHARGE_EFFECTIVE",
                placeholder: "e.g x.xxx%",
                required: true,
                validator: "string",
                styleClasses: "col",
                visible: (model, field, form) => {
                  return this.showSalesCharge;
                }
              }
            ]
          }
        ]
      },
      schemaNewFund10: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                labels: "Launch Date",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "FUND_DATE_LAUNCH",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col",
                required: true
              },
              {
                type: "vfg-the-mask3",
                mask: "#.####",
                label: "Launch Price per unit",
                model: "FUND_PRICE_PERUNIT",
                placeholder: "e.g x.xxxx",
                validator: "string",
                styleClasses: "col-md-6"
              },
              {
                labels: "Financial Year End",
                type: "vfg-functional-date",
                placeholder: "MM-YYYY",
                model: "FUND_YEAR_END",
                noLabel: true,
                noClearButton: true,
                initview:"year",
                view:"month",
                maxview:"year",
                format: "MM-yyyy",
                styleClasses: "col-md-6",
                required: true
              },
              {
                type: "vueMultiSelect",
                model: "FUND_SCHEME",
                label: "Scheme Structure",
                placeholder: "Select scheme structure",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "FMS_SCHEME_ID",
                  label: "FMS_SCHEME_NAME",
                  searchable: false
                },
                values: (model, schema) => {
                  return this.FundSchemeList;
                }
              },
              {
                type: "vueMultiSelect",
                model: "FUND_UNITS",
                label: "Units Structure",
                placeholder: "Select units structure",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "id",
                  label: "name",
                  searchable: false
                },
                values: (model, schema) => {
                  return this.unitStructure;
                }
              },
              {
                type: "vueMultiSelect",
                model: "FUND_FOCUS_INVESTMENT",
                label: "Investment Focus",
                placeholder: "Select investment focus",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "id",
                  label: "name",
                  searchable: false
                },
                values: (model, schema) => {
                  return this.investmentFocus;
                }
              }
            ]
          }
        ]
      },
      schemaNewFund11: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "radios",
                label: "Feeder Fund",
                model: "FUND_FEEDER",
                required: true,
                validator: "string",
                styleClasses: "col display-inline",
                values: () => {
                  return this.FUND_FEEDER;
                }
              },
              {
                type: "radios",
                label: "FOF",
                model: "FUND_FOF",
                required: true,
                validator: "string",
                styleClasses: "col-md-6 display-inline",
                values: () => {
                  return this.FUND_SYARIAH_COMP;
                }
              },
              {
                type: "radios",
                label: "UCITS",
                model: "FUND_UCITS",
                required: true,
                validator: "string",
                styleClasses: "col-md-6 display-inline",
                values: () => {
                  return this.FUND_SYARIAH_COMP;
                }
              },
              {
                type: "radios",
                label: "ASEAN CIS",
                model: "FUND_ASEAN_CIS_STATUS",
                required: true,
                validator: "string",
                styleClasses: "col-md-6 display-inline",
                values: () => {
                  return this.FUND_ASEAN_CIS_STATUS;
                }
              }
            ]
          }
        ]
      },
      schemaNewFund12: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "vueMultiSelect",
                model: "FUND_NOTES",
                label: "Fund Notes",
                placeholder: "Select fund notes",
                required: true,
                styleClasses: "col-md-10",
                selectOptions: {
                  multiple: false,
                  key: "FUNDNOTES_ID",
                  label: "FUNDNOTES_DESC",
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.FundNoteList;
                },
                validator: ["required", this.validateFundNotes],
              },
              {
                labels: "Date 1",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "DATE_1",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-6",
                required: true,
                visible: (model, field, form) => {
                  return this.showDate1;
                }
              },
              {
                labels: "Date 2",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "DATE_2",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-6",
                required: true,
                visible: (model, field, form) => {
                  return this.showDate2;
                }
              },
              {
                labels: "Date 3",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "DATE_3",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-6",
                required: true,
                visible: (model, field, form) => {
                  return this.showDate3;
                }
              },
              {
                labels: "Date 4",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "DATE_4",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-6",
                required: true,
                visible: (model, field, form) => {
                  return this.showDate4;
                }
              },
              {
                labels: "Date 5",
                type: "vfg-functional-date",
                placeholder: "DD-MM-YYYY",
                model: "DATE_5",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-6",
                required: true,
                visible: (model, field, form) => {
                  return this.showDate5;
                }
              },
            ]
          }
        ]
      },
      formOptions: {
        // validationErrorClass: "has-error",
        // validationSuccessClass: "has-`success`",
        validateAfterChanged: true
      }
    };
  }
};
</script>
