<template>
  <div class="content">
    <!-- consultantlist -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <template slot="header">
              <div class="row">
                <div class="col">
                  <h4 class="card-title">NAV Management</h4>
                </div>
                <div class="col float-right">
                  <div class="float-right">
                    <h5>
                      <b-badge
                        v-b-toggle.collapse-1
                        class="mr-1"
                        variant="secondary"
                      >
                        <i class="fa fa-search"></i>
                      </b-badge>
                    </h5>
                  </div>
                </div>
              </div>
              <b-collapse id="collapse-1" class="mt-2">
                <va-card>
                  <vue-form-generator
                    :model="model"
                    :schema="schema"
                    ref="firstTabForm"
                  >
                  </vue-form-generator>
                  <button type="button" class="ml-2 btn btn-sm btn-primary">
                    Search
                  </button>
                  <button
                    @click.prevent="reset"
                    type="button"
                    class="ml-2 btn btn-sm btn-danger"
                  >
                    Reset
                  </button>
                </va-card>
              </b-collapse>
            </template>
            <div class="row col-3">
              <div class="form-group form-group-sm has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="filter"
                  type="text"
                  class="form-control"
                  placeholder="Search"
                />
              </div>
            </div>

            <!-- Main table element -->
            <div class="col-ml-2">
              <b-table
                hover
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                responsive="md"
              >
                <!-- A virtual column -->
                <template #cell(index)="data">
                  {{ data.index + 1 }}
                </template>
                <template #cell()="data">
                  <span class="description">{{ data.value }}</span>
                </template>
                <template #cell(actions)="data">
                  <h4>
                    <span
                      @click="addParticipant(data)"
                      class="badge badge-success mr-1"
                    >
                      <i class="fa fa-plus"></i>
                    </span>
                  </h4>
                </template>
              </b-table>
            </div>
            <div class="row col ml-2 mt-2">
              <b-pagination
                size="md"
                :total-rows="this.items.length"
                :per-page="perPage"
                v-model="currentPage"
              />
              <b-form-fieldset horizontal class="col-1">
                <b-form-select
                  :options="[
                    { text: 3, value: 3 },
                    { text: 5, value: 5 },
                    { text: 10, value: 10 },
                    { text: 15, value: 15 },
                  ]"
                  v-model="perPage"
                >
                </b-form-select>
              </b-form-fieldset>
            </div>
          </va-card>
        </div>
      </div>
    </div>

    <!-- Submission -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <va-card>
            <template slot="header">
              <div class="row">
                <div class="col">
                  <h4 class="card-title">Update for NAV</h4>
                </div>
              </div>
            </template>

            <!-- Main table element -->
            <div class="col-ml-2">
              <b-table
                hover
                :items="selectedList"
                :fields="fieldSelectedParticipant"
                :current-page="currentPageSelected"
                :per-page="perPageSelected"
                :filter="filterSelected"
                responsive="md"
              >
                <!-- A virtual column -->
                <template #cell(test)>
                  <h4>
                    <b-form-input v-model="text"></b-form-input>
                  </h4>
                </template>

                <template #cell(reason)>
                  <h4>
                    <span>
                      <input
                        type="file"
                        id="file-input"
                        style="font-size: 12px"
                      />
                    </span>
                  </h4>
                </template>
                <template #cell(actions)="data">
                  <h4>
                    <span
                      @click="addParticipant(data)"
                      class="badge badge-danger mr-1"
                    >
                      <i class="fa fa-minus-circle"></i>
                    </span>
                  </h4>
                </template>
              </b-table>
            </div>
            <div class="row col ml-2 mt-2">
              <b-pagination
                size="md"
                :total-rows="this.items.length"
                :per-page="perPageSelected"
                v-model="currentPageSelected"
              />
              <b-form-fieldset horizontal class="col-1">
                <b-form-select
                  :options="[
                    { text: 5, value: 5 },
                    { text: 10, value: 10 },
                    { text: 15, value: 15 },
                  ]"
                  v-model="perPageSelected"
                >
                </b-form-select>
              </b-form-fieldset>
            </div>
            <br />
            <!-- button -->
            <vue-form-generator
              :model="model"
              :schema="bulkSchema"
              ref="bulkForm"
            >
            </vue-form-generator>

            <button
              type="submit"
              class="btn btn-primary btn-fill float-left btn-md"
              @click.prevent="back"
            >
              <i class="fa fa-step-backward" /> &nbsp; Previous
            </button>

            <button
              type="submit"
              class="ml-2 btn btn-primary btn-fill float-right btn-md"
              @click.prevent="submit"
            >
              <i class="fa fa-paper-plane" /> &nbsp; Submit
            </button>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  methods: {
    addParticipant(data) {
      console.log(JSON.stringify(data.item));

      this.selectedList.unshift(data.item);
    },

    reset() {
      this.model.name = "";
      this.model.nric = "";
      this.model.nric = "";
      this.model.phoneno = "";
      this.model.type = "";
      this.model.status = "";
      this.model.expdate = "";
    },

    edit(item) {
      console.log(item);
    },
  },

  components: {
  },

  data() {
    return {
      type: [
        { id: "UTS", name: "UTS" },
        { id: "PRS", name: "PRS" },
      ],

      status: [
        { id: "Active", name: "Active" },
        { id: "Suspend", name: "Suspend" },
        { id: "Terminate", name: "Terminate" },
      ],

      fields: [
        // A virtual column that doesn't exist in items
        { key: "index", label: "No" },
        // A column that needs custom formatting
        { key: "FIMMFundCode", label: "FIMM Fund Code", sortable: true },
        // A regular column
        { key: "MFundCode", label: "Member Fund Code", sortable: true },
        // A regular column
        { key: "SName", label: "Fund Short Name", sortable: true },
        { key: "FundName", label: "Fund Name", sortable: true },
        { key: "fundPrevPrice", label: "Previous Price", sortable:true},
        { key: "fundTodayPrice", label: "Today's Price", sortable: true},
        { key: "actions", label: "Actions" },
        // A virtual column made up from two fields
        // { key: "nameage", label: "First name and age" }
      ],
      fieldSelectedParticipant: [
        // A virtual column that doesn't exist in items
        { key: "index", label: "No" },
        // A column that needs custom formatting
        { key: "FIMMFundCode", label: "FIMM Fund Code", sortable: false },
        // A regular column
        { key: "MFundCode", label: "Member Fund Code", sortable: false },
        // A regular column
        { key: "SName", label: "Fund Short Name", sortable: false },
        { key: "FundName", label: "Fund Name", sortable: false },
        { key: "fundPrevPrice", label: "Previous Price", sortable:false},
        { key: "test", label: "Price" },
        { key: "reason", label: "Supported Document" },
        { key: "valuationDate", label: "Valuation Date" },
        { key: "Remark", label: "Remark" },
        { key: "actions", label: "Actions" },
        // A virtual column made up from two fields
        // { key: "nameage", label: "First name and age" }
      ],
      selectedList: [],
      items: [
        {
          no: 1,
          FIMMFundCode: "00218",
          MFundCode: "022",
          SName: "ABFMY1",
          FundName: "ABF Malaysia Bond Index(a)",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.6448

        },
        {
          no: 2,
          FIMMFundCode: "0023",
          MFundCode: "0037",
          SName: "FBMETF",
          FundName: "FTSE Bursa Malaysia KLCI ETF",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.6448
        },
        {
          no: 3,
          FIMMFundCode: "00209",
          MFundCode: "0009",
          SName: "AMAA",
          FundName: "Amal-Amin Z2",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.6448
        },
        {
          no: 4,
          FIMMFundCode: "00201",
          MFundCode: "0001",
          SName: "AMCM",
          FundName: "Amcash Management Z3",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.6448
        },
        {
          no: 5,
          FIMMFundCode: "00206",
          MFundCode: "0006",
          SName: "AMINCOME",
          FundName: "Amincome Z1",
          fundPrevPrice: 1.6648,
          fundTodayPrice: 1.6448
        },
      ],
      tableVariants: [
        "primary",
        "secondary",
        "info",
        "danger",
        "warning",
        "success",
        "light",
        "dark",
      ],

      //1st table
      currentPage: 1,
      perPage: 3,
      filter: null,

      //2ndTable
      currentPageSelected: 1,
      perPageSelected: 5,
      filterSelected: null,

      model: {
        name: "",
        nric: "",
        phoneno: "",
        type: "",
        status: "",
        file: "",
      },

      schema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "text",
                model: "Name",
                label: "Name",
                styleClasses: "col-md-6",
              },
              {
                type: "input",
                inputType: "text",
                model: "nric",
                label: "NRIC No",
                styleClasses: "col-md-6",
              },

              {
                type: "select",
                label: "Type",
                model: "type",
                styleClasses: "col-md-6",
                values: (model, schema) => {
                  return this.type;
                },
              },
              {
                type: "select",
                label: "Status",
                model: "status",
                styleClasses: "col-md-6",
                values: (model, schema) => {
                  return this.status;
                },
              },
            ],
          },
        ],
      },

      bulkSchema: {
        fields: [
          {
                id: '1',
                labels: 'Bulk Upload',
                accept: '.csv,.xlsx,.xls',
                multiple: true,
                text: 'Choose a File',
                model: 'file',
                type: 'vfg-custom-multiple-file-edit',
                styleClasses: 'col-md-12',
          },
        ],
      },
    };
  },
};
</script>

