
<template>
  <!-- <div class="col-md-12"> -->
  <!-- <div id="app"> -->
  <!-- <template> -->
  <!-- <div class="width"> -->
  <VueFileAgent
    ref="vueFileAgent"
    :uploadUrl="'https://example.com'"
    :theme="'grid'"
    :compact="true"
    :multiple="false"
    :deletable="true"
    :meta="true"
    :accept="'.jpg,.png'"
    :maxSize="'2MB'"
    :maxFiles="14"
    :helpText="'Upload company logo'"
    :errorText="{
      type: 'Invalid file type.',
      size: 'Files should not exceed 2MB in size'
    }"
    @select="filesSelected($event)"
    v-model="value"
  ></VueFileAgent>
  <!-- </template>
    </div> -->
  <!-- </div> -->
</template>
<script>
import { abstractField } from "vue-form-generator";
export default {
  data() {
    return {
      uploadFileOject: "",
      fileRecords: [],
      fileRecordsForUpload: [],
      uploadUrl: "https://www.mocky.io/v2/5d4fb20b3000005c111099e3",
      uploadHeaders: {
        "X-Test-Header": "vue-file-agent"
      }
    };
  },
  mixins: [abstractField],
  methods: {
    info(info) {
      console.log("infooo");
      alert(info);
    },

    deleteUploadedFile: function(fileRecord) {
      this.$refs.vueFileAgent.deleteUpload(
        this.uploadUrl,
        this.uploadHeaders,
        fileRecord
      );
    },
    filesSelected: function(fileRecordsNewlySelected) {
      var validFileRecords = fileRecordsNewlySelected.filter(
        fileRecord => !fileRecord.error
      );
      this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
        validFileRecords
      );

      //this.uploadFileName = this.fileRecordsForUpload[0].file.name;
      this.uploadFileOject = this.fileRecordsForUpload[0].file;
      this.value = this.uploadFileOject;
      console.log("this is image upload",this.fileRecordsForUpload[0].file);

    },
    fileDeleted: function(fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      } else {
        this.deleteUploadedFile(fileRecord);
      }
    }
  }
};
</script>

<style scoped>
.width {
  width: 50%;
}
</style>
