
<template>
  <div class="width">
    <!-- {{ schema.dataValue }} -->
    <!-- <label> {{ schema.labels }} <span class="colors">*</span> </label> -->
    <!-- <br /> -->
    <input
      ref="input"
      class="form-control form-control-md"
      v-model="value"
      :placeholder="schema.placeholder"
      v-currency="options"
    />
  </div>
</template>
<script>
import { abstractField } from "vue-form-generator";
export default {
  mixins: [abstractField],

  computed: {
    options() {
      return {
        currency: "MYR",
        locale: "ms"
      };
    }
  }

  // data() {} -commented 2/4/21 Haizad
};
</script>
<style lang="scss">
.colors {
  color: red;
}
.width {
  width: 175%;
}
</style>
