/* eslint-disable no-unused-expressions */
<template>
  <va-card>
    <!-- authorization -->
    <vudal name="simpleModalEditAuthPage" class="widthModal">
      <div class="header">
        Edit Screen<i class="close icon">&times;</i>
      </div>
      <div class="content">
        <vue-form-generator
          :model="model"
          :schema="editAuthSchema"
          :options="formOptions"
        />
      </div>
      <div class="actions">
        <button
          type="button"
          class="cancel vudal-btn mr-2 btn btn-danger btn-fill btn-md"
        >
          <i class="fa fa-times" /> &nbsp; Close
        </button>
        <button
          @click="updateAuthPageAPI"
          type="button"
          class="cancel vudal-btn mr-2 btn btn-primary btn-fill btn-md"
        >
          <i class="fa fa-edit" /> &nbsp; Update
        </button>
      </div>
    </vudal>
    <!-- group -->

    <h4 slot="header" class="card-title">Screen Access</h4>
    <div class="">
      <br />
      <tabs
        :tabs="tabs"
        :currentTab="currentTab"
        :wrapper-class="'default-tabs'"
        :tab-class="'default-tabs__item'"
        :tab-active-class="'default-tabs__item_active'"
        :line-class="'default-tabs__active-line'"
        @onClick="handleClick"
      />

      <div v-if="currentTab === 'tab1'">
        <br />
        <vue-form-generator
          :model="model"
          :schema="Tab1SelectStaff"
          :options="formOptions"
          ref="Tab1Form"
        >
        </vue-form-generator>
        <br />
        <vue-form-generator
          :model="model"
          :schema="Tab1Schema"
          :options="formOptions"
          ref="Tab1Form"
        >
        </vue-form-generator>
        <br />
        <!-- list -->
        <va-card class="mt-2">
          <va-data-table
            :datacount="screenListCount"
            :dataperpage="parseInt(perPage)"
            :fields="moduleFields"
            :data="moduleFilteredData"
            no-data-label="No data found"
            :per-page="parseInt(perPage)"
            clickable
          >
            <template slot="no" slot-scope="row">
              {{ row.rowIndex + 1 }}
            </template>

            <template slot="actions" slot-scope="props">
              <va-checkbox
                @change="checkBox"
                class="col-2"
                v-model="props.rowData.selected"
              />
            </template>
          </va-data-table>
        </va-card>
        <br />
        <vue-form-generator
          :model="model"
          :schema="Tab2Schema"
          :options="formOptions"
          ref="Tab1Form"
        >
        </vue-form-generator>
        <br /><br />
        <button
          @click="back"
          type="button"
          class="ml-2 btn btn-primary btn-fill float-left btn-md"
        >
          Back
        </button>
        <button
          type="submit"
          @click.prevent="submit"
          class="ml-2 btn btn-primary btn-fill float-right btn-md"
        >
          &nbsp; Submit
        </button>
      </div>
      <div v-if="currentTab === 'tab2'">
        <br />
        <vue-form-generator
          :model="model"
          
          :options="formOptions"
     
          ref="Tab2Form"
        >
        </vue-form-generator>
        <va-card class="mt-2">
          <va-data-table
            :datacount="screenAccessListCount"
            :dataperpage="parseInt(perPage)"
            :fields="groupAuthorizationSchema"
            :data="groupAuthorizationFilteredData"
            :per-page="parseInt(perPage)"
            clickable
          >
            <template slot="no" slot-scope="row">
              {{ row.rowIndex + 1 }}
            </template>

            <template slot="actions" slot-scope="props">
                <h4 class="mt-2">
                  <span
                    class="badge badge-primary mr-1"
                    v-on:click="editAuthPage(props.rowData)"
                    
                  >
                    <i class="fa fa-edit"></i
                  ></span>
  
                </h4>
              </template>
          </va-data-table>
        </va-card>
      </div>
    </div>
  </va-card>
</template>
<script>
// eslint-disable-next-line no-unused-vars
import Vudal from "vudal";
import "vue-form-generator/dist/vfg.css";
import Tabs from "vue-tabs-with-active-line";
import * as servicesModule04 from "../../../../app/module0/services04";
import * as servicesModule0 from "../../../../app/module0/services02";

const TABS = [
  { title: "Setting 1 : Access Screen", value: "tab1" },
  { title: "Setting 2 : Authorization Level Screen", value: "tab2" }
];

export default {
  mounted() {
    this.getScreen();
    this.getAllModule();
    this.getGroup();
    this.getAuthorizationLevel();
    // this.getUser();
    this.getAllSubmodule();
    this.getStaffList();
    this.getAuthorizationPage();
  },

  watch : {
    'model.moduleSelection': function(val) {
      if(val) {

      }else{
        this.getAllScreens();
      }
    },
    'model.submoduleSelection': function(val) {
      if(val) {

      }else{
        // alert('ss')
        this.getScreenByModule();
      }
    },
  },
  components: {
    Tabs,
    Vudal
  },
  methods: {
    async submit() {
      this.checkboxArray = [];
      this.screenList.forEach(item => {
        if (item.selected == true) {
          this.checkboxArray.push(item.TP_MANAGE_SCREEN_ID);
        }
      });
      // alert(this.checkboxArray)
      const data = new FormData();
      data.append("TP_MANAGE_GROUP_ID", this.model.TP_MANAGE_GROUP_ID.TP_MANAGE_GROUP_ID);
      data.append("TP_AUTHORISATION_ID", this.model.TP_AUTHORISATION_ID.AUTHORIZATION_LEVEL_ID);
      data.append("TP_MANAGE_SCREEN_ID", JSON.stringify(this.checkboxArray));
      data.append("TP_USER_ID", this.model.USER.USER_ID);
      try {
        const response = await servicesModule0.createTpScreenAccess(data);
        this.getAuthorizationPage();
      } catch (error) {
        console.log(error);
      }
    },

    checkBox(screenId, id) {
      if (document.getElementById("checkboxId_" + id).checked) {
        this.checkboxArray.push(screenId);
      } else {
        const indexToRemove = this.checkboxArray.indexOf(screenId);
        if (indexToRemove > -1) {
          this.checkboxArray.splice(indexToRemove, 1);
        }
      }
    },

    

    getStaffList: async function() {
      const response = await servicesModule0.getStaffList();
      this.staffList = response;
    },
    

    getAuthorizationLevel: async function() {
      const response = await servicesModule0.getAllDistAuthLevelList();
      this.AuthList = response;
    },

    getAuthorizationPage: async function() {
      const response = await servicesModule0.getAllTpAuthPageList();
      this.AuthPageList = response;
    },

    
    handleClick(newTab) {
      this.currentTab = newTab;
    }, // end tab
    back() {
      this.$router.go(-1);
    }, // back button

    //--------------------module---------------------------/
    getAllModule: async function() {
      const response = await servicesModule0.getAllTpManageModuleList();
      this.moduleList = response;
    },
    // getScreenByModule: async function() {
    //   const response = await servicesModule0.getScreen(
    //     this.model.moduleSelection.DISTRIBUTOR_MANAGE_MODULE_ID,
    //   );
    //   this.screenList = response;
    //   this.screenListCount = this.screenList.length;
    // },

    getScreen: async function() {
      const response = await servicesModule0.getAllTpManageScreenList(
      );
      this.screenList = response;
      this.screenListCount = this.screenList.length;
    },

   
    getGroup: async function() {
      const response = await servicesModule0.getAllTpManageGroupList(
      );
      this.groupList = response;
    },

    getAllSubmodule: async function() {
      const response = await servicesModule0.getAllTpManageSubModuleList();
      this.submoduleList = response;
      this.submoduleListCount = this.submoduleList.length;
    },
    
    async editAuthPage(data) {
      const response = await servicesModule0.getTpScreenAuthPageById(
        data.TP_SCREEN_ACCESS_ID
      );
      this.$modals.simpleModalEditAuthPage.$show();
      this.TP_SCREEN_ACCESS_ID = response.TP_SCREEN_ACCESS_ID;
      this.model.editAuthPage = response;
      console.log(response);
    },
    async updateAuthPageAPI() {
      try {
        const data = new FormData();
        data.append(
          "TP_SCREEN_ACCESS_ID",
          this.TP_SCREEN_ACCESS_ID
        );
        data.append("TP_MANAGE_GROUP_ID", this.model.editAuthPage.TP_MANAGE_GROUP_ID.TP_MANAGE_GROUP_ID);
        data.append("TP_AUTHORISATION_ID", this.model.editAuthPage.TP_AUTHORISATION_ID.AUTHORIZATION_LEVEL_ID);
        const response = await servicesModule0.updateTpManageScreenAccess(data);
        this.getAuthorizationPage();
      } catch (error) {
        console.log(error);
      }
    },
    //----------------------department-----------------/
    // getAllDepartment: async function() {
    //   const response = await servicesModule0.getAllDepartmentList();
    //   this.departmentList = response;
    // },
    
    
    //----------------------group-----------------/
  },

  computed: {
    //tab1
    moduleFields() {
      return [
        {
          name: "__slot:no",
          title: "No"
        },
        {
          name: "MOD_NAME",
          title: "Module Name"
        },
        {
          name: "TP_SUBMOD_NAME",
          title: "Submodule Name"
        },
        {
          name: "TP_SCREEN_NAME",
          title: "Screen Name"
        },
        {
          name: "TP_SCREEN_DESC",
          title: "Description"
        },
        {
          name: "__checkbox",
          titleClass: "center aligned",
          dataClass: "center aligned"
        }
      ];
    },
    moduleFilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.screenList;
      }
    },
    //tab2
    groupAuthorizationSchema() {
      return [
        {
          name: "__slot:no",
          title: "No"
        },
        {
          name: "TP_MANAGE_GROUP_NAME",
          title: "Group"
        },
        {
          name: "AUTHORIZATION_LEVEL_NAME",
          title: "Authorization Level"
        },
        {
          name: "__slot:actions",
          title: "Action",
          dataClass: "justify-content-center",
          width: "15%"
        }
      ];
    },
    groupAuthorizationFilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.AuthPageList;
      }
    },
    //tab3
    groupFields() {
      return [
        {
          name: "__slot:no",
          title: "No"
        },
        {
          name: "MOD_NAME",
          title: "Module Name"
        },
        {
          name: "DPMT_NAME",
          title: "Department Name"
        },
        {
          name: "GROUP_NAME",
          title: "Group Name"
        },
        {
          name: "__slot:actions",
          title: "Action",
          dataClass: "justify-content-center",
          width: "15%"
        }
      ];
    },
    groupFilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.groupList;
      }
    }
  },

  data() {
    return {
      screenListCount: null,
      screenAccessListCount: null,
      checkboxArray: [],
      authorizationLevel: null,
      screenListCurrentCount: null,
      header: "",
      field: [],
      count: 1,
      term: null,
      hasModule: false,
      perPage: "10",
      perPageOptions: ["4", "6", "10", "20"],
      moduleList: [],
      screenList: [],
      submoduleList: [],
      screenAccessList: [],
      divisionList: [],
      authorizationList: [],
      staffList: [],
      departmentList: [],
      groupList: [],
      currentPage: 1,
      AuthList: [],
      AuthPageList: [],

      tabs: TABS,
      currentTab: "tab1",

      model: {
        divisionName: "",
        editDivisionName: "",

        USER: '',

        moduleSelection: "",
        submoduleSelection: "",
        departmentSelection: "",
        groupSelection: "",
        authorizationSelection: "",
        departmentName: "",
        editDepartmentName: "",
         TP_MANAGE_GROUP_ID:'',
        TP_SCREEN_ID: '',
        TP_MANAGE_GROUP_ID: '',
        TP_AUTHORISATION_ID: '',
        TP_MANAGE_SCREEN_ID: '',
        USER: '',
        editAuthPage: {
        TP_MANAGE_GROUP_ID: '',
        TP_AUTHORISATION_ID: '',
        },
      },
      //Module
      editDivisionSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "Text",
                model: "editDivisionName",
                label: "Module Name",
                placeholder: "Enter division",
                required: true,
                styleClasses: "col-md-12"
              }
            ]
          }
        ]
      },
      //Module & submodule
      Tab1Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                label: "Module Name",
                type: "vueMultiSelect",
                model: "moduleSelection",
                placeholder: "Select Module",
                selectOptions: {
                  multiple: false,
                  key: "TP_MANAGE_MODULE_ID",
                  label: "TP_MOD_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.moduleList;
                },
                styleClasses: "col-md-6"
              },
              {
                label: "Submodule Name",
                type: "vueMultiSelect",
                model: "submoduleSelection",
                placeholder: "Select Submodule",
                selectOptions: {
                  multiple: false,
                  key: "TP_MANAGE_SUBMODULE_ID",
                  label: "TP_SUBMOD_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.submoduleList;
                },
                styleClasses: "col-md-6"
              }
            ]
          }
        ]
      },
      Tab2Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                label: "Group Name",
                type: "vueMultiSelect",
                model: "TP_MANAGE_GROUP_ID",
                placeholder: "Select Group",
                selectOptions: {
                  multiple: false,
                  key: "TP_MANAGE_GROUP_ID",
                  label: "TP_MANAGE_GROUP_NAME",
                  searchable: true
                },

                values: (model, schema) => {
                  return this.groupList;
                },
                styleClasses: "col-md-6"
              },
              {
                label: "Authorization Level Name",
                type: "vueMultiSelect",
                model: "TP_AUTHORISATION_ID",
                placeholder: "Select Authorisation",
                selectOptions: {
                  multiple: false,
                  key: "AUTHORIZATION_LEVEL_ID",
                  label: "AUTHORIZATION_LEVEL_NAME",
                  searchable: true
                },

                values: (model, schema) => {
                  return this.AuthList;
                },
                styleClasses: "col-md-6"
              },
            ]
          }
        ]
      },
      Tab1SelectStaff: {
        groups: [
                    {
            styleClasses: "row mt-2",
            fields: [
              {
                type: "vueMultiSelect",
                model: "USER",
                label: "Staff Name",
                placeholder: "Select Staff",
                selectOptions: {
                  multiple: false,
                  key: "USER_ID",
                  label: "USER_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.staffList;
                },
                styleClasses: "col-md-12"
              }
            ]
          }
        ]
      },
      
      editDepartmentSchema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                type: "vueMultiSelect",
                model: "DIVISION",
                label: "Module Name",
                placeholder: "Select Division",
                selectOptions: {
                  multiple: false,
                  key: "MANAGE_MODULE_ID",
                  label: "MOD_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.moduleList;
                },
                styleClasses: "col-md-12",
                required: true,
                validator: "required"
              },
              {
                type: "input",
                inputType: "Text",
                model: "DPMT_NAME",
                label: "Department Name",
                placeholder: "Enter department",
                required: true,
                styleClasses: "col-md-12",
                validator: "required"
              }
            ]
          }
        ]
      },

      editAuthSchema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
            {
                label: "Group Name",
                type: "vueMultiSelect",
                model: "editAuthPage.TP_MANAGE_GROUP_ID",
                placeholder: "Select Group",
                selectOptions: {
                  multiple: false,
                  key: "TP_MANAGE_GROUP_ID",
                  label: "TP_MANAGE_GROUP_NAME",
                  searchable: true
                },

                values: (model, schema) => {
                  return this.groupList;
                },
                styleClasses: "col-md-6"
              },
              {
                label: "Authorization Level Name",
                type: "vueMultiSelect",
                model: "editAuthPage.TP_AUTHORISATION_ID",
                placeholder: "Select Authorisation",
                selectOptions: {
                  multiple: false,
                  key: "AUTHORIZATION_LEVEL_ID",
                  label: "AUTHORIZATION_LEVEL_NAME",
                  searchable: true
                },

                values: (model, schema) => {
                  return this.AuthList;
                },
                styleClasses: "col-md-6"
              },
            ]
          }
        ]
      },
      //Group

      formOptions: {
        validateAfterChanged: true
      }
    };
  }
};
</script>
<style lang="scss">
.va-data-table__pagination {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.default-tabs {
  position: relative;
  margin: 0 auto;

  &__item {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: gray;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.25s;

    &__active {
      color: black;
    }

    &:hover {
      border-bottom: 2px solid gray;
      color: black;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid gray;
      color: black;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}

.content {
  margin-top: 30px;
  font-size: 20px;
}

.inline {
  display: inline-flex;
  float: right;
}
</style>
