<template>
  <div>
    <va-modal
      v-model="showStaticModal"
      title="A verification link has been sent to your email accaount"
      message="Please check on the link has just been sent to your email account to verify your email and continue the registration process"
      no-dismiss
      cancel-text=""
      ok-text="Close"
      @ok="proceedToLogin"
    />
    <va-card>
      <form @submit.prevent="onSubmit">
        <vue-form-generator
          :model="model"
          :schema="schema"
          :options="formOptions"
          ref="regForm"
          @model-updated="onModelUpdated"
        >
        </vue-form-generator>
        <br />
        <div class="d-flex justify--center mt-3">
          <va-button type="submit" class="my-0 btncolor">Submit</va-button>
        </div>
      </form>
    </va-card>
  </div>
</template>

<script>
import VueFormGenerator from "vue-form-generator";
import "vue-form-generator/dist/vfg-core.css";
import "bootstrap/dist/css/bootstrap.css";
import Vue from "vue";
import { getAllPostal } from "../../../app/module0/services";
import * as services03Module5 from "../../../app/module5/services03";
import * as services06Module0 from "../../../app/module0/services06";
import * as servicesModule5 from "../../../app/module5/services";
Vue.use(VueFormGenerator);
import moment from "moment";
export default {
  name: "signup",
  mounted() {
    this.getUseridSetting();
    this.getAllPostal();
    this.getCountry();
    this.getCityByPostal();
    this.showStaticModal = false;
  },
  data() {
    return {
      registrationType: [
        {
          name: "3rd Party / UTMC",
          value: "1"
        },
        { name: "Training Provider",
          value: "2"
        }
      ],
      timestamp: "",
      country: [],
      postcode: [],
      city: [],
      states: [],
      showStaticModal: true,
      citizenship: [
        {
          name: "Malaysian",
          value: "1",
          selected: true
        },
        { name: "Non Malaysian", value: "2" }
      ],
      visible: false,
      visibleIc: true,
      visiblePassport: false,

      model: {
        registrationType: "",
        applicationType: "",

        // userId:'',
        fullName: "",
        icNo: "",
        passport: "",
        passportExpiryDate: null,
        citizenship: "1",
        applicantAddress: "",
        applicantAddress2: "",
        applicantAddress3: "",
        applicantPostcode: "",
        applicantCity: "",
        applicantState: "",
        applicantEmail: ""
      },
      formOptions: {
        validateAfterChanged: true
      },
      schema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "radios",
                label: "Registration Type",
                model: "registrationType",
                values: () => {
                  return this.registrationType;
                },
                styleClasses: "col-md-12 display-inline",
                required: true
              },
              // {
              //   type: 'input',
              //   inputType: 'text',
              //   label: 'User ID',
              //   model: 'userId',
              //   placeholder: 'Please enter user ID',
              //   required: true,
              //   validator: 'string',
              //   styleClasses: 'col-md-12',
              // },
              {
                type: "input",
                inputType: "text",
                label: "Full Name (as per NRIC)",
                model: "fullName",
                placeholder: "Please enter full name",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "radios",
                label: "Citizenship",
                model: "citizenship",
                values: () => {
                  return this.citizenship;
                },
                styleClasses: "col-md-4 display-inline"
              },
              {
                labels: "NRIC No",
                model: "icNo",
                type: "vfg-the-mask",
                placeholder: "Enter NRIC No",
                mask: "######-##-####",
                styleClasses: "col-md-8",
                visible: (model, field, form) => {
                  return this.visibleIc;
                },
                required: true,
                validator: "string"
              },
              {
                type: "input",
                inputType: "text",
                label: "Passport No.",
                model: "passport",
                placeholder: "Enter Passport No.",
                required: true,
                validator: "string",
                styleClasses: "col-md-4",
                visible: (model, field, form) => {
                  return this.visiblePassport;
                }
              },
              {
                labels: "Passport Expiry Date",
                type: "vfg-functional-date",
                placeholder: "Passport expiry date",
                model: "passportExpiryDate",
                noLabel: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-4",
                visible: (model, field, form) => {
                  return this.visiblePassport;
                },
                required: true,
                validator: ["required", this.validateExpiryDate]
              },
              {
                type: "input",
                inputType: "text",
                label: "Address",
                model: "applicantAddress",
                placeholder: "Enter street address",
                hint: "Street Address",
                required: true,
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                model: "applicantAddress2",
                placeholder: "Enter street address",
                hint: "Street Address line 2",
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                model: "applicantAddress3",
                placeholder: "Enter street address",
                hint: "Street Address line 3",
                styleClasses: "col-md-12"
              },

              {
                type: "vueMultiSelect",
                model: "applicantPostcode",
                label: "Postcode",
                placeholder: "Enter Your Postcode",
                // required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "SETTING_POSTCODE_ID",
                  label: "POSTCODE_NO",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.postcode;
                },
                styleClasses: "col-md-6"
              },
              {
                type: "vueMultiSelect",
                model: "applicantCity",
                label: "City",
                placeholder: "Enter Your City",
                // required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "SETTING_CITY_ID",
                  label: "SET_CITY_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.city;
                }
                // disabled: (model, schema) => {
                //   if (this.model.applicantPostcode) {
                //     return false
                //   } else {
                //     return true
                //   }
                // },
              },
              {
                type: "input",
                inputType: "text",
                label: "State",
                model: "applicantState",
                placeholder: "Enter state",
                // required: true,
                styleClasses: "col-md-6",
                disabled: false
              },
              {
                type: "vueMultiSelect",
                model: "country",
                label: "Country",
                placeholder: "Enter Your Country",
                required: true,
                // validator: 'required',
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "SETTING_GENERAL_ID",
                  label: "SET_PARAM",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.country;
                }
              },
              {
                type: "input",
                inputType: "email",
                label: "Company Email",
                model: "applicantEmail",
                placeholder: "Enter email address",
                required: true,
                validator: "string",
                styleClasses: "col-md-6"
              }
            ]
          }
        ]
      }
    };
  },
  methods: {
    proceedToLogin() {
      this.$router.push("/auth-others/login-others");
    },
    showOverlay(show) {
      Event.$emit("signup-others:overlay", show);
    },
    handleFileChange(e) {
      this.$emit("input", e.target.files[0]);
      this.fileName1 = e.target.files[0].name;
      console.log(e.target.files[0].name);
    },
    validateRegisterForm() {
      return this.$refs.regForm.validate();
    },
    async getUseridSetting() {
      const response = await services06Module0.getUserIdSetting(0);
      this.useridSetting = response;
    },
    validateExpiryDate(value) {
      if (value != null) {
        const today = new Date();
        const date =
          today.getFullYear() +
          "-" +
          (today.getMonth() + 1) +
          "-" +
          today.getDate();
        const time =
          today.getHours() +
          ":" +
          today.getMinutes() +
          ":" +
          today.getSeconds() +
          " GMT";
        const dateTime = date + " " + time;

        const unixTimeNow = Date.parse(dateTime);
        console.log(unixTimeNow);

        //date expiry
        const expiryDate = this.model.USER_PASS_EXP;
        const dateExpiry =
          expiryDate.getFullYear() +
          "-" +
          (expiryDate.getMonth() + 1) +
          "-" +
          expiryDate.getDate();
        const timeExpiry =
          expiryDate.getHours() +
          ":" +
          expiryDate.getMinutes() +
          ":" +
          expiryDate.getSeconds() +
          " GMT";
        const dateTimeExpiry = dateExpiry + " " + timeExpiry;
        const unixTimeExpiryDate = Date.parse(dateTimeExpiry);
        console.log(unixTimeExpiryDate);

        //compare
        if (unixTimeExpiryDate < unixTimeNow) {
          console.log("expired");
          return ["Expired"];
        } else {
          console.log("not expired");
          // return ["Expired"];
        }
      } else {
        console.log("ssdfdsf");
      }
    },
    async getAllPostal() {
      const response = await servicesModule5.getAllPostcodeList();
      this.postcode = response;
    },
    async getCityByPostal() {
      const response = await servicesModule5.getAllCityList();
      this.city = response;
    },
    // async getStateByPostal () {
    //   const response = await services00Module5.getAllStateList()
    //   this.model.applicantState = response.SET_PARAM
    //   // this.city = response;
    // },
    async getCountry() {
      const response = await servicesModule5.getAllCountryList();
      this.country = response;
    },
    onModelUpdated(newVal, schema) {
      console.log(newVal);
      if (schema == "USER_CITIZEN") {
        if (newVal == 1) {
          this.visiblePassport = false;
          this.visibleIc = true;
        } else {
          this.visiblePassport = true;
          this.visibleIc = false;
        }
      }
    },

    onSubmit: async function() {
      const vm = this;
      const response = await this.validateRegisterForm();
      if (response) {
        if (this.model.citizenship == "1") {
          if (this.model.registrationType == "1") {
            const data = new FormData();
            data.append("TP_USER_TYPE", this.model.registrationType);
            data.append("TP_USER_FNAME", this.model.fullName);
            data.append("TP_NRIC_NUMBER", this.model.icNo);
            data.append("TP_USER_CITIZEN", this.model.citizenship);
            data.append("TP_USER_NRIC", this.model.icNo);
            data.append("TP_USER_ADDR1", this.model.applicantAddress);
            data.append("TP_USER_ADDR2", this.model.applicantAddress2);
            data.append("TP_USER_ADDR3", this.model.applicantAddress3);
            data.append("TP_USER_POSTAL", this.model.postcode);
            data.append("TP_USER_CITY", this.model.city);
            data.append("TP_USER_STATE", this.model.states);
            data.append("TP_USER_COUNTRY", this.model.country);
            data.append("TP_USER_EMAIL", this.model.applicantEmail);
            data.append("TP_USER_STATUS", "0");
            console.log(data);
            console.log(response);
            try {
              vm.showOverlay(true);
              const response = await services03Module5
                .createTPUser(data)
                .then(function(response) {
                  console.log(response);
                  vm.showOverlay(false);
                  vm.showStaticModal = true;
                });
            } catch (error) {
              console.log(error);
            }
          } else if (this.model.registrationType == "2") {
            const data = new FormData();
            data.append("TP_USER_TYPE", this.model.registrationType);
            data.append("TP_USER_FNAME", this.model.fullName);
            data.append("TP_USER_CITIZEN", this.model.citizenship);
            data.append("TP_USER_NRIC", this.model.icNo);
            data.append("TP_USER_ADDR1", this.model.applicantAddress);
            data.append("TP_USER_ADDR2", this.model.applicantAddress2);
            data.append("TP_USER_ADDR3", this.model.applicantAddress3);
            data.append("TP_USER_POSTAL", this.model.postcode);
            data.append("TP_USER_CITY", this.model.city);
            data.append("TP_USER_STATE", this.model.states);
            data.append("TP_USER_COUNTRY", this.model.country);
            data.append("TP_USER_EMAIL", this.model.applicantEmail);
            data.append("TP_USER_STATUS", "0");
            console.log(data);
            console.log(response);
            try {
              vm.showOverlay(true);
              const response = await services03Module5
                .createTPUser(data)
                .then(function(response) {
                  console.log(response);
                  vm.showOverlay(false);
                  vm.showStaticModal = true;
                });
              console.log(data);
              console.log(response);
            } catch (error) {
              console.log(error);
            }
          }
        } else {
        }
      }
    }
  },
  computed: {
    // formReady() {
    //   return !(
    //     this.emailErrors.length ||
    //     this.passwordErrors.length ||
    //     this.agreedToTermsErrors.length
    //   );
    // }
  }
};
</script>

<style lang="scss">
.display-inline label {
  display: inline !important;
  padding: 5px;
}
</style>
<style scoped>
.widthModal {
  width: 50%;
}
</style>
