<template>
  <va-card>
    <div class="col-lg-10">
      <h4 slot="header">FEE MANAGEMENT</h4>
    </div>
    <br />
    <br />

    <h5>
      <i class="fa fa-bank"></i>&nbsp;&nbsp;
      <b>DISTRIBUTOR FEE</b>
    </h5>
    <hr />

    <div class="ml-5">
      <!-- Marketing Approach -->
        <va-card>
          <br />
          <vue-form-generator
            :model="model"
            :schema="Tab1Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          <vue-form-generator
            :model="model"
            :schema="Tab2Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          <vue-form-generator
            :model="model"
            :schema="Tab3Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
           <vue-form-generator
            :model="model"
            :schema="Tab4Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          
        </va-card>
        
        
          <br/>
          <br/>
          <div class="float-right">
            <button
              @click="submit"
              type="button"
              class="ml-2 btn btn-primary btn-fill btn-md"
            >
              <i class="fa fa-save" /> &nbsp; SAVE
            </button>
          </div>
          <div class="float-right"></div>
          <br />
          <h4>List of Distributor Fee </h4>
          <br/>
          <!-- list -->
          <va-card class="mt-2">
            <va-data-table
              :fields="DistFeeList"
              :data="filteredDistFee"
              :per-page="parseInt(perPage)"
              :datacount="DistFeeCount"
               :dataperpage="parseInt(perPage)"
              clickable
            >
              <template slot="no" slot-scope="row">
                {{ row.rowIndex + 1 }}
              </template>

              <template slot="actions" slot-scope="props">
                <h4 class="mt-2">
                  <span
                    class="badge badge-primary mr-1"
                    v-on:click="editDistFee(props.rowData)"
                    
                  >
                    <i class="fa fa-edit"></i
                  ></span>
                  <span
                    class="badge badge-danger mr-1"
                    v-on:click="deleteDistFee(props.rowData)"
                  >
                    <i class="fa fa-trash"></i
                  ></span>
                </h4>
              </template>
            </va-data-table>
            <br />
            <br/>
          
          </va-card>
          <br/>
          <br/>
    
      
    

     
    </div>

    <vudal name="simpleModalEditDistFee" class="widthModal">
              <div class="header">
                EDIT DISTRIBUTOR FEE<i class="close icon">&times;</i>
              </div>
              <div class="content">
                <vue-form-generator
                  :model="model"
                  :schema="editDistFeeSchema"
                  :options="formOptions"
                />
              </div>
              <div class="actions">
                <button
                  type="button"
                  class="cancel vudal-btn mr-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-times" /> &nbsp; CLOSE
                </button>
                <button
                  @click="updateDistFeeAPI"
                  type="button"
                  class="cancel vudal-btn mr-2 btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-edit" /> &nbsp; UPDATE
                </button>
              </div>
            </vudal>
    

  </va-card>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import Vue from "vue";
import Vudal from "vudal";
import "vue-form-generator/dist/vfg.css";
import * as servicesModule0 from "../../../app/module0/services02";
import { debounce } from "lodash";
Vue.component("field-vfg-functional-date", VfgFunctionalDate);
import VfgFunctionalDate from "../../component/VfgFunctionalCalendar.vue";
import moment from "moment";
import FullCalendar from "@fullcalendar/vue";
import VueCurrencyInput from 'vue-currency-input';

export default {
  mounted() {
    // this.getAllmarketingApproach();
    this.getAllDistributorType();
    this.getAllDistFee();
  },
  components: {
    FullCalendar,
    Vudal,
  },
  // DATA SCHEMA
  data() {
    return {
      term: null,
      visibleLogin: false,
      visibleBlockDuration: false,
      visibleBlockDuration2: false,
      perPage: "6",
      perPageOptions: ["4", "6", "10", "20"],
      DistributorTypelist: [],
      AnnualPreviousYear: [],
      DateList: [],
      RnaDateList: [],
      DistFeelist: [],

      MarketingApproachList: [],
      DateCount: null,
      RnaDateCount: null,
      DistFeeCount: null,


      StatusCount: null,
      loading: false,

      count: 1,
      model: {
          DIST_TYPE: '',
          FEE_START_DATE:'',
          FEE_END_DATE: '',
          APPLICATION_FEE: '',
          TAX_APPLICATION_FEE: '',
          TOTAL_APPLICATION_FEE: '',
          ANNUAL_FEE: '',
          TAX_ANNUAL_FEE: '',
          TOTAL_ANNUAL_FEE: '',


        editDist: {

         DIST_TYPE: '',
          FEE_START_DATE:'',
          FEE_END_DATE: '',
          APPLICATION_FEE: '',
          TAX_APPLICATION_FEE: '',
          TOTAL_APPLICATION_FEE: '',
          ANNUAL_FEE: '',
          TAX_ANNUAL_FEE: '',
          TOTAL_ANNUAL_FEE: '',

        },
        
        
      },

  

      formOptions: {
        validateAfterChanged: true,
      },
      //5 Module CPD Calculation
      Tab1Schema: {
        groups: [
          {
            // styleClasses: "row mt-2",
            fields: [
              {
                type:  'vueMultiSelect',
                model: 'DIST_TYPE',
                label: 'Distributor Type',
                placeholder: 'SELECT DISTRIBUTOR',
                selectOptions: { multiple: false, key: 'DISTRIBUTOR_TYPE_ID', label: 'DIST_TYPE_NAME', searchable: true},
                values: (model, schema) => { return this.DistributorTypelist},
                required: true,
                styleClasses: 'col-md-6',
                
              },
            ],
          },
        ],
        
      },
      Tab2Schema: {
        groups: [
          {
            // styleClasses: "row mt-2",
            fields: [
              {

                labels:"Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'FEE_START_DATE',
                styleClasses: "col-md-6",
                required: true,
              },
              { 
                labels:"End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'FEE_END_DATE',
                styleClasses: "col-md-6",
                required: true,
              },
            ],
          },
        ],
        
      },
      Tab3Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
               type: "input",
                inputType: "Text",
                model: "APPLICATION_FEE",
                label: "Application Fee (RM) ",
                placeholder: "Enter Fee",
                styleClasses: "col-md-6",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "TAX_APPLICATION_FEE",
                label: "Tax (RM) ",
                placeholder: "Enter Tax",
                styleClasses: "col-md-6",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "TOTAL_APPLICATION_FEE",
                label: "Total (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
            ],
          },
        ],
        
      },
      Tab4Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                type: "input",
                inputType: "Text",
                model: "ANNUAL_FEE",
                label: "Annual Fee (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "TAX_ANNUAL_FEE",
                label: "Tax (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
               {
                type: "input",
                inputType: "Text",
                model: "TOTAL_ANNUAL_FEE",
                label: "Total (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
            ],
          },
        ],
        
      },
      
      

      editDistFeeSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type:  'vueMultiSelect',
                model: 'editDist.DIST_TYPE',
                label: 'DISTRIBUTOR TYPE',
                placeholder: 'SELECT DISTRIBUTOR',
                selectOptions: { multiple: false, key: 'DISTRIBUTOR_TYPE_ID', label: 'DIST_TYPE_NAME', searchable: true},
                values: (model, schema) => { return this.DistributorTypelist},
                required: true,
                styleClasses: 'col-md-12',
                
              },
              {

                labels:"Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editDist.FEE_START_DATE',
                noLabel: false,
                styleClasses: "col-md-12",
                required: true,
              },
              { 
                labels:"End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editDist.FEE_END_DATE',
                 noLabel: false,
                styleClasses: "col-md-12",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "editDist.APPLICATION_FEE",
                label: "Application Fee (RM) ",
                placeholder: "Enter Fee",
                styleClasses: "col-md-12",
              },
              {
                type: "input",
                inputType: "Text",
                model: "editDist.TAX_APPLICATION_FEE",
                label: "Tax (RM) ",
                placeholder: "Enter Tax",
                styleClasses: "col-md-12",
              },
              {
                type: "input",
                inputType: "Text",
                model: "editDist.TOTAL_APPLICATION_FEE",
                label: "Total (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
              },
              {
                type: "input",
                inputType: "Text",
                model: "editDist.ANNUAL_FEE",
                label: "Annual Fee (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
              },
              {
                type: "input",
                inputType: "Text",
                model: "editDist.TAX_ANNUAL_FEE",
                label: "Tax (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
              },
               {
                type: "input",
                inputType: "Text",
                model: "editDist.TOTAL_ANNUAL_FEE",
                label: "Total (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
              },
            ],
          },
        ],
      },

      
  
      
    };
  },
  methods: {
  getAllDistributorType: async function () {
      const response = await servicesModule0.getAllDistributorTypeeList();
      this.DistributorTypelist = response;
      // this.CountryCount = this.CountryList.length;
    },

    getAllDistFee: async function () {
      const response = await servicesModule0.getAllDistributorFeeList();
      this.DistFeelist = response;
      this.DistFeeCount = this.DistFeelist.length;
    },
    

   
async submit() {
      if (this.$refs.Tab1Form.validate()) {
        const data = new FormData();
        data.append("DIST_TYPE_ID", this.model.DIST_TYPE.DISTRIBUTOR_TYPE_ID);
        data.append("FEE_START_DATE",  moment(this.model.FEE_START_DATE).format("YYYY-MM-DD"));
        data.append("FEE_END_DATE",  moment(this.model.FEE_END_DATE).format("YYYY-MM-DD"));
        data.append("APPLICATION_FEE", this.model.APPLICATION_FEE ?? "");
        data.append("TAX_APPLICATION_FEE", this.model.TAX_APPLICATION_FEE ?? "");
        data.append("TOTAL_AMOUNT_APPLICATION", this.model.TOTAL_APPLICATION_FEE ?? "");
        data.append("ANNUAL_FEE", this.model.ANNUAL_FEE ?? "");
        data.append("TAX_ANNUAL_FEE", this.model.TAX_ANNUAL_FEE ?? "");
        data.append("TOTAL_AMOUNT_ANNUAL_FEE", this.model.TOTAL_ANNUAL_FEE ?? "");
        try {
          console.log(data);
          const response = await servicesModule0.createDistributorFee(data);
          // this.getAllException();
          // this.$modals.simpleModal.$hide();
        } catch (error) {
          console.log(error);
        }
      }
    },

    async editDistFee(data) {
      const response = await servicesModule0.getDistFeeById(
        data.DISTRIBUTOR_FEE_ID
      );
      this.$modals.simpleModalEditDistFee.$show();
      this.DISTRIBUTOR_FEE_ID = response.DISTRIBUTOR_FEE_ID;
      this.model.editDist = response;
      console.log(response);
    },
    async updateDistFeeAPI() {
      try {
        const data = new FormData();
        data.append(
          "DISTRIBUTOR_FEE_ID",
          this.DISTRIBUTOR_FEE_ID
        );
        data.append("DIST_TYPE_ID", this.model.editDist.DIST_TYPE.DISTRIBUTOR_TYPE_ID);
        data.append("FEE_START_DATE",  moment(this.model.editDist.FEE_START_DATE).format("YYYY-MM-DD"));
        data.append("FEE_END_DATE",  moment(this.model.editDist.FEE_END_DATE).format("YYYY-MM-DD"));
        data.append("APPLICATION_FEE", this.model.editDist.APPLICATION_FEE ?? "");
        data.append("TAX_APPLICATION_FEE", this.model.editDist.TAX_APPLICATION_FEE ?? "");
        data.append("TOTAL_AMOUNT_APPLICATION", this.model.editDist.TOTAL_APPLICATION_FEE ?? "");
        data.append("ANNUAL_FEE", this.model.editDist.ANNUAL_FEE ?? "");
        data.append("TAX_ANNUAL_FEE", this.model.editDist.TAX_ANNUAL_FEE ?? "");
        data.append("TOTAL_AMOUNT_ANNUAL_FEE", this.model.editDist.TOTAL_ANNUAL_FEE ?? "");
        const response = await servicesModule0.updateDistFee(data);
        this.getAllDistFee();
      } catch (error) {
        console.log(error);
      }
    },
    async deleteDistFee(data) {
      if (confirm("Are you sure you want to delete?")) {
      // eslint-disable-next-line no-unused-vars
      const response = await servicesModule0.deleteDistFee(
        data.DISTRIBUTOR_FEE_ID
      );
      this.getAllDistFee();
      }
    },

    

  

  },

  computed: {
     DistFeeList() {
      return [
        {
          name: "__slot:marker",
          width: "30px",
          dataClass: "text-center",
        },
        {
          name: "__slot:no",
          title: "No",
        },
        {
          name: "FEE_START_DATE",
          title: "START DATE ",
          sortField: "FEE_START_DATE",
        },
        {
          name: "FEE_END_DATE",
          title: "END DATE ",
          sortField: "FEE_END_DATE",
        },
        {
          name: "DIST_TYPE_NAME",
          title: "DISTRIBUTOR NAME ",
          sortField: "DIST_TYPE_NAME",
        },
        {
          name: "APPLICATION_FEE",
          title: "APPLICATION FEE ",
          sortField: "APPLICATION_FEE",
        },
        {
          name: "TAX_APPLICATION_FEE",
          title: "TAX",
          sortField: "TAX_APPLICATION_FEE",
        },
        {
          name: "TOTAL_AMOUNT_APPLICATION",
          title: "TOTAL ",
          sortField: "TOTAL_AMOUNT_APPLICATION",
        },
        {
          name: "ANNUAL_FEE",
          title: "ANNUAL FEE ",
          sortField: "ANNUAL_FEE",
        },
        {
          name: "TAX_ANNUAL_FEE",
          title: "TAX ",
          sortField: "TAX_ANNUAL_FEE",
        },
        {
          name: "TOTAL_AMOUNT_ANNUAL_FEE",
          title: "TOTAL ",
          sortField: "TOTAL_AMOUNT_ANNUAL_FEE",
        },
        {
          name: "__slot:actions",
          title: "Action",
          dataClass: "justify-content-center",
          width: "5%",
        },
      ];
    },
    filteredDistFee() {
      if (!this.term || this.term.length < 1) {
        return this.DistFeelist;
      }
    },
   
    



  },
};
</script>