<template>
  <va-card>
    <div class="col-lg-10">
      <h4 slot="header">FEE MANAGEMENT</h4>
    </div>
    <br />
    <br />

    <h5>
      <i class="fa fa-bank"></i>&nbsp;&nbsp;
      <b>WAIVER FEE</b>
    </h5>
    <hr />

    <div class="ml-5">
      <!-- Marketing Approach -->
        <va-card>
            <vue-form-generator
            :model="model"
            :schema="Tab5Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          <br />
          <vue-form-generator
            :model="model"
            :schema="Tab1Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          <vue-form-generator
            :model="model"
            :schema="Tab2Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          <vue-form-generator
            :model="model"
            :schema="Tab3Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
           <vue-form-generator
            :model="model"
            :schema="Tab4Schema"
            :options="formOptions"
            ref="Tab1Form"
          ></vue-form-generator>
          <br/>
          
        </va-card>
        
        
          <br/>
          <br/>
          <div class="float-right">
            <button
              @click="submit"
              type="button"
              class="ml-2 btn btn-primary btn-fill btn-md"
            >
              <i class="fa fa-save" /> &nbsp; SAVE
            </button>
          </div>
          <div class="float-right"></div>
          <br />
          <h4>List of Waiver Fee </h4>
          <br/>
          <!-- list -->
          <va-card class="mt-2">
            <va-data-table
              :fields="WaiverFeeListing"
              :data="filteredWaiverFee"
              :per-page="parseInt(perPage)"
              :datacount="WaiverFeeCount"
               :dataperpage="parseInt(perPage)"
              clickable
            >
              <template slot="no" slot-scope="row">
                {{ row.rowIndex + 1 }}
              </template>

              <template slot="actions" slot-scope="props">
                <h4 class="mt-2">
                  <span
                    class="badge badge-primary mr-1"
                    v-on:click="editWaiverFee(props.rowData)"
                    
                  >
                    <i class="fa fa-edit"></i
                  ></span>
                  <span
                    class="badge badge-danger mr-1"
                    v-on:click="deleteWaiverFee(props.rowData)"
                  >
                    <i class="fa fa-trash"></i
                  ></span>
                </h4>
              </template>
            </va-data-table>
            <br />
            <br/>
          
          </va-card>
          <br/>
          <br/>
    
      
    

     
    </div>

    <vudal name="simpleModalEditWaiverFee" class="widthModal">
              <div class="header">
                EDIT WAIVER FEE<i class="close icon">&times;</i>
              </div>
              <div class="content">
                <vue-form-generator
                  :model="model"
                  :schema="editWaiverFeeSchema"
                  :options="formOptions"
                />
              </div>
              <div class="actions">
                <button
                  type="button"
                  class="cancel vudal-btn mr-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-times" /> &nbsp; CLOSE
                </button>
                <button
                  @click="updateWaiverFeeAPI"
                  type="button"
                  class="cancel vudal-btn mr-2 btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-edit" /> &nbsp; UPDATE
                </button>
              </div>
            </vudal>
    

  </va-card>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import Vue from "vue";
import Vudal from "vudal";
import "vue-form-generator/dist/vfg.css";
import * as servicesModule0 from "../../../app/module0/services02";
import { debounce } from "lodash";
Vue.component("field-vfg-functional-date", VfgFunctionalDate);
import VfgFunctionalDate from "../../component/VfgFunctionalCalendar.vue";
import moment from "moment";
import FullCalendar from "@fullcalendar/vue";
import VueCurrencyInput from 'vue-currency-input';

export default {
  mounted() {
    // this.getAllmarketingApproach();
    this.getAllWaiverType();
    this.getAllConsType();
    this.getAllExamType();
    this.getAllWaiverFee();
    this.getAllFeeType();
  },
  components: {
    FullCalendar,
    Vudal,
  },
  // DATA SCHEMA
  data() {
    return {
      term: null,
      visibleLogin: false,
      visibleBlockDuration: false,
      visibleBlockDuration2: false,
      perPage: "6",
      perPageOptions: ["4", "6", "10", "20"],
      DistributorTypelist: [],
      AnnualPreviousYear: [],
      ConsultantTypelist: [],
      waiverTypelist: [],
      ExamTypelist: [],
      waiverFee: [],
      feeTypelist: [],
    
      WaiverFeeCount: null,


      StatusCount: null,
      loading: false,

      count: 1,
      model: {
          WAIVER_FEE_TYPE_ID: '',
          WAIVER_TYPE_ID : '',
          CONSULTANT_TYPE_ID: '',
          EXAM_TYPE_ID:'',
          EXAM_FEE: '',
          ANNUAL_FEE:'',
          PROCESSING_FEE: '',
          VARIATION_FEE: '',
          AUTHORISATION_CARD_FEE: '',
          TOTAL_FEE: '',
          TAX_FEE: '',
          TOTAL_AMOUNT_FEE: '',
          WAIVER_START_DATE: '',
          WAIVER_END_DATE: '',


        editWaiver: {

         WAIVER_TYPE_ID : '',
          CONSULTANT_TYPE_ID: '',
          EXAM_TYPE_ID:'',
          EXAM_FEE: '',
          ANNUAL_FEE:'',
          PROCESSING_FEE: '',
          VARIATION_FEE: '',
          AUTHORISATION_CARD_FEE: '',
          TOTAL_FEE: '',
          TAX_FEE: '',
          TOTAL_AMOUNT_FEE: '',
          WAIVER_START_DATE: '',
          WAIVER_END_DATE: '',
        },
        
        
      },

  

      formOptions: {
        validateAfterChanged: true,
      },
      //5 Module CPD Calculation
      Tab5Schema: {
        groups: [
          {
            // styleClasses: "row mt-2",
            fields: [
              {
                type:  'vueMultiSelect',
                model: 'WAIVER_FEE_TYPE_ID',
                label: 'Fee Type',
                placeholder: 'SELECT FEE TYPE',
                selectOptions: { multiple: false, key: 'FEE_ID', label: 'FEE_NAME', searchable: true},
                values: (model, schema) => { return this.feeTypelist},
                required: true,
                styleClasses: 'col-md-6',
                
              },
              {
                type:  'vueMultiSelect',
                model: 'WAIVER_TYPE_ID',
                label: 'Waiver Type',
                placeholder: 'SELECT WAIVER TYPE',
                selectOptions: { multiple: false, key: 'WAIVER_ID', label: 'WAIVER_NAME', searchable: true},
                values: (model, schema) => { return this.waiverTypelist},
                required: true,
                styleClasses: 'col-md-6',
                
              },
            ],
          },
        ],
        
      },
      Tab1Schema: {
        groups: [
          {
            // styleClasses: "row mt-2",
            fields: [
              {
                type:  'vueMultiSelect',
                model: 'CONSULTANT_TYPE_ID',
                label: 'Consultant Type',
                placeholder: 'SELECT CONSULTANT',
                selectOptions: { multiple: false, key: 'CONSULTANT_TYPE_ID', label: 'TYPE_NAME', searchable: true},
                values: (model, schema) => { return this.ConsultantTypelist},
                required: true,
                styleClasses: 'col-md-6',
                
              },
              {
                type:  'vueMultiSelect',
                model: 'EXAM_TYPE_ID',
                label: 'Exam Type',
                placeholder: 'SELECT EXAM TYPE',
                selectOptions: { multiple: false, key: 'CONSULTANT_EXAM_TYPE_ID', label: 'EXAM_TYPE_NAME', searchable: true},
                values: (model, schema) => { return this.ExamTypelist},
                required: true,
                styleClasses: 'col-md-6',
                
              },
            ],
          },
        ],
        
      },
      Tab2Schema: {
        groups: [
          {
            // styleClasses: "row mt-2",
            fields: [
              {

                labels:"Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'WAIVER_START_DATE',
                styleClasses: "col-md-6",
                required: true,
              },
              { 
                labels:"End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'WAIVER_END_DATE',
                styleClasses: "col-md-6",
                required: true,
              },
            ],
          },
        ],
        
      },
      Tab3Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
               type: "input",
                inputType: "Text",
                model: "EXAM_FEE",
                label: "Exam Fee (RM) ",
                placeholder: "Enter Fee",
                styleClasses: "col-md-6",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "ANNUAL_FEE",
                label: "Annual Fee (RM) ",
                placeholder: "Enter Tax",
                styleClasses: "col-md-6",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "PROCESSING_FEE",
                label: "Processing Fee (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "VARIATION_FEE",
                label: "Variation Fee (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
            ],
          },
        ],
        
      },
      Tab4Schema: {
        groups: [
          {
            styleClasses: "row mt-2",
            fields: [
              {
                type: "input",
                inputType: "Text",
                model: "AUTHORISATION_CARD_FEE",
                label: "Authorisation Card Fee (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "TOTAL_FEE",
                label: "Total (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
               {
                type: "input",
                inputType: "Text",
                model: "TAX_FEE",
                label: "Tax (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "TOTAL_AMOUNT_FEE",
                label: "Total Amount (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-6",
                required: true,
              },
            ],
          },
        ],
        
      },
      
      

      editWaiverFeeSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type:  'vueMultiSelect',
                model: 'editWaiver.WAIVER_TYPE_ID',
                label: 'Waiver Type',
                placeholder: 'SELECT waiver Type',
                selectOptions: { multiple: false, key: 'WAIVER_ID', label: 'WAIVER_NAME', searchable: true},
                values: (model, schema) => { return this.waiverTypelist},
                required: true,
                styleClasses: 'col-md-12',
                
              },
              {
                type:  'vueMultiSelect',
                model: 'editWaiver.CONSULTANT_TYPE_ID',
                label: 'Consultant Type',
                placeholder: 'SELECT DISTRIBUTOR',
                selectOptions: { multiple: false, key: 'CONSULTANT_TYPE_ID', label: 'TYPE_NAME', searchable: true},
                values: (model, schema) => { return this.ConsultantTypelist},
                required: true,
                styleClasses: 'col-md-12',
                
              },
              {
                type:  'vueMultiSelect',
                model: 'editWaiver.EXAM_TYPE_ID',
                label: 'Consultant Type',
                placeholder: 'SELECT DISTRIBUTOR',
                selectOptions: { multiple: false, key: 'CONSULTANT_EXAM_TYPE_ID', label: 'EXAM_TYPE_NAME', searchable: true},
                values: (model, schema) => { return this.ExamTypelist},
                required: true,
                styleClasses: 'col-md-12',
                
              },
              {

                labels:"Start Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editWaiver.WAIVER_START_DATE',
                styleClasses: "col-md-12",
                required: true,
              },
              { 
                labels:"End Date",
                type: 'vfg-functional-date',
                placeholder: 'Enter Start Date',
                model: 'editWaiver.WAIVER_END_DATE',
                styleClasses: "col-md-12",
                required: true,
              },
              {
               type: "input",
                inputType: "Text",
                model: "editWaiver.EXAM_FEE",
                label: "Exam Fee (RM) ",
                placeholder: "Enter Fee",
                styleClasses: "col-md-12",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "editWaiver.ANNUAL_FEE",
                label: "Annual Fee (RM) ",
                placeholder: "Enter Tax",
                styleClasses: "col-md-12",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "editWaiver.PROCESSING_FEE",
                label: "Processing Fee (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "editWaiver.VARIATION_FEE",
                label: "Variation Fee (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
              },
              {
                type: "input",
                inputType: "Text",
                model: "editWaiver.AUTHORISATION_CARD_FEE",
                label: "Authorisation Card Fee (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "editWaiver.TOTAL_FEE ",
                label: "Total (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
                required: true,
              },
               {
                type: "input",
                inputType: "Text",
                model: "editWaiver.TAX_FEE",
                label: "Tax (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
                required: true,
              },
              {
                type: "input",
                inputType: "Text",
                model: "editWaiver.TOTAL_AMOUNT_FEE",
                label: "Total Amount (RM) ",
                placeholder: "Enter Total",
                styleClasses: "col-md-12",
                required: true,
              },
               
            ],
          },
        ],
      },

      
  
      
    };
  },
  methods: {
  getAllWaiverType: async function () {
      const response = await servicesModule0.getAllWaiverTypeList();
      this.waiverTypelist = response;
      // this.CountryCount = this.CountryList.length;
    },
    getAllConsType: async function () {
      const response = await servicesModule0.getAllWaiverConsultantTypeList();
      this.ConsultantTypelist = response;
      // this.CountryCount = this.CountryList.length;
    },
    getAllExamType: async function () {
      const response = await servicesModule0.getAllWaiverExamTypeList();
      this.ExamTypelist = response;
      // this.CountryCount = this.CountryList.length;
    },
    getAllFeeType: async function () {
      const response = await servicesModule0.getAllWaiverFeeTypeList();
      this.feeTypelist = response;
      // this.CountryCount = this.CountryList.length;
    },


    getAllWaiverFee: async function () {
      const response = await servicesModule0.getAllWaiverFeeList();
      this.waiverFee = response;
      this.WaiverFeeCount = this.waiverFee.length;
    },
    

   
async submit() {
      if (this.$refs.Tab1Form.validate()) {
        const data = new FormData();
        data.append("WAIVER_FEE_TYPE_ID", this.model.WAIVER_FEE_TYPE_ID.FEE_ID);
        data.append("WAIVER_TYPE_ID", this.model.WAIVER_TYPE_ID.WAIVER_ID);
        data.append("CONSULTANT_TYPE_ID", this.model.CONSULTANT_TYPE_ID.CONSULTANT_TYPE_ID);
        data.append("EXAM_TYPE_ID", this.model.EXAM_TYPE_ID.CONSULTANT_EXAM_TYPE_ID);
        data.append("WAIVER_START_DATE",  moment(this.model.WAIVER_START_DATE).format("YYYY-MM-DD"));
        data.append("WAIVER_END_DATE",  moment(this.model.WAIVER_END_DATE).format("YYYY-MM-DD"));
        data.append("EXAM_FEE", this.model.EXAM_FEE ?? "");
        data.append("ANNUAL_FEE", this.model.ANNUAL_FEE ?? "");
        data.append("PROCESSING_FEE", this.model.PROCESSING_FEE ?? "");
        data.append("VARIATION_FEE", this.model.VARIATION_FEE ?? "");
        data.append("AUTHORISATION_CARD_FEE", this.model.AUTHORISATION_CARD_FEE ?? "");
        data.append("TOTAL_FEE", this.model.TOTAL_FEE);
        data.append("TAX_FEE", this.model.TAX_FEE ?? "");
        data.append("TOTAL_AMOUNT_FEE", this.model.TOTAL_AMOUNT_FEE ?? "");
        try {
          console.log(data);
          const response = await servicesModule0.createWaiverFee(data);
          this.getAllWaiverFee();
          // this.$modals.simpleModal.$hide();
        } catch (error) {
          console.log(error);
        }
      }
    },

    async editWaiverFee(data) {
      const response = await servicesModule0.getWaiverFeeById(
        data.DISTRIBUTOR_FEE_ID
      );
      this.$modals.simpleModalEditWaiverFee.$show();
      this.WAIVER_FEE_ID = response.WAIVER_FEE_ID;
      this.model.editWaiver = response;
      console.log(response);
    },
    async updateWaiverFeeAPI() {
      try {
        const data = new FormData();
        data.append(
          "WAIVER_FEE_ID",
          this.WAIVER_FEE_ID
        );
        ata.append("WAIVER_TYPE_ID", this.model.editWaiver.WAIVER_TYPE_ID.SETTING_GENERAL_ID);
        data.append("CONSULTANT_TYPE_ID", this.model.editWaiver.CONSULTANT_TYPE_ID.CONSULTANT_TYPE_ID);
        data.append("EXAM_TYPE_ID", this.model.editWaiver.EXAM_TYPE_ID.CONSULTANT_EXAM_TYPE_ID);
        data.append("WAIVER_START_DATE",  moment(this.model.editWaiver.WAIVER_START_DATE).format("YYYY-MM-DD"));
        data.append("WAIVER_END_DATE",  moment(this.model.editWaiver.WAIVER_END_DATE).format("YYYY-MM-DD"));
        data.append("EXAM_FEE", this.model.editWaiver.EXAM_FEE ?? "");
        data.append("ANNUAL_FEE", this.model.editWaiver.ANNUAL_FEE ?? "");
        data.append("PROCESSING_FEE", this.model.editWaiver.PROCESSING_FEE ?? "");
        data.append("VARIATION_FEE", this.model.editWaiver.VARIATION_FEE ?? "");
        data.append("AUTHORISATION_CARD_FEE", this.model.editWaiver.AUTHORISATION_CARD_FEE ?? "");
        data.append("TOTAL_FEE", this.model.editWaiver.TOTAL_FEE ?? "");
        data.append("TAX_FEE", this.model.editWaiver.TAX_FEE ?? "");
        data.append("TOTAL_AMOUNT_FEE", this.model.editWaiver.TOTAL_AMOUNT_FEE ?? "");
        const response = await servicesModule0.updateWaiverFee(data);
        this.getAllWaiverFee();
      } catch (error) {
        console.log(error);
      }
    },
    async deleteWaiverFee(data) {
      if (confirm("Are you sure you want to delete?")){
      // eslint-disable-next-line no-unused-vars
      const response = await servicesModule0.deleteWaiverFee(
        data.WAIVER_FEE_ID
      );
      this.getAllWaiverFee();
      }
    },

    

  

  },

  computed: {
     WaiverFeeListing() {
      return [
        {
          name: "__slot:marker",
          width: "30px",
          dataClass: "text-center",
        },
        {
          name: "__slot:no",
          title: "No",
        },
        {
          name: "FEE_TYPE",
          title: "FEE TYPE",
          sortField: "FEE_TYPE",
        },
        {
          name: "WAIVER_TYPE",
          title: "WAIVER TYPE",
          sortField: "WAIVER_TYPE",
        },
        {
          name: "TYPE_NAME",
          title: "CONSULTANT NAME ",
          sortField: "TYPE_NAME",
        },
        {
          name: "EXAM_TYPE_NAME",
          title: "EXAM TYPE",
          sortField: "EXAM_TYPE_NAME",
        },
        {
          name: "EXAM_FEE",
          title: "EXAM FEE",
          sortField: "EXAM_FEE",
        },
        {
          name: "ANNUAL_FEE",
          title: "ANNUAL FEE",
          sortField: "ANNUAL_FEE",
        },
        {
          name: "PROCESSING_FEE",
          title: "PROCESSING FEE",
          sortField: "PROCESSING_FEE",
        },
        {
          name: "AUTHORISATION_CARD_FEE",
          title: "AUTHORISATION CARD FEE ",
          sortField: "AUTHORISATION_CARD_FEE",
        },
        {
          name: "TOTAL_FEE",
          title: "TOTAL",
          sortField: "TOTAL_FEE",
        },
        {
          name: "TAX_FEE",
          title: "TAX",
          sortField: "TAX_FEE",
        },
        {
          name: "TOTAL_AMOUNT_FEE",
          title: "TOTAL AMOUNT",
          sortField: "TOTAL_AMOUNT_FEE",
        },
        {
          name: "WAIVER_START_DATE",
          title: "START DATE",
          sortField: "WAIVER_START_DATE",
        },
        {
          name: "WAIVER_END_DATE",
          title: "END DATE",
          sortField: "WAIVER_END_DATE",
        },
        {
          name: "__slot:actions",
          title: "Action",
          dataClass: "justify-content-center",
          width: "5%",
        },
      ];
    },
    filteredWaiverFee() {
      if (!this.term || this.term.length < 1) {
        return this.waiverFee;
      }
    },
   
    



  },
};
</script>