<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <va-card>
            <h4 style="margin-top:0">List of Consultant</h4>

            <div class="col-3">
              <div
                style="display: flex; align-items:center"
                class="form-group form-group-sm has-search"
              >
                <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="search.consultant"
                  type="text"
                  class="form-control"
                  placeholder="Search"
                />
              </div>
            </div>

            <va-data-table
              :fields="fields.consultant"
              :data="filteredConsultant"
              no-data-label="No data found"
              :per-page="parseInt(perPage)"
              :datacount="filteredConsultant.length"
              :dataperpage="parseInt(perPage)"
              clickable
            >
              <template slot="index" slot-scope="row">
                {{ row.rowIndex + 1 }}
              </template>
              <template slot="ACTION" slot-scope="props">
                <h5 class="mt-1">
                  <span
                    v-b-tooltip.hover
                    title="Add"
                    v-on:click="setInsufficientCPDList(props)"
                    class="badge badge-success mr-2"
                  >
                    <i class="fa fa-plus"></i
                  ></span>
                </h5>
              </template>
            </va-data-table>
          </va-card>

          <br />
          <va-card>
            <h4 style="margin-top:0px; margin-bottom:20px">
              Insufficient CPD Listing
            </h4>
            <div class="col-3">
              <div
                style="display: flex; align-items:center"
                class="form-group form-group-sm has-search"
              >
                <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="search.insufficient"
                  type="text"
                  class="form-control"
                  placeholder="Search"
                />
              </div>
            </div>

            <!-- CONSULTANT TABLE -->
            <!-- select-mode="single" -->
            <va-data-table
              :fields="fields.insufficient"
              :data="filteredInsufficient"
              no-data-label="No data found"
              :per-page="parseInt(perPage)"
              :datacount="filteredInsufficient.length"
              :dataperpage="parseInt(perPage)"
              clickable
            >
              <!-- <template slot="actions" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                />
              </template> -->

              <template slot="checkbox" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                >
                </b-form-checkbox>
              </template>
              <template slot="index" slot-scope="row">
                {{ row.rowIndex + 1 }}
              </template>
              <template slot="ACTION" slot-scope="props">
                <h5 class="mt-1">
                  <span
                    v-b-tooltip.hover
                    title="Remove"
                    v-on:click="removeInsufficientCPDLIST(props)"
                    class="badge badge-danger mr-2"
                  >
                    <i class="fa fa-minus"></i
                  ></span>
                </h5>
              </template>
            </va-data-table>
            <br />
            <br />

            <vue-form-generator
              :model="model"
              :schema="tabSchema2"
              :options="formOptions"
              @model-updated="onModelUpdated"
              @validated="onValidated"
            >
            </vue-form-generator>

            <br />

            <br />
            <div class="float-right">
              <button
                @click="saveInsufficientCPD"
                type="button"
                class="btn btn-info btn-fill btn-md"
              >
                <i class="fa fa-edit" /> &nbsp;Save as Draft
              </button>
              <button
                @click="submitInsufficientCPD"
                type="button"
                class="ml-1 btn btn-primary btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> &nbsp; Submit
              </button>
            </div>
            <!-- <div class="float-left">
              <button
                @click="currentDistributor = null"
                type="button"
                class="btn btn-primary btn-fill btn-md"
              >
                <i class="fa fa-step-backward" /> &nbsp; Previous
              </button>
            </div> -->
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import HorizontalScroll from 'vue-horizontal-scroll';
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import * as services02module2 from '../../../app/module2/services02';
import RepositoryFactory from '../../../repositories/RepositoryFactory';
import TerminationRepository from '../../../repositories/module2/TerminationRepository';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');
const Termination = RepositoryFactory.get('termination');

export default {
  data() {
    return {
      selected: [],
      currentDistributor: null,

      formOptions: {
        validateAfterChanged: true,
      },

      fields: {
        consultant: [
          { name: '__slot:index', title: 'NO' },
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NO' },
          { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NO' },
          { name: 'CONSULTANT_PHONENO', title: 'PHONE NO' },
          { name: 'TYPE', title: 'TYPE' },
          { name: 'CPD POINT', title: 'CPD POINTS' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        insufficient: [
          { name: '__slot:index', title: 'NO' },
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NO' },
          { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NO' },
          { name: 'CPD POINT', title: 'CPD POINTS' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
      },

      search: {
        consultant: '',
        insufficient: '',
      },
      // filter: {
      //   distributor: null,
      //   consultant: null,
      // },

      consultantsAPI: [],
      insufficientAPI: [],

      currentPage: 1,
      perPage: '10',

      model: {
        BULK_UPLOAD: '',
        INSUFFICIENT_CPD_LIST: [],
      },

      // fields: ,

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                labels: 'Bulk Upload',
                text: 'Choose a File',
                model: 'BULK_UPLOAD',
                type: 'vfg-custom-multiple-file',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
    };
  },
  async mounted() {
    await this.getConsultantRecord();
    // await this.getFilterConsultantRecord();
    // this.consultants = await services02module2.getConsultant();
    // await console.log(this.consultants)
  },
  computed: {
    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      if (this.search) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultantsAPI;
    },
    filteredInsufficient() {
      const search = this.search.insufficient.toLowerCase();
      if (this.search) {
        return this.insufficientAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.insufficientAPI;
    },
  },
  methods: {
    async getConsultantRecord() {
      console.log('inside get consultant record');
      const response = await ConsultantRecord.getConsultantRecord();
      this.consultantsAPI = response.data.data;
      this.isBusy = false;
      console.log(this.consultantsAPI);
    },

    isConsultantAdded(array, props) {
      return array.findIndex(el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID);
    },

    removeInsufficientCPDLIST(props) {
      const index = this.isConsultantAdded(this.insufficientAPI, props);

      this.insufficientAPI.splice(index, 1);
    },

    setInsufficientCPDList(props) {
      const index = this.isConsultantAdded(this.insufficientAPI, props);

      if (index >= 0) return;
      this.insufficientAPI.push(props.rowData);
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === 'TERMINATION_TYPE') {
        // this.visible.TERMINATION_TYPE = newVal.value;
        this.visible.TERMINATION_TYPE_OTHER_SPECIFY = false;
        if (newVal.label.match('Other')) {
          this.visible.TERMINATION_TYPE_OTHER_SPECIFY = true;
        }
      }
    },

    saveInsufficientCPD: async function() {
      let data = {
        TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
        TERMINATION_TYPE_OTHER_SPECIFY: this.model.TERMINATION_TYPE_OTHER_SPECIFY,
        CONSULTANT_ID: this.model.CONSULTANT_ID,
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
      };

      console.log(data);

      const response = await Termination.postTermination(data);
      // const returnresponse = await services02module2.postTerminateConsultant(data);
      console.log(response);
      // }
    },
    submitInsufficientCPD: async function() {
      let data = {
        TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
        TERMINATION_TYPE_OTHER_SPECIFY: this.model.TERMINATION_TYPE_OTHER_SPECIFY,
        CONSULTANT_ID: this.model.CONSULTANT_ID,
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
      };

      console.log(data);

      const response = await Termination.postTermination(data);
      // const returnresponse = await services02module2.postTerminateConsultant(data);
      console.log(response);
      // }
    },
  },
};
</script>
<style scoped></style>
