<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <template v-if="!currentConsultant">
            <va-card>
              <h4 style="margin-top:0">List of Consultant Termination Submission</h4>
              <br />

              <div style="display:flex; justify-content:flex-end; align-items:center">
                <div class="flex md3 offset--md3">
                  <va-input :placeholder="$t('Search')" v-model="search.consultant" removable>
                    <va-icon name="fa fa-search" slot=".consultantprepend" />
                  </va-input>
                </div>
              </div>
              <div class="col-ml-2">
                <va-data-table
                  :fields="fields.consultant"
                  :data="filteredConsultant"
                  no-data-label="No data found"
                  :per-page="parseInt(perPage)"
                  :datacount="filteredConsultant.length"
                  :dataperpage="parseInt(perPage)"
                  clickable
                >
                  <!-- <template slot="actions" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                />
              </template> -->

                  <template slot="checkbox" slot-scope="props">
                    <b-form-checkbox
                      v-model="props.rowData.selected"
                      @change="setCurrentConsultant(props)"
                    >
                    </b-form-checkbox>
                  </template>
                  <template slot="index" slot-scope="row">
                    {{ row.rowIndex + 1 }}
                  </template>

                  <template slot="ACTION" slot-scope="props">
                    <h4 @click="viewCurrentConsultant(props)" style="margin:0; font-size:20px">
                      <span v-b-tooltip.hover title="View" class="badge badge-success mr-2">
                        <i class="fa fa-eye"></i>
                      </span>
                    </h4>
                  </template>
                </va-data-table>
                <!-- <b-table
                  hover
                  selectable
                  no-select-on-click
                  ref="consultantTable"
                  :items="consultants"
                  :fields="fields"
                  :current-page="currentPage"
                  :per-page="perPage"
                  :filter="filter"
                  responsive="md"
                  :busy="isBusy"
                  @row-selected="onRowSelected"
                >
                  <template #table-busy>
                    <div class="text-center text-danger my-2">
                      <b-spinner class="align-middle"></b-spinner>
                      <strong>Loading...</strong>
                    </div>
                  </template>
                  <template #head(checkbox)="scope">
                    <b-form-checkbox @change="setCurrentConsultantAll(scope)"> </b-form-checkbox>
                  </template>
                  <template #cell(checkbox)="data">
                    <b-form-checkbox
                      v-model="data.item.selected"
                      @change="setCurrentConsultant(data)"
                    >
                    </b-form-checkbox>
                  </template>
                  <template #cell(index)="data">
                    {{ data.index + 1 }}
                  </template>
                  <template #cell()="data">
                    <span class="description">{{ data.value }}</span>
                  </template>
                  <template #cell(actions)="data">
                    <b-form-checkbox v-model="consultants[data.index]"> </b-form-checkbox>
                  </template>
                </b-table> -->
              </div>
              <!-- <div class="row col ml-2 mt-2">
                <b-pagination
                  size="md"
                  :total-rows="consultants.length"
                  :per-page="perPage"
                  v-model="currentPage"
                />
                <b-form-fieldset horizontal class="col-1">
                  <b-form-select
                    :options="[
                      { text: 3, value: 3 },
                      { text: 5, value: 5 },
                      { text: 10, value: 10 },
                      { text: 15, value: 15 },
                    ]"
                    v-model="perPage"
                  >
                  </b-form-select>
                </b-form-fieldset>
              </div> -->
              <br />

              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="tabForm2"
                @model-updated="onModelUpdated"
              >
              </vue-form-generator>
              <br />

              <div class="float-right">
                <button @click="updateTerminationApproval(3)" type="button" class="btn btn-info btn-fill btn-md">
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button>
                <button
                  @click="updateTerminationApproval(8)"
                  type="button"
                  class="ml-2 btn btn-warning btn-fill btn-md text-white"
                >
                  <i class="fa fa-undo" /> &nbsp; Return
                </button>
                <button
                  @click="updateTerminationApproval(5)"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Reject
                </button>
                <button
                  @click="updateTerminationApproval(13)"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Terminate
                </button>
              </div>
            </va-card>
          </template>
          <template v-else>
            <va-card>
              <h4 style="margin-top:0">Consultant Details</h4>
              <br />
              <div>
                <!-- <tabs
                  :tabs="tabs"
                  :currentTab="currentTab"
                  :wrapper-class="'default-tabs'"
                  :tab-class="'default-tabs__item'"
                  :tab-active-class="'default-tabs__item_active'"
                  :line-class="'default-tabs__active-line'"
                  @onClick="handleClick"
                /> -->
                <div class="content">
                  <div v-if="currentTab === 'tab1'">
                    <div class="ml-4">
                      <br />
                      <table id="consultant-profile" class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Name</td>
                            <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                          </tr>
                          <tr>
                            <td>New NRIC</td>
                            <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                          </tr>
                          <tr>
                            <td>Date of Birth</td>
                            <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                          </tr>

                          <tr>
                            <td>Address</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                          </tr>
                          <tr>
                            <td>Postcode</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                          </tr>
                          <tr>
                            <td>State</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                          </tr>
                          <tr>
                            <td>Telephone Number</td>
                            <td>{{ currentConsultant.CONSULTANT_PHONENO }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                          </tr>
                          <tr>
                            <td>Highest Qualification</td>
                            <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                          </tr>
                          <tr>
                            <td>Examination Type</td>
                            <td>{{ currentConsultant.COURSE_TYPE }}</td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- <table>
                        <tbody>
                          <tr style="width:">
                            <th>Termination Type</th>
                            <th>Effective Date</th>
                          </tr>
                          <tr>
                            <td>Misconduct</td>
                            <td>13/08/2021</td>
                          </tr>
                        </tbody>
                      </table> -->

                      <!-- <vue-form-generator
                        :model="model"
                        :schema="fileUploadSchema"
                        :options="formOptions"
                        ref="fileUploadForm"
                      >
                      </vue-form-generator> -->
                    </div>
                  </div>
                </div>
              </div>

              <br />

              <b-container style="margin-left:0">
                <b-row style="width:45%" class="d-flex justify-content-start">
                  <b-col>Termination Type</b-col>
                  <b-col>Effective Date</b-col>
                </b-row>
                <b-row style="width:45%">
                  <b-col>{{currentConsultant.TERMINATION_TYPE_NAME}}</b-col>
                  <b-col>{{currentConsultant.TERMINATION_DATE}}</b-col>
                </b-row>
              </b-container>

              <br />
              <br />
              <br />
              <vue-form-generator
                :model="currentConsultant"
                :schema="tabSchema2"
                :options="formOptions"
                ref="tabForm2"
                @model-updated="onModelUpdated"
              >
              </vue-form-generator>

              <br />

              <div class="float-left">
                <button
                  @click="currentConsultant = null"
                  type="button"
                  class="btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
              </div>
              <div class="float-right">
                <button @click="updateTerminationApproval(15)" type="button" class="btn btn-info btn-fill btn-md">
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button>
                <button
                  @click="updateTerminationApproval(8)"
                  type="button"
                  class="ml-2 btn btn-warning btn-fill btn-md text-white"
                >
                  <i class="fa fa-undo" /> &nbsp; Return
                </button>
                <button
                  @click="updateTerminationApproval(5)"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Reject
                </button>
                <button
                  @click="updateTerminationApproval(3)"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Terminate
                </button>
              </div>
              <!-- <div class="float-right">
                <button type="button" class="btn btn-info btn-fill btn-md">
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button>
                <button
                  @click="submitTerminationApproval"
                  type="button"
                  class="ml-1 btn btn-success btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Submit
                </button>
              </div> -->
            </va-card>
            <!-- <va-card>
              <h4 style="margin-top:0">Consultant Details</h4>
              <br />
              <div>
                <tabs
                  :tabs="tabs"
                  :currentTab="currentTab"
                  :wrapper-class="'default-tabs'"
                  :tab-class="'default-tabs__item'"
                  :tab-active-class="'default-tabs__item_active'"
                  :line-class="'default-tabs__active-line'"
                  @onClick="handleClick"
                />
                <div class="content">
                  <div v-if="currentTab === 'tab1'">
                    <div class="ml-4">
                      <br />
                      <table id="consultant-profile" class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Name</td>
                            <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                          </tr>
                          <tr>
                            <td>New NRIC</td>
                            <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                          </tr>
                          <tr>
                            <td>Date of Birth</td>
                            <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                          </tr>

                          <tr>
                            <td>Address</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                          </tr>
                          <tr>
                            <td>Postcode</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                          </tr>
                          <tr>
                            <td>State</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                          </tr>
                          <tr>
                            <td>Telephone Number</td>
                            <td>{{ currentConsultant.CONSULTANT_MOBILE_NO }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                          </tr>
                          <tr>
                            <td>Highest Qualification</td>
                            <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                          </tr>
                          <tr>
                            <td>Consultant Status</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                      <vue-form-generator
                        :model="model"
                        :schema="fileUploadSchema"
                        :options="formOptions"
                        ref="fileUploadForm"
                      >
                      </vue-form-generator>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab2'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Category</td>
                            <td>{{ currentConsultant.CATEGORY }}</td>
                          </tr>
                          <tr>
                            <td>Apprienticeship Program</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td>Company Distributor</td>
                            <td>{{ currentConsultant.DISTRIBUTOR }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab3'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr style="width: 100%">
                            <vue-form-generator
                              :model="model"
                              :schema="fileUploadSchema"
                              :options="formOptions"
                              ref="fileUploadForm"
                            >
                            </vue-form-generator>
                          </tr>
                        
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab4'">
                    <div class="ml-3">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Examination Type</td>
                            <td>CUTE</td>
                          </tr>

                          <tr>
                            <td>Result</td>
                            <td>
                              FAIL
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Certificate
                            </td>
                            <td>
                              Not Available
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Check
                            </td>
                            <td>
                              Pass
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Remark
                            </td>
                            <td>
                              Insert remark here
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </va-card> 
            <br />
            <va-card>
              <h4 style="margin-top:0">Termination Request Form</h4>
              <br />

              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="tabForm2"
                @model-updated="onModelUpdated"
                
              >
              </vue-form-generator>
              <br />

               <div class="float-left">
                <button
                  @click="currentConsultant = null"
                  type="button"
                  class="btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
              </div>
              <div class="float-right">
                <button
                  @click="submitTerminationApproval"
                  type="button"
                  class="ml-1 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Terminate
                </button>
              </div> 
            </va-card>

            <br />
            <va-card>
              <div class="ml-2 col-md-12">
                Approval Log
                <downloadExcel
                  :json_data="caDetailsRecordList"
                  :excelname="excelname"
                  :sheetname="sheetname"
                  :column="column"
                ></downloadExcel>

                <button
                  v-if="visibleLog"
                  v-b-toggle.collapse-3
                  type="button"
                  class="float-right btn-fill btn-md"
                >
                  <i class="fa fa-eye-slash"></i>
                </button>
                <button
                  v-else
                  v-b-toggle.collapse-3
                  type="button"
                  class="float-right btn-fill btn-md"
                >
                  <i class="fa fa-eye"></i>
                </button>

                <hr />
                <b-collapse id="collapse-3" class="mt-2" v-model="visibleLog">
                  <div class="row">
                    <div class="flex md2 offset--md10">
                      <va-input :placeholder="$t('Search')" v-model="search.log" removable>
                        <va-icon name="fa fa-search" slot="prepend" />
                      </va-input>
                    </div>
                  </div>
                  <va-data-table
                    :fields="fields.log"
                    :data="logAPI"
                    no-data-label="No data found"
                    :per-page="parseInt(perPage)"
                    :datacount="logAPI.length"
                    :dataperpage="parseInt(perPage)"
                    clickable
                  >
                    <template slot="no" slot-scope="row">
                      {{ row.rowIndex + 1 }}
                    </template>
                     <template slot="remarks" slot-scope="props">
                      {{ props.rowData.APPR_REMARK }}
                      <span
                        v-b-tooltip.hover
                        v-on:click="readMore(props.rowData)"
                        title="Read more"
                        class="badge badge-primary mr-2"
                      >
                        <i class="fa fa-eye"></i
                      ></span>
                    </template>
                    <template slot="updates" slot-scope="props">
                      {{ props.rowData.LATEST_UPDATE }}
                    </template> 
                  </va-data-table>
                </b-collapse>
              </div>

              <br />
              <br />

              <div>
                <div class="float-right">
                  <button
                    @click="submitTerminationApproval"
                    type="button"
                    class="ml-1 btn btn-danger btn-fill btn-md"
                  >
                    <i class="fa fa-paper-plane" /> &nbsp; Terminate
                  </button>
                </div>
                <div class="float-left">
                  <button
                    @click="currentConsultant = null"
                    type="button"
                    class="btn btn-primary btn-fill btn-md"
                  >
                    <i class="fa fa-step-backward" /> &nbsp; Previous
                  </button>
                </div>
                 <div class="float-left">
                    <button
                      @click="currentConsultant = null"
                      type="button"
                      class="btn btn-primary btn-fill btn-md"
                    >
                      <i class="fa fa-step-backward" /> &nbsp; Previous
                    </button>
                  </div>
                  <div class="float-right">
                    <button type="button" class="btn btn-info btn-fill btn-md">
                      <i class="fa fa-edit" /> &nbsp;Save as Draft
                    </button>
                    <button
                      @click="submitTerminationApproval"
                      type="button"
                      class="ml-2 btn btn-warning btn-fill btn-md"
                    >
                      <i class="fa fa-paper-plane" /> &nbsp; Return
                    </button>
                    <button
                      @click="submitTerminationApproval"
                      type="button"
                      class="ml-2 btn btn-danger btn-fill btn-md"
                    >
                      <i class="fa fa-ban" /> &nbsp; Reject
                    </button>
                    <button
                      @click="submitTerminationApproval"
                      type="button"
                      class="ml-2 btn btn-success btn-fill btn-md"
                    >
                      <i class="fa fa-paper-plane" /> &nbsp; Review
                    </button>
                  </div> 
              </div>
            </va-card> -->
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

import FullCalendar from '@fullcalendar/vue';
import dayGridPlugin from '@fullcalendar/daygrid';
import interactionPlugin from '@fullcalendar/interaction';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import HorizontalScroll from 'vue-horizontal-scroll';
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';
import { parse } from 'vue-currency-input';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import * as services02module2 from '../../../app/module2/services02';
import * as servicesModule3 from '../../../app/module3/services01';
import RepositoryFactory from '../../../repositories/RepositoryFactory';
import TerminationRepository from '../../../repositories/module2/TerminationRepository';
import Tabs from 'vue-tabs-with-active-line';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');
const Termination = RepositoryFactory.get('termination');

export default {
  components: { Tabs },

  data() {
    return {
      tabs: [
        {
          title: 'Applicant Profile',
          value: 'tab1',
        },
        {
          title: 'Type of Applicant',
          value: 'tab2',
        },
        {
          title: 'Uploaded Document',
          value: 'tab3',
        },
        {
          title: 'Examination & Bankruptcy Check',
          value: 'tab4',
        },
      ],

      currentTab: 'tab1',
      currentConsultant: null,
      visibleLog: false,
      isBusy: true,
      terminationType: [
        {
          label: 'Disqualified',
          value: '1',
        },
        {
          label: 'Other (please specify)',
          value: '2',
        },
      ],

      formOptions: {
        validateAfterChanged: true,
      },

      fields: {
        consultant: [
          { name: '__slot:checkbox', title: 'SELECTED' },
          { name: '__slot:index', title: 'NO' },
          { name: 'CREATE_TIMESTAMP', title: 'SUBMISSION DATE' },
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC NUMBER' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NUMBER' },
          { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NUMBER' },
          // { name: 'CONSULTANT_PHONENO', title: 'PHONE NUMBER' },
          { name: 'CONSULTANT_TYPE', title: 'CONSULTANT TYPE' },
          { name: 'TERMINATION_TYPE_NAME', title: 'TERMINATION TYPE' },
          { name: 'TERMINATION_DATE', title: 'EFFECTIVE DATE' },
          { name: 'TERMINATION_STATUS_NAME', title: 'STATUS' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        log: [
          {
            name: '__slot:no',
            title: 'NO',
          },
          {
            name: 'CREATE_TIMESTAMP',
            title: 'Date',
            sortField: 'CREATE_TIMESTAMP',
          },
          {
            name: 'GROUP_NAME',
            title: 'Group',
            sortField: 'GROUP_NAME',
          },
          {
            name: 'USER_NAME',
            title: 'Creation By',
            sortField: 'USER_NAME',
          },
          {
            name: 'TS_PARAM',
            title: 'Activity',
            sortField: 'TS_PARAM',
          },

          // {
          //   name: "LATEST_UPDATE",
          //   title: "Latest Update",
          //   sortField: "LATEST_UPDATE",
          // },
          {
            name: '__slot:remarks',
            title: 'Remarks/Comments',
            sortField: 'APPR_REMARK',
          },
          {
            name: '__slot:updates',
            title: 'Latest Update',
            sortField: 'LATEST_UPDATE',
          },
        ],
      },
      // fields: [
      //   // A virtual column that doesn't exist in items
      //   { key: 'checkbox', label: 'checkbox' },
      //   { key: 'index', label: 'NO' },
      //   // A column that needs custom formatting
      //   { key: 'CONSULTANT_NAME', label: 'CONSULTANT NAME' },
      //   { key: 'CONSULTANT_NRIC_PASSPORT_NO', label: 'NRIC NO/PASSPORT NO' },
      //   // { key: 'CONSULTANT_NRIC', label: 'NRIC NO' },
      //   { key: 'CONSULTANT_FIMM_NO', label: 'FIMM NO' },
      //   { key: 'SCHEME', label: 'CONSULTANT TYPE' },
      //   { key: 'TERMINATION_TYPE', label: 'TERMINATION TYPE' },
      //   { key: 'STATUS', label: 'STATUS' },
      // ],

      search: {
        consultant: '',
        log: '',
      },
      consultantsAPI: [],
      logAPI: [],
      currentPage: 1,
      perPage: '10',
      visible: {
        TERMINATION_FORM: false,
      },
      model2: {
        APPROVAL_REMARK: '',
      },
      model: {
        // "TERMINATION_TYPE"
        // "TERMINATION_DATE"
        // "CONSULTANT_ID"
        // "APPROVAL_REMARK"
        // "CREATE_BY"
        // "CREATE_TIMESTAMP"
        PROFILE_UPLOADED_DOCUMENTS: [],
        CONSULTANT_ID: [],
        TERMINATION_ID: [],
        APPROVAL_REMARK: '',
        CREATE_BY: JSON.parse(localStorage.getItem('user')).user_id,
      },

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'textArea',
                rows: 10,
                max: 1000,
                label: 'Remarks / Comments',
                model: 'APPROVAL_REMARK',
                placeholder: 'Enter Remarks or Comments',
                hint: 'Max 1000 characters',
                // validator: 'number',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
      tabSchema3: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'textArea',
                rows: 10,
                max: 1000,
                label: 'Remarks / Comments',
                model: 'APPROVAL_REMARK',
                placeholder: 'Enter Remarks or Comments',
                hint: 'Max 1000 characters',
                // validator: 'number',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
      fileUploadSchema: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                accept: '.pdf',
                multiple: true,
                text: 'Choose a File',
                model: 'PROFILE_UPLOADED_DOCUMENTS',
                type: 'vfg-custom-file-view',
                styleClasses: 'col-md-12',
                required: false,
                disabled: true,
              },
            ],
          },
        ],
      },
    };
  },
  async created() {
    // await this.getConsultantRecord();
    await this.getAllTermination();
    await this.getTerminationType();
    // await this.getDocumentByID();
    // await this.getFilterConsultantRecord();
    // this.consultants = await services02module2.getConsultant();
    // await console.log(this.consultants)
  },
  computed: {
    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      if (this.search) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultantsAPI;
    },
    mappedSelectedConsultantArray() {
      if (this.model.TERMINATION_ID.length)
        return this.model.TERMINATION_ID.map(el => el.TERMINATION_ID);

      return [];
    },
  },
  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },
    async getConsultantRecord() {
      console.log('inside get consultant record');
      const response = await services02module2.getConsultant();
      this.consultantsAPI = response;

      // this.isBusy = false;
      console.log(this.consultantsAPI);
    },

    async getTerminationType() {
      const response = await services02module2.getTerminationType();
      console.log('get Termination Type: ', response);
    },

    async getAllTermination() {
      const termination = await services02module2.getAllTermination();
      this.consultantsAPI = termination;
      console.log('this is termination', termination);
    },

    viewCurrentConsultant(props) {
      this.currentConsultant = props.rowData;
      this.model2.APPROVAL_REMARK.
      console.log(this.currentConsultant);
    },

    async updateTerminationApproval(status) {

      console.log(status);
      var data = new FormData();
      data.append("TERMINATION_ID", JSON.stringify(this.mappedSelectedConsultantArray));
      data.append("APPROVAL_STATUS", status);
      data.append("CREATE_BY", JSON.parse(localStorage.getItem('user')).user_id);
      data.append("APPROVAL_REMARK", this.model.APPROVAL_REMARK);
      console.log(data);

      const termination = await services02module2.updateTerminateConsultantApproval(data);
      this.getAllTermination();
    },

    setCurrentConsultant(props) {
      console.log('inside setCurrentConsultant');
      const index = this.model.TERMINATION_ID.findIndex(
        el => el.TERMINATION_ID === props.rowData.TERMINATION_ID,
      );

      console.log('index',index);

      if (index >= 0) {
        this.model.TERMINATION_ID.splice(index, 1);
      } else {
        this.model.TERMINATION_ID.push(props.rowData);
      }
      console.log(this.model.TERMINATION_ID);
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === 'TERMINATION_TYPE') {
        // this.visible.TERMINATION_TYPE = newVal.value;
        this.visible.TERMINATION_TYPE_OTHER_SPECIFY = false;
        if (newVal.label.match('Other')) {
          this.visible.TERMINATION_TYPE_OTHER_SPECIFY = true;
        }
      }
    },

    saveAsDraft: async function() {
      let data = {
        TERMINATION_ID: this.model.TERMINATION_ID.map(el => el.TERMINATION_ID),
        APPROVAL_REMARK: this.model.APPROVAL_REMARK,
        CREATE_BY: this.model.CREATE_BY,
      };

      if (this.currentConsultant) data.TERMINATION_ID = this.currentConsultant.TERMINATION_ID;

      console.log(data);

      // const response = await services02module2.postTerminateConsultant(data);
      const response = await services02module2.updateTerminateConsultantApproval(data);
      console.log(response);
    },
    submitTerminationApproval: async function() {
      console.log(this.model);

      let data = {
        TERMINATION_ID: this.model.TERMINATION_ID.map(el => el.TERMINATION_ID),
        APPROVAL_REMARK: this.model.APPROVAL_REMARK,
        CREATE_BY: this.model.CREATE_BY,
        APPROVAL_STATUS: 2,
      };

      if (this.currentConsultant) data.TERMINATION_ID = this.currentConsultant.TERMINATION_ID;

      console.log(data);

      const response = await services02module2.postTerminateConsultant(data);
      console.log(response);
    },

    getDocumentByID: async function() {
      console.log('inside getDocumentByID');

      const response = await servicesModule3.getDocumentById(261);
      console.log('inside getDocumentByID: ', response);

      response.forEach(element => {
        console.log(element.DOC_BLOB);
        element.DOC_BLOB = this.b64toBlobPDF(element.DOC_BLOB, 'application/pdf');
        console.log('mula');
        console.log(element.DOC_BLOB); // <----- cuba tgk ini
        console.log('habis');
        element.DOC_BLOB = new File(
          [element.DOC_BLOB],
          element.DOC_ORIGINAL_NAME + '.' + element.DOC_FILETYPE,
          { type: element.DOC_BLOB.type },
        );
        console.log(element.DOC_BLOB);
        const data = {
          name: element.DOC_ORIGINAL_NAME + '.' + element.DOC_FILETYPE,
          size: element.DOC_FILESIZE,
          type: element.DOC_FILETYPE,
          ext: 'exe',
          url: window.URL.createObjectURL(element.DOC_BLOB),
        };

        this.file = element.DOC_BLOB;
        //alert(JSON.stringify(element.DOC_BLOB));

        if (this.model.PROFILE_UPLOADED_DOCUMENTS.length < 3) {
          this.model.PROFILE_UPLOADED_DOCUMENTS.push(data);
        } else {
          return;
        }
        //alert(JSON.stringify(data));
      });
    },

    b64toBlobPDF(b64Data, contentType, sliceSize) {
      contentType = contentType || '';
      sliceSize = sliceSize || 512;

      var byteCharacters = atob(b64Data);
      var byteArrays = [];

      for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
      }

      console.log(byteArrays);

      return new File(byteArrays, 'pot', { type: contentType });
    },

    // async getFilterConsultantRecord() {
    //   const filter_cons_records = await ConsultantRecord.getFilterConsultantRecord();
    //   console.log('this is filter cons records', filter_cons_records);
    // },
    // setCurrentConsultantAll(scope) {
    //   if (this.mappedSelectedConsultantArray.length) {
    //     this.$refs['consultantTable'].clearSelected();
    //   } else {
    //     this.$refs['consultantTable'].selectAllRows();
    //   }
    //   // this.mappedSelectedConsultantArray.length
    //   // ? this.$refs['consultantTable'].clearSelected()
    //   // : this.$refs['consultantTable'].selectAllRows();
    // },
    // setCurrentConsultant(data) {
    //   console.log(data);
    //   const existed = this.mappedSelectedConsultantArray.some(el => el === data.item.CONSULTANT_ID);

    //   existed
    //     ? this.$refs['consultantTable'].unselectRow(data.index)
    //     : this.$refs['consultantTable'].selectRow(data.index);

    //   // if (existed) {
    //   //   this.$refs['consultantTable'].unselectRow(data.index);
    //   // } else {
    //   //   // console.log('currentData', data.index, data.item.CONSULTANT_ID);
    //   //   this.$refs['consultantTable'].selectRow(data.index);
    //   // }
    // },
    // onRowSelected(items) {
    //   this.model.CONSULTANT_ID = items;
    //   console.log(this.model.CONSULTANT_ID);
    // },
  },
};
</script>

<style scoped>
a {
  margin-left: 15px;
}
</style>
