<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <template v-if="!currentConsultant">
            <va-card>
              <h4 style="margin-top:0px; margin-bottom:20px">
                Registration Approval
              </h4>
              <br />
              <div class="row text-center" v-if="distributorWallet">
                <div class="col">
                  <h6>Pre-Payment Balance (RM)</h6>
                  <div class="alert alert-secondary p-1" role="alert">
                    {{ distributorWallet.wallets.CURRENT_BALANCE }}
                  </div>
                </div>
                <div class="col">
                  <h6>Amount to be Deducted (RM)</h6>
                  <div class="alert alert-secondary p-1" role="alert">
                    {{ distributorWallet.approval_pending_fee }}
                  </div>
                </div>
                <div class="col">
                  <h6>Balance after Deduction (RM)</h6>
                  <div class="alert alert-secondary p-1" role="alert">
                    {{
                      distributorWallet.wallets.CURRENT_BALANCE -
                        distributorWallet.approval_pending_fee
                    }}
                  </div>
                </div>
              </div>
              <br />

              <h4 style="margin-top:0px; margin-bottom:20px">
                List of New Consultant Application
              </h4>

              <div
                style="display:flex; justify-content:space-between; align-items:center"
              >
                <div class="col-6">
                  <vue-form-generator
                    :model="model"
                    :schema="applicationTypeSchema"
                    :options="formOptions"
                    @model-updated="onModelUpdated"
                  >
                  </vue-form-generator>
                </div>
                <div class="flex md3 offset--md3">
                  <va-input
                    :placeholder="$t('Search')"
                    v-model="search.consultant"
                    removable
                  >
                    <va-icon name="fa fa-search" slot="prepend" />
                  </va-input>
                </div>
              </div>
              <br />
              <!-- <div
                  style="display: flex; align-items:center"
                  class=" col-4 form-group form-group-sm has-search"
                >
                  <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                  <input
                    v-model="search.consultant"
                    type="text"
                    class="form-control"
                    placeholder="Search"
                  />
                </div> -->
              <!-- <vue-form-generator
                  :model="model"
                  :schema="applicationTypeSchema"
                  :options="formOptions"
                  @model-updated="onModelUpdated"
                >
                </vue-form-generator> -->

              <!-- CONSULTANT TABLE -->
              <!-- select-mode="single" -->

              <va-data-table
                :fields="fields.consultant"
                :data="filteredConsultant"
                no-data-label="No data found"
                :per-page="parseInt(perPage)"
                :datacount="filteredConsultant.length"
                :dataperpage="parseInt(perPage)"
                clickable
              >
                <template slot="checkbox" slot-scope="props">
                  <b-form-checkbox
                    v-model="props.rowData.selected"
                    @change="setCurrentConsultant(props)"
                  >
                  </b-form-checkbox>
                </template>
                <template slot="index" slot-scope="row">
                  {{ row.rowIndex + 1 }}
                </template>
                <template slot="ACTION" slot-scope="props">
                  <h5 class="mt-1">
                    <span
                      v-b-tooltip.hover
                      title="View"
                      v-on:click="viewCurrentConsultant(props)"
                      class="badge badge-primary mr-2"
                    >
                      <i class="fa fa-eye"></i
                    ></span>
                  </h5>
                </template>
              </va-data-table>
              <br />
            </va-card>
          </template>

          <template v-else>
            <va-card>
              <h4 style="margin-top:0">Consultant Details</h4>
              <br />
              <div>
                <tabs
                  :tabs="tabs"
                  :currentTab="currentTab"
                  :wrapper-class="'default-tabs'"
                  :tab-class="'default-tabs__item'"
                  :tab-active-class="'default-tabs__item_active'"
                  :line-class="'default-tabs__active-line'"
                  @onClick="handleClick"
                />
                <div class="content">
                  <div v-if="currentTab === 'tab1'">
                    <div class="ml-4">
                      <br />
                      <table
                        id="consultant-profile"
                        class="table table-striped"
                      >
                        <tbody>
                          <tr>
                            <td style="width: 15%">Name</td>
                            <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                          </tr>
                          <tr>
                            <td>New NRIC</td>
                            <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                          </tr>
                          <tr>
                            <td>Date of Birth</td>
                            <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                          </tr>

                          <tr>
                            <td>Address</td>
                            <td>
                              {{
                                currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td>Postcode</td>
                            <td>
                              {{
                                currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>
                              {{
                                currentConsultant.CONSULTANT_CORRESPONDENT_CITY
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td>State</td>
                            <td>
                              {{
                                currentConsultant.CONSULTANT_CORRESPONDENT_STATE
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td>Telephone Number</td>
                            <td>{{ currentConsultant.CONSULTANT_PHONENO }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                          </tr>
                          <tr>
                            <td>Highest Qualification</td>
                            <td>
                              {{
                                currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td>Consultant Status</td>
                            <td>{{ currentConsultant.REGISTRATION_STATUS }}</td>
                          </tr>
                        </tbody>
                      </table>
                      <vue-form-generator
                        :model="model"
                        :schema="fileUploadSchema"
                        :options="formOptions"
                        ref="fileUploadForm"
                      >
                      </vue-form-generator>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab2'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Category</td>
                            <td>{{ currentConsultant.CONSULTANT_CATEGORY }}</td>
                          </tr>
                          <tr>
                            <td>Apprienticeship Program</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td>Company Distributor</td>
                            <td>{{ currentConsultant.DISTRIBUTOR }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab3'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr style="width: 100%">
                            <vue-form-generator
                              :model="model"
                              :schema="fileUploadSchema"
                              :options="formOptions"
                              ref="fileUploadForm"
                            >
                            </vue-form-generator>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab4'">
                    <div class="ml-3">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Examination Type</td>
                            <td>{{ currentConsultant.COURSE_TYPE }}</td>
                          </tr>

                          <tr>
                            <td>Result</td>
                            <td>
                              FAIL
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Certificate
                            </td>
                            <td>
                              Not Available
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Check
                            </td>
                            <td>
                              Pass
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Remark
                            </td>
                            <td>
                              Insert remark here
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </va-card>
            <br />

            <va-card>
              <h4 style="margin-top:0">Application Approval</h4>
              <br />

              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="tabForm2"
                @model-updated="onModelUpdated"
                @validated="onValidated"
              >
              </vue-form-generator>
              <br />

              <div class="float-left">
                <button
                  @click="
                    currentConsultant = null;
                    model.PROFILE_UPLOADED_DOCUMENTS = null;
                  "
                  type="button"
                  class="btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
              </div>
              <div class="float-right">
                <button
                  @click="saveAsDraft"
                  type="button"
                  class="btn btn-info btn-fill btn-md"
                >
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button>
                <button
                  @click="updateRegistrationApproval(8)"
                  type="button"
                  class="ml-2 btn btn-warning btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Return
                </button>
                <button
                  @click="updateRegistrationApproval(5)"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Reject
                </button>
                <button
                  @click="updateRegistrationApproval(14)"
                  type="button"
                  class="ml-2 btn btn-success btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Review
                </button>
              </div>
            </va-card>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import Vudal from "vudal";
import VueFormGenerator from "vue-form-generator";
import "vue-form-generator/dist/vfg-core.css";
import VueFormWizard from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import Vue from "vue";
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";

// Import Bootstrap an BootstrapVue CSS files (order is important)
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import HorizontalScroll from "vue-horizontal-scroll";
import "vue-horizontal-scroll/dist/vue-horizontal-scroll.css";
import * as services06Module0 from "../../../app/module0/services06";
import moment from "moment";
import * as servicesmodule0 from "../../../app/module0/services";
import * as servicesmodule2 from "../../../app/module2/services";
import * as services02module2 from "../../../app/module2/services02";
import RepositoryFactory from "../../../repositories/RepositoryFactory";
import TerminationRepository from "../../../repositories/module2/TerminationRepository";
import * as servicesModule3 from "../../../app/module3/services01";
import Tabs from "vue-tabs-with-active-line";
import { getConsultantById } from "../../../app/module2/services01";

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component("multiselect", Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get("consultantrecord");
const Termination = RepositoryFactory.get("termination");

export default {
  components: { Tabs },
  data() {
    return {
      distributorWallet: {},
      tabs: [
        {
          title: "Applicant Profile",
          value: "tab1"
        },
        {
          title: "Type of Applicant",
          value: "tab2"
        },
        {
          title: "Uploaded Document",
          value: "tab3"
        },
        {
          title: "Examination & Bankcruptcy Check Result",
          value: "tab4"
        }
      ],

      currentTab: "tab1",

      currentDistributor: null,
      currentConsultant: null,

      isBusy: true,
      applicationType: [
        {
          label: "New",
          value: "1"
        },
        {
          label: "Re-register",
          value: "2"
        },
        {
          label: "Re-sit",
          value: "2"
        }
      ],

      formOptions: {
        validateAfterChanged: true
      },

      fields: {
        consultant: [
          // {
          //   name: '__checkbox',
          //   titleClass: 'center aligned',
          //   dataClass: 'center aligned',
          // },
          // A virtual column that doesn't exist in items
          // {
          //   name: '__slot:checkbox',
          //   title: 'SELECTED',
          // },
          { name: "__slot:index", title: "NO" },
          { name: "SUBMISSION_DATE", title: "SUBMISSION DATE" },
          // A column that needs custom formatting
          { name: "CONSULTANT_NAME", title: "CONSULTANT NAME" },
          { name: "CONSULTANT_NRIC", title: "NRIC NUMBER" },
          { name: "CONSULTANT_PASSPORT_NO", title: "PASSPORT NUMBER" },
          { name: "CONSULTANT_MOBILE_NO", title: "PHONE NUMBER" },
          { name: "APPLICATION_TYPE", title: "APPLICATION TYPE" },
          { name: "WAIVER", title: "WAIVER" },
          { name: "EXAMINATION_TYPE", title: "EXAMINATION TYPE" },
          { name: "STATUS", title: "STATUS" },
          { name: "FEE_AMOUNT", title: "FEE AMOUNT (RM)" },
          { name: "__slot:ACTION", title: "ACTION" }
        ]
      },

      search: {
        consultant: ""
      },
      filter: {
        consultant: ""
      },
      // filter: {
      //   distributor: null,
      //   consultant: null,
      // },

      consultantsAPI: [],

      consultants: null,

      currentPage: 1,
      perPage: "10",
      visible: {
        TERMINATION_FORM: false,
        TERMINATION_TYPE_OTHER_SPECIFY: false
      },
      model: {
        PROFILE_UPLOADED_DOCUMENTS: [],
        FILTER_APPLICATION_TYPE: null,
        REMARK_COMMENTS: "",
        SUPPORTED_DOCUMENTS: "",
        CREATE_BY: JSON.parse(localStorage.getItem("user")).user_id
        // CONSULTANTS: [],
      },

      // fields.distributor: ,
      // fields: ,
      applicationTypeSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "vueMultiSelect",
                model: "FILTER_APPLICATION_TYPE",
                placeholder: "Filter by Application Type",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  label: "label",
                  value: "value",
                  searchable: true
                },

                values: (model, schema) => {
                  return this.applicationType;
                }
              }
            ]
          }
        ]
      },
      tabSchema2: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "textArea",

                rows: 10,
                max: 1000,
                label: "Remarks / Comments",
                hint: "maximum of 1000 characters",
                model: "REMARK_COMMENTS",
                placeholder: "Enter Remarks or Comments",
                styleClasses: "col-md-12"
              },
              {
                labels: "Upload Document",
                text: "Choose a File",
                model: "SUPPORTED_DOCUMENT",
                type: "vfg-custom-multiple-file",
                styleClasses: "col-md-12",

                required: true
              }
            ]
          }
        ]
      },
      fileUploadSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                accept: ".pdf",
                multiple: true,
                text: "Choose a File",
                model: "PROFILE_UPLOADED_DOCUMENTS",
                type: "vfg-custom-file-view",
                styleClasses: "col-md-12",
                required: false,
                disabled: true
              }
            ]
          }
        ]
      }
    };
  },
  async created() {
    await this.getConsultantRecord();
    // await this.getDocumentByID('241');
    await this.getDistributorWallet();
  },

  computed: {
    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      const isFiltering = this.model.FILTER_APPLICATION_TYPE;
      const isSearching = !!this.search.consultant;

      if ((isFiltering && isSearching) || isSearching) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key =>
            `${el[key]}`.toLowerCase().match(search)
          );
        });
      }

      if (isFiltering) {
        return this.consultantsAPI.filter(el =>
          el.APPLICATION_TYPE.toLowerCase().match(
            this.model.FILTER_APPLICATION_TYPE.label.toLowerCase()
          )
        );
      }

      return this.consultantsAPI;
    }
  },

  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },
    async getConsultantRecord() {
      console.log("inside get consultant record");
      const response = await services02module2.getConsultant();
      // const response = await ConsultantRecord.getConsultantRecord();

      this.consultantsAPI = response;
    },
    async getDistributorWallet() {
      console.log("walllet");
      const response = await services02module2.getDistributorWallet();
      // const response = await ConsultantRecord.getConsultantRecord();

      this.distributorWallet = response;
    },

    setCurrentDistributor(props) {
      console.log(props);
      this.currentDistributor = props.rowData.DIST_NAME;
    },

    async viewCurrentConsultant(props) {
      try {
        this.currentConsultant = props.rowData;
        await this.getDocumentByID(props.rowData.CONSULTANT_ID);
      } catch (error) {
        console.log(error);
      }
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === "FILTER_APPLICATION_TYPE") {
        // this.visible.TERMINATION_TYPE = newVal.value;

        console.log(
          this.consultantsAPI.filter(el =>
            el.APPLICATION_TYPE.toLowerCase().match(
              this.model.FILTER_APPLICATION_TYPE.label.toLowerCase()
            )
          )
        );
      }
    },
    onValidated(isValid, errors) {
      console.log("Validation result: ", isValid, ", Errors:", errors[0].error);
    },

    saveAsDraft: async function(status) {},

    updateRegistrationApproval: async function(status) {
      // const response = await services02module2.updateRegistrationStatus(status)
    },

    getDocumentByID: async function(data) {
      console.log("inside get consultant by id");
      const response = await services02module2.getConsultantByID(data);

      response.DOCUMENTS.forEach(el => {
        el.DOC_BLOB = this.b64toBlobPDF(el.DOC_BLOB, "application/pdf");

        el.DOC_BLOB = new File(
          [el.DOC_BLOB],
          el.DOC_ORIGINAL_NAME + "." + el.DOC_FILETYPE,
          {
            type: el.DOC_BLOB.type
          }
        );

        const data = {
          name: el.DOC_ORIGINAL_NAME + "." + el.DOC_FILETYPE,
          size: el.DOC_FILESIZE,
          type: el.DOC_FILETYPE,
          ext: "exe",
          url: window.URL.createObjectURL(el.DOC_BLOB)
        };

        this.model.PROFILE_UPLOADED_DOCUMENTS.push(data);
      });

      console.log(
        "getConsultantRecords: ",
        this.model.PROFILE_UPLOADED_DOCUMENTS
      );
    },

    b64toBlobPDF(b64Data, contentType, sliceSize) {
      contentType = contentType || "";
      sliceSize = sliceSize || 512;

      var byteCharacters = atob(b64Data);
      var byteArrays = [];

      for (
        var offset = 0;
        offset < byteCharacters.length;
        offset += sliceSize
      ) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
      }

      console.log(byteArrays);

      return new File(byteArrays, "pot", { type: contentType });
    }

    //     // fix this
    // setCurrentConsultantAll(scope) {
    //   if (this.mappedSelectedConsultantArray.length) {
    //     this.$refs['consultantTable'].clearSelected();
    //   } else {
    //     this.$refs['consultantTable'].selectAllRows();
    //   }
    // },

    // setCurrentConsultant(props) {
    //   console.log('inside setCurrentConsultant');
    //   const index = this.model.CONSULTANT_ID.findIndex(
    //     el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID,
    //   );

    //   console.log(props);

    //   if (index >= 0) {
    //     this.model.CONSULTANT_ID.splice(index, 1);
    //   } else {
    //     this.model.CONSULTANT_ID.push(props.rowData);
    //   }
    //   console.log(this.model.CONSULTANT_ID);
    // },
  }
};
</script>
