<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <va-card>
            <h4 style="margin-top:0">List of Consultant Profile Update</h4>
            <br />
            <div class="col-3">
              <div
                style="display: flex; align-items:center"
                class="form-group form-group-sm has-search"
              >
                <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="search.consultant"
                  type="text"
                  class="form-control"
                  placeholder="Search"
                />
              </div>
            </div>
            <va-data-table
              :fields="fields.consultant"
              :data="filteredConsultant"
              no-data-label="No data found"
              :per-page="parseInt(10)"
              :datacount="filteredConsultant.length"
              :dataperpage="parseInt(10)"
              clickable
            >
              <!-- <template slot="actions" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                />
              </template> -->

              <template slot="checkbox" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                >
                </b-form-checkbox>
              </template>
              <template slot="index" slot-scope="row">
                {{ row.rowIndex + 1 }}
              </template>
              <template slot="ACTION" slot-scope="props">
                <h5 class="mt-1">
                  <span
                    v-b-tooltip.hover
                    title="edit"
                    v-on:click="setCurrentConsultant(props)"
                    class="badge badge-primary mr-2"
                  >
                    <i class="fa fa-eye"></i
                  ></span>
                </h5>
              </template>
            </va-data-table>
          </va-card>
          <br />
          <va-card v-if="consultant"
            class="strpied-tabled-with-hover"
            body-classes="table-full-width table-responsive"
          >
            <h4 style="margin-top:0">Applicant Profile</h4>
            <br />
            <div>
              <tabs
                :tabs="tabs"
                :currentTab="currentTab"
                :wrapper-class="'default-tabs'"
                :tab-class="'default-tabs__item'"
                :tab-active-class="'default-tabs__item_active'"
                :line-class="'default-tabs__active-line'"
                @onClick="handleClick"
              />
              <div class="content">
                <div v-if="currentTab === 'tab1'">
                  <div class="ml-4">
                    <br />
                    <table id="consultant-profile" class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Name</td>
                          <td>{{consultant.CONSULTANT_NAME}}</td>
                        </tr>
                        <tr>
                          <td>New NRIC</td>
                          <td>{{consultant.CONSULTANT_NRIC}}</td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>{{consultant.CONSULTANT_DOB}}</td>
                        </tr>

                        <tr>
                          <td>Address</td>
                          <td>{{consultant.CONSULTANT_DOB}}</td>
                        </tr>
                        <tr>
                          <td>Postcode</td>
                          <td>{{consultant.CONSULTANT_POSTCODE}}</td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td>{{consultant.CONSULTANT_CITY}}</td>
                        </tr>
                        <tr>
                          <td>State</td>
                          <td>{{consultant.CONSULTANT_STATE}}</td>
                        </tr>
                        <tr>
                          <td>Telephone Number</td>
                          <td>{{consultant.CONSULTANT_MOBILE_NO}}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>{{consultant.CONSULTANT_EMAIL}}</td>
                        </tr>
                        <tr>
                          <td>Highest Qualification</td>
                          <td>{{consultant.CONSULTANT_HIGHEST_QUALIFICATION}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div v-if="currentTab === 'tab2'">
                  <div class="ml-4">
                    <br />
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Category</td>
                          <td>Agent</td>
                        </tr>
                        <tr>
                          <td>Apprienticeship Program</td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Company Distributor</td>
                          <td>A.D.Fincancial Sdn. Bhd.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div v-if="currentTab === 'tab3'">
                  <div class="ml-4">
                    <br />
                    <table class="table table-striped">
                      <tr>
                        <th>No</th>
                        <th>Document</th>
                      </tr>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            Cover letter for Former and Variation PRS consultant &nbsp; &nbsp;
                            &nbsp;
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                              class="row"
                            >
                              view</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>
                            Letter of Undertaking for variation due to Merger &nbsp; &nbsp; &nbsp;
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                              class="row"
                            >
                              view</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>
                            Printed online application &nbsp; &nbsp; &nbsp;
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                              class="row"
                            >
                              view</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>
                            Statutory Declaration &nbsp; &nbsp; &nbsp;
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                              class="row"
                            >
                              view</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div v-if="currentTab === 'tab4'">
                  <div class="ml-3">
                    <br />
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Examination Type</td>
                          <td>CUTE</td>
                        </tr>
                        <!-- <tr>
                                    <td>Exam Date</td>
                                    <td>Not Available</td>
                                  </tr>
                                   <tr>
                                    <td>Exam Session</td>
                                    <td>Not Available</td>
                                  </tr>
                                   <tr>
                                    <td>Exam Location</td>
                                    <td>Not Available</td>
                                  </tr> -->
                        <tr>
                          <td>Result</td>
                          <td>FAIL</td>
                        </tr>
                        <tr>
                          <td>
                            Certificate
                          </td>
                          <td>
                            Not Available
                          </td>
                          <!-- <td> <a href="" target="_blank" >View</a></td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </va-card>
          <br />
          <va-card v-if="consultant"
            class="strpied-tabled-with-hover"
            body-classes="table-full-width table-responsive"
          >
            <h4 style="margin-top:0">Applicant Review</h4>
            <br />
            <vue-form-generator
              :model="model"
              :schema="tabSchema2"
              :options="formOptions"
              ref="tabForm2"
              @model-updated="onModelUpdated"
            >
            </vue-form-generator>
            <br />
            <br />
            <div class="float-left">
              <button @click="prevTab" type="button" class="btn btn-primary btn-fill btn-md">
                <i class="fa fa-step-backward" /> &nbsp; Previous
              </button>
            </div>
            <div class="float-right">
              <button
                :disabled="model.DIST_PUBLISH_STATUS"
                @click="saveAsDraft"
                type="button"
                class="btn btn-info btn-fill btn-md"
              >
                <i class="fa fa-edit" /> &nbsp;Save as Draft
              </button>
              <button
                @click="submitForm"
                type="button"
                class="ml-2 btn btn-primary btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> Submit
              </button>
            </div>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import pdf from 'vue-pdf';
import 'vue-form-generator/dist/vfg.css';
import Tabs from 'vue-tabs-with-active-line';
import VueFormGenerator from 'vue-form-generator';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import RepositoryFactory from '../../../repositories/RepositoryFactory';

const ConsultantRecord = RepositoryFactory.get('consultantrecord');

Vue.use(VueFormGenerator);
const TABS = [
  {
    title: 'Applicant Profile',
    value: 'tab1',
  },
  {
    title: 'Type of Applicant',
    value: 'tab2',
  },
  {
    title: 'Uploaded Document',
    value: 'tab3',
  },
  {
    title: 'Examination',
    value: 'tab4',
  },
];
export default {
  created() {
    // const response = servicesmodule2.getCertificate(data);
    // console.log('Success', response);
    // const blob = new Blob([response.data]);
    // const objectUrl = URL.createObjectURL(blob);
    // this.pdfsrc = objectUrl;
    // return pdfsrc;
  },

  async mounted() {
    await this.getConsultantRecord();
    // await this.getFilterConsultantRecord();
  },

  components: {
    Tabs,
    pdf,
  },

  data() {
    return {
      tabs: TABS,
      currentTab: 'tab1',
      pdfsrc: null,
      getResult: [],
      getResultPDF: [],
      consultant: null,
      fields: {
        consultant: [
          { name: '__slot:index', title: 'NO' },
          { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NO' },
          { name: 'CONSULTANT_APPEAL_TYPE', title: 'APPEAL TYPE' },
          { name: 'STATUS', title: 'STATUS' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
      },
      filter: {
        distributor: null,
        consultant: null,
      },

      consultantsAPI: [],

      CONSULTANT_PROFILE: {
        NAME: 'NoorHiyadah Binti Mohd Faizal',
        NRIC: '890408-03-5556',
        DOB: '08-04-1989',
        ADDRESS: '3, Jalan Dato Abdul Aziz, Seksyen 14',
        POSTCODE: '46100',
        CITY: 'Petaling Jaya',
        STATE: 'Selangor',
        TELEPHONE_NO: '014-6218910',
        EMAIL: 'hidayah@gmail.com',
        HIGHEST_QUALIFICATION: 'Degree',
      },

      TYPE_OF_APPLICANT: {
        CATEGORY: 'Agent',
        APPERENTICESHIP_PROGRAM: 'Yes',
        COMPANY_DISTRIBUTOR: 'A.D.Fincancial Sdn. Bhd.',
      },

      model: {
        REMARKS_COMMENTS: '',
        REVIEW_DOCS: '',
      },
      status: [
        {
          id: 'Exam',
          name: 'Exam Related',
        },
        {
          id: 'Termination',
          name: 'Termination',
        },
        {
          id: 'Bankruptcy',
          name: 'Bankruptcy',
        },
      ],
      search: {
        distributor: '',
        consultant: '',
      },
      examrelated: [
        {
          id: 'examResults',
          name: 'Exam Results',
        },
        {
          id: 'Others',
          name: 'Others (Waiver)',
        },
      ],
      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'textArea',
                required: true,
                rows: 10,
                max: 1000,
                hint: 'Maximum characters of 1000',
                label: 'Remarks / Comments',
                model: 'REMARKS_COMMENTS',
                placeholder: 'Enter Remarks or Comments',
                styleClasses: 'col-md-12',
              },
              {
                text: 'Choose Document',
                model: 'REVIEW_DOCS',
                type: 'vfg-custom-multiple-file',
                styleClasses: 'col-md-12',
                required: true,
              },
            ],
          },
        ],
      },
      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: true,
        validateAsync: true,
      },
    };
  },
  computed: {
    // consultants() {
    //   if (this.consultantsAPI.length) return this.consultantsAPI;

    //   return [];
    // },
    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      if (this.search && this.consultantsAPI) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultants;
    },
  },

  methods: {
    setCurrentDistributor(prop){
      this.distributor = prop.rowData
    },
    setCurrentConsultant(prop) {
      console.log(prop.rawData)
      this.consultant = prop.rowData
    },
    async getConsultantRecord() {
      console.log('inside get consultant record');
      const response = await ConsultantRecord.getAllConsultantRecord();
      console.log('inside get consultant record', response.data.data);
      this.consultantsAPI = response.data.data;
      // this.isBusy = false;
      // console.log(this.consultants);
    },
    prevTab() {
      this.$router.go(-1);
    },
    saveAsDraft() {},
    validatestatusForm() {
      return this.$refs.statusForm.validate();
    },
    submitForm: async function() {
      const response = await this.validatestatusForm();
      if (response) {
        //
        const returnresponse = await services02module2.postResignConsultant(this.model);
      } else {
      }
    },
    handleClick(newTab) {
      this.currentTab = newTab;
    }, // end tab
    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema == 'document') {
        console.log(newVal.replace('C:\\fakepath\\', ''));
        this.model.document = newVal.replace('C:\\fakepath\\', '');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.input-label-td {
  width: 30%;
}
#consultant-profile input,
#type-of-applicant input {
  width: 70%;
  border: none;
  background: transparent;
}
.default-tabs {
  position: relative;
  margin: 0 auto;
  &__item {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: gray;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.25s;
    &_active {
      color: black;
    }
    &:hover {
      border-bottom: 2px solid gray;
      color: black;
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid gray;
      color: black;
    }
    &:first-child {
      margin-left: 20px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}
</style>
