<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <va-card v-if="!currentConsultant">
            <h4 style="margin-top:0px; margin-bottom:20px">
              Bankruptcy Check
            </h4>
            <h6 style="margin-top:0px; margin-bottom:20px">
              Generate Bankruptcy List
            </h6>
            <div class="col-3">
              <div
                style="display: flex; align-items:center"
                class="form-group form-group-sm has-search"
              >
                <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                <input
                  v-model="filter.consultant"
                  type="text"
                  class="form-control"
                  placeholder="Search"
                />
              </div>
            </div>

            <!-- CONSULTANT TABLE -->
            <!-- select-mode="single" -->
            <va-data-table
              :fields="fields.consultant"
              :data="consultants"
              no-data-label="No data found"
              :per-page="parseInt(perPage)"
              :datacount="consultants.length"
              :dataperpage="parseInt(perPage)"
              clickable
            >
              <template slot="checkbox" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                >
                </b-form-checkbox>
              </template>
              <template slot="index" slot-scope="row">
                {{ row.rowIndex + 1 }}
              </template>
              <template slot="ACTION" slot-scope="props">
                <h5 class="mt-1">
                  <span
                    v-b-tooltip.hover
                    title="View"
                    v-on:click="viewCurrentConsultant(props)"
                    class="badge badge-primary mr-2"
                  >
                    <i class="fa fa-eye"></i
                  ></span>
                </h5>
              </template>
            </va-data-table>
            <br />
            <vue-form-generator
              :model="model"
              :schema="tabSchema2"
              :options="formOptions"
              ref="tabForm2"
              @model-updated="onModelUpdated"
              @validated="onValidated"
            >
            </vue-form-generator>
            <br />

            <br />

            <div class="float-right">
              <button
                @click="submitTerminate"
                type="button"
                class="ml-2 btn btn-warning btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> &nbsp; Request for Consultant Action
              </button>
            </div>
            <br />
          </va-card>

          <va-card v-else>
            <h4 style="margin-top:0">Bankcruptcy Check - Consultant Profile</h4>
            <br />
            <div>
              <tabs
                :tabs="tabs"
                :currentTab="currentTab"
                :wrapper-class="'default-tabs'"
                :tab-class="'default-tabs__item'"
                :tab-active-class="'default-tabs__item_active'"
                :line-class="'default-tabs__active-line'"
                @onClick="handleClick"
              />
              <div class="content">
                <div v-if="currentTab === 'tab1'">
                  <div class="ml-4">
                    <br />
                     <table id="consultant-profile" class="table table-striped">
                      <tbody>
                        <tr>
                          <td style="width: 15%">Name</td>
                          <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                        </tr>
                        <tr>
                          <td>New NRIC</td>
                          <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                        </tr>

                        <tr>
                          <td>Address</td>
                          <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                        </tr>
                        <tr>
                          <td>Postcode</td>
                          <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                        </tr>
                        <tr>
                          <td>State</td>
                          <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                        </tr>
                        <tr>
                          <td>Telephone Number</td>
                          <td>{{ currentConsultant.CONSULTANT_PHONENO }}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                        </tr>
                        <tr>
                          <td>Highest Qualification</td>
                          <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                        </tr>
                        <tr>
                          <td>Consultant Status</td>
                          <td>{{ currentConsultant.REGISTRATION_STATUS }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div v-if="currentTab === 'tab2'">
                  <div class="ml-4">
                    <br />
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Category</td>
                          <td>Agent</td>
                        </tr>
                        <tr>
                          <td>Apprienticeship Program</td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Company Distributor</td>
                          <td>A.D.Fincancial Sdn. Bhd.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div v-if="currentTab === 'tab3'">
                  <div class="ml-4">
                    <br />
                    <table class="table table-striped">
                      <tr>
                        <th>No</th>
                        <th>Document</th>
                      </tr>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            Cover letter for Former and Variation PRS consultant &nbsp; &nbsp;
                            &nbsp;
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                              class="row"
                            >
                              view</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>
                            Letter of Undertaking for variation due to Merger &nbsp; &nbsp; &nbsp;
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                              class="row"
                            >
                              view</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>
                            Printed online application &nbsp; &nbsp; &nbsp;
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                              class="row"
                            >
                              view</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>
                            Statutory Declaration &nbsp; &nbsp; &nbsp;
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                              class="row"
                            >
                              view</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div v-if="currentTab === 'tab4'">
                  <div class="ml-3">
                    <br />
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Examination Type</td>
                          <td>CUTE</td>
                        </tr>

                        <tr>
                          <td>Result</td>
                          <td>
                            FAIL
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Certificate
                          </td>
                          <td>
                            Not Available
                          </td>
                          <!-- <td> <a href="" target="_blank" >View</a></td> -->
                        </tr>
                        <tr>
                          <td>
                            Re-sit Exam
                          </td>
                          <td>
                            <button
                              @click="goToRegisterResitExamPage"
                              type="button"
                              class="mr-2 btn btn-info btn-fill btn-md"
                            >
                              Register
                            </button>
                          </td>
                          <!-- <td> <a href="" target="_blank" >View</a></td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <vue-form-generator
              :model="model"
              :schema="tabSchema2"
              :options="formOptions"
              ref="tabForm2"
              @model-updated="onModelUpdated"
              @validated="onValidated"
            >
            </vue-form-generator>
            <br />

            <div class="float-left">
              <button
                @click="currentConsultant = null"
                type="button"
                class="btn btn-primary btn-fill btn-md"
              >
                <i class="fa fa-step-backward" /> &nbsp; Previous
              </button>
            </div>
            <div class="float-right">
              <button
                @click="submitTerminate"
                type="button"
                class="ml-2 btn btn-warning btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> &nbsp; Request for Consultant Action
              </button>
            </div>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import HorizontalScroll from 'vue-horizontal-scroll';
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import * as services02module2 from '../../../app/module2/services02';
import RepositoryFactory from '../../../repositories/RepositoryFactory';
import TerminationRepository from '../../../repositories/module2/TerminationRepository';
import Tabs from 'vue-tabs-with-active-line';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');
const Termination = RepositoryFactory.get('termination');

export default {
  components: { Tabs },
  data() {
    return {
      tabs: [
        {
          title: 'Applicant Profile',
          value: 'tab1',
        },
        {
          title: 'Type of Applicant',
          value: 'tab2',
        },
        {
          title: 'Uploaded Document',
          value: 'tab3',
        },
        {
          title: 'Examination',
          value: 'tab4',
        },
      ],

      currentTab: 'tab1',

      currentDistributor: null,
      currentConsultant: null,
      isBusy: true,
      terminationType: [
        {
          label: 'Disqualified',
          value: '1',
        },
        {
          label: 'Other (please specify)',
          value: '2',
        },
      ],

      formOptions: {
        validateAfterChanged: true,
      },

      fields: {
        consultant: [
          // {
          //   name: '__checkbox',
          //   titleClass: 'center aligned',
          //   dataClass: 'center aligned',
          // },
          // A virtual column that doesn't exist in items
          {
            name: '__slot:checkbox',
            title: 'SELECTED',
          },
          { name: '__slot:index', title: 'NO' },
          { name: 'LAST_UPDATE', title: 'LAST UPDATE' },
          // A column that needs custom formatting
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NO' },
          { name: 'SCHEME', title: 'CONSULTANT TYPE' },
          { name: 'ACTION_BY_CONSULTANT', title: 'ACTION BY CONSULTANT' },
          { name: 'BANKRUPTCY_STATUS', title: 'BANKRUPTCY STATUS' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
      },
      filter: {
        distributor: null,
        consultant: null,
      },
      distributor: [
        {
          DIST_CODE: '001',
          DIST_NAME: 'A.D Financial Sdn Bhd',
          DIST_PHONE_NO: '03-2233114',
        },
        {
          DIST_CODE: '002',
          DIST_NAME: 'Affin Bank Berhad',
          DIST_PHONE_NO: '03-898856',
        },
        {
          DIST_CODE: '003',
          DIST_NAME: 'Affin Hwang Asset Management Berhad',
          DIST_PHONE_NO: '1-800-77-9080',
        },
      ],
      consultants: null,

      currentPage: 1,
      perPage: '5',
      visible: {
        TERMINATION_FORM: false,
        TERMINATION_TYPE_OTHER_SPECIFY: false,
      },
      model: {
        REMARK_COMMENTS: '',
        SUPPORTED_DOCUMENTS: '',
        CREATE_BY: JSON.parse(localStorage.getItem('user')).user_id,
        // CONSULTANTS: [],
      },

      // fields.distributor: ,
      // fields: ,

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'textArea',
                required: true,
                rows: 10,
                max: 1000,
                label: 'Remarks / Comments',
                hint: 'maximum of 1000 characters',
                model: 'REMARK_COMMENTS',
                placeholder: 'Enter Remarks or Comments',
                styleClasses: 'col-md-12',
              },
              {
                labels: 'SUPPORTED DOCUMENT',
                text: 'Choose a File',
                model: 'SUPPORTED_DOCUMENT',
                type: 'vfg-custom-multiple-file',
                styleClasses: 'col-md-12',

                required: true,
              },
            ],
          },
        ],
      },
    };
  },
  async mounted() {
    await this.getConsultantRecord();
  },

  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },
    async getConsultantRecord() {
      console.log('inside get consultant record');
      const response = await ConsultantRecord.getConsultantRecord();
      this.consultants = response.data.data;
      this.isBusy = false;
      console.log(this.consultants);
    },

    setCurrentDistributor(props) {
      console.log(props);
      this.currentDistributor = props.rowData.DIST_NAME;
    },

    // fix this
    setCurrentConsultantAll(scope) {
      if (this.mappedSelectedConsultantArray.length) {
        this.$refs['consultantTable'].clearSelected();
      } else {
        this.$refs['consultantTable'].selectAllRows();
      }
    },

    viewCurrentConsultant(props) {
      this.currentConsultant = props.rowData;
    },

    setCurrentConsultant(props) {
      console.log('inside setCurrentConsultant');
      const index = this.model.CONSULTANT_ID.findIndex(
        el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID,
      );

      console.log(props);

      if (index >= 0) {
        this.model.CONSULTANT_ID.splice(index, 1);
      } else {
        this.model.CONSULTANT_ID.push(props.rowData);
      }
      console.log(this.model.CONSULTANT_ID);
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === 'TERMINATION_TYPE') {
        // this.visible.TERMINATION_TYPE = newVal.value;
        this.visible.TERMINATION_TYPE_OTHER_SPECIFY = false;
        if (newVal.label.match('Other')) {
          this.visible.TERMINATION_TYPE_OTHER_SPECIFY = true;
        }
      }
    },
    onValidated(isValid, errors) {
      console.log('Validation result: ', isValid, ', Errors:', errors[0].error);
    },
    submitTerminate: async function() {
      // let form1 = this.$refs.tabForm2.validate();
      // if (form1) {
      let data = {
        TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
        TERMINATION_TYPE_OTHER_SPECIFY: this.model.TERMINATION_TYPE_OTHER_SPECIFY,
        CONSULTANT_ID: this.model.CONSULTANT_ID,
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
      };

      console.log(data);

      const response = await Termination.postTermination(data);
      // const returnresponse = await services02module2.postTerminateConsultant(data);
      console.log(response);
      // }
    },
  },
};
</script>
