<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <template v-if="!currentConsultant">
            <va-card>
              <h4 style="margin-top:0">List of Consultant Resignation Request</h4>
              <br />
              <div class="col-3">
                <div
                  style="display: flex; align-items:center"
                  class="form-group form-group-sm has-search"
                >
                  <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                  <input v-model="search" type="text" class="form-control" placeholder="Search" />
                </div>
              </div>
              <div class="  col-ml-2">
                <va-data-table
                  :fields="fields.consultant"
                  :data="filteredConsultant"
                  no-data-label="No data found"
                  :per-page="parseInt(perPage)"
                  :datacount="filteredConsultant.length"
                  :dataperpage="parseInt(perPage)"
                  clickable
                >
                  <!-- <template slot="actions" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                />
              </template> -->

                  <template slot="checkbox" slot-scope="props">
                    <b-form-checkbox
                      v-model="props.rowData.selected"
                      @change="setCurrentConsultant(props)"
                    >
                    </b-form-checkbox>
                  </template>
                  <template slot="index" slot-scope="row">
                    {{ row.rowIndex + 1 }}
                  </template>

                  <template slot="ACTION" slot-scope="props">
                    <h4 @click="viewCurrentConsultant(props)" style="margin:0; font-size:20px">
                      <span v-b-tooltip.hover title="View" class="badge badge-primary mr-2">
                        <i class="fa fa-eye"></i>
                      </span>
                    </h4>
                  </template>
                </va-data-table>
                <!-- <b-table
                  hover
                  selectable
                  no-select-on-click
                  ref="consultantTable"
                  :items="RESIGN_REQUEST"
                  :fields="fields"
                  :current-page="currentPage"
                  :per-page="perPage"
                  :filter="filter"
                  responsive="md"
                  @row-selected="onRowSelected"
                >
                  <template #table-busy>
                    <div class="text-center text-danger my-2">
                      <b-spinner class="align-middle"></b-spinner>
                      <strong>Loading...</strong>
                    </div>
                  </template>
                  <template #head(checkbox)="scope">
                    <b-form-checkbox @change="setCurrentConsultantAll(scope)"> </b-form-checkbox>
                  </template>
                  <template #cell(checkbox)="data">
                    <b-form-checkbox
                      v-model="data.item.selected"
                      @change="setCurrentConsultant(data)"
                    >
                    </b-form-checkbox>
                  </template>
                  <template #cell(index)="data">
                    {{ data.index + 1 }}
                  </template>
                  <template #cell()="data">
                    <span class="description">{{ data.value }}</span>
                  </template>
                  <template #cell(ACTION)="data">
                    <h4 @click="setSingleConsultant(data)" style="margin:0; font-size:20px">
                      <span class="badge badge-primary mr-1">
                        <i class="fa fa-eye"></i>
                      </span>
                    </h4>
                  </template>
                </b-table> -->
              </div>
              <br />

              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="resignationForm"
                @model-updated="onModelUpdated"
              >
              </vue-form-generator>

              <br />

              <div class="float-right">
                <!-- <button @click="saveAsDraft" type="button" class="btn btn-info btn-fill btn-md">
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button> -->
                <button
                  @click="submitResignationReject"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Reject
                </button>
                <button
                  @click="submitResignationApproval"
                  type="button"
                  class="ml-2 btn btn-success btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> Approval
                </button>
              </div>
            </va-card>
          </template>

          <template v-else>
            <va-card>
              <h4 style="margin-top:0">Consultant Resignation Form</h4>
              <br />
              <div>
                <tabs
                  :tabs="tabs"
                  :currentTab="currentTab"
                  :wrapper-class="'default-tabs'"
                  :tab-class="'default-tabs__item'"
                  :tab-active-class="'default-tabs__item_active'"
                  :line-class="'default-tabs__active-line'"
                  @onClick="handleClick"
                />
                <div class="content">
                  <div class="ml-4">
                    <br />
                    <table id="consultant-profile" class="table table-striped">
                      <tbody>
                        <tr>
                          <td>FIMM No</td>
                          <td>{{ currentConsultant.CONSULTANT_FIMM_NO }}</td>
                        </tr>
                        <tr>
                          <td>Name</td>
                          <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                        </tr>
                        <tr>
                          <td>New NRIC</td>
                          <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                        </tr>
                        <tr>
                          <td>Reason</td>
                          <td>Sample Reason of resignation</td>
                        </tr>

                        <tr>
                          <td>Effective Date</td>
                          <td>06-11-2020</td>
                        </tr>
                        <tr>
                          <td>Supported Document</td>
                          <td>
                            <a
                              href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                              target="_blank"
                            >
                              View</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- <div v-if="currentTab === 'tab1'">
                    <div class="ml-4">
                      <br />
                      <table id="consultant-profile" class="table table-striped">
                        <tbody>
                          <tr>
                            <td>Name</td>
                            <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                          </tr>
                          <tr>
                            <td>New NRIC</td>
                            <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                          </tr>
                          <tr>
                            <td>Date of Birth</td>
                            <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                          </tr>

                          <tr>
                            <td>Address</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                          </tr>
                          <tr>
                            <td>Postcode</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                          </tr>
                          <tr>
                            <td>State</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                          </tr>
                          <tr>
                            <td>Telephone Number</td>
                            <td>{{ currentConsultant.CONSULTANT_MOBILE_NO }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                          </tr>
                          <tr>
                            <td>Highest Qualification</td>
                            <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                          </tr>
                          <tr>
                            <td>Consultant Status</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab2'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td>Category</td>
                            <td>{{ currentConsultant.CATEGORY }}</td>
                          </tr>
                          <tr>
                            <td>Apprienticeship Program</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td>Company Distributor</td>
                            <td>{{ currentConsultant.DISTRIBUTOR }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab3'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tr>
                          <th>No</th>
                          <th>Document</th>
                        </tr>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>
                              Cover letter for Former and Variation PRS consultant
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>
                              Letter of Undertaking for variation due to Merger
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>
                              Printed online application
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>
                              Statutory Declaration
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab4'">
                    <div class="ml-3">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td>Examination Type</td>
                            <td>CUTE</td>
                          </tr>

                          <tr>
                            <td>Result</td>
                            <td>
                              FAIL
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Certificate
                            </td>
                            <td>
                              Not Available
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Check
                            </td>
                            <td>
                              Pass
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Remark
                            </td>
                            <td>
                              Insert remark here
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div> -->
                </div>
              </div>
            </va-card>
            <br />
            <va-card>
              <h4 style="margin-top:0">Consultant Resignation Approval</h4>
              <br />
              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="resignationForm"
                @model-updated="onModelUpdated"
              >
              </vue-form-generator>
              <br />
              <div class="float-left">
                <button
                  @click="currentConsultant = null"
                  type="button"
                  class="btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
              </div>
              <div class="float-right">
                <!-- <button @click="saveAsDraft" type="button" class="btn btn-info btn-fill btn-md">
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button> -->
                <button
                  @click="submitResignationReject"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Reject
                </button>
                <button
                  @click="submitResignationApproval"
                  type="button"
                  class="ml-2 btn btn-success btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> Approval
                </button>
              </div>
            </va-card>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import pdf from 'vue-pdf';
import 'vue-form-generator/dist/vfg.css';
import Tabs from 'vue-tabs-with-active-line';
import VueFormGenerator from 'vue-form-generator';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import RepositoryFactory from '../../../repositories/RepositoryFactory';
import * as services02module2 from '../../../app/module2/services02';

Vue.use(VueFormGenerator);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');

export default {
  components: {
    Tabs,
    pdf,
  },

  data() {
    return {
      // tabs: [
      //   {
      //     title: 'Applicant Profile',
      //     value: 'tab1',
      //   },
      //   {
      //     title: 'Type of Applicant',
      //     value: 'tab2',
      //   },
      //   {
      //     title: 'Uploaded Document',
      //     value: 'tab3',
      //   },
      //   {
      //     title: 'Examination & Bankruptcy Check',
      //     value: 'tab4',
      //   },
      // ],

      currentTab: 'tab1',
      currentConsultant: null,
      pdfsrc: null,

      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: true,
        validateAsync: true,
      },

      //  fields: [
      //   { key: 'checkbox', label: 'checkbox' },
      //   { key: 'index', label: 'NO' },
      //   { key: 'SUBMISSION_DATE', label: 'SUBMISSION DATE' },
      //   { key: 'CONSULTANT_NAME', label: 'NAME' },
      //   { key: 'CONSULTANT_NRIC_PASSPORT_NO', label: 'NRIC NO/PASSPORT NO' },
      //   { key: 'CONSULTANT_PHONE_NO', label: 'PHONE NO' },
      //   { key: 'CONSULTANT_TYPE', label: 'CONSULTANT TYPE' },
      //   { key: 'STATUS', label: 'STATUS' },
      //   { key: 'ACTION', label: 'ACTION' },
      // ],
      fields: {
        consultant: [
          { name: '__slot:checkbox', title: 'SELECTED' },
          { name: '__slot:index', title: 'NO' },
          { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },
          { name: 'CONSULTANT_NAME', title: 'NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NO' },
          // { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NO' },
          { name: 'CONSULTANT_PHONENO', title: 'PHONE NO' },
          { name: 'CONSULTANT_TYPE', title: 'CONSULTANT TYPE' },
          { name: 'STATUS', title: 'STATUS' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
      },

      search: '',
      // consultantsAPI: [],
      currentPage: 1,
      perPage: '10',

      consultantsAPI: [
        // {
        //   FIMM_NO: '123',
        //   REASON: 'Sample Reason of Resignation',
        //   EFFECTIVE_DATE: '1/1/2021',
        //   SUPPORTED_DOCUMENT: '',
        //   SUBMISSION_DATE: '1/12/2020',
        //   CONSULTANT_ID: 1,
        //   CONSULTANT_NAME: 'Nurulhidayah binti Mohd Faizul',
        //   CONSULTANT_NRIC_PASSPORT_NO: '760001-02-5456',
        //   CONSULTANT_PHONE_NO: '011-2345331',
        //   CONSULTANT_TYPE: 'UTS',
        //   STATUS: 'Pending for Distributor Approval',
        // },
        // {
        //   FIMM_NO: '123',
        //   REASON: 'Sample Reason of Resignation',
        //   EFFECTIVE_DATE: '8/1/2021',
        //   SUPPORTED_DOCUMENT: '',
        //   SUBMISSION_DATE: '8/12/2020',
        //   CONSULTANT_ID: 2,
        //   CONSULTANT_NAME: 'Kelly Clarkman',
        //   CONSULTANT_NRIC_PASSPORT_NO: 'A1245673',
        //   CONSULTANT_PHONE_NO: '014-5440908',
        //   CONSULTANT_TYPE: 'UTS',
        //   STATUS: 'Reviewed',
        // },
        // {
        //   FIMM_NO: '123',
        //   REASON: 'Sample Reason of Resignation',
        //   EFFECTIVE_DATE: '15/1/2021',
        //   SUPPORTED_DOCUMENT: '',
        //   SUBMISSION_DATE: '15/12/2020',
        //   CONSULTANT_ID: 3,
        //   CONSULTANT_NAME: 'Baharuddin Bin Zakaria',
        //   CONSULTANT_NRIC_PASSPORT_NO: '800408-14-5253',
        //   CONSULTANT_PHONE_NO: '011-221224',
        //   CONSULTANT_TYPE: 'UTS',
        //   STATUS: 'Pending for Distributor Approval',
        // },
      ],

      // CONSULTANT_PROFILE: {
      //   NAME: 'NoorHiyadah Binti Mohd Faizal',
      //   NRIC: '890408-03-5556',
      //   DOB: '08-04-1989',
      //   ADDRESS: '3, Jalan Dato Abdul Aziz, Seksyen 14',
      //   POSTCODE: '46100',
      //   CITY: 'Petaling Jaya',
      //   STATE: 'Selangor',
      //   TELEPHONE_NO: '014-6218910',
      //   EMAIL: 'hidayah@gmail.com',
      //   HIGHEST_QUALIFICATION: 'Degree',
      // },
      // CONSULTANT_PROFILE: null,

      TYPE_OF_APPLICANT: {
        CATEGORY: 'Agent',
        APPERENTICESHIP_PROGRAM: 'Yes',
        COMPANY_DISTRIBUTOR: 'A.D.Fincancial Sdn. Bhd.',
      },

      model: {
        CONSULTANT_ID: [],
        EFFECTIVE_DATE: '',
        REMARKS_COMMENTS: '',
        RESIGNATION_DOCUMENT: '',
      },

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'textArea',
                required: true,
                rows: 10,
                max: 1000,
                hint: 'Maximum characters of 1000',
                label: 'Remarks / Comments',
                model: 'REMARKS_COMMENTS',
                validator: 'required',
                placeholder: 'Enter Remarks or Comments',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
    };
  },
  created() {
    const response = servicesmodule2.getCertificate(data);
    console.log('Success', response);
    const blob = new Blob([response.data]);
    const objectUrl = URL.createObjectURL(blob);
    this.pdfsrc = objectUrl;
    return pdfsrc;
  },

  async mounted() {
    await this.getConsultantRecord();
  },
  computed: {
    filteredConsultant() {
      const search = this.search.toLowerCase();
      if (this.search) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultantsAPI;
    },
    // mappedSelectedConsultantArray() {
    //   if (this.model.SELECTED_CONSULTANTS.length)
    //     return this.model.SELECTED_CONSULTANTS.map(el => el.CONSULTANT_ID);

    //   return [];
    // },
  },

  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },

    async getConsultantRecord() {
      console.log('inside get consultant record');
      // const response = await ConsultantRecord.getConsultantRecord();
       const response = await services02module2.getConsultantResignation()
      this.consultantsAPI = response;

      // this.isBusy = false;
      console.log(this.consultantsAPI);
    },

    viewCurrentConsultant(props) {
      this.currentConsultant = props.rowData;
      console.log(this.currentConsultant);
    },

    setCurrentConsultant(props) {
      console.log('inside setCurrentConsultant');
      const index = this.model.CONSULTANT_ID.findIndex(
        el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID,
      );

      console.log(props);

      if (index >= 0) {
        this.model.CONSULTANT_ID.splice(index, 1);
      } else {
        this.model.CONSULTANT_ID.push(props.rowData);
      }
      console.log(this.model.CONSULTANT_ID);
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema == 'document') {
        console.log(newVal.replace('C:\\fakepath\\', ''));
        this.model.document = newVal.replace('C:\\fakepath\\', '');
      }
    },
    validateResignationForm() {
      return this.$refs['resignationForm'].validate();
    },
    submitResignationReject: async function() {
      const validated = await this.validateResignationForm();
      if (validated) {
        let data = {
          RESIGNATION_ID: '',
          USER_ID: '',
          CONSULTANT_ID: '',
          RESIGNATION_DATE: this.model.RESIGNATION_DATE,
          RESIGNATION_REMARK: this.model.RESIGNATION_REMARK,
          RESIGNATION_DOCUMENT: this.model.RESIGNATION_DOCUMENT,
        };

        if (currentConsultant) data.CONSULTANT_ID = currentConsultant.CONSULTANT_ID;

        // const response = await Resignation.postResignation(data);
      } else {
      }
    },
    submitResignationApproval: async function() {
      const validated = await this.validateResignationForm();
      if (validated) {
        let data = {
          RESIGNATION_ID: '',
          USER_ID: '',
          CONSULTANT_ID: '',
          RESIGNATION_DATE: this.model.RESIGNATION_DATE,
          RESIGNATION_REMARK: this.model.RESIGNATION_REMARK,
          RESIGNATION_DOCUMENT: this.model.RESIGNATION_DOCUMENT,
        };

        if (currentConsultant) data.CONSULTANT_ID = currentConsultant.CONSULTANT_ID;

        // const response = await Resignation.postResignation(data);
      } else {
      }
    },
    prevTab() {
      this.$router.go(-1);
    },

    saveAsDraft() {},
    // fix this
    // setCurrentConsultantAll(scope) {
    //   this.CONSULTANT_PROFILE = null;
    //   if (this.mappedSelectedConsultantArray.length) {
    //     this.$refs['consultantTable'].clearSelected();
    //   } else {
    //     this.$refs['consultantTable'].selectAllRows();
    //   }
    //   // this.mappedSelectedConsultantArray.length
    //   // ? this.$refs['consultantTable'].clearSelected()
    //   // : this.$refs['consultantTable'].selectAllRows();
    // },
    // setCurrentConsultant(data) {
    //   this.CONSULTANT_PROFILE = null;

    //   console.log(data);
    //   const existed = this.mappedSelectedConsultantArray.some(el => el === data.item.CONSULTANT_ID);

    //   existed
    //     ? this.$refs['consultantTable'].unselectRow(data.index)
    //     : this.$refs['consultantTable'].selectRow(data.index);

    //   // if (existed) {
    //   //   this.$refs['consultantTable'].unselectRow(data.index);
    //   // } else {
    //   //   // console.log('currentData', data.index, data.item.SELECTED_CONSULTANTS);
    //   //   this.$refs['consultantTable'].selectRow(data.index);
    //   // }
    // },
    // setSingleConsultant(data) {
    //   this.CONSULTANT_PROFILE = data.item;
    //   console.log('inside single consultant', this.CONSULTANT_PROFILE);
    // },
    // onRowSelected(items) {
    //   this.model.SELECTED_CONSULTANTS = items;
    //   console.log(this.model.SELECTED_CONSULTANTS);
    // },
  },
};
</script>

<style lang="scss" scoped>
.input-label-td {
  width: 30%;
}
#consultant-profile input,
#type-of-applicant input {
  width: 70%;
  border: none;
  background: transparent;
}
.default-tabs {
  position: relative;
  margin: 0 auto;
  &__item {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: gray;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.25s;
    &_active {
      color: black;
    }
    &:hover {
      border-bottom: 2px solid gray;
      color: black;
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid gray;
      color: black;
    }
    &:first-child {
      margin-left: 20px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}
</style>
