<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <template v-if="!currentConsultant">
            <va-card>
              <div v-if="!dataReady">
                <div class="text-center text-danger my-2">
                      <b-spinner class="align-middle"></b-spinner>
                      <strong>Loading...</strong>
                  </div>
              </div>
              <div v-else>
              <template v-if="!isBulk">
                <h4 style="margin-top:0">List of Consultant Termination Submission</h4>
              </template>
              <template v-else>
                <h4 style="margin-top:0">List of Consultant</h4>
              </template>
              
              <!-- <h4 style="margin-top:0">List of Consultant Termination Submission</h4> -->
              <div style="display:flex;  justify-content:flex-end; align-items:center">
                <div class="flex md3 offset--md3">
                  <div style="display:flex; justify-content:flex-end">
                    <h4
                      v-if="!isBulk"
                      @click="isBulk = true"
                      style="margin:0; margin-bottom:10px; "
                    >
                      <span v-b-tooltip.hover title="Bulk" class="badge badge-success mr-2">
                        <i class="fa fa-plus"></i>
                      </span>
                    </h4>
                  </div>
                  <va-input :placeholder="$t('Search')" v-model="search.consultant" removable>
                    <va-icon name="fa fa-search" slot=".consultantprepend" />
                  </va-input>
                </div>
              </div>
              <div class="  col-ml-2">
                <!-- CONSULTANT TABLE -->
                <va-data-table
                  :fields="consultantFields"
                  :data="filteredConsultant"
                  no-data-label="No data found"
                  :per-page="parseInt(perPage)"
                  :datacount="filteredConsultant.length"
                  :dataperpage="parseInt(perPage)"
                  clickable
                >
                  <!-- <template slot="actions" slot-scope="props">
                <b-form-checkbox
                  v-model="props.rowData.selected"
                  @change="setCurrentConsultant(props)"
                />
              </template> -->

                  <template v-if="isBulk" slot="checkbox" slot-scope="props">
                    <b-form-checkbox
                      v-model="props.rowData.selected"
                      @change="setCurrentConsultant(props)"
                    >
                    </b-form-checkbox>
                  </template>
                  <template slot="index" slot-scope="row">
                    {{ row.rowIndex + 1 }}
                  </template>

                  <template slot="ACTION" slot-scope="props">
                    <h4 @click="viewCurrentConsultant(props)" style="margin:0; font-size:20px">
                      <span v-b-tooltip.hover title="View" class="badge badge-success mr-2">
                        <i class="fa fa-eye"></i>
                      </span>
                    </h4>
                  </template>
                </va-data-table>
                <!-- <b-table
                hover
                selectable
                no-select-on-click
                ref="consultantTable"
                :items="consultants"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                responsive="md"
                :busy="isBusy"
                @row-selected="onRowSelected"
              >
                <template #table-busy>
                  <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                  </div>
                </template>
                <template #head(checkbox)="scope">
                  <b-form-checkbox @change="setCurrentConsultantAll(scope)"> </b-form-checkbox>
                </template>
                <template #cell(checkbox)="data">
                  <b-form-checkbox
                    v-model="data.item.selected"
                    @change="setCurrentConsultant(data)"
                  >
                  </b-form-checkbox>
                </template>
                <template #cell(index)="data">
                  {{ data.index + 1 }}
                </template>
                <template #cell()="data">
                  <span class="description">{{ data.value }}</span>
                </template>
              </b-table> -->
              </div>
              <!-- <div class="row col ml-2 mt-2">
              <b-pagination
                size="md"
                :total-rows="consultants.length"
                :per-page="perPage"
                v-model="currentPage"
              />
              <b-form-fieldset horizontal class="col-1">
                <b-form-select
                  :options="[
                    { text: 3, value: 3 },
                    { text: 5, value: 5 },
                    { text: 10, value: 10 },
                    { text: 15, value: 15 },
                  ]"
                  v-model="perPage"
                >
                </b-form-select>
              </b-form-fieldset>
            </div> -->
              <br />
              </div>
              <template v-if="isBulk">
                <vue-form-generator
                  :model="model"
                  :schema="tabSchema2"
                  :options="formOptions"
                  ref="bulkForm"
                  @model-updated="onModelUpdated"
                >
                </vue-form-generator>
                <br />

                <div class="float-left">
                  <button
                    @click="isBulk = false"
                    type="button"
                    class="btn btn-primary btn-fill btn-md"
                  >
                    <i class="fa fa-step-backward" /> &nbsp; Previous
                  </button>
                </div>
                <div class="float-right">
                  <button @click="saveAsDraft" type="button" class="btn btn-info btn-fill btn-md">
                    <i class="fa fa-edit" /> &nbsp;Save as Draft
                  </button>

                  <button
                    @click="submitTerminationForm"
                    type="button"
                    class="ml-1 btn btn-success btn-fill btn-md"
                  >
                    <i class="fa fa-paper-plane" /> &nbsp; Submit
                  </button>
                  <!-- <button
                    @click="submitTerminationForm"
                    type="button"
                    class="ml-1 btn btn-danger btn-fill btn-md"
                  >
                    <i class="fa fa-paper-plane" /> &nbsp; Terminate
                  </button> -->
                </div>
              </template>
            </va-card>
          </template>

          <template v-else>
            <va-card>
              <h4 style="margin-top:0">Consultant Details</h4>
              <br />
              <div>
                <!-- <tabs
                  :tabs="tabs"
                  :currentTab="currentTab"
                  :wrapper-class="'default-tabs'"
                  :tab-class="'default-tabs__item'"
                  :tab-active-class="'default-tabs__item_active'"
                  :line-class="'default-tabs__active-line'"
                  @onClick="handleClick"
                /> -->
                <div class="content">
                  <div v-if="currentTab === 'tab1'">
                    <div class="ml-4">
                      <br />
                      <table id="consultant-profile" class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Name</td>
                            <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                          </tr>
                          <tr>
                            <td>New NRIC</td>
                            <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                          </tr>
                          <tr>
                            <td>Date of Birth</td>
                            <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                          </tr>

                          <tr>
                            <td>Address</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                          </tr>
                          <tr>
                            <td>Postcode</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                          </tr>
                          <tr>
                            <td>State</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                          </tr>
                          <tr>
                            <td>Telephone Number</td>
                            <td>{{ currentConsultant.CONSULTANT_PHONENO }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                          </tr>
                          <tr>
                            <td>Highest Qualification</td>
                            <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                          </tr>
                          <tr>
                            <td>Examination Type</td>
                            <td>{{ currentConsultant.COURSE_TYPE }}</td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- <vue-form-generator
                        :model="model"
                        :schema="fileUploadSchema"
                        :options="formOptions"
                        ref="fileUploadForm"
                      >
                      </vue-form-generator> -->
                    </div>
                  </div>
                </div>
              </div>

              <br />
              <br />
              <br />
              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="singleForm"
                @model-updated="onModelUpdated"
              >
              </vue-form-generator>

              <br />

              <div class="float-left">
                <button
                  @click="currentConsultant = null"
                  type="button"
                  class="btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
              </div>
              <div class="float-right">
                <button @click="saveAsDraft" type="button" class="btn btn-info btn-fill btn-md">
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button>
                <button
                  @click="submitTerminationForm"
                  type="button"
                  class="ml-1 btn btn-success btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Submit
                </button>
              </div>
            </va-card>
            <!-- <va-card>
              <h4 style="margin-top:0">Consultant Details</h4>
              <br />
              <div>
                <tabs
                  :tabs="tabs"
                  :currentTab="currentTab"
                  :wrapper-class="'default-tabs'"
                  :tab-class="'default-tabs__item'"
                  :tab-active-class="'default-tabs__item_active'"
                  :line-class="'default-tabs__active-line'"
                  @onClick="handleClick"
                />
                <div class="content">
                  <div v-if="currentTab === 'tab1'">
                    <div class="ml-4">
                      <br />
                      <table id="consultant-profile" class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Name</td>
                            <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                          </tr>
                          <tr>
                            <td>New NRIC</td>
                            <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                          </tr>
                          <tr>
                            <td>Date of Birth</td>
                            <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                          </tr>

                          <tr>
                            <td>Address</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                          </tr>
                          <tr>
                            <td>Postcode</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                          </tr>
                          <tr>
                            <td>State</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                          </tr>
                          <tr>
                            <td>Telephone Number</td>
                            <td>{{ currentConsultant.CONSULTANT_MOBILE_NO }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                          </tr>
                          <tr>
                            <td>Highest Qualification</td>
                            <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                          </tr>
                          <tr>
                            <td>Consultant Status</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                      <vue-form-generator
                        :model="model"
                        :schema="fileUploadSchema"
                        :options="formOptions"
                        ref="fileUploadForm"
                      >
                      </vue-form-generator>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab2'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Category</td>
                            <td>{{ currentConsultant.CATEGORY }}</td>
                          </tr>
                          <tr>
                            <td>Apprienticeship Program</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td>Company Distributor</td>
                            <td>{{ currentConsultant.DISTRIBUTOR }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab3'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr style="width: 100%">
                            <vue-form-generator
                              :model="model"
                              :schema="fileUploadSchema"
                              :options="formOptions"
                              ref="fileUploadForm"
                            >
                            </vue-form-generator>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab4'">
                    <div class="ml-3">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td style="width: 15%">Examination Type</td>
                            <td>CUTE</td>
                          </tr>

                          <tr>
                            <td>Result</td>
                            <td>
                              FAIL
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Certificate
                            </td>
                            <td>
                              Not Available
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Check
                            </td>
                            <td>
                              Pass
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Remark
                            </td>
                            <td>
                              Insert remark here
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </va-card>
            <br />
            <va-card>
              <h4 style="margin-top:0">Termination Request Form</h4>
              <br />

              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="tabForm2"
                @model-updated="onModelUpdated"
                @validated="validateForm"
              >
              </vue-form-generator>
              <br />

              <div class="float-left">
                <button
                  @click="currentConsultant = null"
                  type="button"
                  class="btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
              </div>
              <div class="float-right">
                <button type="button" class="btn btn-info btn-fill btn-md">
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button>
                <button
                  @click="submitTerminationForm"
                  type="button"
                  class="ml-1 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Terminate
                </button>
              </div>
            </va-card> -->
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

import FullCalendar from '@fullcalendar/vue';
import dayGridPlugin from '@fullcalendar/daygrid';
import interactionPlugin from '@fullcalendar/interaction';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';
import { parse } from 'vue-currency-input';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import * as services02module2 from '../../../app/module2/services02';
import * as servicesModule3 from '../../../app/module3/services01';
import RepositoryFactory from '../../../repositories/RepositoryFactory';

import Tabs from 'vue-tabs-with-active-line';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');

export default {
  components: { Tabs },
  data() {
    return {
      dataReady: false,
      tabs: [
        {
          title: 'Applicant Profile',
          value: 'tab1',
        },
        {
          title: 'Type of Applicant',
          value: 'tab2',
        },
        {
          title: 'Uploaded Document',
          value: 'tab3',
        },
        {
          title: 'Examination & Bankruptcy Check',
          value: 'tab4',
        },
      ],

      currentTab: 'tab1',
      currentConsultant: null,
      isBulk: false,

      terminationType: [
        {
          label: 'Misconduct',
          value: 1,
        },
        {
          label: 'Resignation',
          value: 2,
        },
        {
          label: 'Contractual',
          value: 3,
        },
        {
          label: 'Non-renewal',
          value: 4,
        },
        {
          label: 'Bankruptcy',
          value: 5,
        },
        {
          label: 'Deceased',
          value: 5,
        },
      ],

      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: true,
        validateAsync: true,
      },

      // fields: {
      //   consultant: [
      //     { key: '__slot:checkbox', label: 'SELECTED' },
      //     { key: 'index', label: 'NO' },
      //     { key: 'SUBMISSION_DATE', label: 'SUBMISSION DATE' },
      //     { key: 'CONSULTANT_NAME', label: 'NAME' },
      //     { key: 'CONSULTANT_NRIC', label: 'NRIC' },
      //     { key: 'CONSULTANT_PASSPORT_NO', label: 'PASSPORT NO' },
      //     { key: 'CONSULTANT_PHONENO', label: 'PHONE NO' },
      //     { key: 'APPLICATION_TYPE', label: 'APPLICATION TYPE' },
      //     { key: 'STATUS', label: 'STATUS' },
      //     { key: '__slot:ACTION', label: 'ACTION' },
      //   ],
      // },

      search: {
        consultant: '',
      },

      consultantsAPI: [],
      logAPI: [],
      currentPage: 1,
      perPage: '10',
      selectedConsultant: null,
      visible: {
        TERMINATION_FORM: false,
      },
      model: {
        PROFILE_UPLOADED_DOCUMENTS: [],
        TERMINATION_TYPE: null,
        TERMINATION_DATE: null,
        CONSULTANT_ID: [],
        TERMINATION_REMARK: null,
        CREATE_BY: JSON.parse(localStorage.getItem('user')).user_id,
      },

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'vueMultiSelect',
                label: 'Termination Type',
                model: 'TERMINATION_TYPE',
                placeholder: 'Enter Termination Type',
                styleClasses: 'col-md-6',
                required: true,
                validator: 'required',
                selectOptions: {
                  multiple: false,
                  label: 'label',
                  value: 'value',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.terminationType;
                },
              },
              {
                type: 'input',
                inputType: 'date',
                label: 'Termination Date',
                model: 'TERMINATION_DATE',
                placeholder: 'Enter Termination Date',
                required: true,
                validator: 'date',
                styleClasses: 'col-md-6',
              },

              {
                type: 'textArea',
                rows: 10,
                max: 1000,
                label: 'Remarks / Comments',
                model: 'TERMINATION_REMARK',
                validator: 'string',
                placeholder: 'Enter Remarks or Comments',
                hint: 'Max 1000 characters',
                // validator: 'number',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
      fileUploadSchema: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                accept: '.pdf',
                multiple: true,
                text: 'Choose a File',
                model: 'PROFILE_UPLOADED_DOCUMENTS',
                type: 'vfg-custom-file-view',
                styleClasses: 'col-md-12',
                required: false,
                disabled: true,
              },
            ],
          },
        ],
      },
    };
  },
  async created() {
    await this.getConsultantRecord().then(res=>{
      this.dataReady = true;
    });
    await this.getTerminationType();
    await this.getRegistrationStatus();

    // await this.getAllTermination();
    // await this.getAllDistributorCandidateAcceptance();
    await this.getDocumentByID();

    // this.consultants = await services02module2.getConsultant();
    // await console.log(this.consultants)
  },
  computed: {
    consultantFields() {
      if (this.isBulk) {
        return [
          { name: '__slot:checkbox', title: 'SELECTED' },
          { name: '__slot:index', title: 'NO' },
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC NUMBER' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NUMBER' },
          { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NUMBER' },
          { name: 'CONSULTANT_TYPE', title: 'CONSULTANT TYPE' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ];
      }

      return [
        // { name: '__slot:checkbox' },
        { name: '__slot:index', title: 'NO' },
        { name: 'SUBMISSION_DATE', title: 'SUBMISSION DATE' },
        { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
        { name: 'CONSULTANT_NRIC', title: 'NRIC NUMBER' },
        { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NUMBER' },
        { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NUMBER' },
        // { name: 'CONSULTANT_PHONENO', title: 'PHONE NUMBER' },
        { name: 'CONSULTANT_TYPE', title: 'CONSULTANT TYPE' },
        { name: 'CONSULTANT_TYPE', title: 'TERMINATION TYPE' },
        { name: 'EFFECTIVE_DATE', title: 'EFFECTIVE DATE' },
        // { name: 'STATUS', title: 'STATUS' },
        { name: '__slot:ACTION', title: 'ACTION' },
      ];
    },
    // consultants() {
    //   if (this.consultantsAPI) return this.consultantsAPI;
    //   return [];
    // },

    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      if (this.search) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultantsAPI;
    },
    // mappedSelectedConsultantArray() {
    //   if (this.model.CONSULTANT_ID.length)
    //     return this.model.CONSULTANT_ID.map(el => el.CONSULTANT_ID);

    //   return [];
    // },
  },
  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },

    getRegistrationStatus: async function() {
      const response = await services02module2.registrationStatus();

      console.log('getConsultantRecords: ', response);
    },
    getTerminationRecords: async function(id) {
      const response = await services02module2.getTerminationByConsultantID(id);
      if(response) {
        this.model.TERMINATION_TYPE = response.TERMINATION_TYPE;
        this.model.TERMINATION_REMARK = response.TERMINATION_REMARK;
        this.model.TERMINATION_DATE = response.TERMINATION_DATE;
      }
        console.log('getTerminationRecords: ', response);
    },
    // async getAllDistributorCandidateAcceptance() {
    //   console.log('inside get consultant record');
    //   const response = await DistributorCandidateAcceptance.getAllDistributorCandidateAcceptance();
    //   console.log('distributor candidate acceptance: ', response.data.data);

    //   // this.isBusy = false;
    //   console.log(this.consultantsAPI);
    // },
    async getTerminationType() {
      const response = await services02module2.getTerminationType();
      console.log('get Termination Type: ', response);
    },
    async getAllTerminationList() {
      const response = await services02module2.getAllTerminationList();
      console.log('getAllTerminationList: ', response.data.data);
    },
    async getConsultantRecord() {
      console.log('inside get consultant record');
      const response = await services02module2.getConsultantByDistributorID(this.$route.params.id);
      this.consultantsAPI = response;

      // this.isBusy = false;
      console.log(this.consultantsAPI);
    },
    async getAllTermination() {
      const termination = await services02module2.getAllTermination();
      console.log('this is termination', termination.data.data);
    },

    viewCurrentConsultant(props) {
      this.currentConsultant = props.rowData;
      this.getTerminationRecords(this.currentConsultant.CONSULTANT_ID)
      console.log(this.currentConsultant);
    },

    setCurrentConsultant(props) {
      console.log('inside setCurrentConsultant');
      const index = this.model.CONSULTANT_ID.findIndex(
        el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID,
      );

      console.log(props);

      if (index >= 0) {
        this.model.CONSULTANT_ID.splice(index, 1);
      } else {
        this.model.CONSULTANT_ID.push(props.rowData);
      }
      console.log(this.model.CONSULTANT_ID);
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === 'TERMINATION_TYPE') {
        // this.visible.TERMINATION_TYPE = newVal.value;
      }
    },
    validateBulkForm() {
      return this.$refs['bulkForm'].validate();
    },
    validateSingleForm() {
      return this.$refs['singleForm'].validate();
    },
    saveAsDraft: async function() {
      let isBulkValidated = null;
      if (this.isBulk) {
       isBulkValidated  = await this.validateBulkForm();
      }

      const isSingleValidated = await this.validateSingleForm();

      if (isBulkValidated || isSingleValidated) {
        let data = {
          TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
          CONSULTANT_ID: this.model.CONSULTANT_ID.map(el => el.CONSULTANT_ID),
          CREATE_BY: this.model.CREATE_BY,
          TERMINATION_REMARK: this.model.TERMINATION_REMARK,
          TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
          APPROVAL_STATUS: 2,
        };

        if (this.currentConsultant) data.CONSULTANT_ID = this.currentConsultant.CONSULTANT_ID;

        const response = await services02module2.postTerminateConsultant(data);
        // const response = await services02module2.updateTerminateConsultant(data);
        return response;
      }

      return false;
    },
    submitTerminationForm: async function() {
      if (this.isBulk) {
        const isBulkValidated = await this.validateBulkForm();
      }

      const isSingleValidated = await this.validateSingleForm();

      if (isBulkValidated || isSingleValidated) {
        let data = {
          TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
          CONSULTANT_ID: this.model.CONSULTANT_ID.map(el => el.CONSULTANT_ID),
          CREATE_BY: this.model.CREATE_BY,
          TERMINATION_REMARK: this.model.TERMINATION_REMARK,
          TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
          APPROVAL_STATUS: 2,
        };

        if (this.currentConsultant) data.CONSULTANT_ID = this.currentConsultant.CONSULTANT_ID;

        const response = await services02module2.postTerminateConsultant(data);
        return response;
      }
      return false;
    },
    getDocumentByID: async function() {
      console.log('inside getDocumentByID');

      const response = await servicesModule3.getDocumentById(261);
      console.log('inside getDocumentByID: ', response);

      response.forEach(element => {
        console.log(element.DOC_BLOB);
        element.DOC_BLOB = this.b64toBlobPDF(element.DOC_BLOB, 'application/pdf');
        console.log('mula');
        console.log(element.DOC_BLOB); // <----- cuba tgk ini
        console.log('habis');
        element.DOC_BLOB = new File(
          [element.DOC_BLOB],
          element.DOC_ORIGINAL_NAME + '.' + element.DOC_FILETYPE,
          { type: element.DOC_BLOB.type },
        );
        console.log(element.DOC_BLOB);
        const data = {
          name: element.DOC_ORIGINAL_NAME + '.' + element.DOC_FILETYPE,
          size: element.DOC_FILESIZE,
          type: element.DOC_FILETYPE,
          ext: 'exe',
          url: window.URL.createObjectURL(element.DOC_BLOB),
        };

        this.file = element.DOC_BLOB;
        //alert(JSON.stringify(element.DOC_BLOB));

        if (this.model.PROFILE_UPLOADED_DOCUMENTS.length < 3) {
          this.model.PROFILE_UPLOADED_DOCUMENTS.push(data);
        } else {
          return;
        }
        //alert(JSON.stringify(data));
      });
    },

    b64toBlobPDF(b64Data, contentType, sliceSize) {
      contentType = contentType || '';
      sliceSize = sliceSize || 512;

      var byteCharacters = atob(b64Data);
      var byteArrays = [];

      for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
      }

      console.log(byteArrays);

      return new File(byteArrays, 'pot', { type: contentType });
    },

    // async getFilterConsultantRecord() {
    //   const filter_cons_records = await ConsultantRecord.getFilterConsultantRecord();
    //   console.log('this is filter cons records', filter_cons_records);
    // },
    // fix this
    // setCurrentConsultantAll(scope) {
    //   if (this.mappedSelectedConsultantArray.length) {
    //     this.$refs['consultantTable'].clearSelected();
    //   } else {
    //     this.$refs['consultantTable'].selectAllRows();
    //   }
    //   // this.mappedSelectedConsultantArray.length
    //   // ? this.$refs['consultantTable'].clearSelected()
    //   // : this.$refs['consultantTable'].selectAllRows();
    // },

    // setCurrentConsultant(data) {
    //   console.log(data);
    //   const existed = this.mappedSelectedConsultantArray.some(el => el === data.item.CONSULTANT_ID);

    //   existed
    //     ? this.$refs['consultantTable'].unselectRow(data.index)
    //     : this.$refs['consultantTable'].selectRow(data.index);

    //   // if (existed) {
    //   //   this.$refs['consultantTable'].unselectRow(data.index);
    //   // } else {
    //   //   // console.log('currentData', data.index, data.item.CONSULTANT_ID);
    //   //   this.$refs['consultantTable'].selectRow(data.index);
    //   // }
    // },
    // onRowSelected(items) {
    //   this.model.CONSULTANT_ID = items;
    //   console.log(this.model.CONSULTANT_ID);
    // },
  },
};
</script>

<style scoped>
a {
  margin-left: 15px;
}
</style>
