<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">
          <template v-if="!currentConsultant">
            <va-card>
              <h4 style="margin-top:0px; margin-bottom:20px">
                Consultant Renewal List
              </h4>
              <div class="col-3">
                <div
                  style="display: flex; align-items:center"
                  class="form-group form-group-sm has-search"
                >
                  <span style="margin-right:10px" class="fa fa-search form-control-feedback"></span>
                  <input v-model="search" type="text" class="form-control" placeholder="Search" />
                </div>
              </div>

              <!-- CONSULTANT TABLE -->
              <!-- select-mode="single" -->
              <va-data-table
                :fields="fields.consultant"
                :data="filteredConsultant"
                no-data-label="No data found"
                :per-page="parseInt(perPage)"
                :datacount="filteredConsultant.length"
                :dataperpage="parseInt(perPage)"
                clickable
              >
                <template slot="checkbox" slot-scope="props">
                  <b-form-checkbox
                    v-model="props.rowData.selected"
                    @change="setCurrentConsultant(props)"
                  />
                </template>

                <template slot="index" slot-scope="row">
                  {{ row.rowIndex + 1 }}
                </template>

                <template slot="ACTION" slot-scope="props">
                  <h4 @click="viewCurrentConsultant(props)" style="margin:0; font-size:20px">
                    <span class="badge badge-primary mr-1">
                      <i class="fa fa-eye"></i>
                    </span>
                  </h4>
                </template>
              </va-data-table>
              <br />
              <br />

              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="tabForm2"
                @model-updated="onModelUpdated"
                @validated="onValidated"
              >
              </vue-form-generator>

              <br />
              <div class="float-right">
                <button
                  @click="submitRejectConsultantRenewal"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Reject
                </button>
                <button
                  @click="submitApproveConsultantRenewal"
                  type="button"
                  class="ml-2 btn btn-success btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Approve
                </button>
                <!-- <button
                  @click="saveConsultantRenewal"
                  type="button"
                  class="btn btn-info btn-fill btn-md"
                >
                  <i class="fa fa-edit" /> &nbsp;Save as Draft
                </button>
                <button
                  @click="submitConsultantRenewal"
                  type="button"
                  class="ml-1 btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Submit
                </button> -->
              </div>
            </va-card>
          </template>

          <template v-else>
            <va-card>
              <h4 style="margin-top:0">Consultant Details</h4>
              <br />
              <div>
                <tabs
                  :tabs="tabs"
                  :currentTab="currentTab"
                  :wrapper-class="'default-tabs'"
                  :tab-class="'default-tabs__item'"
                  :tab-active-class="'default-tabs__item_active'"
                  :line-class="'default-tabs__active-line'"
                  @onClick="handleClick"
                />
                <div class="content">
                  <div v-if="currentTab === 'tab1'">
                    <div class="ml-4">
                      <br />
                      <table id="consultant-profile" class="table table-striped">
                        <tbody>
                          <tr>
                            <td>Name</td>
                            <td>{{ currentConsultant.CONSULTANT_NAME }}</td>
                          </tr>
                          <tr>
                            <td>New NRIC</td>
                            <td>{{ currentConsultant.CONSULTANT_NRIC }}</td>
                          </tr>
                          <tr>
                            <td>Date of Birth</td>
                            <td>{{ currentConsultant.CONSULTANT_DOB }}</td>
                          </tr>

                          <tr>
                            <td>Address</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_ADDR1 }}</td>
                          </tr>
                          <tr>
                            <td>Postcode</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_POSTAL }}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_CITY }}</td>
                          </tr>
                          <tr>
                            <td>State</td>
                            <td>{{ currentConsultant.CONSULTANT_CORRESPONDENT_STATE }}</td>
                          </tr>
                          <tr>
                            <td>Telephone Number</td>
                            <td>{{ currentConsultant.CONSULTANT_MOBILE_NO }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ currentConsultant.CONSULTANT_EMAIL }}</td>
                          </tr>
                          <tr>
                            <td>Highest Qualification</td>
                            <td>{{ currentConsultant.CONSULTANT_HIGHEST_QUALIFICATION }}</td>
                          </tr>
                          <tr>
                            <td>Consultant Status</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab2'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td>Category</td>
                            <td>{{ currentConsultant.CATEGORY }}</td>
                          </tr>
                          <tr>
                            <td>Apprienticeship Program</td>
                            <td>Yes</td>
                          </tr>
                          <tr>
                            <td>Company Distributor</td>
                            <td>{{ currentConsultant.DISTRIBUTOR }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab3'">
                    <div class="ml-4">
                      <br />
                      <table class="table table-striped">
                        <tr>
                          <th>No</th>
                          <th>Document</th>
                        </tr>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>
                              Cover letter for Former and Variation PRS consultant
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>
                              Letter of Undertaking for variation due to Merger
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>
                              Printed online application
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>
                              Statutory Declaration
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-if="currentTab === 'tab4'">
                    <div class="ml-3">
                      <br />
                      <table class="table table-striped">
                        <tbody>
                          <tr>
                            <td>Examination Type</td>
                            <td>CUTE</td>
                          </tr>

                          <tr>
                            <td>Result</td>
                            <td>
                              FAIL
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Certificate
                            </td>
                            <td>
                              Not Available
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Check
                            </td>
                            <td>
                              Pass
                              <a
                                href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                target="_blank"
                              >
                                View</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Bankruptcy Remark
                            </td>
                            <td>
                              Insert remark here
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </va-card>
            <br />
            <va-card v-if="currentConsultant">
              <h4 style="margin-top:0">Consultant Renewal Review Form</h4>
              <br />

              <vue-form-generator
                :model="model"
                :schema="tabSchema2"
                :options="formOptions"
                ref="tabForm2"
                @model-updated="onModelUpdated"
                @validated="onValidated"
              >
              </vue-form-generator>
              <br />

              <div class="float-left">
                <button
                  @click="currentConsultant = null"
                  type="button"
                  class="btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-step-backward" /> &nbsp; Previous
                </button>
              </div>
              <div class="float-right">
                <!-- <button
                  @click="submitTerminate"
                  type="button"
                  class="ml-2 btn btn-warning btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Return
                </button> -->
                <button
                  @click="submitRejectConsultantRenewal"
                  type="button"
                  class="ml-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-ban" /> &nbsp; Reject
                </button>
                <button
                  @click="submitApproveConsultantRenewal"
                  type="button"
                  class="ml-2 btn btn-success btn-fill btn-md"
                >
                  <i class="fa fa-paper-plane" /> &nbsp; Approve
                </button>
              </div>
            </va-card>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import HorizontalScroll from 'vue-horizontal-scroll';
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import * as services02module2 from '../../../app/module2/services02';
import RepositoryFactory from '../../../repositories/RepositoryFactory';
import TerminationRepository from '../../../repositories/module2/TerminationRepository';
import Tabs from 'vue-tabs-with-active-line';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
const ConsultantRecord = RepositoryFactory.get('consultantrecord');
const Termination = RepositoryFactory.get('termination');

export default {
  components: { Tabs },

  data() {
    return {
      tabs: [
        {
          title: 'Applicant Profile',
          value: 'tab1',
        },
        {
          title: 'Type of Applicant',
          value: 'tab2',
        },
        {
          title: 'Uploaded Document',
          value: 'tab3',
        },
        {
          title: 'Examination & Bankruptcy Check',
          value: 'tab4',
        },
      ],

      currentTab: 'tab1',

      selected: [],
      currentConsultant: null,

      isBusy: true,

      formOptions: {
        validateAfterChanged: true,
      },

      fields: {
        consultant: [
          { name: '__slot:checkbox', title: 'checkbox' },
          { name: '__slot:index', title: 'NO' },
          { name: 'CONSULTANT_NAME', title: 'CONSULTANT NAME' },
          { name: 'CONSULTANT_NRIC', title: 'NRIC' },
          { name: 'CONSULTANT_PASSPORT_NO', title: 'PASSPORT NO' },
          { name: 'CONSULTANT_FIMM_NO', title: 'FIMM NO' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
      },
      // filter: {
      //   distributor: null,
      //   consultant: null,
      // },
      search: '',

      consultantsAPI: [],

      currentPage: 1,
      perPage: '10',

      model: {
        RENEWAL_REMARK: '',
        SUPPORTED_DOCUMENT: [],
      },

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'textArea',
                required: true,
                rows: 10,
                max: 1000,
                label: 'Remarks / Comments',
                hint: 'maximum of 1000 characters',
                model: 'RENEWAL_REMARK',
                validator: 'required',
                placeholder: 'Enter Remarks or Comments',
                styleClasses: 'col-md-12',
              },
              {
                labels: 'SUPPORTED DOCUMENT',
                text: 'Choose a File',
                model: 'SUPPORTED_DOCUMENT',
                type: 'vfg-custom-multiple-file',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
    };
  },
  async mounted() {
    await this.getConsultantRecord();
    await this.getAllTermination();

    // await this.getFilterConsultantRecord();
    // this.consultants = await services02module2.getConsultant();
    // await console.log(this.consultants)
  },
  computed: {
    // consultants() {
    //   if (this.consultantsAPI) return this.consultantsAPI;
    //   return [];
    // },

    filteredConsultant() {
      const search = this.search.toLowerCase();
      if (this.search) {
        return this.consultantsAPI.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultantsAPI;
    },
    // mappedSelectedConsultantArray() {
    //   if (this.model.CONSULTANT_ID.length)
    //     return this.model.CONSULTANT_ID.map(el => el.CONSULTANT_ID);

    //   return [];
    // },
  },
  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },
    async getConsultantRecord() {
      console.log('inside get consultant record');
      const response = await ConsultantRecord.getConsultantRecord();
      this.consultantsAPI = response.data.data;

      // this.isBusy = false;
      console.log(this.consultantsAPI);
    },
    async getAllTermination() {
      const termination = await Termination.getAllTermination();
      console.log('this is termination', termination.data.data);
    },

    viewCurrentConsultant(props) {
      this.currentConsultant = props.rowData;
    },

    setCurrentConsultant(props) {
      console.log('inside setCurrentConsultant');
      const index = this.model.CONSULTANT_ID.findIndex(
        el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID,
      );

      if (index >= 0) {
        this.model.CONSULTANT_ID.splice(index, 1);
      } else {
        this.model.CONSULTANT_ID.push(props.rowData);
      }
      console.log(this.model.CONSULTANT_ID);
    },

    onModelUpdated(newVal, schema) {
      console.log(schema);
      if (schema === 'TERMINATION_TYPE') {
        // this.visible.TERMINATION_TYPE = newVal.value;
      }
    },
    onValidated(isValid, errors) {
      console.log('Validation result: ', isValid, ', Errors:', errors[0].error);
    },
    submitRejectConsultantRenewal: async function() {
      let data = {
        TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
        TERMINATION_TYPE_OTHER_SPECIFY: this.model.TERMINATION_TYPE_OTHER_SPECIFY,
        CONSULTANT_ID: this.model.CONSULTANT_ID,
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
      };

      console.log(data);
      // const response = await Termination.postTermination(data);
      // console.log(response);
      // }
    },
    submitApproveConsultantRenewal: async function() {
      let data = {
        TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
        TERMINATION_TYPE_OTHER_SPECIFY: this.model.TERMINATION_TYPE_OTHER_SPECIFY,
        CONSULTANT_ID: this.model.CONSULTANT_ID,
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
      };

      console.log(data);
      // const response = await Termination.postTermination(data);
      // console.log(response);
      // }
    },
    submitTerminate: async function() {
      let data = {
        TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
        TERMINATION_TYPE_OTHER_SPECIFY: this.model.TERMINATION_TYPE_OTHER_SPECIFY,
        CONSULTANT_ID: this.model.CONSULTANT_ID,
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
      };

      console.log(data);
      // const response = await Termination.postTermination(data);
      // console.log(response);
      // }
    },
    submitTerminate: async function() {
      let data = {
        TERMINATION_TYPE: this.model.TERMINATION_TYPE.value,
        TERMINATION_TYPE_OTHER_SPECIFY: this.model.TERMINATION_TYPE_OTHER_SPECIFY,
        CONSULTANT_ID: this.model.CONSULTANT_ID,
        CREATE_BY: this.model.CREATE_BY,
        TERMINATION_REMARK: this.model.TERMINATION_REMARK,
        TERMINATION_DATE: moment(this.model.TERMINATION_DATE).format(),
      };

      console.log(data);
      // const response = await Termination.postTermination(data);
      // console.log(response);
      // }
    },

    // isConsultantAdded(array, props) {
    //   return array.findIndex(el => el.CONSULTANT_ID === props.rowData.CONSULTANT_ID);
    // },

    // removeInsufficientCPDLIST(props) {
    //   const index = this.isConsultantAdded(this.model.INSUFFICIENT_CPD_LIST, props);

    //   this.model.INSUFFICIENT_CPD_LIST.splice(index, 1);
    // },

    // setInsufficientCPDList(props) {
    //   const index = this.isConsultantAdded(this.model.INSUFFICIENT_CPD_LIST, props);

    //   if (index >= 0) return;
    //   this.model.INSUFFICIENT_CPD_LIST.push(props.rowData);
    // },
  },
};
</script>
<style scoped></style>
