<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">Waiver : New Upload Submission</h4>
    </div>
    <br />
    <va-card>
      <div class="ml-1 col-md-12">
        <vue-form-generator
          :model="model"
          :schema="uploadExcelSchema"
          :options="formOptions"
          ref="uploadExcelForm"
        >
        </vue-form-generator>
        <br />
        <div class="float-right">
          <button
            @click="upload"
            type="button"
            class="ml-1 btn btn-success btn-fill btn-md"
          >
            <i class="fa fa-paper-plane" /> &nbsp; Upload
          </button>
        </div>
      </div>
    </va-card>
    <br />
    <br />
    <div v-if="dataUploadReady">
      <div class="text-center text-danger my-2">
        <b-spinner class="align-middle"></b-spinner>
        <strong>Loading...</strong>
      </div>
    </div>
    <div v-else>
      <va-card>
        <div>
          <div>
            <div class="row">
              <div class="flex md2 offset--md10">
                <va-input
                  :value="term"
                  :placeholder="$t('Search')"
                  @input="search"
                  removable
                >
                  <va-icon name="fa fa-search" slot="prepend" />
                </va-input>
              </div>
            </div>
            <va-data-table
              :fields="Fields"
              :data="FilteredData"
              no-data-label="No data found"
              :per-page="parseInt(perPage)"
              :datacount="RecordCount"
              :dataperpage="parseInt(perPage)"
              clickable
            >
              <template slot="no" slot-scope="row">
                {{ row.rowIndex + 1 }}
              </template>
              <template slot="type" slot-scope="props">
                <span
                  v-b-tooltip.hover
                  v-if="props.rowData.STAFF_OR_AGENT == '1'"
                >
                  STAFF
                </span>
                <span
                  v-b-tooltip.hover
                  v-if="props.rowData.STAFF_OR_AGENT == '2'"
                >
                  AGENT
                </span>
              </template>
              <template slot="actions" slot-scope="props">
                <h5 class="mt-1">
                  <span
                    v-b-tooltip.hover
                    title="Delete Record"
                    v-on:click="deleteRecord(props.rowData)"
                    class="badge badge-danger mr-2"
                  >
                    <i class="fa fa-trash"></i
                  ></span>
                </h5>
              </template>
            </va-data-table>
            <br />
            <br />
            <br />
            <br />
            <div>
              <table class="table table-striped"></table>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td style="width: 20%">
                      <b
                        >Total Rejected List
                        <downloadExcel
                          :json_data="candidateRejectedList"
                          :excelname="excelname"
                          :sheetname="sheetname"
                          :column="column"
                        ></downloadExcel>
                      </b>
                    </td>
                    <td style="width: 1%">:</td>
                    <td>{{ this.rejectedCount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </va-card>
      <br />
      <br />
      <button
        @click="back"
        type="button"
        class="btn btn-primary btn-fill btn-md"
      >
        <i class="fa fa-step-backward" /> &nbsp; Previous
      </button>
      <div class="float-right">
        <button
          @click="reject"
          type="button"
          style="background: #ff4a55; color: #ffffff"
          class="ml-1 btn btn-fill btn-md"
        >
          <i class="fa fa-ban" /> &nbsp; Discard
        </button>
        <button
          @click="accept"
          type="button"
          style="background: #87cb16; color: #ffffff"
          class="ml-1 btn btn-fill btn-md"
        >
          <i class="fa fa-paper-plane" /> &nbsp; Submit
        </button>
      </div>
    </div>
  </va-card>
</template>

<script>
import { debounce } from "lodash";
import "vue-form-generator/dist/vfg.css";
import * as servicesModule4 from "../../../../app/module4/services01";

export default {
  mounted() {
    this.checkRunNo();
  },
  components: {},

  methods: {
    // searh
    search: debounce(function (term) {
      this.term = term;
      console.log(this.term);
    }, 400),
    async upload() {
      this.dataUploadReady = true;
      const data = new FormData();
      data.append("file", this.model.fileExcel);
      const user = JSON.parse(localStorage.getItem("user")).user_id;
      data.append("CREATE_BY", user);
      data.append(
        "COMPANY_ID",
        JSON.parse(localStorage.getItem("user")).USER_DIST_ID
      );

      try {
        const response1 = await servicesModule4.uploadNewWaiver(data);
        const response = await servicesModule4.getWaiverListByWaiverID(
          response1.WAIVER_ID
        );
        this.CandidateList = response;
        this.RecordCount = this.CandidateList.length;

        this.model.waiverID = response1.WAIVER_ID;

        const responseReject = await servicesModule4.getWaiverRejectedListByID(
          response1.WAIVER_ID
        );
        this.candidateRejectedList = responseReject;
        this.rejectedCount = this.candidateRejectedList.length;

        this.dataUploadReady = false;
      } catch (error) {
        console.log(error);
      }
    },

    async back() {
      this.$router.go(-1);
    },
    checkRunNo: async function () {
      const user = JSON.parse(localStorage.getItem("user")).user_id;
      const res = await servicesModule4.getCompanyId(user);
      const response = await servicesModule4.checkRunNo(res.USER_DIST_ID);
    },

    async deleteRecord(data) {
      if (confirm("Are you sure you want to delete this record?")) {
        const response = await servicesModule4.deleteConsultantWaiver(
          data.WAIVER_PARTICIPANT_ID
        );
        this.getAcceptanceList();
      }
    },

    reject: async function () {
      if (confirm("Are you sure you want to discard this list?")) {
        try {
          const response = await servicesModule4.discardWaiverRecord(
            this.model.waiverID
          );

          this.$router.go(-1);
        } catch (error) {
          console.log(error);
        }
      }
    },
    accept: async function () {
       if (confirm("Are you sure you want to submit this list?")) {
        const data = new FormData();
        data.append("WAIVER_ID", this.model.waiverID);

        const user = JSON.parse(localStorage.getItem("user")).user_id;
        const res = await servicesModule4.getCompanyId(user);

        data.append("CREATE_BY", user);
        data.append("COMPANY_ID", res.USER_DIST_ID);
        data.append("PUBLISH_STATUS", 1);
        data.append("TS_ID", 15);
        data.append("ISSUBMIT", 1);
        data.append("RESUBMIT_ACTION", 0);

        var yr = new Date().getFullYear().toString().substr(2, 2);
        data.append("YEAR", yr);
        data.append("FULLYEAR", new Date().getFullYear().toString());
        data.append("PARTLIST", JSON.stringify(this.CandidateList));
        //alert(JSON.stringify(this.CandidateList));

        const approvalLevel = await services06Module0.getApprovalLevel(15, 1);
        data.append("APPR_LIST1", JSON.stringify(approvalLevel));

        const approvalLevel2 = await services06Module0.getApprovalLevel(15, 2);
        data.append("APPR_LIST2", JSON.stringify(approvalLevel2));

        //notification
        data.append("NOTI_LOCATION", "waiver-submission-list");

        data.append("NOTI_REMARK", "(WAIVER)New entry pending approval");

        try {
          const response = await servicesModule4.submitWaiverRecord(data);
          this.$router.go(-1);
        } catch (error) {
          console.log(error);
        }
      }
    },

    getAcceptanceList: async function () {
      const response = await servicesModule4.getWaiverListByWaiverID(
        this.model.waiverID
      );
      this.CandidateList = response;
      this.RecordCount = this.CandidateList.length;

      const responseReject = await servicesModule4.getWaiverRejectedListByID(
        this.model.waiverID
      );
      this.candidateRejectedList = responseReject;
      this.rejectedCount = this.candidateRejectedList.length;
    },
  },

  computed: {
    Fields() {
      return [
        {
          name: "__slot:no",
          title: "NO",
        },
        {
          name: "NAME",
          title: "CONSULTANT NAME",
          sortField: "NAME",
        },
        {
          name: "NRIC_NUMBER",
          title: "NRIC NUMBER",
          sortField: "NRIC_NUMBER",
        },
        {
          name: "PASSPORT_NUMBER",
          title: "PASSPORT NUMBER",
          sortField: "PASSPORT_NUMBER",
        },

        {
          name: "__slot:type",
          title: "SUPPORTING DOCUMENT",
        },
        {
          name: "TS_PARAM",
          title: "STATUS",
          sortField: "TS_PARAM",
        },
        {
          name: "__slot:actions",
          title: "ACTIONS",
          dataClass: "justify-content-center",
          width: "5%",
        },
      ];
    },
    FilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.CandidateList;
      }
      return this.CandidateList.filter((item) => {
        return this.term
          .toLowerCase()
          .split(" ")
          .every(
            (v) =>
               item.NAME.toLowerCase().includes(v) ||
              item.NRIC_NUMBER.includes(v) ||
              item.PASSPORT_NUMBER.includes(v)
          );
      });
    },
  },

  data() {
    return {
      dataUploadReady: false,
      term: null,
      CandidateList: [],
      perPage: "10",
      currentPage: 1,
      count: 1,
      RecordCount: null,
      rejectedCount: null,

      candidateRejectedList: [],
      column: ["NAME", "NRIC_NUMBER", "PASSPORT_NUMBER", "REASON"],
      excelname: "download-RejectedList",
      sheetname: "RejectedList",

      model: {
        fileExcel: "",
        waiverID: "",
      },

      uploadExcelSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                labels: "Upload Excel",
                accept: ".xlxs",
                multiple: true,
                text: "Choose a File",
                model: "fileExcel",
                type: "vfg-custom-file-excel",
                styleClasses: "col-md-12",
                hint: "*Please use excel template provided by FIMM",
              },
              {
                type: "input",
                inputType: "hidden",
                model: "waiverID",
                styleClasses: "col-md-3",
              },
            ],
          },
        ],
      },
      formOptions: {
        validateAfterChanged: true,
      },
    };
  },
};
</script>





 