<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">Waiver : View Submission</h4>
    </div>
    <br />
     <div v-if="dataUploadReady">
          <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>Loading...</strong>
            </div>
        </div>
    <div v-else>
    <va-card>
      <div>
        <div>
          <div class="row">
            <div class="flex md2 offset--md10">
              <va-input
                :value="term"
                :placeholder="$t('Search')"
                @input="search"
                removable
              >
                <va-icon name="fa fa-search" slot="prepend" />
              </va-input>
            </div>
          </div>
          <va-data-table
            :fields="Fields"
            :data="FilteredData"
            no-data-label="No data found"
            :per-page="parseInt(perPage)"
            :datacount="RecordCount"
            :dataperpage="parseInt(perPage)"
            clickable
          >
            <template slot="no" slot-scope="row">
              {{ row.rowIndex + 1 }}
            </template>
             <template slot="document" slot-scope="">
             </template>
          </va-data-table>
        </div>
      </div>
    </va-card>
    <br />
    <br />
    <button @click="back" type="button" class="btn btn-primary btn-fill btn-md">
      <i class="fa fa-step-backward" /> &nbsp; Previous
    </button>
    </div>
  </va-card>
</template>

<script>
import { debounce } from "lodash";
import "vue-form-generator/dist/vfg.css";
import * as servicesModule4 from "../../../../app/module4/services01";

export default {
  mounted() {
    var data = localStorage.getItem("view-waiver-submission");
    this.WDATA = JSON.parse(data);
    //alert(JSON.stringify(this.WDATA));
  
   this.getAcceptanceList();
  },
  components: {},

  methods: {
    // searh
    search: debounce(function (term) {
      this.term = term;
      console.log(this.term);
    }, 400),
   
    async back() {
      this.$router.go(-1);
    },

    getAcceptanceList: async function () {
      const response = await servicesModule4.getWaiverListByWaiverID(
        this.WDATA.WAIVER_ID
      );
      this.CandidateList = response;
      this.RecordCount = this.CandidateList.length;
    },
  },

  computed: {
    Fields() {
      return [
        {
          name: "__slot:no",
          title: "NO",
        },
        {
          name: "NAME",
          title: "CONSULTANT NAME",
          sortField: "NAME",
        },
        {
          name: "NRIC_NUMBER",
          title: "NRIC NUMBER",
          sortField: "NRIC_NUMBER",
        },
        {
          name: "PASSPORT_NUMBER",
          title: "PASSPORT NUMBER",
          sortField: "PASSPORT_NUMBER",
        },

        {
          name: "__slot:document",
          title: "SUPPORTING DOCUMENT",
        },
        {
          name: "TS_PARAM",
          title: "WAIVER STATUS",
          sortField: "TS_PARAM",
        },
      
      ];
    },
    FilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.CandidateList;
      }
      return this.CandidateList.filter((item) => {
        return this.term
          .toLowerCase()
          .split(" ")
          .every(
            (v) =>
              item.CONSULATANT_NAME.toLowerCase().includes(v) ||
              item.CONSULATANT_NRIC.toLowerCase().includes(v) ||
              item.CONSULATANT_PASSPORT_NO.toLowerCase().includes(v) ||
              item.CONSULATANT_FIMM_NO.toLowerCase().includes(v) ||
              item.TS_PARAM.toLowerCase().includes(v)
          );
      });
    },
  },

  data() {
    return {
      dataUploadReady: false,
      term: null,
      CandidateList: [],
      perPage: "10",
      currentPage: 1,
      count: 1,
      RecordCount: null,
      WDATA:"",

      model: {
      
      },


      formOptions: {
        validateAfterChanged: true,
      },
    };
  },
};
</script>





 