<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">Waiver : Resubmit Submission Form</h4>
    </div>
    <br />
     <div v-if="dataUploadReady">
          <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>Loading...</strong>
            </div>
        </div>
    <div v-else>
    <va-card>
      <div>
        <div>
          <div class="row">
            <div class="flex md2 offset--md10">
              <va-input
                :value="term"
                :placeholder="$t('Search')"
                @input="search"
                removable
              >
                <va-icon name="fa fa-search" slot="prepend" />
              </va-input>
            </div>
          </div>
          <va-data-table
            :fields="Fields"
            :data="FilteredData"
            no-data-label="No data found"
            :per-page="parseInt(perPage)"
            :datacount="RecordCount"
            :dataperpage="parseInt(perPage)"
            clickable
          >
            <template slot="no" slot-scope="row">
              {{ row.rowIndex + 1 }}
            </template>
             <template slot="document" slot-scope="">
             </template>
          </va-data-table>
        </div>
      </div>
      <br>
      <br>
      <br>
       <div class="ml-2 col-md-12">
       
        <hr />
        <table class="table table-striped">
          <tbody>
            <tr>
              <td style="width: 35%">Remark By FIMM</td>
              <td>{{ WDATA.FIMM_REMARK_FULL }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </va-card>
     <br />
      <br />
      <button
        @click="back"
        type="button"
        class="btn btn-primary btn-fill btn-md"
      >
        <i class="fa fa-step-backward" /> &nbsp; Previous
      </button>
      <div class="float-right">
        <button
          @click="saveAsDraft"
          type="button"
          class="ml-1 btn btn-info btn-fill btn-md"
        >
          <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
        </button>
        <button
          @click="accept"
          type="button"
          style="background: #87cb16; color: #ffffff"
          class="ml-1 btn btn-fill btn-md"
        >
          <i class="fa fa-paper-plane" /> &nbsp; Submit
        </button>
      </div>
    </div>
  </va-card>
</template>

<script>
import { debounce } from "lodash";
import "vue-form-generator/dist/vfg.css";
import * as servicesModule4 from "../../../../app/module4/services01";
import * as services06Module0 from "../../../../app/module0/services06";

export default {
  mounted() {
    var data = localStorage.getItem("resubmit-waiver-submission");
    this.WDATA = JSON.parse(data);
    //alert(JSON.stringify(this.WDATA));
  
   this.getAcceptanceList();
  },
  components: {},

  methods: {
    // searh
    search: debounce(function (term) {
      this.term = term;
      console.log(this.term);
    }, 400),
   
    async back() {
      this.$router.go(-1);
    },

    getAcceptanceList: async function () {
      const response = await servicesModule4.getWaiverListByWaiverID(
        this.WDATA.WAIVER_ID
      );
      this.CandidateList = response;
      this.RecordCount = this.CandidateList.length;
    },

     saveAsDraft: async function () {
      if (confirm("Are you sure you want to save this as draft?")) {
        const data = new FormData();
        data.append("WAIVER_ID", this.WDATA.WAIVER_ID);

        const user = JSON.parse(localStorage.getItem("user")).user_id;
        data.append("CREATE_BY", user);
        data.append("TS_ID", 1);
        data.append("PUBLISH_STATUS", 0);

        try {
          await servicesModule4.submitWaiverRecord(data);
        } catch (error) {
          console.log(error);
        }
      }
    },

      accept: async function () {
      if (confirm("Are you sure you want to submit this list?")) {
        const data = new FormData();
        data.append("WAIVER_ID", this.WDATA.WAIVER_ID);

        const user = JSON.parse(localStorage.getItem("user")).user_id;
        const res = await servicesModule4.getCompanyId(user);

        data.append("CREATE_BY", user);
        data.append("COMPANY_ID", res.USER_DIST_ID);
        data.append("PUBLISH_STATUS", 1);
        data.append("ISSUBMIT", 1);
        data.append("TS_ID", 15);
        data.append("RESUBMIT_ACTION", 1);

        const approvalLevel = await services06Module0.getApprovalLevel(15, 1);
        data.append("APPR_LIST1", JSON.stringify(approvalLevel));

        const approvalLevel2 = await services06Module0.getApprovalLevel(15, 2);
        data.append("APPR_LIST2", JSON.stringify(approvalLevel2));

        //notification
        data.append("NOTI_LOCATION", "waiver-submission-list");

        data.append("NOTI_REMARK", "(WAIVER)New entry pending approval");

        try {
          const response = await servicesModule4.submitWaiverRecord(data);
          this.$router.go(-1);
        } catch (error) {
          console.log(error);
        }
      }
    },



  },

  computed: {
    Fields() {
      return [
        {
          name: "__slot:no",
          title: "NO",
        },
        {
          name: "NAME",
          title: "CONSULTANT NAME",
          sortField: "NAME",
        },
        {
          name: "NRIC_NUMBER",
          title: "NRIC NUMBER",
          sortField: "NRIC_NUMBER",
        },
        {
          name: "PASSPORT_NUMBER",
          title: "PASSPORT NUMBER",
          sortField: "PASSPORT_NUMBER",
        },

        {
          name: "__slot:document",
          title: "SUPPORTING DOCUMENT",
        },
      
      
      ];
    },
    FilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.CandidateList;
      }
      return this.CandidateList.filter((item) => {
        return this.term
          .toLowerCase()
          .split(" ")
          .every(
            (v) =>
              item.NAME.toLowerCase().includes(v) ||
              item.NRIC_NUMBER.includes(v) ||
              item.PASSPORT_NUMBER.includes(v)
          );
      });
    },
  },

  data() {
    return {
      dataUploadReady: false,
      term: null,
      CandidateList: [],
      perPage: "10",
      currentPage: 1,
      count: 1,
      RecordCount: null,
      WDATA:"",

      model: {
      
      },


      formOptions: {
        validateAfterChanged: true,
      },
    };
  },
};
</script>





 