<template>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-12">

          <va-card>
          <div v-if="!dataReady">
            <div class="text-center text-danger my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Loading...</strong>
              </div>
          </div>
            <div v-else>

           
            <h1>List of Distributor</h1>
            <br />
            <div style="display:flex; justify-content:flex-end; align-items:center">
                <div class="flex md3 offset--md3">
                  <va-input :placeholder="$t('Search')" v-model="search.consultant" removable>
                    <va-icon name="fa fa-search" slot="prepend" />
                  </va-input>
                </div>
              </div>
              <va-data-table
                :fields="fields.consultant"
                :data="filteredConsultant"
                no-data-label="No data found"
                :per-page="20"
                :datacount="filteredConsultant.length"
                :dataperpage="20"
                clickable
              >
                <template slot="index" slot-scope="row">
                  {{ row.rowIndex + 1 }}
                </template>

                <template slot="ACTION" slot-scope="props">
                  <h4 @click="viewDistributor(props)" style="margin:0; font-size:20px">
                    <span v-b-tooltip.hover title="View" class="badge badge-success mr-2">
                      <i class="fa fa-eye"></i>
                    </span>
                  </h4>
                </template>
              </va-data-table>
            </div>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vudal from 'vudal';
import VueFormGenerator from 'vue-form-generator';
import 'vue-form-generator/dist/vfg-core.css';
import VueFormWizard from 'vue-form-wizard';
import 'vue-form-wizard/dist/vue-form-wizard.min.css';
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';

import FullCalendar from '@fullcalendar/vue';
import dayGridPlugin from '@fullcalendar/daygrid';
import interactionPlugin from '@fullcalendar/interaction';

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import HorizontalScroll from 'vue-horizontal-scroll';
import 'vue-horizontal-scroll/dist/vue-horizontal-scroll.css';
import * as services06Module0 from '../../../app/module0/services06';
import moment from 'moment';
import { parse } from 'vue-currency-input';
import * as servicesmodule0 from '../../../app/module0/services';
import * as servicesmodule2 from '../../../app/module2/services';
import * as services02module2 from '../../../app/module2/services02';
import RepositoryFactory from '../../../repositories/RepositoryFactory';

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.component(Vudal);
// register globally
Vue.component('multiselect', Multiselect);

/* -------------------------------------------------------------------------- */
/*                            endpointrepositories                            */
/* -------------------------------------------------------------------------- */
// const ConsultantRecord = RepositoryFactory.get('consultantrecord');
const DistributorRecord = RepositoryFactory.get('distributorrecords');

export default {
  data() {
    return {
      dataReady: false,
      isBusy: true,
      terminationType: [
        {
          label: 'Disqualified',
          value: '1',
        },
        {
          label: 'Other (please specify)',
          value: '2',
        },
      ],

      formOptions: {
        validateAfterChanged: true,
      },

      filter: null,
      consultants: null,
      selectedConsultant: null,
      currentPage: 1,
      perPage: 20,
      visible: {
        TERMINATION_FORM: false,
        TERMINATION_TYPE_OTHER_SPECIFY: false,
      },
      model: {
        TERMINATION_TYPE: '',
        TERMINATION_TYPE_OTHER_SPECIFY: '',
        TERMINATION_DATE: '',
        SELECTED_CONSULTANT: '',
        REMARKS_COMMENTS: '',
        CONSULTANTS: [],
      },
      // fields: [
      //   // A virtual column that doesn't exist in items
      //   { key: 'actions', label: '' },
      //   // A column that needs custom formatting
      //   { key: 'CONSULTANT_NAME', label: 'Consultant Name' },
      //   { key: 'CONSULTANT_NRIC', label: 'NRIC No' },
      //   { key: 'CONSULTANT_PASSPORT_NO', label: 'Passport No' },
      //   { key: 'CONSULTANT_FIMM_NO', label: 'FIMM No' },
      //   { key: 'SCHEME', label: 'Consultant Type' },
      // ],
      fields: {
        consultant: [
          { name: '__slot:index', title: 'NO' },
          { name: 'DIST_CODE', title: 'DISTRIBUTOR CODE' },
          { name: 'DIST_NAME', title: 'DISTRIBUTOR NAME' },
          { name: 'DIST_DATE_INCORP', title: 'DATE INCORP' },
          { name: 'DIST_REGI_NUM1', title: 'REGISTER NUMBER' },
           { name: 'DIST_REGI_NUM2', title: 'REGISTER DATE 2' },
          { name: 'DIST_TYPE_SETUP', title: 'DISTRIBUTOR TYPE SETUP' },
          { name: '__slot:ACTION', title: 'ACTION' },
        ],
        log: [
          {
            name: '__slot:no',
            title: 'NO',
          },
          {
            name: 'CREATE_TIMESTAMP',
            title: 'Date',
            sortField: 'CREATE_TIMESTAMP',
          },
          {
            name: 'GROUP_NAME',
            title: 'Group',
            sortField: 'GROUP_NAME',
          },
          {
            name: 'USER_NAME',
            title: 'Creation By',
            sortField: 'USER_NAME',
          },
          {
            name: 'TS_PARAM',
            title: 'Activity',
            sortField: 'TS_PARAM',
          },

          // {
          //   name: "LATEST_UPDATE",
          //   title: "Latest Update",
          //   sortField: "LATEST_UPDATE",
          // },
          {
            name: '__slot:remarks',
            title: 'Remarks/Comments',
            sortField: 'APPR_REMARK',
          },
          {
            name: '__slot:updates',
            title: 'Latest Update',
            sortField: 'LATEST_UPDATE',
          },
        ],
      },

      search: {
        distributor: '',
        consultant: '',
      },

      tabSchema2: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'vueMultiSelect',
                label: 'Termination Type',
                model: 'TERMINATION_TYPE',
                placeholder: 'Enter Termination Type',
                styleClasses: 'col-md-6',
                required: true,
                validator: 'required',
                selectOptions: {
                  multiple: false,
                  label: 'label',
                  value: 'value',
                  searchable: false,
                },
                values: (model, schema) => {
                  return this.terminationType;
                },
              },
              {
                type: 'input',
                inputType: 'date',
                label: 'Termination Date',
                model: 'TERMINATION_DATE',
                placeholder: 'Enter Termination Date',
                required: true,
                validator: 'date',
                styleClasses: 'col-md-6',
              },
              {
                type: 'input',
                inputType: 'text',
                label: 'Other',
                model: 'TERMINATION_TYPE_OTHER_SPECIFY',
                placeholder: 'Please specify',
                styleClasses: 'col-md-6',
                required: true,
                validator: 'required',
                visible: (model, field, form) => {
                  return this.visible.TERMINATION_TYPE_OTHER_SPECIFY;
                },
              },
              {
                styleClasses: 'col-md-6',
                visible: (model, field, form) => {
                  return this.visible.TERMINATION_TYPE_OTHER_SPECIFY;
                },
              },

              {
                type: 'textArea',
                required: true,
                row: 10,
                max: 1000,
                label: 'Remarks / Comments',
                model: 'REMARKS_COMMENTS',
                placeholder: 'Enter Remarks or Comments',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
    };
  },
  async mounted() {
    // await this.getConsultantRecord().then(res => {
    //   this.dataReady = true;
    // });
    await this.getDistributorRecord().then(res => {
      this.dataReady = true;
    });
    // await this.getFilterConsultantRecord();
    // this.consultants = await services02module2.getConsultant();
    // await console.log(this.consultants)
  },
  computed: {
    filteredConsultant() {
      const search = this.search.consultant.toLowerCase();
      if (this.search && this.consultants) {
        return this.consultants.filter(el => {
          return Object.keys(el).some(key => `${el[key]}`.toLowerCase().match(search));
        });
      }

      return this.consultants;
    },
  },
  methods: {
    async getDistributorRecord() {
      console.log('inside get distributor record');
      const response = await DistributorRecord.getDistributorRecords();
      this.consultants = response.data.data;
      this.isBusy = false;
      console.log(this.consultants);
    },
    viewDistributor(consultant) {
      console.log(consultant.rowData)
      this.$router.push({ name: 'consultant-termination-Distributor' ,params: { id: consultant.rowData.DISTRIBUTOR_ID }})
    },
  },
};
</script>
