<template>
          <va-card>
            <h4 slot="header" class="card-title">User Profile</h4>
            <br/>
              <div class="row">
                <div class="col-12">
                    <form-wizard
                      @on-complete="onComplete"
                      color="#FF5050"
                      error-color="#a94442"
                      finish-button-text="Submit"
                      ref="wizardForm"
                    >
                    <h3 slot="title"></h3>
                      <tab-content
                        icon="fa fa-user"
                        title="User Profile"
                      >
                        <br />
                          <vue-form-generator
                            :model="model"
                            :schema="firstTabSchema"
                            :options="formOptions"
                            ref="firstTabForm"
                            @model-updated="onModelUpdated"
                          >
                          </vue-form-generator>
                      </tab-content>
                      <tab-content icon="fa fa-folder-open" title="Upload Document">
                        <br />
                          <div class="col-12">
                            <div style="overflow-x:auto;">
                              <table class="table">
                                <thead>
                                  <slot name="columns">
                                    <tr>
                                      <th></th>
                                      <th>Document</th>
                                      <th>Choose file</th>
                                    </tr>
                                  </slot>
                                </thead>
                                <tbody>
                                  <tr
                                    v-for="(item, index) in photoUploadList"
                                    :key="index"
                                  >
                                    <slot :row="item">
                                      <td>
                                        <base-checkbox
                                          class=""
                                          v-model="item.selected"
                                          disabled="true"
                                        ></base-checkbox>
                                      </td>
                                      <td>
                                        <span class="description"
                                          >{{ item.fileName }} &nbsp;
                                          <a
                                            target="blank"
                                            v-if="
                                              item.type == 'file' && item.selected == true
                                            "
                                            href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                                            >View</a
                                          ></span
                                        >
                                      </td>
                                      <td v-if="item.type == 'photo'">
                                        <form enctype="multipart/form-data">
                                          <div v-if="applicantPhoto">
                                            <img
                                              src
                                              ref="applicantPhotoDisplay"
                                              class="w-150px"
                                            />
                                          </div>
                                          <br v-if="applicantPhoto" />
                                          <input
                                            type="file"
                                            accept="image/*"
                                            ref="applicantPhoto"
                                            @change="uploadImage(index, item)"
                                            id="file-input1"
                                          />
                                        </form>
                                      </td>
                                      <td v-if="item.type == 'file'">
                                        <form enctype="multipart/form-data">
                                          <div id="app">
                                            <VueFileAgent
                                              ref="vueFileAgent"
                                              :theme="'list'"
                                              :multiple="false"
                                              :deletable="true"
                                              :meta="true"
                                              :linkable="true"
                                              :accept="'.pdf,.doc,.docx'"
                                              :maxSize="'2MB'"
                                              :helpText="'Choose document'"
                                              :errorText="{
                                                type: 'Invalid file type. Only pdf or doc, docx Allowed',
                                                size: 'Files should not exceed 2MB in size'
                                              }"
                                              @select="filesSelected($event)"
                                              @beforedelete="onBeforeDelete($event)"
                                              v-model="fileRecords"
                                            ></VueFileAgent>
                                          </div>
                                        </form>
                                      </td>
                                    </slot>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!-- </card> -->
                          </div>
                      </tab-content>
                      <tab-content icon="fa fa-location-arrow" title="Declaration">
                          <br />
                            <vue-form-generator
                              :model="model"
                              :schema="thirdTabSchema"
                              :options="formOptions"
                              ref="thirdTabForm"
                              @model-updated="onModelUpdated"
                            >
                            </vue-form-generator>
                          <br/>
                      </tab-content>
                            <template
                              slot="footer"
                              slot-scope="{ activeTabIndex, isLastStep, nextTab, prevTab }"
                            >
                              <div class="float-left">
                                <button
                                  v-if="activeTabIndex > 0"
                                  @click="prevTab"
                                  type="button"
                                  class="btn btn-primary btn-fill btn-md"
                                >
                                  <i class="fa fa-step-backward" /> &nbsp; Previous
                                </button>
                              </div>
                              <div class="float-right">
                                <button
                                  v-if="!isLastStep"
                                  @click="nextTab"
                                  type="button"
                                  class="ml-2 btn btn-primary btn-fill btn-md"
                                >
                                  Next &nbsp; <i class="fa fa-step-forward" />
                                </button>
                                <button
                                  v-if="isLastStep"
                                  @click="submitUserUpdate"
                                  type="button"
                                  class="ml-2 btn btn-primary btn-fill btn-md"
                                >
                                  Submit
                                </button>
                              </div>
                            </template>
                    </form-wizard>
                </div>
              </div>
          </va-card>
</template>

<script>
import Multiselect from "vue-multiselect";
import Vudal from "vudal";
import VueFormGenerator from "vue-form-generator";
import "vue-form-generator/dist/vfg-core.css";
import VueFormWizard from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import Vue from "vue";
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";

// Import Bootstrap an BootstrapVue CSS files (order is important)
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import HorizontalScroll from "vue-horizontal-scroll";
import "vue-horizontal-scroll/dist/vue-horizontal-scroll.css";
import moment from "moment";
import { parse } from "vue-currency-input";


import * as services06Module0 from "../../../../app/module0/services06";
import * as services06Module1 from "../../../../app/module1/services06";
import * as services03Module1 from "../../../../app/module1/services03";
// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.use(VueFormWizard);
Vue.component(Vudal);
// register globally
Vue.component("multiselect", Multiselect);

export default {
  mounted() {
    this.getDistributor();
    this.getDistUserInfo();
    this.getCountry();
    this.getDefaultCountry();
    this.getDistManageGroup();
  },
  props: {
    value: File
  },
  data() {
    return {
      showView: false,
      visibleIc: true,
      visiblePassport: false,
      timestamp: "",
      country: [],
      postcode: [],
      city: [],
      states: "",

      selected1: false,
      selected2: false,
      selected3: false,
      selected4: false,
      selected5: false,

      file1: "",
      file2: "",
      file3: "",
      file4: "",

      photoUploadList: [
        {
          id: "1",
          fileName: "Passport Size Photo",
          type: "photo",
          filePath: "",
          selected: false
        },
        {
          id: "2",
          fileName: "Supporting Document",
          type: "file",
          filePath: "",
          selected: false
        }
        // {id: "3",fileName: "Letter of Undertaking for variation due to Merger",type: "file",filePath:"",selected: false},
        // {id: "4",fileName: "Printed online application",type: "file",filePath:"",selected: false},
        // {id: "5",fileName: "Statutory Declaration",type: "file",filePath:"",selected: false }
      ],

      applicantPhoto: "",

      // division: [
      //   { id: "Finance", name: "Finance" },
      //   { id: "Payroll", name: "Payroll" }
      // ],
      // department: [
      //   { id: "Human Resource", name: "Human Resource" },
      //   { id: "Sales", name: "Sales" }
      // ],

      distributor: [],

      distGroup: [],

      model: {
        name: "",
        nric: "",
        passportNo: "",
        email: "",
        DIST_ADDR_1: "",
        DIST_ADDR_2: "",
        DIST_ADDR_3: "",
        DIST_POSTAL: "",
        DIST_COUNTRY: "",
        DIST_CITY: "",
        DIST_STATE: "",
        distributor: "",
        division: "",
        department: "",
        roles: "",
        username: "",
        confirmPassword: ""
      },

      formOptions: {
        validateAfterChanged: true
      },

      firstTabSchema: {
        groups: [
          {
            legend: "",
            fields: [


              // {
              //   type: "select",
              //   label: "Division",
              //   model: "division",
              //   values: () => {
              //     return this.division;
              //   },
              //   required: true,
              //   validator: "string",
              //   styleClasses: "ml-3 col-md-11"
              // },
              {
                type: "input",
                inputType: "text",
                label: "Name",
                model: "name",
                placeholder: "Enter Your name",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                label: "NRIC No",
                model: "nric",
                placeholder: "Enter Your NRIC No",
                validator: "string",
                required: true,
                styleClasses: "col-md-12"
              },
              // {
              //   type: "input",
              //   inputType: "text",
              //   label: "Passport No",
              //   model: "passportNo",
              //   placeholder: "Enter Your passport No",
              //   validator: "string",
              //   styleClasses: "ml-3 col-md-11"
              // },
              {
                type: "input",
                inputType: "email",
                label: "Email",
                model: "email",
                placeholder: "Enter Your email",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                label: "Address",
                model: "DIST_ADDR_1",
                placeholder: "Enter Your Address",
                hint: "Street Address",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                model: "DIST_ADDR_2",
                placeholder: "Enter street address",
                hint: "Street Address line 2",
                styleClasses: "col-md-12",
              },
              {
                type: "input",
                inputType: "text",
                model: "DIST_ADDR_3",
                placeholder: "Enter street address",
                hint: "Street Address line 3",
                styleClasses: "col-md-12",
              },
              {
                type: "vueMultiSelect",
                model: "DIST_COUNTRY",
                label: "Country",
                placeholder: "Enter Your Country",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "SET_PARAM",
                  label: "SET_PARAM",
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.country;
                },
              },
              {
                type: "vueMultiSelect",
                model: "DIST_STATE",
                label: "State",
                placeholder: "Select Your state",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "SET_PARAM",
                  label: "SET_PARAM",
                  searchable: true,
                },
                visible: (model, field, form) => {
                  return model.DIST_COUNTRY.SET_CODE == "MY";
                },
                values: (model, schema) => {
                  return this.state;
                },
              },
              {
                label: "State",
                type: "input",
                inputType: "text",
                model: "DIST_STATE",
                placeholder: "Enter Your State",
                styleClasses: "col-md-6",
                required: true,
                validator: "required",
                visible: (model, field, form) => {
                  return model.DIST_COUNTRY.SET_CODE != "MY";
                },
              },
              {
                type: "vueMultiSelect",
                model: "DIST_CITY",
                label: "City",
                placeholder: "Enter Your City",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "SET_CITY_NAME",
                  label: "SET_CITY_NAME",
                  searchable: true,
                },
                visible: (model, field, form) => {
                  return model.DIST_COUNTRY.SET_CODE == "MY";
                },
                values: (model, schema) => {
                  return this.city;
                },
              },
              {
                label: "City",
                type: "input",
                inputType: "text",
                model: "DIST_CITY",
                placeholder: "Enter Your City",
                styleClasses: "col-md-6",
                required: true,
                validator: "required",
                visible: (model, field, form) => {
                  return model.DIST_COUNTRY.SET_CODE != "MY";
                },
              },
              {
                label: "Postcode",
                type: "input",
                inputType: "text",
                model: "DIST_POSTAL",
                placeholder: "Enter Your Postcode",
                styleClasses: "col-md-6",
                required: true,
                validator: "required",
                visible: (model, field, form) => {
                  return model.DIST_COUNTRY.SET_CODE != "MY";
                },
              },
              {
                type: "vueMultiSelect",
                model: "DIST_POSTAL",
                label: "Postcode",
                placeholder: "Enter Your Postcode",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "POSTCODE",
                  label: "POSTCODE",
                  searchable: true,
                },
                visible: (model, field, form) => {
                  return model.DIST_COUNTRY.SET_CODE == "MY";
                },
                values: (model, schema) => {
                  return this.postcode;
                },
              },

              {
                type: "vueMultiSelect",
                label: "Distributor",
                model: "distributor",
                placeholder: "Select Distributor",
                required: true,
                validator: "required",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "DISTRIBUTOR_ID",
                  label: "DIST_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.distributor;
                }
              },
              {
                type: "vueMultiSelect",
                label: "Distributor Point Name",
                model: "distributor",
                placeholder: "Select Distributor Point Name",
                required: true,
                validator: "required",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "DISTRIBUTOR_ID",
                  label: "DIST_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.distributor;
                }
              },
              {
                type: "vueMultiSelect",
                label: "Department",
                model: "department",
                placeholder: "Select Department",
                selectOptions: {
                  multiple: false,
                  key: "DISTRIBUTOR_MANAGE_GROUP_ID",
                  label: "DISTRIBUTOR_MANAGE_GROUP_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.distGroup;
                },
                required: true,
                styleClasses: "col-md-12"
              },
              // {
              //   type: "vueMultiSelect",
              //   label: "Division",
              //   model: "distributor",
              //   placeholder: "Select Distributor",
              //   required: true,
              //   validator: "required",
              //   styleClasses: "col-md-12",
              //   selectOptions: {
              //     multiple: false,
              //     key: "DISTRIBUTOR_ID",
              //     label: "DIST_NAME",
              //     searchable: true
              //   },
              //   values: (model, schema) => {
              //     return this.distributor;
              //   }
              // },
            ]
          }
        ]
      },

      thirdTabSchema: {
        fields: [
          {
            type: "checkbox",
            styleClasses: "ml-1 col-md-1"
          },
          {
            label:
              " I agree to abide by the applicable Terms and Condition of use for this system and relevant laws and rules issued by FIMM",
            styleClasses: "col-md-10"
          },
          {
            type: "checkbox",
            styleClasses: "ml-1 col-md-1"
          },
          {
            label:
              " I hereby confirm that the information given herein and in any other document provided for purposes of my application and registration with FIMM is true and accurate",
            styleClasses: "col-md-10"
          }
        ]
      }
    };
  },

  methods: {

    async getDistManageGroup () {
      const response = await services06Module1.getDistGroup();
      console.log(response.data);
      this.distGroup = response.data;
    },
    async getDistUserInfo() {
      const response = await services03Module1.getDistUserInfo(JSON.parse(localStorage.getItem("user")).user_id);
      this.email = response.data.data.USER_EMAIL;
    },
    async getDistributor() {
      console.log("get distributor")
      const response = await services03Module1.getDistributor();
      this.distributor = response;
    },
    async getCountry() {
      const response = await services06Module0.getSettingGeneral("COUNTRY");
      this.country = response;
      this.getState(this.country.SETTING_GENERAL_ID);
    },
    async getCity(data) {
      // const data = {
      //   SETTING_GENERAL_ID: data
      // };
      const response = await services06Module0.getCity(data);
      this.city = response;
    },
    async getPostcode(data) {
      const response = await services06Module0.getPostcodeByID(data);
      this.postcode = response;
    },
    async getState(id) {
      const data = {
        SETTING_GENERAL_ID: id,
        SET_TYPE: "STATE",
      };
      const response = await services06Module0.getStateById(data);
      this.state = response;
    },
    async getDefaultCountry() {
      try {
        const response = await services06Module0.getDefaultCountry();
        this.model.DIST_COUNTRY = response;
      } catch (error) {
        console.log(error);
      }
    },
    async submitUserUpdate() {
      const vm = this;
      alert("start");
      // alert(JSON.stringify(this.model.companyLogo));
      const user = localStorage.getItem("user");
      const data = new FormData();
      // data.append("FILEOBJECT2", this.uploadFileOject2);\]
      data.append("USER_ID", JSON.parse(user).user_id);
      data.append("USER_NAME", this.model.name ?? "");
      data.append("USER_ADDR_1", this.model.DIST_ADDR_1 ?? "");
      data.append("USER_ADDR_2", this.model.DIST_ADDR_2 ?? "");
      data.append("USER_ADDR_3", this.model.DIST_ADDR_3 ?? "");
      data.append("USER_ADDR_COUNTRY", this.model.DIST_COUNTRY ?? "");
      data.append("USER_ADDR_CITY", this.model.DIST_CITY ?? "");
      data.append("USER_ADDR_STATE", this.model.DIST_STATE ?? "");
      data.append("USER_ADDR_POSTAL", this.model.DIST_POSTAL ?? "");

      data.append("NRIC_IMAGE", this.applicantPhoto ?? "");
      data.append("USER_DOCS", this.uploadFileObject ?? "");

      data.append("USER_DIST_ID", this.model.distributor.DISTRIBUTOR_ID ?? "");

      data.append("USER_DEPARTMENT", this.model.department.DISTRIBUTOR_MANAGE_GROUP_ID ?? "");
      // data.append("USER_DIVISION", this.model.division ?? "");

      data.append("APPR_STATUS", 2);

      //notification

      data.append("NOTI_LOCATION", "distributor-user-management-list");
      var remarkEntry = "(DIST-USER)NEW USER REGISTRATION";
      data.append("NOTI_REMARK", remarkEntry);
      data.append("DISTRIBUTOR_ID", this.model.distributor.DISTRIBUTOR_ID);

      console.log(data);


      try {
        const response = await services06Module1.updateUserProfile(data);

      } catch (error) {
        console.log(error);
      }

    },

    onModelUpdated (newVal, schema) {
      if (schema == 'citizenship' && newVal == 'Malaysian') {
        this.visibleNRICNo = true
        this.visiblePassportNo = false
      // eslint-disable-next-line eqeqeq
      } else if (schema == 'citizenship' && newVal == 'Non-Malaysian') {
        this.visibleNRICNo = false
        this.visiblePassportNo = true
      } else if (schema === "DIST_COUNTRY") {
        this.model.DIST_POSTAL = null;
        this.city = [];
        this.model.DIST_CITY = null;
        this.model.DIST_STATE = null;
        if (newVal.SET_CODE === "MY") {
          // this.getPostcode();
          // this.getState(newVal.SETTING_GENERAL_ID);
        }
      } else if (schema === "DIST_POSTAL") {
        // this.model.city = null;
        //  this.model.state = null;
        if (this.model.DIST_COUNTRY.SET_CODE === "MY") {
          this.getCity(this.model.DIST_POSTAL.SETTING_CITY_ID);
        }
      } else if (schema === "DIST_CITY") {
        if (this.model.DIST_COUNTRY.SET_CODE === "MY") {
          this.getPostcode(this.model.DIST_CITY.SETTING_CITY_ID);
        }
      } else if (schema === "DIST_STATE") {
        // this.model.city = null;
        if (this.model.DIST_COUNTRY.SET_CODE === "MY") {
          this.getCity(this.model.DIST_STATE.SETTING_GENERAL_ID);
        }
      }
    },

    switchView(type) {
      this.viewType = type;
    },

    filesSelected: function(fileRecordsNewlySelected) {
      console.log(fileRecordsNewlySelected);
      //  this.uploadFileObject = [];
      var validFileRecords = fileRecordsNewlySelected.filter(
        fileRecord => !fileRecord.error
      );
      this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
        validFileRecords
      );
      console.log(fileRecordsNewlySelected);
      this.uploadFileObject = this.fileRecordsForUpload[0].file;
    },

    uploadImage(index, item) {
      item.selected = true;
      // eslint-disable-next-line eqeqeq
      if (index == 0) {
        // console.log(this.$refs.applicantPhoto[0].files[0]);
        this.applicantPhoto = this.$refs.applicantPhoto[0].files[0];
        const reader = new FileReader();
        reader.addEventListener(
          "load",
          function() {
            this.$refs.applicantPhotoDisplay[0].src = reader.result;
          }.bind(this),
          false
        );

        reader.readAsDataURL(this.applicantPhoto);
        console.log(item.selected);
        // item.selected = true;
      }
    },

    handleFileChange(e) {
      this.$emit("input", e.target.files[0]);
      this.fileName1 = e.target.files[0].name;
      console.log(e.target.files[0].name);
      // if (this.$refs.fileName1.files[0]) {
      //   console.log(this.$refs.fileName1.files[0].name);
      //   this.model.fileName1 = this.$refs.fileName1.files[0].name;
      // }
      // if (this.$refs.fileName2.files[0]) {
      //   console.log(this.$refs.fileName2.files[0].name);
      //   this.model.fileName2 = this.$refs.fileName2.files[0].name;
      // }
      // if (this.$refs.fileName3.files[0]) {
      //   console.log(this.$refs.fileName3.files[0].name);
      //   this.model.fileName3 = this.$refs.fileName3.files[0].name;
      // }
      // if (this.$refs.fileName4.files[0]) {
      //   console.log(this.$refs.fileName4.files[0].name);
      //   this.model.fileName4 = this.$refs.fileName4.files[0].name;
      // }
    },
    onComplete() {
      // alert(JSON.stringify(this.model));
    },
    validatePassword(value) {
      //* * must contain letter only (lowercase and uppercase) */
      const expression1 = /^[a-zA-Z]+$/;
      const expression2 = /^[a-zA-Z]*[A-Z]+[a-zA-Z]*$/;
      //* * must contain at least one uppercase letter, one lower case letter and one number */
      const expression4 = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])([a-zA-Z0-9]+)$/;
      //* * must contain at least one uppercase letter, one lower case letter, one number and one character */
      const expression5 = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-])([a-zA-Z0-9#?!@$%^&*-]+)$/;
      //* * must contain at least one uppercase letter, one lower case letter, one number and one character with minimum length*/
      const expression6 = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-])([a-zA-Z0-9#?!@$%^&*-]+).{8}$/;

      console.log(expression1.test(value));
      if (!expression1.test(value)) {
        this.passwordStrength = "";
        return ["Password must contain letter only"];
      }
    },
    isEqualTo(value, field, model) {
      if (!_.has(field, "equals")) return ["Confirm password is required"];
      const a = _.get(model, _.get(field, "equals"));
      const b = value;
      if (_.isEqual(a, b)) return [];
      return ["Password do not match"];
    },

    validateFirstTab() {
      return this.$refs.firstTabForm.validate();
    },
    validateSecondTab() {
      return this.$refs.secondTabForm.validate();
    },
    validateThirdTab: function() {
      return this.$refs.thirdTabForm.validate();
    }
  }
};
</script>

<style lang="scss">
.w-150px {
  width: 150px;
  height: 150px;
}

.vue-form-wizard .wizard-icon-circle .wizard-icon-container {
  border-radius: 50% !important;
  margin: -4px;
}
</style>
