<template>
  <div>
    <b-card class="mt-5 no-shadow">
      <h5 class="mb-4">Exam Sessions</h5>

      <div class="row">
        <div class="col-md-4">
          <b-form-group label="State:" label-for="exam-state" description="">
            <multiselect
              id="exam-state"
              v-model="selected_state"
              :options="states"
              placeholder="Select a state"
              @select="onStateSelected"
            >
            </multiselect>
          </b-form-group>
        </div>

        <div class="col-md-4">
          <b-form-group
            label="Exam Center:"
            label-for="exam-center"
            description=""
          >
            <multiselect
              v-model="selected_center"
              :options="exam_centers"
              track-by="siteid"
              label="sitename"
              placeholder="Select one"
              @select="onCenterSelected"
            >
            </multiselect>
          </b-form-group>
        </div>

        <div class="col-md-4">
          <b-form-group
            label="Start from:"
            label-for="exam-center"
            description=""
          >
            <datepicker
              placeholder="dd-MM-yyyy"
              format="dd-MMM-yyyy"
              input-class="form-control bgcolor col-md-12"
              :typeable="false"
              @selected="isDatePicked"
              :value="calendar_selected"
            ></datepicker>
          </b-form-group>
        </div>
      </div>
      <div class="row min-500">
        <div class="col-md-12">
          <b-table
            bordered
            outlined
            hover
            :items="exam_sessions"
            :fields="fields"
            show-empty
            head-variant="light"
            sticky-header
            class="mt-4"
          >
            <template #empty="data">
              <span>No record available.</span>
            </template>
            <!-- index column -->
            <template #cell(index)="data">
              {{ data.index + 1 }}
            </template>

            <!-- date column -->
            <template #cell(date)="data">
              {{ convertToDateTimeObject(data.item.timeopen).date }}
            </template>

            <!-- date column -->
            <template #cell(time)="data">
              {{ convertToDateTimeObject(data.item.timeopen).time }}
            </template>

            <!-- date column -->
            <template #cell(day)="data">
              {{ convertToDateTimeObject(data.item.timeopen).day }}
            </template>

            <!-- date column -->
            <template #cell(action)="data">
              <b-button variant="success" @click="selectSession(data.item)"
                >Book</b-button
              >
            </template>
          </b-table>
        </div>

        <!-- Selected sessions tabled -->
        <div class="col-md-12 mt-2">
          <div class="">Selected Exam Sessions:</div>
          <b-table
            bordered
            outlined
            hover
            :items="selected_sessions"
            :fields="fields"
            show-empty
            head-variant="light"
            sticky-header
          >
            <template #empty="data">
              <span>No record available.</span>
            </template>
            <!-- index column -->
            <template #cell(index)="data">
              {{ data.index + 1 }}
            </template>

            <!-- date column -->
            <template #cell(date)="data">
              {{ convertToDateTimeObject(data.item.timeopen).date }}
            </template>

            <!-- date column -->
            <template #cell(time)="data">
              {{ convertToDateTimeObject(data.item.timeopen).time }}
            </template>

            <!-- date column -->
            <template #cell(day)="data">
              {{ convertToDateTimeObject(data.item.timeopen).day }}
            </template>

            <!-- date column -->
            <template #cell(action)="data">
              <!-- {{ data.item.sessionid }} -->
              <b-button variant="danger" @click="removeSession(data.item)"
                >Remove</b-button
              >
            </template>
          </b-table>
        </div>
      </div>
    </b-card>
  </div>
</template>
<script>
import moment from "moment";
import * as ExamAPI from "../../../services/exam";

export default {
  data() {
    return {
      states: [],
      selected_state: null,
      exam_centers: [],
      selected_center: null,
      // Note `isActive` is left out and will not appear in the rendered table
      fields: [
        { key: "index", class: "text-center" },
        { key: "date", label: "Exam Date", class: "text-center" },
        { key: "time", label: "Session Time", class: "text-center" },
        { key: "day", label: "Day", class: "text-center" },
        { key: "center.sitename", label: "Centre Name", class: "text-center" },
        { key: "center.city", label: "Centre Location", class: "text-center" },
        {
          key: "availableseat",
          label: "Available Seats",
          class: "text-center",
        },
        { key: "action", label: "Action", class: "text-center" },
      ],
      exam_sessions: [],
      calendar_selected: new Date(2021, 8, 15),
      date_start_from: "15/09/2021",
      consultant_license_id: 43,
      selected_sessions: [],
    };
  },
  methods: {
    async getExamStates() {
      try {
        const response = await ExamAPI.get_exams_states();
        console.log(response);
        this.states = response.data;
      } catch (error) {
        console.log(error);
      }
    },

    async getExamCenter(state) {
      try {
        const response = await ExamAPI.get_exams_center(state);
        console.log(response);
        this.exam_centers = response.data;
      } catch (error) {
        console.log(error);
      }
    },

    async getExamListPreference() {
      if (
        this.consultant_license_id &&
        this.selected_center &&
        this.date_start_from
      ) {
        try {
          const response = await ExamAPI.get_exams_preferences(
            this.consultant_license_id,
            this.selected_center.siteid,
            this.date_start_from
          );
          console.log(response);
          this.exam_sessions = response.data;
        } catch (error) {
          console.log(error);
        }
      }
    },
    onCenterSelected(center, id) {
      console.log(center);
      this.selected_center = center;
      this.exam_sessions = [];
      this.getExamListPreference();
    },
    onStateSelected(state, id) {
      console.log(state, id);
      this.selected_center = null;
      this.exam_centers = [];
      this.exam_sessions = [];
      this.getExamCenter(state);
    },
    selectSession(session) {
      this.selected_sessions = _.unionBy(
        this.selected_sessions,
        [session],
        "sessionid"
      );
    },
    removeSession(session) {
      this.selected_sessions = _.reject(this.selected_sessions, {
        sessionid: session.sessionid,
      });
    },
    isDatePicked(selected_date) {
      this.calendar_selected = selected_date;
      this.date_start_from = moment(this.calendar_selected).format(
        "DD/MM/YYYY"
      );

      this.getExamListPreference();
    },
    convertToDateTimeObject(value){
      let date_time = moment(value, "DD/MM/YYYY hh:mm:ss")
      let session_time = {
        date: date_time.format("hh:mm:ss a"),
        time: date_time.format("DD/MM/YYYY"),
        day: date_time.format("dddd")
      }
      return session_time
    }
  },
  created() {
    this.getExamStates();
  },
};
</script>
<style lang="scss">
.table thead th {
  font-weight: bold;
  font-size: 1rem;
}

.min-500 {
  min-height: 500px;
}
</style>
