<template>
  <div>
    <b-card class="mt-5 mb-5 no-shadow">
      <h5 class="mb-4">Exemption</h5>

      <div class="row">
        <div class="col-md-8">
          <b-form-group label="Exemption Category:" label-for="exemption-category" description="">
            <multiselect
              id="exemption-category"
              v-model="selected_exemption_category"
              :options="general_settings.EXEMPTION_CATEGORIES"
              track-by="EXEMPTION_CATEGORY_ID"
              label="NAME"
              placeholder="Select a category"
              @select="onExemptionSelected"
            >
            </multiselect>
            <!-- {{ selected_exemption_category }} -->
          </b-form-group>
        </div>
      </div>
      <div class="row mt-3 mb-5" v-if="selected_exemption_category">
        <div class="col-md-8">
          <exemption-category-ceo v-if="selected_exemption_category.EXEMPTION_CATEGORY_ID === 3 "></exemption-category-ceo>

          <exemption-category-director v-if="selected_exemption_category.EXEMPTION_CATEGORY_ID === 4"></exemption-category-director>

          <exemption-category-financial-planner v-if="selected_exemption_category.EXEMPTION_CATEGORY_ID === 2"></exemption-category-financial-planner>

          <exemption-category-fund-manager v-if="selected_exemption_category.EXEMPTION_CATEGORY_ID === 1"></exemption-category-fund-manager>

          <exemption-category-insurance-agent v-if="selected_exemption_category.EXEMPTION_CATEGORY_ID === 5"></exemption-category-insurance-agent>

          <exemption-category-unit-trust-consultant v-if="selected_exemption_category.EXEMPTION_CATEGORY_ID === 6"></exemption-category-unit-trust-consultant>
        </div>
      </div>
    </b-card>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import * as ExamAPI from "../../../services/exam";
import ExemptionCategoryCeo from "./exemptions/exmp_ceo.vue"
import ExemptionCategoryDirector from "./exemptions/exmp_director.vue"

import ExemptionCategoryFinancialPlanner from "./exemptions/exmp_financial_planner.vue"
import ExemptionCategoryFundManager from "./exemptions/exmp_fund_manager.vue"
import ExemptionCategoryInsuranceAgent from "./exemptions/exmp_insurance_agent.vue"
import ExemptionCategoryUnitTrustConsultant from "./exemptions/exmp_unit_trust_consultant.vue"
export default {
  components:{
    ExemptionCategoryCeo,
    ExemptionCategoryDirector,
    ExemptionCategoryFinancialPlanner,
    ExemptionCategoryFundManager,
    ExemptionCategoryInsuranceAgent,
    ExemptionCategoryUnitTrustConsultant
  },
  computed: {
    ...mapGetters({ general_settings: "getGeneralSettings" }),
  },
  data(){
    return{
      selected_exemption_category: null
    }
  },
  methods:{
    onExemptionSelected(item){
      console.log(item)
    }
  },
  created(){
  }
};
</script>

<style scoped lang="scss">

</style>
