<template>
  <div class="row">
    <div class="col-12">
      <va-card>
        <form-wizard
          @on-complete="onComplete"
          color="#FF5050"
          error-color="#a94442"
          finish-button-text="Submit"
          ref="wizardForm"
        >
          <h3 slot="title"></h3>
          <!-- section 1 -->
          <tab-content
            icon="fa fa-user"
            title="1. Personal Particulars of Applicant"
            :before-change="beforeTabSwitch_1"
          >
            <form-personal-particular
              ref="refPersonalParticular"
            ></form-personal-particular>
          </tab-content>
          <!-- section 2 -->
          <tab-content
            icon="fa fa-info"
            title="2. Type of Consultant"
            :before-change="beforeTabSwitch_2"
          >
            <form-consultant-type
              ref="refConsultantType"
              :parentDataLoaded="applicationFormDataLoaded"
              :formDataModel="applicationFormData"
            ></form-consultant-type>
          </tab-content>

          <!-- section 2 -->
          <tab-content
            icon="fa fa-info"
            title="3. Examination"
            :before-change="beforeTabSwitch_2"
          >
            <form-examination
              ref="refExamination"
              :parentDataLoaded="applicationFormDataLoaded"
              :formDataModel="applicationFormData"
            ></form-examination>
          </tab-content>

          <!-- section 4 -->
          <tab-content icon="fa fa-folder" title="4. Other Document">
            Other document
            <form-other-document></form-other-document>
          </tab-content>

          <br />
          <br />
          <!-- button -->

          <b-modal
            ref="declaration-personal-details"
            :hide-header="true"
            :hide-header-close="true"
          >
            <div class="d-block text-center">
              <h4>Declaration of Personal Details</h4>
            </div>
            <div class="d-block text-left">
              <h6>
                By submitting this application to FIMM, I hereby confirm that
              </h6>
              <ul>
                <li>i.</li>
                <li>ii.</li>
                <li>iii.</li>
              </ul>
            </div>

            <template #modal-footer>
              <div>
                <button
                  type="button"
                  class="ml-2 btn btn-primary btn-fill btn-md"
                  @click="submitRegistrationForm"
                >
                  OK
                </button>
              </div>
            </template>
          </b-modal>

          <template
            slot="footer"
            slot-scope="{ activeTabIndex, isLastStep, nextTab, prevTab }"
          >
            <div class="float-left">
              <button
                v-if="activeTabIndex > 0"
                @click="prevTab"
                type="button"
                class="btn btn-primary btn-fill btn-md"
              >
                <i class="fa fa-step-backward" /> &nbsp; Previous
              </button>
            </div>
            <div class="float-right">
              <button
                @click="saveAsDraft"
                type="button"
                class="btn btn-info btn-fill btn-md"
              >
                <i class="fa fa-edit" /> &nbsp;Save as Draft
              </button>

              <button
                v-if="!isLastStep"
                @click="nextTab"
                type="button"
                class="ml-2 btn btn-primary btn-fill btn-md"
              >
                Next &nbsp; <i class="fa fa-step-forward" />
              </button>
              <button
                v-if="isLastStep"
                @click="displayDeclarationModal"
                type="button"
                class="ml-2 btn btn-primary btn-fill btn-md"
              >
                <i class="fa fa-paper-plane" /> Submit
              </button>
            </div>
          </template>
        </form-wizard>
      </va-card>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";
import FormPersonalParticular from "../components/applications/form_personal_particulars";
import FormConsultantType from "../components/applications/form_type_of_consultant";
// import FormConsultantType from "../components/applications/application_form_type_of_consultant";
import FormExamination from "../components/applications/form_examination";
import FormOtherDocument from "../components/applications/application_form_other_documents";

import * as services02module2 from "../../../app/module2/services02";

export default {
  components: {
    FormPersonalParticular,
    FormConsultantType,
    FormExamination,
    FormOtherDocument,
  },
  data() {
    return {
      user: null,
      applicationFormData: {},
      applicationFormDataLoaded: false,
    };
  },
  computed: {
    ...mapGetters({
      general_settings: "getGeneralSettings",
      applicant_details: "getApplicantDetails",
    }),
  },
  methods: {
    ...mapActions({ loadGeneralSettings: "setGeneral" }),
    ...mapMutations({ setApplicantParticulars: "setApplicantParticulars" }),
    displayDeclarationModal: async function () {
      this.$refs["declaration-personal-details"].show();
    },
    onComplete: function () {
      console.log("Complete");
    },
    beforeTabSwitch_1: function () {
      console.log("inside beforeTabSwitch1");
      return true;
    },
    beforeTabSwitch_2: function () {
      console.log("inside beforeTabSwitch2");
      return true;
    },
    beforeTabSwitch_3: function () {
      console.log("inside beforeTabSwitch3");
      return true;
    },
    beforeTabSwitch_4: function () {
      console.log("inside beforeTabSwitch4");
      return true;
    },
    //  APIs
    getApplicationForm: async function (data) {
      try {
        const response = await services02module2.getConsultantByID(data);
        if (response) {
          this.applicationFormData = response;
          this.applicationFormDataLoaded = true;
        }
      } catch (error) {
        console.log(error);
      }
    },
    saveAsDraft: async function () {
      console.log("saveAsDraft");
      const component = this.$refs.refPersonalParticular;
      console.log(component);
      Event.$emit("CONSULTANT:SAVE_DATA");
    },
  },
  created() {
    const data = JSON.parse(localStorage.getItem("user"));
    this.user = data.consultant;
    this.applicationFormData = this.user;
    this.applicationFormDataLoaded = true;

    // Load general settings
    this.loadGeneralSettings();
    this.setApplicantParticulars(this.user);
  },
};
</script>

<style lang="scss">
input::placeholder {
  /* Recent browsers */
  text-transform: none;
}
.text-uppercase input {
  text-transform: uppercase !important;
}
.text-uppercase label {
  /* Recent browsers */
  text-transform: none;
}
.display-inline label {
  display: inline !important;
  padding: 5px;
}

.app-layout__main {
  background: #e8e8e8;
}
.container {
  max-width: 620px;
  min-width: 420px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #888;
}

/* Style the tabs */
.tabs {
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: -2px; // hide bottom border
}

.tabs ul {
  list-style-type: none;
  margin-left: 20px;
}

.tabs a {
  float: left;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 0.2s;
  border: 1px solid #ccc;
  border-right: none;
  background-color: #f1f1f1;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
.tabs a:last-child {
  border-right: 1px solid #ccc;
}

/* Change background color of tabs on hover */
.tabs a:hover {
  background-color: #aaa;
  color: #fff;
}

/* Styling for active tab */
.tabs a.active {
  background-color: #fff;
  color: #484848;
  border-bottom: 2px solid #fff;
  cursor: default;
}

/* Style the tab content */
.tabcontent {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #e1e1e1;
}
</style>
<style scoped>
/* .text-uppercase {
  text-transform: uppercase;
} */
.widthModal {
  width: 80%;
}
.width {
  width: 100%;
}
.widthName {
  width: 5%;
}
</style>
