<template>
  <va-card>
    <h4 slot="header" class="card-title">
      Edit Letter Template
    </h4>
    <br />
    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">Title :</h5></b>
      </div>
      <div class="col-md-9">
        <!-- <div class="form-group"> -->
        <input
          type="text"
          v-model="LETTER.CAS_LETTER_TITTLE"
          class="form-control form-control-md"
        />
        <!-- </div> -->
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">Content :</h5></b>
      </div>
      <div id="app" class="col-md-9">
        <vue-editor v-model="LETTER.CAS_LETTER_DESC"></vue-editor>
      </div>
    </div>
    <br />
    <br />
    <button
      @click="back"
      type="button"
      class="float-left btn btn-primary btn-fill btn-md"
    >
      <i class="fa fa-step-backward" /> &nbsp; Previous
    </button>
    <div class="ml-2 float-right">
      <b-button
        @click="submit"
        type="button"
        class="btn btn-primary btn-fill btn-md"
      >
        <i class="fa fa-paper-plane" /> &nbsp; Publish
      </b-button>
    </div>
  </va-card>
</template>

<script>
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue'

// Import Bootstrap an BootstrapVue CSS files (order is important)
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import { debounce } from 'lodash'
import moment from 'moment'
import * as servicesModule0 from '../../../../app/module0/services05'
export default {


  mounted () {
    var data = localStorage.getItem('edit-letter')
    this.LETTER = JSON.parse(data)

  },
  methods: {
    async getLetterById () {
      console.log('id letter : ' + this.model.CAS_LETTER_ID)
      const response = await servicesModule0.getLetterById(
        this.model.CAS_LETTER_ID,)
        console.log("filee : ");
      this.model = response.letter; 
    },

    async submit () {
      const data = new FormData()
      data.append('CAS_LETTER_ID', this.CAS_LETTER_ID)
      data.append("CAS_LETTER_TITTLE", this.LETTER.CAS_LETTER_TITTLE)
      data.append("CAS_LETTER_DESC", this.LETTER.CAS_LETTER_DESC)
      try {
        // eslint-disable-next-line no-unused-vars
        const response = await servicesModule0.updateLetter(data)
      } catch (error) {
        console.log(error)
      }
      this.$router.push("/fimm/letter-list");
    },
    back () {
      this.$router.push('/fimm/letter-list')
    },

  },
  data () {
    return {
      LETTER: ' ',
      
      LETTER: {
        CAS_LETTER_ID: '',
        CAS_LETTER_TITTLE: '',
        CAS_LETTER_DESC: '',
      },

    }
  },

}
</script>
<style lang="scss">
.bgcolor {
  background-color: white !important;
}
</style>
