<template>
  <va-card>
    <h4 slot="header" class="card-title">
      Create New Letter Template
    </h4>
    <br />
    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">Title :</h5></b>
      </div>
      <div class="col-md-9">
        <!-- <div class="form-group"> -->
        <input
          type="text"
          v-model="model.LETTER_TITLE"
          class="form-control form-control-md"
        />
        <!-- </div> -->
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">Content :</h5></b>
      </div>
      <div id="app" class="col-md-9">
        <vue-editor v-model="model.CAS_LETTER_DESC"></vue-editor>
      </div>
    </div>
    <br />
    <br />

    <button
      @click="back"
      type="button"
      class="float-left btn btn-primary btn-fill btn-md"
    >
      <i class="fa fa-step-backward" /> &nbsp; Previous
    </button>
    <div class="ml-2 float-right">
      <b-button
        @click="save"
        type="button"
        class="ml-2 btn btn-primary btn-fill btn-md"
      >
        <i class="fa fa-paper-plane" /> &nbsp; Save
      </b-button>
    </div>
  </va-card>
</template>

<script>
// Import Bootstrap an BootstrapVue CSS files (order is important)
import "bootstrap/dist/css/bootstrap.css"
import "bootstrap-vue/dist/bootstrap-vue.css"
import { debounce } from "lodash"
import moment from "moment"
import * as servicesModule0 from "../../../../app/module0/services05"
export default {
  mounted() {
    // this.getAllEvent();
  },
  methods: {

    async save () {
      const data = new FormData()
      data.append("CAS_LETTER_TITTLE", this.model.LETTER_TITLE)
      data.append("CAS_LETTER_DESC", this.model.CAS_LETTER_DESC)
      try {
        // eslint-disable-next-line no-unused-vars
        const response = await servicesModule0.createLetter(data)
      } catch (error) {
        console.log(error)
      }
      this.$router.push("/fimm/letter-list");
    },
    
    back () {
      this.$router.push("/fimm/letter-list");
    },

  },
  data() {
    return {

      model: {
        LETTER_TITLE: "",
        CAS_LETTER_DESC: "<h5></h5>",
      },

    }
  }

}
</script>
<style lang="scss">
.bgcolor {
  background-color: white !important;
}
</style>
