<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">LIST OF DISTRIBUTOR</h4>
      <br />
      <div class="col float-right">
        <div class="float-right">
          <h5>
            <b-badge v-b-toggle.collapse-1 class="mr-1" variant="secondary"
            ><i class="fa fa-search"></i
            ></b-badge>

            <downloadExcel
        :json_data="RecordList"
        :excelname="excelname"
        :sheetname="sheetname"
        :column="column"
      ></downloadExcel>
          </h5>
        </div>
      </div>
    </div>
    <!-- advanced search form -->
    <b-collapse id="collapse-1" class="mt-2">
      <b-card>
        <vue-form-generator
          :model="model"
          :schema="advancedSearchSchema"
          ref="advancedSearchForm"
        >
        </vue-form-generator>
        <br />
        <button
          @click="filterRecord"
          type="button"
          class="ml-2 btn btn-sm btn-primary"
        >
          Search
        </button>
        <button
          @click.prevent="reset"
          type="button"
          class="ml-2 btn btn-sm btn-danger"
        >
          Reset
        </button>
      </b-card>
    </b-collapse>

    <br />
    <div class="float-right">
      <va-input
        :value="term"
        :placeholder="$t('Search')"
        @input="search"
        removable
      >
        <va-icon name="fa fa-search" slot="prepend" />
      </va-input>
    </div>

    <!-- list table-->
    <va-card class="mt-5 col-12">
      <va-data-table
        :fields="RecordFields"
        :data="RecordFilteredData"
        no-data-label="No data found"
        :per-page="parseInt(perPage)"
        :dataperpage="parseInt(perPage)"
        :datacount="RecordCount"
        clickable
      >
        <template slot="no" slot-scope="row">
          {{ row.rowIndex + 1 }}
        </template>
        <template slot="flag1" slot-scope="props">
          <h1 class="mt-1">
            <span
              v-if="props.rowData.FIN_STATUS == 15 "
              title="Pending"
              class="badge  mr-2"
            >
              <i class="fa fa-flag red-color "></i
            ></span>
            <span
              v-if="props.rowData.FIN_STATUS == 14 "
              title="Reviewed"
              class="badge  mr-2"
            >
              <i class="fa fa-flag green-color"></i
            ></span>
            <span
              v-if="props.rowData.FIN_STATUS == 4 "
              title="Verified"
              class="badge  mr-2"
            >
              <i class="fa fa-flag blue-color"></i
            ></span>
            <span
              v-if="props.rowData.FIN_STATUS == 9 "
              title="Returned"
              class="badge  mr-2"
            >
              <i class="fa fa-flag orange-color "></i
            ></span>
          </h1>
        </template>
        <template slot="flag2" slot-scope="props">
          <h1 class="mt-1">
            <span
              v-if="props.rowData.HODFIN_STATUS == 15 "
              title="Pending"
              class="badge  mr-2"
            >
              <i class="fa fa-flag red-color "></i
            ></span>
            <span
              v-if="props.rowData.HODFIN_STATUS == 14 "
              title="Reviewed"
              class="badge  mr-2"
            >
              <i class="fa fa-flag green-color"></i
            ></span>
            <span
              v-if="props.rowData.HODFIN_STATUS == 4 "
              title="Verified"
              class="badge  mr-2"
            >
              <i class="fa fa-flag blue-color"></i
            ></span>
            <span
              v-if="props.rowData.HODFIN_STATUS == 9 "
              title="Returned"
              class="badge  mr-2"
            >
              <i class="fa fa-flag orange-color "></i
            ></span>
          </h1>
        </template>
        <template slot="actions" slot-scope="props">
          <h5 class="mt-1">
            <span
              v-b-tooltip.hover
              title="View Details"
              v-on:click="viewRecord(props.rowData)"
              class="badge badge-primary mr-2"
            >
              <i class="fa fa-eye"></i
              ></span>
          </h5>
        </template>
      </va-data-table>

      <br />
      <div>
        <table>
          <tr>
    <th>Legend</th>
  </tr>
  <tr>
    <td><i class="fa fa-flag red-color "></i >
    </td>
    <td>PENDING</td>
  </tr>
  <tr>
    <td><i class="fa fa-flag orange-color "></i >
    </td>
    <td>RETURNED</td>
  </tr>
  <tr>
    <td><i class="fa fa-flag green-color "></i >
    </td>
    <td>REVIEWED</td>
  </tr>
  <tr>
    <td><i class="fa fa-flag blue-color "></i >
    </td>
    <td>VERIFIED</td>
  </tr>
        </table>
      </div>
      <br />
      <br />
      <div>
        <button
          @click="back"
          type="button"
          class="btn btn-primary btn-fill btn-md"
        >
          <i class="fa fa-step-backward" /> &nbsp; Previous
        </button>
        <!-- <div class="float-right">
          <button
            @click="saveAsDraft"
            type="button"
            class="ml-2 btn btn-info btn-fill btn-md"
          >
            <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
          </button>
          <button
            @click="VerifyFund"
            type="button"
            class="ml-1 btn btn-success btn-fill btn-md"
          >
            <i class="fa fa-paper-plane" /> &nbsp; Complete
          </button>
        </div> -->
      </div>
      <br/>
    </va-card>
  </va-card>
</template>

<script>
import 'vue-form-generator/dist/vfg.css'
import { debounce } from 'lodash'
import * as servicesModule7 from '../../../app/module7/services05'

export default {
  mounted () {
    // this.getAllClassification()
    this.getAllRecord()
  },
  components: {},

  methods: {

    // searh
    search: debounce(function (term) {
      this.term = term
      console.log(this.term)
    }, 400),

    // advanceSearch
    async filterRecord () {
      try {
        const response = await servicesModule7.filterCancellationRecordList(
          this.model.modelFilter,
        )
        if (response != 'error') {
          this.RecordList = response
        }
      } catch (error) {}
    },

    // back button
    back () {
      this.$router.go(-1)
    },

    // retun button
    returnFund () {
      this.$router.go(-1)
    },

    // verify button
    VerifyFund () {
      this.$router.go(-1)
    },

    // getAllRecord
    getAllRecord: async function () {
      const response = await servicesModule7.getFundSummaryList()
      this.RecordList = response
      this.RecordCount = this.RecordList.length
    },


    async reset () {
      this.model.modelFilter = ''
      this.getAllRecord()
    },

  },

  computed: {
    RecordFields () {
      return [
        {
          name: '__slot:no',
          title: 'NO',
        },
        {
          name: "__slot:flag1",
          title: "FINANCE STATUS",
          dataClass: "justify-content-center",
          // width: "1%",
        },
        // {
        //   name: 'FIN_STATUS1',
        //   title: 'STATUS',
        //   sortField: 'FIN_STATUS1',
        // },
        {
          name: "__slot:flag2",
          title: "HOD FINANCE STATUS",
          dataClass: "justify-content-center",
          width: "1%",
        },
        // {
        //   name: 'HODFIN_STATUS2',
        //   title: 'HOD STATUS',
        //   sortField: 'HODFIN_STATUS2',
        // },
        {
          name: 'INVOICE_NUMBER',
          title: 'INVOICE NUMBER',
          sortField: 'INVOICE_NUMBER',
        },
        {
          name: 'DIST_NAME',
          title: 'DISTRIBUTOR NAME',
          sortField: 'DIST_NAME',
        },
        {
          name: 'TOTAL_LEVY_PAYABLE',
          title: 'TOTAL LEVY PAYABLE (RM)',
          sortField: 'TOTAL_LEVY_PAYABLE',
        },
        {
          name: 'TOTAL_LEVY_PAYABLE_UTC',
          title: 'TOTAL UTC LEVY PAYABLE (RM)',
          sortField: 'TOTAL_LEVY_PAYABLE_UTC',
        },
        {
          name: 'FUND_GROUP',
          title: 'TOTAL PRC LEVY PAYABLE (RM)',
          sortField: 'FUND_GROUP',
        },
        {
          name: 'SALES_CHARGE',
          title: 'TOTAL UTC & PRC LEVY PAYABLE (RM)',
          sortField: 'SALES_CHARGE',
        },
        {
          name: 'SALES_CHARGE',
          title: 'SPLIT-UTC LEVY (RM)',
          sortField: 'SALES_CHARGE',
        },
        {
          name: 'SALES_CHARGE',
          title: 'SPLIT-PRC LEVY (RM)',
          sortField: 'SALES_CHARGE',
        },
        {
          name: 'SALES_CHARGE',
          title: 'UTC CARD FEES (RM)',
          sortField: 'SALES_CHARGE',
        },
        {
          name: 'SALES_CHARGE',
          title: 'PRC CARD FEES (RM)',
          sortField: 'SALES_CHARGE',
        },
        {
          name: 'SALES_CHARGE',
          title: 'UTC & PRC CARD FEES (RM)',
          sortField: 'SALES_CHARGE',
        },
        {
          name: 'SALES_CHARGE',
          title: 'PRC WAIVER (RM)',
          sortField: 'SALES_CHARGE',
        },
        {
          name: 'TOTALAMSF',
          title: 'TOTAL AMSF (RM)',
          sortField: 'TOTALAMSF',
        },
        {
          name: '__slot:actions',
          title: 'ACTION',
          dataClass: 'justify-content-center',
          width: '15%',
        },
      ]
    },

    // eslint-disable-next-line vue/return-in-computed-property
    RecordFilteredData () {
      if (!this.term || this.term.length < 1) {
        return this.RecordList
      }

      return this.RecordList.filter((item) => {
        return this.term

          .split(' ')
          .every(
            // (v) =>
          )
      })
    },
  },

  data () {
    return {
      header: '',
      field: [],
      term: null,
      perPage: '10',
      perPageOptions: ['50', '100', '150', '200'],
      currentPage: 1,
      RecordList: [],
      count: 1,
      RecordCount: null,

      model: {
        modelFilter: {
          DIST_NAME: '',
          SUSP_STATUS: '',
        },
      },

      advancedSearchSchema: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'input',
                inputType: 'text',
                model: 'modelFilter.DIST_NAME',
                label: 'Distributor Name',
                styleClasses: 'col-md-6',
              },
              {
                type: 'input',
                inputType: 'text',
                model: 'modelFilter.CONSULTANT_NAME',
                label: 'Status',
                styleClasses: 'col-md-6',
              },
            ],
          },
        ],
      },

      formOptions: {
        validateAfterChanged: true,
      },
    }
  },
}
</script>
<style lang="css">
.va-data-table__pagination {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.content {
  margin-top: 30px;
  font-size: 20px;
}
.inline {
  display: inline-flex;
  float: right;
}


.red-color {
color:#C00000;
}
.blue-color {
color:#4472C4;
}
.green-color {
color:#92D050;
}
.orange-color {
color:#ED7D31;
}
</style>
