
<template>
  <va-card>
    <h5 slot="header" class="card-title">AMSF/ ANNUAL FEES SUBMISSION YEAR 2020</h5>
    <!-------------------------------- cancellation type -------------------------------------->
    <div>
      <br/>
      <br/>
      <va-card>
        <div class="row justify-content-center">
        <table class="table table-striped">
          <thead>
            <tr>
            <th >NO</th>
            <th style="width: 15%">DISTRIBUTOR NAME</th>
            <th style="width: 15%">DATE SUBMISSION</th>
            <th style="width: 15%">AMSF</th>
            <th style="width: 15%">ANNUAL FEES</th>
            <th style="width: 15%">TOTAL CONSULTANT</th>
            <th>STATUS</th>
          </tr>

          </thead>
          <tbody>
            <tr>
                <td >1</td>
                <td style="width: 15%" >AD FINANCIAL SDN BHD</td>
                <td style="width: 15%" >10 Dec 2020</td>
                <td style="width: 15%"> <router-link class="text-color" :to="{ name: 'AnnualFee-HODRD-AUMVerification-list' }">{{$t("PENDING")}}</router-link></td>
                <td style="width: 15%"> <router-link class="text-color" :to="{ name: 'AnnualFee-HODRD-TGSVerification-list' }">{{$t("PENDING")}}</router-link></td>
                <td style="width: 15%"> <router-link class="text-color" :to="{ name: 'AnnualFee-HODRD-ConsultantVerification-list' }">{{$t("PENDING")}}</router-link></td>
                <td>PENDING</td>
            </tr>
            <tr>
                <td >2</td>
                <td style="width: 15%" >AFFIN HWANG SDN BHD</td>
                <td style="width: 15%" >10 Dec 2020</td>
                <td style="width: 15%"> <router-link class="text-color" :to="{ name: 'AnnualFee-HODRD-AUMVerification-list' }">{{$t("PENDING")}}</router-link></td>
                <td style="width: 15%"> <router-link class="text-color" :to="{ name: 'AnnualFee-HODRD-TGSVerification-list' }">{{$t("PENDING")}}</router-link></td>
                <td style="width: 15%"> <router-link class="text-color" :to="{ name: 'AnnualFee-HODRD-ConsultantVerification-list' }">{{$t("PENDING")}}</router-link></td>
                <td>PENDING</td>
            </tr>
          </tbody>
        </table>
             
      </div>
      <div class="float-right">
                <button @click="save" type="button" class="btn btn-primary btn-fill btn-md">
                    <i class="fa fa-paper-plane" /> &nbsp; Verify
                </button>
      </div>
      </va-card>
      <br/>
      <br/>
    </div>
  </va-card>
</template>

<script>
export default {
  methods: {
    // page dis
    DistributorTermination () {
      this.$router.push('/fimm/PrepaymentRefund-DistributorTermination-list')
    },
    ExamWaiver () {
      this.$router.push('/fimm/PrepaymentRefund-ExamWaiver-list')
    },
  },
}
</script>

<style scoped>
.icon-flex,
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid blue;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapper i {
  color: blue;
}

.icon-wrapperConsultant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapperBoth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapperBoth {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #6600ff;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapperBoth i {
  color: #6600ff;
}
</style>
