<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">AUM ENTRY YEAR 2020</h4>
      <br />
      <div class="col float-right">
        <div class="float-right">
          <h5>
            <b-badge v-b-toggle.collapse-1 class="mr-1" variant="secondary"
            ><i class="fa fa-search"></i
            ></b-badge>
          </h5>
        </div>
      </div>
    </div>
    <!-- advanced search form -->
    <b-collapse id="collapse-1" class="mt-2">
      <b-card>
        <vue-form-generator
          :model="model"
          :schema="advancedSearchSchema"
          ref="advancedSearchForm"
        >
        </vue-form-generator>
        <br />
        <button
          @click="filterRecord"
          type="button"
          class="ml-2 btn btn-sm btn-primary"
        >
          Search
        </button>
        <button
          @click.prevent="reset"
          type="button"
          class="ml-2 btn btn-sm btn-danger"
        >
          Reset
        </button>
      </b-card>
    </b-collapse>

    <br />
    <div class="float-right">
      <va-input
        :value="term"
        :placeholder="$t('Search')"
        @input="search"
        removable
      >
        <va-icon name="fa fa-search" slot="prepend" />
      </va-input>
    </div>

    <!-- list table-->
    <va-card class="mt-5 col-12">
      <va-data-table
        :fields="RecordFields"
        :data="RecordFilteredData"
        no-data-label="No data found"
        :per-page="parseInt(perPage)"
        :dataperpage="parseInt(perPage)"
        :datacount="RecordCount"
        clickable
      >
        <template slot="no" slot-scope="row">
          {{ row.rowIndex + 1 }}
        </template>
      </va-data-table>

      <br />
      <br />
      <br />
      <div>
        <button
          @click="back"
          type="button"
          class="btn btn-primary btn-fill btn-md"
        >
          <i class="fa fa-step-backward" /> &nbsp; Previous
        </button>
        <div class="float-right">
          <button
            type="button"
            class="ml-2 btn btn-info btn-fill btn-md"
          >
            <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
          </button>
          <button
            type="button"
            class="ml-1 btn btn-success btn-fill btn-md"
          >
            <i class="fa fa-paper-plane" /> &nbsp; Complete
          </button>
        </div>
      </div>
      <br/>
    </va-card>
  </va-card>
</template>

<script>
import 'vue-form-generator/dist/vfg.css'
import { debounce } from 'lodash'
import * as servicesModule7 from '../../../app/module7/services05'

export default {
  mounted () {
    // this.getAllClassification()
    this.getAllRecord()
  },
  components: {},

  methods: {

    // create
    create () {
      this.$router.push('/fimm/distributor-Cancellation-Submission')
    },
    // searh
    search: debounce(function (term) {
      this.term = term
      console.log(this.term)
    }, 400),

    // advanceSearch
    async filterRecord () {
      try {
        const response = await servicesModule7.filterCancellationRecordList(
          this.model.modelFilter,
        )
        if (response != 'error') {
          this.RecordList = response
        }
      } catch (error) {}
    },

    // back button
    back () {
      this.$router.go(-1)
    },

    // retun button
    returnFund () {
      this.$router.go(-1)
    },

    // verify button
    VerifyFund () {
      this.$router.go(-1)
    },

    // getAllRecord
    getAllRecord: async function () {
      const user = localStorage.getItem('user')
      const response = await servicesModule7.getaumdetails(
        JSON.parse(user).USER_DIST_ID)
      this.RecordList = response
      this.RecordCount = this.RecordList.length
    },

    async viewRecord (data) {
      if (data.SUSP_STATUS == 16) {
        localStorage.setItem('distributor-Cancellation-Appeal-Details', JSON.stringify(data))
        this.$router.push({
          name: 'distributor-Cancellation-Appeal-Details',
          // params: { DISTRIBUTOR: data },
        })
      } else if (data.SUSP_STATUS == 9) {
        localStorage.setItem('distributor-Cancellation-Return-Details', JSON.stringify(data))
        this.$router.push({
          name: 'distributor-Cancellation-Return-Details',
          // params: { DISTRIBUTOR: data },
        })
      } else {
        localStorage.setItem('distributor-Cancellation-Submission-Details', JSON.stringify(data))
        this.$router.push({
          name: 'distributor-Cancellation-Submission-Details',
          // params: { DISTRIBUTOR: data },
        })
      }
    },

    async reset () {
      this.model.modelFilter = ''
      this.getAllRecord()
    },

  },

  computed: {
    RecordFields () {
      return [
        {
          name: '__slot:no',
          title: 'NO',
        },
        {
          name: 'FIMM_FUND_CODE',
          title: 'FIMM FUND CODE',
          sortField: 'FIMM_FUND_CODE',
        },
        {
          name: 'FUND_NAME',
          title: 'FUND NAME',
          sortField: 'FUND_NAME',
        },
        {
          name: 'CIS_STRUCTURE',
          title: 'CIS STRUCTURE',
          sortField: 'CIS_STRUCTURE',
        },
        {
          name: 'ASSET_CLASS',
          title: 'ASSET CLASS',
          sortField: 'ASSET_CLASS',
        },
        {
          name: 'FUND_GROUP',
          title: 'FUND GROUP',
          sortField: 'FUND_GROUP',
        },
        {
          name: 'SALES_CHARGE',
          title: 'FOREIGN EXCHANGE RATE',
          sortField: 'SALES_CHARGE',
        },
      ]
    },

    // eslint-disable-next-line vue/return-in-computed-property
    RecordFilteredData () {
      if (!this.term || this.term.length < 1) {
        return this.RecordList
      }

      return this.RecordList.filter((item) => {
        return this.term

          .split(' ')
          .every(
            // (v) =>
          )
      })
    },
  },

  data () {
    return {
      header: '',
      field: [],
      term: null,
      perPage: '10',
      perPageOptions: ['50', '100', '150', '200'],
      currentPage: 1,
      RecordList: [],
      count: 1,
      RecordCount: null,

      model: {
        modelFilter: {
          DIST_NAME: '',
          SUSP_STATUS: '',
        },
      },

      advancedSearchSchema: {
        groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                type: 'input',
                inputType: 'text',
                model: 'modelFilter.DIST_NAME',
                label: 'Distributor Name',
                styleClasses: 'col-md-6',
              },
              {
                type: 'input',
                inputType: 'text',
                model: 'modelFilter.CONSULTANT_NAME',
                label: 'Status',
                styleClasses: 'col-md-6',
              },
            ],
          },
        ],
      },

      formOptions: {
        validateAfterChanged: true,
      },
    }
  },
}
</script>
<style lang="css">
.va-data-table__pagination {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.content {
  margin-top: 30px;
  font-size: 20px;
}
.inline {
  display: inline-flex;
  float: right;
}
</style>
