<template>
  <div>
    <div class="row mt-4">
      <div class="col-md-12">
        <h5>Correspondent Address</h5>
        <input-address class="mt-4"
        ref="addressCorrespondent"
        :country="this.model.CONSULTANT_CORRESPONDENT_COUNTRY"
        :state="this.model.CONSULTANT_CORRESPONDENT_STATE"
        :city="this.model.CONSULTANT_CORRESPONDENT_CITY"
        :postcode="this.model.CONSULTANT_CORRESPONDENT_POSTAL"
        :address_1="this.model.CONSULTANT_CORRESPONDENT_ADDR1"
        :address_2="this.model.CONSULTANT_CORRESPONDENT_ADDR2"
        :address_3="this.model.CONSULTANT_CORRESPONDENT_ADDR3"
        ></input-address>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">

        <h5>Permanent Address</h5>

        <b-form-checkbox
          id="address-same"
          v-model="selected_same_address"
          name="checkbox-1"
          class="mt-3"
          @change="toggleSameAddress"
        >
          Tick if Permanent Address is same as Correspondence Address
        </b-form-checkbox>

        <input-address class="mt-4"
        ref="addressPermanent"
        :country="this.model.CONSULTANT_PERMANENT_COUNTRY"
        :state="this.model.CONSULTANT_PERMANENT_STATE"
        :city="this.model.CONSULTANT_PERMANENT_CITY"
        :postcode="this.model.CONSULTANT_PERMANENT_POSTAL"
        :address_1="this.model.CONSULTANT_PERMANENT_ADDR1"
        :address_2="this.model.CONSULTANT_PERMANENT_ADDR2"
        :address_3="this.model.CONSULTANT_PERMANENT_ADDR3"
        ></input-address>
      </div>
    </div>

  </div>
</template>

<script>
import InputAddress from "./address2";
export default {
  name: "section-addresses",
  props: ['personal_particulars', 'general_settings'],
  components:{
    InputAddress
  },
  computed: {
  },
  data(){
    return{
      selected_same_address: false,
      model: null,
    }
  },
  methods:{
    toggleSameAddress(checked){
      if(this.selected_same_address === true){
        const data = this.$refs.addressCorrespondent.getDataToSave();
        this.$refs.addressPermanent.updateInputs(data)
      }
    },
    getDataToSave(){
      const correspondent = this.$refs.addressCorrespondent
      const permanent = this.$refs.addressPermanent
      const data = {
        CONSULTANT_CORRESPONDENT_COUNTRY: correspondent.model.country,
        CONSULTANT_CORRESPONDENT_STATE: correspondent.model.state,
        CONSULTANT_CORRESPONDENT_CITY: correspondent.model.city,
        CONSULTANT_CORRESPONDENT_POSTAL: correspondent.model.postcode,
        CONSULTANT_CORRESPONDENT_ADDR1: correspondent.model.address_1,
        CONSULTANT_CORRESPONDENT_ADDR2: correspondent.model.address_2,
        CONSULTANT_CORRESPONDENT_ADDR3: correspondent.model.address_3,
        CONSULTANT_PERMANENT_COUNTRY: permanent.model.country,
        CONSULTANT_PERMANENT_STATE: permanent.model.state,
        CONSULTANT_PERMANENT_CITY: permanent.model.city,
        CONSULTANT_PERMANENT_POSTAL: permanent.model.postcode,
        CONSULTANT_PERMANENT_ADDR1: permanent.model.address_1,
        CONSULTANT_PERMANENT_ADDR2: permanent.model.address_2,
        CONSULTANT_PERMANENT_ADDR3: permanent.model.address_3,
      }
      console.log('address: ', data)
      return data;
    }
  },
  created() {
    const vm = this;
    this.model = _.cloneDeep(this.personal_particulars);
  },
};
</script>

<style>
</style>
