<template>
  <div class="row">
    <div class="col-md-12">
      <b-form-group
        label="Highest Qualification:"
        label-for="highest-education"
        description=""
        class="required"
      >
        <multiselect
          id="highest-education"
          v-model="form.selected_highest_education"
          :options="general_settings.CONSULTANT_QUALIFICATIONS"
          track-by="CONSULTANT_QUALIFICATION_ID"
          label="QUAL_NAME"
          placeholder="Select one"
          @select="onQualificationSelected"
        >
        </multiselect>
      </b-form-group>

      <!-- Files Upload -->

      <b-form-group
        label="Supported Document For SPM or SPM Equivalent Qualification:"
        label-for="qualification-spm"
        description="Upload Supported Document for SPM or SPM Equivalent Qualification"
        class=""
      >
        <!-- Plain mode -->
        <b-form-file
          id="qualification-spm"
          v-model="form.file_qualification_spm"
          class=""
          placeholder="Choose a file or drop it here."
          accept=".jpg, .jpeg, .png, .gif, .pdf, .doc, .docx"
        ></b-form-file>
        <div class="mt-2">
          <file-viewer :file_id="model.SPM_DOCS"></file-viewer>
        </div>
      </b-form-group>

      <b-form-group
        label="Supported Document For STPM or STPM Equivalent Qualification:"
        label-for="qualification-stpm"
        description="Upload Supported Document for STPM or STPM Equivalent Qualification"
        class="mt-2"
      >
        <!-- Plain mode -->
        <b-form-file
          id="qualification-stpm"
          v-model="form.file_qualification_stpm"
          class=""
          placeholder="Choose a file or drop it here."
          accept=".jpg, .jpeg, .png, .gif, .pdf, .doc, .docx"
        ></b-form-file>
        <div class="mt-2">
          <file-viewer :file_id="model.STPM_DOCS"></file-viewer>
        </div>
      </b-form-group>

      <b-form-group
        label="Supported Document For Diploma:"
        label-for="qualification-diploma"
        description="Upload Supported Document for Diploma"
        class=""
      >
        <!-- Plain mode -->
        <b-form-file
          id="qualification-diploma"
          v-model="form.file_qualification_diploma"
          class=""
          placeholder="Choose a file or drop it here."
          accept=".jpg, .jpeg, .png, .gif, .pdf, .doc, .docx"
        ></b-form-file>
        <div class="mt-2">
          <file-viewer :file_id="model.DIPLOMA_DOCS"></file-viewer>
        </div>
      </b-form-group>

      <b-form-group
        label="Supported Document For Degree Qualification:"
        label-for="qualification-degree"
        description="Upload Supported Document for Degree Qualification"
        class="mt-2"
      >
        <!-- Plain mode -->
        <b-form-file
          id="qualification-degree"
          v-model="form.file_qualification_degree"
          class=""
          placeholder="Choose a file or drop it here."
          accept=".jpg, .jpeg, .png, .gif, .pdf, .doc, .docx"
        ></b-form-file>
        <div class="mt-2">
          <file-viewer :file_id="model.DEGREE_DOCS"></file-viewer>
        </div>
      </b-form-group>

      <hr />
      <!-- SPM Credits -->
      <div class="row">
        <h5>SPM</h5>
        <b-form-group
          label="Credit in Mathemathic"
          class="required"
          label-for="radio-credit-math"
        >
          <b-form-radio-group
            id="radio-credit-math"
            v-model="form.selected_credit_math"
            :options="options_spm_math_credit"
            name="radio-credit-math"
            value-field="value"
            text-field="name"
          ></b-form-radio-group>
        </b-form-group>

        <b-form-group
          label="Credit in language:"
          label-for="credit-language"
          description=""
          class="col-md-6 required pl-0"
        >
          <multiselect
            id="credit-language"
            v-model="form.selected_credit_language"
            :options="general_settings.CREDIT_LANGUAGES"
            track-by="SETTING_GENERAL_ID"
            label="SET_PARAM"
            placeholder="Select one"
            @select="onCreditLanguageSelected"
          >
          </multiselect>
        </b-form-group>

        <div v-if="form.selected_credit_language" class="col-md-6">
          <b-form-group
            v-if="form.selected_credit_language.SET_PARAM === 'OTHERS'"
            class="required"
            id="fieldset-language-other"
            label="Other Language"
            label-for="input-language-other"
          >
            <b-form-input
              id="input-language-other"
              placeholder="Please specify"
              trim
            ></b-form-input>
          </b-form-group>
        </div>

        <b-form-group
          label="Other Subjects Credit in SPM:"
          label-for="input-default"
          class="mt-2"
        >
          <b-form-input
            v-model="form.subject0"
            placeholder="Subject's name"
            class="mt-0"
          ></b-form-input>
          <b-form-input
            v-model="form.subject1"
            placeholder="Subject's name"
            class="mt-2"
          ></b-form-input>
          <b-form-input
            v-model="form.subject2"
            placeholder="Subject's name"
            class="mt-2"
          ></b-form-input>
        </b-form-group>

        <hr />

        <b-form-group
          label="Professional Certificate:"
          label-for="profesional-certificate"
          description=""
          class="required mt-3"
        >
          <multiselect
            id="profesional-certificate"
            v-model="form.selected_profesional_cert"
            :options="options_profesional_certs"
            track-by="ID"
            label="NAME"
            placeholder="Select one"
            @select="onCreditLanguageSelected"
          >
          </multiselect>
        </b-form-group>

        <!-- {{options_profesional_certs}} -->
        <div class="row" v-if="form.selected_profesional_cert">
          <b-form-group
            v-if="form.selected_profesional_cert.ID !== null"
            label="Supported Document For Professional Certificate:"
            label-for="file-profesional-cert"
            description="Upload Supported Document for Professional Certificate"
            class="mt-2"
          >
            <!-- Plain mode -->
            <b-form-file
              id="file-profesional-cert"
              v-model="form.file_profesional_cert"
              class=""
              placeholder="Choose a file or drop it here."
              accept=".jpg, .jpeg, .png, .gif, .pdf, .doc, .docx"
            ></b-form-file>
            <div class="mt-2">
          <file-viewer :file_id="model.PROFESSIONAL_CFP_DOCS"></file-viewer>
        </div>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FileViewer from "@/modules/consultant-management/components/ui/file_viewer";
export default {
  name: "personal-education",
  props: ["personal_particulars", "general_settings"],
  components: {
    FileViewer,
  },
  computed: {
    options_profesional_certs() {
      // manually added null to the options to disable value in the database
      const certs = [
        { ID: null, NAME: "-" },
        ...this.general_settings.PROFESSIONAL_CERTIFICATES,
      ];
      return certs;
    },
  },
  watch:{
    "model.CONSULTANT_EDUCATION_ID": function(value){
      console.log(value)
    }
  },
  data() {
    return {
      form: {
        selected_highest_education: null,
        selected_credit_math: null,
        selected_credit_language: null,
        selected_profesional_cert: null,
        file_qualification_spm: null,
        file_qualification_stpm: null,
        file_qualification_diploma: null,
        file_qualification_degree: null,
        file_profesional_cert: null,
        subject0: "",
        subject1: "",
        subject2: "",
      },

      options_spm_math_credit: [
        { name: "YES", value: 1 },
        { name: "NO", value: 2 },
      ],
      model: null,
    };
  },
  methods: {
    onQualificationSelected(item) {
      console.log(item);
    },
    onCreditLanguageSelected(item) {
      console.log(item);
    },
    getDataToSave() {
      return this.model;
    },
    mapDataSourceToModel() {
      this.form.selected_credit_math = this.model.MATH;
      this.form.selected_highest_education =
        this.general_settings.CONSULTANT_QUALIFICATIONS.find(
          (item) =>
            item.CONSULTANT_QUALIFICATION_ID ===
            this.model.CONSULTANT_HIGHEST_QUALIFICATION
        );

      this.form.selected_credit_language =
        this.general_settings.CREDIT_LANGUAGES.find(
          (item) => item.SETTING_GENERAL_ID === this.model.LANGUAGE
        );

      if (this.model.PROFESSIONAL_CERTIFICATE) {
        this.form.selected_profesional_cert =
          this.options_profesional_certs.find(
            (item) => item.NAME === this.model.PROFESSIONAL_CERTIFICATE_VALUE
          );
      }
    },
  },
  created() {
    this.model = _.cloneDeep(this.personal_particulars.CONSULTANT_EDUCATION);
    this.mapDataSourceToModel();
  },
};
</script>

<style>
</style>
