<template>
  <va-card>
    <div class="col-lg-10">

    </div>
    <br />
    <br />

    <h5>
      <i class="fa fa-bank"></i>&nbsp;&nbsp; 
      <b>DISTRIBUTOR TYPE</b>
    </h5>
    <hr />

    <div class="ml-5">
      <!-- Marketing Approach -->
       <br/>
       <br/>
            <div class="row">
              <div class="ml-4 col-md-10">
                <span class="col mt-3 description">DISTRIBUTOR TYPE </span>
                <input
                  type="text"
                  v-model="model.DIST_TYPE_NAME"
                  placeholder="ENTER DISTRIBUTOR TYPE"
                  class="float-right col-8 form-control form-control-md"
                />
              </div>
              <br />
              <br />
              <div class="ml-4 col-md-10">
                <span class="col mt-3 description">MARKETING APPROACH </span>
                <multiselect
                  v-model="model.DIST_MARKETING_ID"
                  :options="MarketingApproachList"
                  placeholder="Select Marketing Group"
                  label="DIST_SET_PARAM"
                  class="float-right col-8"
                ></multiselect>
              </div>
              <br />
              <br />
              <div class="ml-4 col-md-10">
                <span class="col mt-3 description">TYPE STRUCTURE </span>
                <multiselect
                  v-model="model.TYPE_STRUCTURE_ID"
                  :options="TypeStructure"
                  placeholder="Select Type Structure"
                  label="DIST_SET_PARAM"
                  class="float-right col-8"
                ></multiselect>
              </div>
            </div>
            <br />
            <br /><br />
            <div class="row">
              <span class="col mt-3 description">TYPE OF VARIATION</span>
              <div class="col-md-9">
                <div class="row">
                  <div
                    class="col-4"
                    v-for="(item, index) in model.VARIATION"
                    :key="index"
                  >
                    <div class="row mb-2">
                      <va-checkbox
                        class="col-2"
                        v-model="item.selected"
                      ></va-checkbox>
                      <span class="col">
                        {{ item.name }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
              <br />
              <div class="ml-4 col-md-10">
                <span class="col mt-3 description">SCHEME</span>
                <multiselect
                  v-model="model.SCHEME"
                  :options="ConsultantTypeList"
                  placeholder="SELECT SCHEME"
                  label="TYPE_NAME"
                  class="float-right col-8"
                ></multiselect>
              </div>
            <br />
            <br /><br />
            <div class="row">
              <div class="col-10">
                <button
                  @click="submitDistributorType"
                  type="button"
                  class="float-right btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-save" />&nbsp; SAVE
                </button>
              </div>
            </div>

            <va-card class="mt-2">
              <va-data-table
                :fields="distributorType"
                :data="filteredDistributorType"
                :per-page="parseInt(perPage)"
                :datacount="DistributorCount"
                :dataperpage="parseInt(perPage)"
                clickable
              >
                <template slot="no" slot-scope="row">
                  {{ row.rowIndex + 1 }}
                </template>

                <template slot="actions" slot-scope="props">
                  <h4 class="mt-2">
                    <span
                      v-b-tooltip.hover
                      title="edit"
                      class="badge badge-primary mr-1"
                      v-on:click="editDistributorType(props.rowData)"
                    >
                      <i class="fa fa-edit"></i
                    ></span>
                    <span
                      v-b-tooltip.hover
                      title="edit"
                      class="badge badge-danger mr-1"
                      v-on:click="deleteDistType(props.rowData)"
                    >
                      <i class="fa fa-trash"></i
                    ></span>
                  </h4>
                </template>
              </va-data-table>
              <br />
            </va-card>
        
     
        <hr />
      </div>
          <br/>
          <br/>
    

    <vudal name="simpleModalEditDistFee" class="widthModal">
              <div class="header">
                EDIT DISTRIBUTOR FEE<i class="close icon">&times;</i>
              </div>
              <div class="content">
                <vue-form-generator
                  :model="model"
                  :schema="editDistTypeSchema"
                  :options="formOptions"
                />
              </div>
              <div class="actions">
                <button
                  type="button"
                  class="cancel vudal-btn mr-2 btn btn-danger btn-fill btn-md"
                >
                  <i class="fa fa-times" /> &nbsp; CLOSE
                </button>
                <button
                  type="button"
                  class="cancel vudal-btn mr-2 btn btn-primary btn-fill btn-md"
                >
                  <i class="fa fa-edit" /> &nbsp; UPDATE
                </button>
              </div>
            </vudal>
     <button
          @click="back"
          type="button"
          class="btn btn-primary btn-fill btn-md"
        >
          <i class="fa fa-step-backward" /> &nbsp; Previous
        </button>
  </va-card>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import Vue from "vue";
import Vudal from "vudal";
import "vue-form-generator/dist/vfg.css";
import * as servicesModule0 from "../../../app/module0/services02";
import { debounce } from "lodash";
Vue.component("field-vfg-functional-date", VfgFunctionalDate);
import VfgFunctionalDate from "../../component/VfgFunctionalCalendar.vue";
import moment from "moment";
import FullCalendar from "@fullcalendar/vue";
import VueCurrencyInput from 'vue-currency-input';




export default {
  mounted() {
    // this.getAllmarketingApproach();
    this.getAllDistributorType();
    this.getAllmarketingApproach();
    this.getAllTypeStructure();
    this.getAllConsultantType();
  },
  components: {
    FullCalendar,
    Vudal,
  },
  // DATA SCHEMA
  data() {
    return {
      term: null,
      visibleLogin: false,
      visibleBlockDuration: false,
      visibleBlockDuration2: false,
      perPage: "6",
      perPageOptions: ["4", "6", "10", "20"],
      DistributorTypelist: [],
      AnnualPreviousYear: [],
     TypeStructure: [],
     MarketingApproachList: [],
     ConsultantTypeList: [],
     distributorTypeList: [],
     DistributorCount: null,

      MarketingApproachList: [],
      DateCount: null,
      RnaDateCount: null,
      DistFeeCount: null,


      StatusCount: null,
      loading: false,

      count: 1,
      VARIATION: [
        // { id: "1", name: "UTMC", selected: false },
        // { id: "2", name: "IUTA", selected: false },
        // { id: "3", name: "CUTA", selected: false },
        // { id: "4", name: "CPRA", selected: false },
        // { id: "5", name: "PRP", selected: false },
        // { id: "6", name: "IPRA", selected: false },
      ],
      model: {
         DIST_TYPE_VARIATION: "",
        MARKETING_APPROACH_ID: "",
        TYPE_STRUCTURE_ID: "",
        DIST_TYPE_NAME: "",
        SCHEME: "",
        VARIATION: [
        { id: "1", name: "UTMC", selected: false },
        { id: "2", name: "IUTA", selected: false },
        { id: "3", name: "CUTA", selected: false },
        { id: "4", name: "CPRA", selected: false },
        { id: "5", name: "PRP", selected: false },
        { id: "6", name: "IPRA", selected: false },
        ],


        editDist: {

         DIST_TYPE: '',
          FEE_START_DATE:'',
          FEE_END_DATE: '',
          APPLICATION_FEE: '',
          TAX_APPLICATION_FEE: '',
          TOTAL_APPLICATION_FEE: '',
          ANNUAL_FEE: '',
          TAX_ANNUAL_FEE: '',
          TOTAL_ANNUAL_FEE: '',

        },
        
        
      },

  

      formOptions: {
        validateAfterChanged: true,
      },
      //5 Module CPD Calculation
     
       editDistTypeSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "Text",
                model: "editDistType.DIST_TYPE_NAME",
                label: "DISTRIBUTOR TYPE ",
                placeholder: "DISTRIBUTOR TYPE",
                styleClasses: "col-md-12",
              },
              {
                type: "vueMultiSelect",
                inputType: "Text",
                model: "editDistType.MARKETING_APPROACH_ID",
                label: "MARKETING APPROACH ",
                placeholder: "ENTER APPROACH NAME",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "DISTRIBUTOR_SETTING_ID",
                  label: "MARKETING_APPROACH",
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.MarketingApproachList;
                },
              },
              {
                type: "vueMultiSelect",
                inputType: "Text",
                model: "editDistType.TYPE_STRUCTURE_ID",
                label: "TYPE OF STRUCTURE",
                placeholder: "ENTER TYPE OF STRUCTURE",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "DISTRIBUTOR_SETTING_ID",
                  label: "TYPE_STRUCTURE",
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.TypeStructure;
                },
              },
              // {
              //   type: "checkbox",
              //   // inputType: "checkbox",
              //   model: "VARIATION",
              //   label: "VARIATION",
              //   placeholder: "ENTER VARIATION",
              //   styleClasses: "col-md-12",
              //   // values: [
              //   //   { id: "1", name: "UTMC", selected: false },
              //   //   { id: "2", name: "IUTA", selected: false },
              //   //   { id: "3", name: "CUTA", selected: false },
              //   //   { id: "4", name: "CPRA", selected: false },
              //   //   { id: "5", name: "PRP", selected: false },
              //   //   { id: "6", name: "IPRA", selected: false },
              //   // ]
              // },             
              {
                type: "vueMultiSelect",
                inputType: "Text",
                model: "editDistType.SCHEME",
                label: "SCHEME",
                placeholder: "ENTER SCHEME",
                styleClasses: "col-md-12",
                selectOptions: {
                  multiple: false,
                  key: "CONSULTANT_TYPE_ID",
                  label: "CONS_NAME",
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.ConsultantTypeList;
                },
              },
            ],
          },
        ],
      },
      // Tab1Schema: {
      //   groups: [
      //     {
      //       styleClasses: "row",
      //       fields: [
      //         {
      //           type: "vueMultiSelect",
      //           inputType: "Text",
      //           model: "SCHEME",
      //           label: "SCHEME",
      //           placeholder: "ENTER SCHEME",
      //           styleClasses: "col-md-12",
      //           selectOptions: {
      //             multiple: false,
      //             key: "CONSULTANT_TYPE_ID",
      //             label: "CONS_NAME",
      //             searchable: true,
      //           },
      //           values: (model, schema) => {
      //             return this.ConsultantTypeList;
      //           },
      //         },
      //       ],
      //     },
      //   ],
      // },
    
   
      


      
  
      
    };
  },
  methods: {
    back() {
      this.$router.push("/fimm/distributor-configuration");
    },

getAllmarketingApproach: async function () {
      const response = await servicesModule0.getAllDistributorSettingList(
        "MARKETING_APPROACH"
      );
      this.MarketingApproachList = response;
    },
    getAllTypeStructure: async function () {
      const response = await servicesModule0.getAllDistributorSettingList(
        "TYPE_STRUCTURE"
      );
      this.TypeStructure = response;
    },

    getAllConsultantType: async function () {
      const response = await servicesModule0.getAllConsultantTypeList();
      this.ConsultantTypeList = response;
    },

    async submitDistributorType(item) {
      // this.selectedType = [];
      this.model.VARIATION.forEach((element) => {
        if (element.selected == true) {
                this.VARIATION.push(element.name);
              }
      });
      const data = new FormData();
      data.append("VARIATION", JSON.stringify(this.selectedType));
      data.append("DIST_TYPE_NAME", this.model.DIST_TYPE_NAME);
      data.append("DIST_TYPE_VARIATION", JSON.stringify(this.VARIATION));
      data.append(
        "MARKETING_APPROACH_ID",
        this.model.MARKETING_APPROACH_ID.DISTRIBUTOR_SETTING_ID
      );
      data.append(
        "TYPE_STRUCTURE_ID",
        this.model.TYPE_STRUCTURE_ID.DISTRIBUTOR_SETTING_ID
      );
      data.append(
        "SCHEME",
        this.model.SCHEME.CONSULTANT_TYPE_ID
      );
      try {
        // eslint-disable-next-line no-unused-vars
        const response = await servicesModule0.createDistributorType(data);
        this.getAllDistributorType();
      } catch (error) {
        console.log(error);
      }
    },

    getAllDistributorType: async function () {
      const response = await servicesModule0.getAllDistributorTypeList();
      this.distributorTypeList = response;
      this.TypeStructureCount = this.distributorType.length;
    },

      async editDistributorType(data) {
      const response = await servicesModule0.getDistributorTypeById(
        data.DISTRIBUTOR_TYPE_ID
      );
      this.$modals.simpleModalEditDistFee.$show();
      this.DISTRIBUTOR_TYPE_ID = response.DISTRIBUTOR_TYPE_ID;
      this.model.editDistType = response;
      this.model.editDistType.MARKETING_APPROACH_ID = response.DIST_SET_PARAM;
      this.model.editDistType.TYPE_STRUCTURE_ID = response.DIST_SET_PARAM;
      console.log(response);
    },

    async updateDistTypeAPI() {
      try {
         this.model.VARIATION.forEach((element) => {
        if (element.selected == true) {
                this.VARIATION.push(element.name);
              }
      });
        const data = new FormData();
        data.append("DISTRIBUTOR_TYPE_ID", this.DISTRIBUTOR_TYPE_ID);
        data.append("VARIATION", JSON.stringify(this.selectedType));
        data.append("DIST_TYPE_NAME", this.model.editDistType.DIST_TYPE_NAME);
        data.append("DIST_TYPE_VARIATION", JSON.stringify(this.VARIATION));
        data.append(
          "MARKETING_APPROACH_ID",
          this.model.editDistType.MARKETING_APPROACH_ID.DISTRIBUTOR_SETTING_ID
        );
        data.append(
          "TYPE_STRUCTURE_ID",
          this.model.editDistType.TYPE_STRUCTURE_ID.DISTRIBUTOR_SETTING_ID
        );
        data.append(
          "SCHEME",
          this.model.editDistType.SCHEME.CONSULTANT_TYPE_ID
        );
      const response = await servicesModule0.updateDistributorType(data);
        this.getAllDistributorType();
      } catch (error) {
        console.log(error);
      }
    },

    async deleteDistType(data) {
      // eslint-disable-next-line no-unused-vars
      const response = await servicesModule0.deleteDistributorType(
        data.DISTRIBUTOR_TYPE_ID
      );
      this.getAllDistributorType();
    },


    

  

  },

  computed: {
    distributorType() {
      return [
        {
          name: "__slot:marker",
          width: "30px",
          dataClass: "text-center",
        },
        {
          name: "__slot:no",
          title: "No",
        },
        {
          name: "ANNUALFEE",
          title: "ANNUAL FEE REFERENCES ",
          sortField: "ANNUALFEE",
        },
        {
          name: "TYPE_NAME",
          title: "DISTRIBUTOR TYPE ",
          sortField: "TYPE_NAME",
        },
        {
          name: "VARIATION",
          title: "VARIATION TYPE ",
          sortField: "VARIATION",
        },
        {
          name: "SCHEME",
          title: "SCHEME",
          sortField: "SCHEME",
        },
        {
          name: "MARKETING_APPROACH",
          title: "MARKETING APPROACH",
          sortField: "MARKETING_APPROACH",
        },
        {
          name: "TYPE_STRUCTURE",
          title: "TYPE OF STRUCTURE",
          sortField: "TYPE_STRUCTURE",
        },

        {
          name: "__slot:actions",
          title: "Action",
          dataClass: "justify-content-center",
          width: "15%",
        },
      ];
    },
    filteredDistributorType() {
      if (!this.term || this.term.length < 1) {
        return this.distributorTypeList;
      }
    },
   
    



  },
};
</script>