<template>
  <va-card>
    <h4 slot="header" class="card-title">
      Setting Page Maintenance
    </h4>
    <br />
    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">Start Date :</h5></b>
      </div>
      <div class="col-md-9">
        <!-- <div class="form-group"> -->
        <datepicker
         :value="term"
        @input="searchDate"
         placeholder="dd-MM-yyyy"
        format="dd MMM yyyy"
        input-class="form-control float-left bgcolor"
        v-model="model.MAINTENANCE_START_DATE"
        :typeable="false"
        ></datepicker>
        <!-- </div> -->
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">End Date :</h5></b>
      </div>
      <div class="col-md-9">
        <!-- <div class="form-group"> -->
        <datepicker
         :value="term"
        @input="searchDate"
         placeholder="dd-MM-yyyy"
        format="dd MMM yyyy"
        input-class="form-control float-left bgcolor"
        v-model="model.MAINTENANCE_END_DATE"
        :typeable="false"
        ></datepicker>
        <!-- </div> -->
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">Notification Description :</h5></b>
      </div>
      <div id="app" class="col-md-9">
        <vue-editor v-model="model.NOTIFICATION_DESC"></vue-editor>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">Audience :</h5></b>
      </div>
      <div class="col-md-9">
        <!-- <div class="form-group"> -->
       <multiselect
                  v-model="model.AUDIENCE"
                  :options="AudienceList"
                  placeholder="Select Audience"
                  label="SET_PARAM"
                  class="float-left"
                ></multiselect>
        <!-- </div> -->
      </div>
    </div>
    <br />
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-3">
        <b><h5 class="card-title">Module Under Maintenance :</h5></b>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-4" v-for="(item, index) in model.VARIATION" :key="index">
            <div class="row mb-2">
              <va-checkbox class="col-2" v-model="item.selected" />
              <span class="col mt-2 description">
                {{ item.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      @click="back"
      type="button"
      class="float-left btn btn-primary btn-fill btn-md"
    >
      <i class="fa fa-step-backward" /> &nbsp; Previous
    </button>
    <div class="ml-2 float-right">
      <b-button
        @click="save"
        type="button"
        class="btn btn-primary btn-fill btn-md"
      >
        <i class="fa fa-paper-plane" /> &nbsp; Save
      </b-button>
    </div>
  </va-card>
</template>

<script>
// Import Bootstrap an BootstrapVue CSS files (order is important)
import "bootstrap/dist/css/bootstrap.css"
import "bootstrap-vue/dist/bootstrap-vue.css"
import { debounce } from "lodash"
import moment from "moment"
import Vue from "vue";
Vue.component("field-vfg-functional-date", VfgFunctionalDate);
import VfgFunctionalDate from "../../component/VfgFunctionalCalendar.vue";
import * as servicesModule0 from "../../../app/module0/services02";
import FullCalendar from "@fullcalendar/vue";
export default {
  mounted() {
    // this.getAllEvent();
    this.getAllAudience();
  },
  components: {
    FullCalendar
  },
  methods: {
      searchDate(date) {
      this.term = moment(date).format("DD MMM y");
      //alert(this.term);
    },


    async save (item) {
        this.model.VARIATION.forEach((element) => {
        if (element.selected == true) {
                this.VARIATION.push(element.name);
              }
      });
      const data = new FormData()
      const user = localStorage.getItem('user')
      data.append("VARIATION", JSON.stringify(this.selectedType));
      data.append("MAINTENANCE_START_DATE", moment(this.model.MAINTENANCE_START_DATE).format("YYYY-MM-DD"));
      data.append("MAINTENANCE_END_DATE", moment(this.model.MAINTENANCE_END_DATE).format("YYYY-MM-DD"));
      data.append("NOTIFICATION_DESC", this.model.NOTIFICATION_DESC);
      data.append("MAINTENANCE_MODULE", JSON.stringify(this.VARIATION));
      data.append("CREATION_BY", JSON.parse(user).user_id);
      data.append("AUDIENCE", this.model.AUDIENCE.SETTING_GENERAL_ID);

      try {
        // eslint-disable-next-line no-unused-vars
        const response = await servicesModule0.createPageMaintenance(data)
      } catch (error) {
        console.log(error)
      }
    //   this.$router.push("/fimm/maintenance-list");
    },
    getAllAudience: async function () {
      const response = await servicesModule0.getAllAudienceList(
        "AUDIENCE"
      );
      this.AudienceList = response;
    },

    back () {
      this.$router.push("/fimm/maintenance-list");
    },

  },
  data() {
    return {
        AudienceList: [],
        term: null,
        VARIATION: [
        // { id: "1", name: "ALL", selected: false },
        // { id: "2", name: "Administration", selected: false },
        // { id: "3", name: "Distributor Management", selected: false },
        // { id: "4", name: "Consultant Management", selected: false },
        // { id: "5", name: "Fund Management", selected: false },
        // { id: "6", name: "CPD Management", selected: false },
        // { id: "7", name: "Finance Management", selected: false },
        // { id: "8", name: "Annual Fee Management", selected: false },
        ],

      model: {
        MAINTENANCE_START_DATE: "",
        MAINTENANCE_END_DATE: "",
        NOTIFICATION_DESC: '',
        AUDIENCE: '',
        MAINTENANCE_MODULE: '',
        CREATION_BY: '',
        VARIATION: [
        { id: "1", name: "ALL", selected: false },
        { id: "2", name: "Administration", selected: false },
        { id: "3", name: "Distributor Management", selected: false },
        { id: "4", name: "Consultant Management", selected: false },
        { id: "5", name: "Fund Management", selected: false },
        { id: "6", name: "CPD Management", selected: false },
        { id: "7", name: "Finance Management", selected: false },
        { id: "8", name: "Annual Fee Management", selected: false },
        ],
      },

    }
  }

}
</script>
<style lang="scss">
.bgcolor {
  background-color: white !important;
}
</style>
