<template>
  <div>
    <!-- <h5>PRS FAMILIARISATION PROGRAM (PRSFP) - Unit Trust Consultant</h5> -->
    <b-form-group class="" label="Upload document:" description="PRSFP Certificate of Attendance">
      <!-- Plain mode -->
      <b-form-file v-model="file_upload" class=""></b-form-file>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'exemption-category-unit-trust-consultant',
  data(){
    return{
      file_upload: null,
      years_experience: null,
    }
  }
};
</script>

<style>
</style>
