<template>
  <div>
    <!-- <h5>Director</h5> -->
    <b-form-group class="" label="Years of experience:" description="Years of Experience in Unit Trust/Fund Management Industry">
      <b-form-input v-model="years_experience" type="number" class="col-md-6"></b-form-input>
    </b-form-group>


    <b-form-group class="" label="Upload document:" description="Resume or Curriculum Vitae">
      <!-- Plain mode -->
      <b-form-file v-model="file_upload" class=""></b-form-file>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'exemption-category-director',
  data(){
    return{
      file_upload: null,
      years_experience: null,
    }
  }
};
</script>

<style>
</style>
