<template>
  <div>
    <!-- <h5>PRS FAMILIARISATION PROGRAM (PRSFP) - Insurance Agent </h5> -->

    <b-form-group
      label="Insurance Certificates:"
      label-for="insurance-certificates"
      description=""
    >
      <multiselect
        id="insurance-certificates"
        v-model="selected_certificate"
        :options="general_settings.INSURANCE_CERTIFICATES"
        placeholder="Select one"
        track-by="INSURANCE_CERTIFICATE_ID"
        label="NAME"
      >
      </multiselect>
      <!-- {{ selected_exemption_category }} -->
    </b-form-group>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "exemption-category-insurance-agent",
  computed: {
    ...mapGetters({ general_settings: "getGeneralSettings" }),
  },
  data() {
    return {
      agent_confirmation: null,
      selected_certificate: null,
    };
  },
};
</script>

<style>
</style>
