<template>
  <div>
    <!-- <h5>Fund Manager</h5> -->
    <b-form-group
      class=""
      label="CMSRL No:"
      description="CSMRL for Fund Manager"
    >
      <b-form-input v-model="cmsrl_no" placeholder="Enter CMSRL"></b-form-input>
    </b-form-group>

    <b-form-group
      class=""
      label="CMSRL Expiry Date:"
      description="CMSRL Expiry Date"
    >
      <datepicker
        placeholder="dd-MM-yyyy"
        format="dd-MMM-yyyy"
        input-class="form-control bgcolor"
        :typeable="false"
        :value="date_selected"
      ></datepicker>
    </b-form-group>

    <b-form-group
      class=""
      label="Upload document:"
      description="CSMRL for Fund Manager"
    >
      <!-- Plain mode -->
      <b-form-file v-model="file_upload" class=""></b-form-file>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: "exemption-category-fund-manager",
  data() {
    return {
      cmsrl_no: null,
      file_upload: null,
      date_selected: null,
    };
  },
};
</script>

<style>
</style>
