<template>
  <div>
    <h6>Financial Planner</h6>
    <b-form-group
      class=""
      label="Upload document:"
      description="Active Membership of the Association/Organisation"
    >
      <b-form-file v-model="file_upload" class=""></b-form-file>
    </b-form-group>

    <div class="row">
      <div class="col-md-12 mb-4">
        <strong>a) FPAM -CFP/IFP/Both</strong>
      </div>
    </div>

    <!-- Module 1 -->
    <file-details
      label_date="Module 1 Completion Date:"
      description_file="Module 1"
    ></file-details>

    <!-- Module 3 -->
    <file-details
      label_date="Module 3 Completion Date:"
      description_file="Module 3"
    ></file-details>

    <!-- CFP/IFP -Certified -->
    <file-details
      label_date="CFP/IFP-Certified Completion Date:"
      description_file="CFP/IFP-Certified"
    ></file-details>

    <hr />

    <div class="row">
      <div class="col-md-12 mb-4">
        <strong>b) MFPC</strong>
      </div>
      <div class="col-md-12">
        <p>
          <span>i) RFP/Shariah RFP - Partial Completion</span>
        </p>
        <file-details
          label_date="Module 1 Completion Date:"
          description_file="Module 1"
        ></file-details>
        <file-details
          label_date="Module 3 Completion Date:"
          description_file="Module 3"
        ></file-details>
        <file-details
          label_date="Module 6 Completion Date:"
          description_file="Module 6"
        ></file-details>
      </div>

      <div class="col-md-12">
        <p>
          <span>ii) RFP/Shairah RFP - Certified</span>
        </p>
        <file-details
          label_date="Certified Date:"
          description_file="Certification document"
        ></file-details>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-12 mb-4">
        <strong>c) MFPAA</strong>
      </div>
      <div class="col-md-12">
        <file-details
          label_date="Completion Date:"
          description_file=""
        ></file-details>
      </div>
    </div>
  </div>
</template>

<script>
import FileDetails from "./exmp_financial_planner_cert_upload.vue";

export default {
  name: "exemption-category-financial-planner",
  components: {
    FileDetails,
  },
  data() {
    return {
      file_upload: null,
      date_selected_module_1: null,
      file_module_1: null,
      date_selected_module_3: null,
      file_module_3: null,
    };
  },
};
</script>

<style>
</style>
