<template>
  <div>
    <!-- <h5>CEO</h5> -->
    <b-form-group class="" label="Upload document:" description="Appointment approval by the SC/relevant authority for appointment">
      <!-- Plain mode -->
      <b-form-file v-model="file_upload" class=""></b-form-file>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'exemption-category-ceo',
  data(){
    return{
      file_upload: null
    }
  }
};
</script>

<style>
</style>
