<template>
  <va-card>
    <template slot="header">
      <br />
      <div class="row">
        <div class="col">
          <h4 class="card-title">List of Pre-Payment Transaction</h4>
        </div>
        <div class="col float-right">
          <div class="float-right">
            <h5>
            <b-badge v-b-toggle.collapse-1 v-b-tooltip.hover
                title="Advance Search" class="mr-1" variant="secondary"
            ><i class="fa fa-search"></i
            ></b-badge>
              <downloadExcel
        :json_data="items"
        :excelname="excelname"
        :sheetname="sheetname"
        :column="column"
      ></downloadExcel>
      <vue-json-to-csv :json-data="items" :csv-title="'Pre-Payment Transaction List'" @success="val => handleSuccess(val)"
                @error="val => handleError(val)"
                :labels="{DATE_DISPLAY: {title: 'SUBMISSION DATE'},
                          DIST_NAME: {title: 'DISTRIBUTOR NAME'},
                          DIST_TYPE_NAME: {title: 'DISTRIBUTOR TYPE'},
                          PAYMENT_REFERENCE: {title: 'REFERENCE NUMBER'},
                          CODE: { title: 'CODE'},
                          DEBIT_AMOUNT: { title: 'AMOUNT (RM)'},
                          STATUS: { title: 'STATUS'} }"
              >
                <b-badge v-b-tooltip.hover title="Export as CSV for Biztrak" class="mr-1" variant="success">
                  <i class="fa fa-file"></i>
                </b-badge>
      </vue-json-to-csv>
          </h5>
          </div>
        </div>
      </div>
    </template>
    <!-- advanced search form -->
    <b-collapse id="collapse-1" class="mt-2">
      <b-card>
        <vue-form-generator
          :model="model"
          :schema="advancedSearchSchema"
          ref="advancedSearchForm"
        >
        </vue-form-generator>
        <br />
        <button
          @click="filterRecord"
          type="button"
          class="ml-2 btn btn-sm btn-primary"
        >
          Search
        </button>
        <!-- <button
          @click.prevent="reset"
          type="button"
          class="ml-2 btn btn-sm btn-danger"
        >
          Reset
        </button> -->
      </b-card>
    </b-collapse>
    <br />
    <div class="row">
      <div class="flex md3 offset--md9">
        <va-input
          :value="term"
          :placeholder="$t('Search')"
          @input="search"
          removable
        >
          <va-icon name="fa fa-search" slot="prepend" />
        </va-input>
      </div>
    </div>
    <va-data-table
      :datacount="ListCount"
      :fields="fields"
      :data="filteredData"
      :per-page="parseInt(perPage)"
    >
      <!-- A virtual column -->
      <template slot="no" slot-scope="row">
        {{ row.rowIndex + 1 }}
      </template>
      <template slot="actions" slot-scope="props">
        <h4 class="mt-2">
          <span
              v-b-tooltip.hover
              title="View Payment Details"
              v-on:click="viewRecord(props.rowData)"
              class="badge badge-primary mr-2"
            >
              <i class="fa fa-eye"></i
              ></span>
        </h4>
      </template>
    </va-data-table>
    <br />
    <br />
    <button
        @click="back"
        type="button"
        class="btn btn-primary btn-fill btn-md"
      >
        <i class="fa fa-step-backward" /> &nbsp; Previous
      </button>
    <br />
    <br />
  </va-card>
</template>
<script>
import Vue from 'vue'
import VueFormGenerator from 'vue-form-generator'
import VueJsonToCsv from 'vue-json-to-csv'
import 'vue-form-generator/dist/vfg.css'
import { debounce } from 'lodash'
import moment from 'moment'
import * as servicesModule6 from '../../../app/module6/services05'


Vue.use(VueFormGenerator)
Vue.use(VueJsonToCsv)

export default {
  mounted () {
    this.getAllList()
  },
    components: {
              VueJsonToCsv,
              },

  methods: {
    back () {
      this.$router.push({
        name: 'Transaction-Ledger',
      })
    }, // back button

    async getAllList () {
      console.log('get all event : ')
      const response = await servicesModule6.getPrepaymentLedger()
      this.items = response
      this.ListCount = this.items.length
      // console.log("get all event : " + response);
    },

    search: debounce(function (term) {
      this.term = term
      console.log(this.term)
    }, 400),

    async filterRecord() {
      try {
        const response = await servicesModule6.filter_prepayment_transaction(
          this.model.modelFilter
        );
        console.log("test");
        if (response != "error") {
          this.items = response;
        }
      } catch (error) {}
    },

    async reset() {
      try {
        this.model.modelFilter = "";
      this.getAllList();
        console.log("test reset");
        if (response != "error") {
          this.items = response;
        }
      } catch (error) {}

    },

  },

  computed: {
    fields () {
      return [
        {
          name: '__slot:no',
          title: 'NO',
        },
        { // DIST_TRANS_DATE
          name: 'DATE_DISPLAY',
          title: 'TRANSACTION DATE',
          sortField: 'DATE_DISPLAY',
        },
        // {
        //   name: 'DIST_TYPE_NAME',
        //   title: 'GROUP TRANSACTION NUMBER',
        //   sortField: 'DIST_TYPE_NAME',
        // },
        {
          name: 'DIST_NAME',
          title: 'DISTRIBUTOR NAME',
          sortField: 'DIST_NAME',
        },
        {
          name: 'CODE',
          title: 'CODE',
          sortField: 'CODE',
        },
        {
          name: 'PAYMENT_REFERENCE',
          title: 'REFERENCE NUMBER',
          sortField: 'PAYMENT_REFERENCE',
        },
        {
          name: 'FINTYPE',
          title: 'TRANSACTION TYPE',
          sortField: 'FINTYPE',
        },
        {
          name: 'STATUS',
          title: 'STATUS',
          sortField: 'STATUS',
        },
        {
          name: 'DEBIT_AMOUNT',
          title: 'DEBIT (RM)',
          sortField: 'DEBIT_AMOUNT',
        },
        {
          name: 'CREDIT_AMOUNT',
          title: 'CREDIT (RM)',
          sortField: 'CREDIT_AMOUNT',
        },
      ]
    },
    filteredData () {
      if (!this.term || this.term.length < 1) {
        return this.items
      }

      return this.items.filter(item => {
        return this.term
          .toLowerCase()
          .split(' ')
          .every(
            (v) =>
              item.DIST_NAME.toLowerCase().includes(v) ||
              item.PAYMENT_REFERENCE.includes(v) ||
              item.DIST_TYPE_NAME.toLowerCase().includes(v) ||
              item.CODE.toLowerCase().includes(v) ||
              item.STATUS.toLowerCase().includes(v)

          )
      })
    },
  },
  data () {
    return {
      column: [
        "LEDGER ID",
        "DISTRIBUTOR NAME",
        "DISTRIBUTOR TYPE",
        "REFERENCE NUMBER",
        "CODE",
        "DEBIT AMOUNT",
        "AVAILABLE BALANCE",
        "CURRENT BALANCE",
        "STATUS",
        "TRANSACTION TYPE",
        "PAYMENT METHOD",
        "SUBMISSION DATE",
      ],
      excelname: "download-PrepaymentTransactionList",
      sheetname: "PrepaymentTransaction",
      dateFormat: '',
      term: null,
      perPage: '10',
      perPageOptions: ['4', '6', '10', '20'],
      ListCount: null,
      items: [],

      model: {
        modelFilter: {
          DIST_NAME: "",
          REF_NUMBER: "",
          DATE_FROM:  "",
          DATE_TO:  "",

        },
      },

      advancedSearchSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.DIST_NAME",
                label: "Distributor Name",
                styleClasses: "col-md-6",
              },
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.REF_NUMBER",
                label: "Reference Number",
                styleClasses: "col-md-6",
              },
              {
                type: 'input',
                inputType: 'date',
                model: 'modelFilter.DATE_FROM',
                label: 'Date From',
                styleClasses: 'col-md-3',
                format:"YYYY-MM-DD",
              },

              {
                type: 'input',
                inputType: 'date',
                model: 'modelFilter.DATE_TO',
                label: 'Date To',
                styleClasses: 'col-md-3',
                format:"YYYY-MM-DD",
              },
            ],
          },
        ],
      },

    }
  },
}
</script>
<style lang="scss">
.va-data-table__pagination {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.bgcolor {
  background-color: white !important;
}

.alignleft {
  display: flex;
  justify-content: flex-end;
}
.alignright {
  display: flex;
  justify-content: flex-start;
}
</style>
