<template>
  <va-card>
    <template slot="header">
      <br />
      <div class="row">
        <div class="col">
          <h4 class="card-title">List of Distributor Registration Payment</h4>
        </div>
        <div class="col float-right">
          <div class="float-right">
            <h5>
              <b-badge v-b-toggle.collapse-1 v-b-tooltip.hover
                title="Advance Search" class="mr-1" variant="secondary"
                ><i class="fa fa-search"></i
              ></b-badge>
              <span
                v-b-tooltip.hover
                title="Finance Setting"
                v-on:click="setting"
                class="badge badge-primary mr-1"
              >
                <i class="fa fa-gear"></i
              ></span>

              <downloadExcel
                :json_data="Excell"
                :excelname="excelname"
                :sheetname="sheetname"
                :column="column"
              ></downloadExcel>

              <vue-json-to-csv
                :json-data="csv"
                :csv-title="'DistributorRegistrationList'"
                @success="(val) => handleSuccess(val)"
                @error="(val) => handleError(val)"
                :labels="{
                  REFNO3: { title: 'Reference Number 3' },
                  SN: { title: 'Serial Number' },
                  CODE: { title: 'Party Code' },
                  CHEQUE: { title: 'Cheque Number' },
                  REMARKS: { title: 'Remarks' },
                  REFNO1: { title: 'Reference Number 1' },
                  DATE_DISPLAY: { title: 'Transaction Date' },
                  BANKCODE: { title: 'Bank Code' },
                  ITEMNO: { title: 'Item Number' },
                  ACCCODE: { title: 'GL Account Code' },
                  CURRCODE: { title: 'Currency Code' },
                  DEBIT_AMOUNT: { title: 'Transaction Amount' },
                  DEBIT_AMOUNT2: { title: 'Base Amount' },
                  DISC: { title: 'Description' },
                  SALESMANCODE: { title: 'Salesman Code' },
                  FREIGHTAMOUNT: { title: 'Freight Amount' },
                  DATE_DISPLAY2: { title: 'Due Date' },
                  CREDITTERM: { title: 'Credit Term' },
                  REFNO2: { title: 'Reference Number 2' },
                  REFNO4: { title: 'Reference Number 4' },
                  NOTE: { title: 'Note' },
                  RECEIVEDATE: { title: 'Received Date' },
                  BANKCHARGE: { title: 'Bank Charges' },
                  CTL1: { title: 'Custom Text Level 1' },
                  CTL2: { title: 'Custom Text Level 2' },
                  CTL3: { title: 'Custom Text Level 3' },
                  CTL4: { title: 'Custom Text Level 4' },
                  CTL5: { title: 'Custom Text Level 5' },
                  CTL6: { title: 'Custom Text Level 6' },
                  CTL7: { title: 'Custom Text Level 7' },
                  CTL8: { title: 'Custom Text Level 8' },
                  CTL9: { title: 'Custom Text Level 9' },
                  CTL11: { title: 'Custom Text Level 1' },
                  CTL12: { title: 'Custom Text Level 2' },
                  CTL13: { title: 'Custom Text Level 3' },
                  CTL14: { title: 'Custom Text Level 4' },
                  CTL15: { title: 'Custom Text Level 5' },
                  CTL16: { title: 'Custom Text Level 6' },
                  CTL17: { title: 'Custom Text Level 7' },
                  CTL18: { title: 'Custom Text Level 8' },
                  CTL19: { title: 'Custom Text Level 9' },
                  ACL1: { title: 'Analysis Code Level 1' },
                  ACL2: { title: 'Analysis Code Level 2' },
                  ACL3: { title: 'Analysis Code Level 3' },
                  ACL4: { title: 'Analysis Code Level 4' },
                  ACL5: { title: 'Analysis Code Level 5' },
                  ACL6: { title: 'Analysis Code Level 6' },
                  ACL7: { title: 'Analysis Code Level 7' },
                  ACL8: { title: 'Analysis Code Level 8' },
                  ACL9: { title: 'Analysis Code Level 9' },
                  CHEQUESTATUS: { title: 'Cheque Status' },
                  PRESENTEDDATE: { title: 'Presented Date' },
                  PA1: { title: 'Party Address 1' },
                  PA2: { title: 'Party Address 2' },
                  PA3: { title: 'Party Address 3' },
                  PA4: { title: 'Party Address 4' },
                  PA5: { title: 'Party Address 5' },
                  PARTYPOSTCODE: { title: 'Party Postcode' },
                  PARTYADDRESS: { title: 'Default Party Address' },
                  CURRDATE: { title: 'Currency Rate' },
                  CALCMETHOD: { title: 'Tax Calculation Method' },
                  HEADERTAX: { title: 'Header Tax Schedule Code' },
                  DETAILTAX: { title: 'Detail Tax Schedule Code' },
                  TRANSAMOUNT_TAX: { title: 'Transaction Amount (Tax Incl)' },
                  AMOUNTINBASE: {
                    title: 'Transaction Amount In Base Currency (Tax Incl)',
                  },
                  BANKAMOUNT: { title: 'Bank Amount' },
                  INDUSTRYCODE: { title: 'Standard Industry Code' },
                }"
              >
                <b-badge
                  v-b-tooltip.hover
                  title="Export as CSV for Biztrak"
                  class="mr-1"
                  variant="success"
                >
                  <i class="fa fa-file"></i>
                </b-badge>
              </vue-json-to-csv>
            </h5>
          </div>
        </div>
      </div>
    </template>
    <!-- advanced search form -->
    <b-collapse id="collapse-1" class="mt-2">
      <b-card>
        <vue-form-generator
          :model="model"
          :schema="advancedSearchSchema"
          ref="advancedSearchForm"
        >
        </vue-form-generator>
        <br />
        <button
          @click="filterRecord"
          type="button"
          class="ml-2 btn btn-sm btn-primary"
        >
          Search
        </button>
        <button
          @click.prevent="reset"
          type="button"
          class="ml-2 btn btn-sm btn-danger"
        >
          Reset
        </button>
      </b-card>
    </b-collapse>
    <br />
    <div class="row">
      <div class="flex md3 offset--md9">
        <va-input
          :value="term"
          :placeholder="$t('Search')"
          @input="search"
          removable
        >
          <va-icon name="fa fa-search" slot="prepend" />
        </va-input>
      </div>
    </div>
    <va-data-table
      :datacount="ListCount"
      :fields="fields"
      :data="filteredData"
    >
      <!-- A virtual column -->
      <template slot="no" slot-scope="row">
        {{ row.rowIndex + 1 }}
      </template>
      <template slot="actions" slot-scope="props">
        <h4 class="mt-2">
          <span
            v-b-tooltip.hover
            title="View Payment Details"
            v-on:click="viewRecord(props.rowData)"
            class="badge badge-primary mr-2"
          >
            <i class="fa fa-eye"></i
          ></span>
        </h4>
      </template>
    </va-data-table>
    <br />
    <br />
    <br />

    <button @click="back" type="button" class="btn btn-primary btn-fill btn-md">
      <i class="fa fa-step-backward" /> &nbsp; Previous
    </button>
    <br />
  </va-card>
</template>
<script>
import Vue from "vue";
import VueFormGenerator from "vue-form-generator";
import "vue-form-generator/dist/vfg.css";
import VueJsonToCsv from "vue-json-to-csv";
import { debounce } from "lodash";
import moment from "moment";
import * as servicesModule6 from "../../../app/module6/services05";

Vue.use(VueFormGenerator);
Vue.use(VueJsonToCsv);

export default {
  mounted() {
    this.getAllList();
    this.getExcellList();
    this.getcsv();
  },

  components: {
    VueJsonToCsv,
  },

  methods: {
    clear() {
      this.dateFormat = null;
      this.term = null;
    },
    // async getAllList() {
    //   console.log("get all event : ");
    //   const response = await servicesModule6.getAllDistributorRegistration();
    //   this.items = response;
    //   this.ListCount = this.items.length;
    //   // console.log("get all event : " + response);
    // },

    getAllList: async function () {
      const response = await servicesModule6.getAllDistributorRegistration();
      this.items = response
      this.ListCount = this.items.length
    },

    getExcellList: async function () {
      const response = await servicesModule6.getAllDistributorRegistrationExcell();
      this.Excell = response
      this.ListCountExcell = this.Excell.length
    },

    async getcsv() {
      // console.log('get all event : ')
      const response = await servicesModule6.getCSV1();
      this.csv = response;
    },

    search: debounce(function (term) {
      this.term = term;
      console.log(this.term);
    }, 400),

    async viewRecord(data) {
      localStorage.setItem(
        "DistributorRegistration-Payment-Details",
        JSON.stringify(data)
      );
      this.$router.push({
        name: "DistributorRegistration-Payment-Details",
      });
    },

    // setting
    setting() {
      this.$router.push("/fimm/finance-account-setting");
    },

    // back button
    back() {
      this.$router.push({
        name: "Registration-Payment",
      });
    },

    async filterRecord() {
      try {
        const response = await servicesModule6.filter_dist_record(
          this.model.modelFilter
        );
        console.log("test");
        if (response != "error") {
          this.items = response;
        }
      } catch (error) {}
    },

    async reset() {
      try {
        this.model.modelFilter.DIST_NAME="";
        this.model.modelFilter.REF_NUMBER= "";
        this.model.modelFilter.DATE_FROM=  "";
        this.model.modelFilter.DATE_TO=  "";
      this.getAllList();
        console.log("test reset");
        if (response != "error") {
          this.items = response;
        }
      } catch (error) {}
      
    },

  },

  computed: {
    fields() {
      return [
        {
          name: "__slot:no",
          title: "NO",
        },
        {
          // DIST_TRANS_DATE
          name: "DATE_DISPLAY",
          title: "SUBMISSION DATE",
          sortField: "DATE_DISPLAY",
        },
        {
          name: "DIST_NAME",
          title: "DISTRIBUTOR NAME",
          sortField: "DIST_NAME",
        },
        {
          name: "DIST_TYPE_NAME",
          title: "DISTRIBUTOR TYPE",
          sortField: "DIST_TYPE_NAME",
        },
        {
          name: "PAYMENT_REFERENCE",
          title: "REFERENCE NUMBER",
          sortField: "PAYMENT_REFERENCE",
        },
        {
          name: "CODE",
          title: "CODE",
          sortField: "CODE",
        },
        {
          name: "DEBIT_AMOUNT",
          title: "AMOUNT (RM)",
          sortField: "DEBIT_AMOUNT",
        },
        {
          name: "STATUS",
          title: "STATUS",
          sortField: "STATUS",
        },
        {
          name: "__slot:actions",
          title: "DETAILS",
          dataClass: "justify-content-center",
          width: "15%",
        },
      ];
    },
    
    filteredData () {
      if (!this.term || this.term.length < 1) {
        return this.items
      }
      return this.items.filter(item => {
        return this.term
          .toLowerCase()
          .split(' ')
          .every(
            (v) =>
              item.DIST_NAME.toLowerCase().includes(v) ||
              item.PAYMENT_REFERENCE.toLowerCase().includes(v) ||
              item.DIST_TYPE_NAME.toLowerCase().includes(v) ||
              item.CODE.toLowerCase().includes(v) ||
              item.STATUS.toLowerCase().includes(v)
          )
      })
    },
  },
  data() {
    return {
      column: [
        "SUBMISSION DATE",
        "DISTRIBUTOR NAME",
        "DISTRIBUTOR TYPE",
        "PAYMENT REFERENCE",
        "CODE",
        "STATUS",
        "TYPE",
        "TRANSACTION TYPE",
        "CURRENT BALANCE",
        "AVAILABLE BALANCE",
        "DEBIT AMOUNT",
        "CREDIT AMOUNT",
      ],
      excelname: "download-DistributorRegistrationList",
      sheetname: "DistributorRegistrationPayment",
      dateFormat: "",
      term: null,
      ListCount: null,
      items: [],
      Excell:[],
      csv: [],

      model: {
        modelFilter: {
          DIST_NAME: "",
          REF_NUMBER: "",
          DATE_FROM:  "",
          DATE_TO:  "",

        },
      },

      advancedSearchSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.DIST_NAME",
                label: "Distributor Name",
                styleClasses: "col-md-6",
              },
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.REF_NUMBER",
                label: "Reference Number",
                styleClasses: "col-md-6",
              },
              {
                type: 'input',
                inputType: 'date',
                model: 'modelFilter.DATE_FROM',
                label: 'Date From',
                styleClasses: 'col-md-3',
                format:"YYYY-MM-DD",
              },
              
              {
                type: 'input',
                inputType: 'date',
                model: 'modelFilter.DATE_TO',
                label: 'Date To',
                styleClasses: 'col-md-3',
                format:"YYYY-MM-DD",
              },
            ],
          },
        ],
      },
      
    };
  },
};
</script>
<style lang="scss">
.va-data-table__pagination {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.bgcolor {
  background-color: white !important;
}

.alignleft {
  display: flex;
  justify-content: flex-end;
}
.alignright {
  display: flex;
  justify-content: flex-start;
}
</style>
