<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">View Details Program</h4>
    </div>
    <br />
    <va-card>
      <div>
        <tabs
          :tabs="tabs"
          :currentTab="currentTab"
          :wrapper-class="'default-tabs'"
          :tab-class="'default-tabs__item'"
          :tab-active-class="'default-tabs__item_active'"
          :line-class="'default-tabs__active-line'"
          @onClick="handleClick"
        />
        <div>
          <div v-if="currentTab === 'tab1'">
            <div>
              <br />
              <table class="table table-striped"></table>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td style="width: 20%">SUBMISSION TYPE</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.PROG_DETAILS_REPEAT }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">CPD CODE</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.PROG_CODE }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">PROGRAM TITLE</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.PROG_TITLE }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">DATE START</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.PROG_DATE_START }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">DATE END</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.PROG_DATE_END }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">VENUE</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.PROG_VENUE }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">MODE OF DELIVERY</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.TR_MODE_NAME }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">PROGRAM TYPE</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.TR_PROGRAM_TYPE_NAME }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">TARGET PARTICIPANT</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.PROG_TARGET }}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%">LEARNING OUTCOME</td>
                    <td style="width: 1%">:</td>
                    <td>{{ PDATA.PROG_OUTCOME }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div v-if="currentTab === 'tab2'">
            <div>
              <br />
              <!-- <va-data-table
              :fields="SloFields"
              :data="SloFilteredData"
              no-data-label="No data found"
              :per-page="parseInt(perPage)"
              :datacount="SloRecordCount"
              :dataperpage="parseInt(perPage)"
              clickable
            >
            </va-data-table> -->
            </div>
          </div>
          <div v-if="currentTab === 'tab3'">
            <div>c</div>
          </div>
          <div v-if="currentTab === 'tab4'">
            <br />
            <div>d</div>
          </div>
          <div v-if="currentTab === 'tab5'">
            <div>f</div>
          </div>
        </div>
      </div>
    </va-card>
    <br />
    <!-- Review Section -->
    <va-card>
      <div class="ml-2 col-md-12">
        Approval Section
        <hr />
        <vue-form-generator
          :model="model"
          :schema="reviewSchema"
          :options="formOptions"
          ref="reviewForm"
          @model-updated="onModelUpdated"
        >
        </vue-form-generator>
        <br />
        <br />
        <button
          @click="back"
          type="button"
          class="btn btn-primary btn-fill btn-md"
        >
          <i class="fa fa-step-backward" /> &nbsp; Previous
        </button>
        <div class="float-right">
          <button
            @click="saveAsDraft"
            type="button"
            class="ml-2 btn btn-info btn-fill btn-md"
          >
            <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
          </button>
          <button
            @click="returnCpd"
            type="button"
            class="ml-1 btn btn-warning btn-fill btn-md"
          >
            <i class="fa fa-reply" /> &nbsp; Return
          </button>
          <button
            @click="rejectCpd"
            type="button"
            class="ml-1 btn btn-danger btn-fill btn-md"
          >
            <i class="fa fa-ban" /> &nbsp; Reject
          </button>
          <button
            @click="approveCpd"
            type="button"
            class="ml-1 btn btn-success btn-fill btn-md"
          >
            <i class="fa fa-paper-plane" /> &nbsp; Approve
          </button>
        </div>
      </div>
    </va-card>
  </va-card>
</template>


<script>
import "vue-form-generator/dist/vfg.css";
import Tabs from "vue-tabs-with-active-line";
import * as servicesModule4 from "../../../../app/module4/services01";
import * as services06Module0 from "../../../../app/module0/services06";
import moment from "moment";
const TABS = [
  {
    title: "Program Details",
    value: "tab1",
  },
  {
    title: "Sub Learning Objective",
    value: "tab2",
  },
  {
    title: "Participant",
    value: "tab3",
  },
  {
    title: "Feedback",
    value: "tab4",
  },
  {
    title: "Documents",
    value: "tab5",
  },
];
export default {
  mounted() {
    var data = localStorage.getItem("pdsPostVettingViewDetails");
    this.PROGDATA = JSON.parse(data);
    this.getAllRecord();
    this.getAllRecordSlo();
    this.model.comment = this.PROGDATA.APPR_REMARK;
  },

  components: {
    Tabs,
  },
  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    }, // end tab

    onModelUpdated(newVal, schema) {
      if (schema == "comment") {
        this.model.comment = String(newVal).toUpperCase();
      }
    },

    getAllRecord: async function () {
      const response = await servicesModule4.getDetailsByID(
        this.PROGDATA.PROG_DETAILS_ID
      );
      this.PDATA = response;

      this.PDATA.PROG_DATE_START = moment(this.PDATA.PROG_DATE_START).format(
        "DD-MMM-YYYY"
      );
      this.PDATA.PROG_DATE_END = moment(this.PDATA.PROG_DATE_END).format(
        "DD-MMM-YYYY"
      );

      if (this.PDATA.PROG_DETAILS_REPEAT == "0") {
        this.PDATA.PROG_DETAILS_REPEAT = "NEW";
      }
      if (this.PDATA.PROG_DETAILS_REPEAT == "1") {
        this.PDATA.PROG_DETAILS_REPEAT = "REPEATED";
      }
    },

    getAllRecordSlo: async function () {
      const response = await servicesModule4.getSloByID(
        this.PROGDATA.PROG_DETAILS_ID
      );
      // this.sloList = response;
      // this.SloRecordCount = this.sloList.length;
    },

     async back() {
      this.$router.go(-1);
    },
    saveAsDraft: async function () {
       const data = new FormData();
      data.append("PROG_APPROVAL_ID", this.PROGDATA.PROG_APPROVAL_ID);

      data.append("APPR_REMARK", this.model.comment);
      data.append("APPR_PUBLISH_STATUS", "0");
      data.append("TS_ID", "1");
      const user = localStorage.getItem("user");
      data.append("CREATE_BY", JSON.parse(user).user_id);
      try {
        const response = await servicesModule4.updateApproval(data);
        console.log(response);

        this.$router.go(-1);
      } catch (error) {
        console.log(error);
      }
    },
    approveCpd: async function () {  const data = new FormData();
      data.append("PROG_APPROVAL_ID", this.PROGDATA.PROG_APPROVAL_ID);

      data.append("APPR_REMARK", this.model.comment);
      data.append("APPR_PUBLISH_STATUS", "1");
      data.append("TS_ID", "3");
      const user = localStorage.getItem("user");
      data.append("CREATE_BY", JSON.parse(user).user_id);
        const approvalLevel = await services06Module0.getApprovalLevel(12, 2);
      data.append("APPR_LIST", JSON.stringify(approvalLevel));
      try {
        const response = await servicesModule4.updateApproval(data);
        console.log(response);

        this.$router.go(-1);
      } catch (error) {
        console.log(error);
    }
    },
    returnCpd: async function () {
        if (confirm("Are you sure to return of this submission?")) {
        const data = new FormData();
        data.append("PROG_DETAILS_ID",this.PROGDATA.PROG_DETAILS_ID);
        data.append("STATUS",9);

       try {
           const response = await servicesModule4.returnSubmission(data);
          this.getAllRecord();
           this.$router.go(-1);
          
        } catch (error) {
          console.log(error);
        }

      }
    },
      rejectCpd: async function () {
        if (confirm("Are you sure to reject this submission?")) {
        const data = new FormData();
        data.append("PROG_DETAILS_ID",this.PROGDATA.PROG_DETAILS_ID);
        data.append("STATUS",5);
        data.append("PROG_APPROVAL_ID",this.PROGDATA.PROG_APPROVAL_ID);

       try {
           const response = await servicesModule4.returnSubmission(data);
          this.getAllRecord();
           this.$router.go(-1);
          
        } catch (error) {
          console.log(error);
        }

      }
    },
  },
  computed: {
    // SloFields() {
    //   return [
    //     {
    //       name: "HOURS",
    //       title: "HOURS",
    //       width: "10%",
    //     },
    //     {
    //       name: "SUB_LEARNING_OBJECTIVE",
    //       title: "SUB_LEARNING_OBJECTIVE",
    //     },
    //     {
    //       name: "TOPIC",
    //       title: "TOPIC",
    //     },
    //     {
    //       name: "LS_METHOD_NAME",
    //       title: "METHOD",
    //     },
    //     {
    //       name: "LS_MEDIA_NAME",
    //       title: "MEDIA",
    //     },
    //     {
    //       name: "LS_ASSESSMENT_NAME",
    //       title: "ASSESSMENT",
    //     },
    //     {
    //       name: "SPEAKER",
    //       title: "SPEAKER",
    //     },
    //   ];
    // },
    // SloFilteredData() {
    //   if (!this.term || this.term.length < 1) {
    //     return this.sloList;
    //   }
    // }
  },
  data() {
    return {
      header: "",
      field: [],
      term: null,
      perPage: "10",
      currentPage: 1,
      count: 1,
      // sloList: [],
      // SloRecordCount: null,
      tabs: TABS,
      currentTab: "tab1",
      PDATA: "",

      model: {
        comment: "",
      },

      reviewSchema: {
        fields: [
          {
            type: "textArea",
            model: "comment",
            label: "Remark/Comments",
            hint: "Max 1000 characters",
            max: 1000,
            placeholder: "Enter Remark/Comments",
            rows: 5,
            validator: "string",
            styleClasses: "col-md-12",
          },
        ],
      },

      formOptions: {
        validateAfterChanged: true,
      },
    };
  },
};
</script>


<style lang="scss">
.default-tabs {
  position: relative;
  margin: 0 auto;

  &__item {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: gray;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.25s;

    &__active {
      color: black;
    }

    &:hover {
      border-bottom: 2px solid gray;
      color: black;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid gray;
      color: black;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}

.alignright {
  display: flex;
  justify-content: flex-end;
}

.alignleft {
  display: flex;
  justify-content: flex-start;
}
</style>

<style scoped>
.widthModal {
  width: 80%;
}
</style>