<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">
        Post-Vetting : New Program Application
      </h4>
    </div>
    <br />
    <va-card>
      <div class="ml-1 col-md-12">
        <vue-form-generator
          :model="model"
          :schema="uploadExcelSchema"
          :options="formOptions"
          ref="uploadExcelForm"
        >
        </vue-form-generator>
        <br />
        <div class="float-right">
          <button
            @click="upload"
            type="button"
            class="ml-1 btn btn-success btn-fill btn-md"
          >
            <i class="fa fa-paper-plane" /> &nbsp; Upload
          </button>
        </div>
      </div>
    </va-card>
    <br />
    <va-card>
      <div>
        <tabs
          :tabs="tabs"
          :currentTab="currentTab"
          :wrapper-class="'default-tabs'"
          :tab-class="'default-tabs__item'"
          :tab-active-class="'default-tabs__item_active'"
          :line-class="'default-tabs__active-line'"
          @onClick="handleClick"
        />
        <div>
          <div v-if="currentTab === 'tab1'">
            <div>
              <br />
              <div class="ml-2">
                <vue-form-generator
                  :model="model"
                  :schema="registerNewSchema"
                  :options="formOptions"
                  ref="registerNewForm"
                  @model-updated="onModelUpdated"
                >
                </vue-form-generator>
              </div>
              <div class="ml-2 col-md-12">
                <table class="table table-striped"></table>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td style="width: 15%">
                        <b>Total Participant </b> &nbsp; &nbsp;
                        <span
                          v-b-tooltip.hover
                          title="View Participant"
                          @click="viewParticipant"
                          class="badge badge-primary mr-2"
                        >
                          <i class="fa fa-external-link"></i
                        ></span>
                      </td>
                      <td style="width: 1%">:</td>
                      <td>{{ this.model.totalParticipant }}</td>
                    </tr>
                    <!-- <tr>
                      <td style="width: 15%"><b>Point </b></td>
                      <td style="width: 1%">:</td>
                      <td>{{ this.model.point }}</td>
                    </tr>
                    <tr>
                      <td style="width: 15%"><b>Status</b></td>
                      <td style="width: 1%">:</td>
                      <td>{{ this.model.status }}</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
              <br />
              <br />
              <div class="ml-1 col-md-11">
                <vue-form-generator
                  :model="model"
                  :schema="fileUploadSchema"
                  :options="formOptions"
                  ref="fileUploadForm"
                >
                </vue-form-generator>
              </div>
            </div>
          </div>
          <div v-if="currentTab === 'tab2'">
            <div>
              <br />
              <va-data-table
                id="tblSlo"
                :fields="SloFields"
                :data="SloFilteredData"
                no-data-label="No data found"
                :per-page="parseInt(perPage)"
                :datacount="sloRecordCount"
                :dataperpage="parseInt(perPage)"
                clickable
              >
                <template slot="no" slot-scope="row">
                  {{ row.rowIndex + 1 }}
                </template>

                <template slot="actions" slot-scope="props">
                  <h4 class="mt-2">
                    <span
                      v-b-tooltip.hover
                      title="edit record"
                      v-on:click="editSlo(props.rowData)"
                      class="badge badge-primary mr-2"
                    >
                      <i class="fa fa-edit"></i
                    ></span>
                    <span
                      v-b-tooltip.hover
                      title="delete record"
                      v-on:click="removeSlo(props.rowData)"
                      class="badge badge-danger mr-2"
                    >
                      <i class="fa fa-trash"></i
                    ></span>
                  </h4>
                </template>
              </va-data-table>
              <br />
            </div>
          </div>
          <div v-if="currentTab === 'tab3'">
            <br />
            <va-data-table
              id="tblFB"
              :fields="FeedbackFields"
              :data="FeedbackFilteredData"
              no-data-label="No data found"
              :per-page="parseInt(perPage)"
              :datacount="FeedbackRecordCount"
              :dataperpage="parseInt(perPage)"
              clickable
            >
            </va-data-table>
            <br />
          </div>
        </div>
      </div>
    </va-card>
    <br />

    <button @click="back" type="button" class="btn btn-primary btn-fill btn-md">
      <i class="fa fa-step-backward" /> &nbsp; Previous
    </button>
    <div class="float-right">
      <button
        @click="saveAsDraft"
        type="button"
        class="mr-2 btn btn-info btn-fill btn-md"
      >
        <i class="fa fa-pencil-square-o" /> &nbsp; Save as draft
      </button>
      <button
        @click="submit"
        type="button"
        class="ml-1 btn btn-success btn-fill btn-md"
      >
        <i class="fa fa-paper-plane" /> &nbsp; Submit
      </button>
    </div>
  </va-card>
</template>

<script>
import "vue-form-generator/dist/vfg-core.css";
import "vue-form-generator/dist/vfg.css";
import Tabs from "vue-tabs-with-active-line";
import * as servicesModule4 from "../../../../app/module4/services01";
import * as services06Module0 from "../../../../app/module0/services06";
import moment from "moment";

const TABS = [
  {
    title: "Program Details",
    value: "tab1",
  },
  {
    title: "Sub Learning Objective",
    value: "tab2",
  },

  {
    title: "Feedback",
    value: "tab3",
  },
];

export default {
  props: {},
  mounted() {
    this.getAllDeliveryMode();
    this.getAllProgramType();
    this.checkRunNo();
  },
  components: {
    Tabs,
  },
  methods: {
    onModelUpdated(newVal, schema) {
      if (schema == "venue") {
        this.model.venue = String(newVal).toUpperCase();
      }
      if (schema == "target") {
        this.model.target = String(newVal).toUpperCase();
      }
      if (schema == "outcome") {
        this.model.outcome = String(newVal).toUpperCase();
      }
    },
    checkRunNo: async function () {
      const user = JSON.parse(localStorage.getItem("user")).user_id;
      const res = await servicesModule4.getCompanyId(user);
      const response = await servicesModule4.checkRunNo(res.USER_DIST_ID);
    },
    getAllDeliveryMode: async function () {
      const response = await servicesModule4.getAllDeliveryMode();
      this.deliveryModeList = response;
    },
    getAllProgramType: async function () {
      const response = await servicesModule4.getAllProgramType();
      this.programTypeList = response;
    },

    //*************************************************************** */

    validateHours(value) {
      const expression1 = /^[-+]?[0-9]+\.[0-9]+$/;
      console.log(expression1.test(value));
      if (!expression1.test(value)) {
        return ["Decimal only"];
      }
    },
    //Validation
    validateEndDate(value) {
      if (moment(this.model.startDate).isSameOrBefore(this.model.endDate)) {
        console.log("Valid");
      } else {
        console.log("not Valid");
        return ["Date is Not Valid"];
      } // true
    },
    validateStartDate(value) {
      if (this.model.startDate != null) {
        if (moment(this.model.startDate).isSameOrBefore(moment(), "day")) {
          console.log("Valid");
        } else {
          console.log("not Valid");
          return ["Date is Not Valid"];
        }
      }
      if (this.model.endDate != null) {
        if (moment(this.model.startDate).isSameOrBefore(this.model.endDate)) {
          console.log("Valid");
        } else {
          console.log("not Valid");
          return ["Date is Not Valid"];
        } // true
      }
    },

    viewParticipant: async function () {
      const data = new FormData();
      data.append("PROG_DETAILS_ID", this.model.progDetailsID);

      localStorage.setItem(
        "d-postVettingViewParticipant",
        this.model.progDetailsID
      );
      // this.$router.push({
      //   name: "d-postVettingViewParticipant",
      // });
      let routeData = this.$router.resolve({
        name: "d-postVettingViewParticipant",
      });
      window.open(routeData.href, "_blank");
    },

    back() {
      this.$router.go(-1);
    }, // back button

    handleClick(newTab) {
      this.currentTab = newTab;
    }, // end tab

    //SAVE AS DRAFT
    saveAsDraft: async function () {
      //upload
      const data = new FormData();
      data.append("PROGRAM_ID", this.model.progID);
      data.append("PROG_DETAILS_ID", this.model.progDetailsID);
      data.append("VENUE", this.model.venue);
      data.append("PROGRAM_TITLE", this.model.title);
      data.append("DELIVERY_MODE", this.model.deliveryMode.TR_MODE_ID);
      data.append("PROGRAM_TYPE", this.model.programType.TR_PROGRAM_TYPE_ID);
      this.model.startDate != null
        ? data.append(
            "START_DATE",
            moment(this.model.startDate).format("YYYY-MM-DD")
          )
        : null;
      this.model.endDate != null
        ? data.append(
            "END_DATE",
            moment(this.model.endDate).format("YYYY-MM-DD")
          )
        : null;
      data.append("TOTAL_HOURS", this.model.hours);
      data.append("TARGET_PARTICIPANT", this.model.target);
      data.append("LEARNING_OUTCOME", this.model.outcome);

      const user = JSON.parse(localStorage.getItem("user")).user_id;
      const res = await servicesModule4.getCompanyId(user);

      data.append("CREATE_BY", user);
      data.append("COMPANY_ID", res.USER_DIST_ID);
      data.append("PROG_TYPE", 1);
      data.append("CATEGORY", 2);

      data.append("PUBLISH_STATUS", 0);
      data.append("TS_ID", "1");
      data.append("PROG_DETAILS_REPEAT", 0);

      var yr = new Date().getFullYear().toString().substr(2, 2);
      data.append("YEAR", yr);

      //File upload
      if (this.model.file.length != 0) {
        for (let i = 0; i < this.model.file.length; i++) {
          data.append("file[]", this.model.file[i]);
        }
      }

      try {
        const response = await servicesModule4.updatePostVet(data);
        this.$router.go(-1);
      } catch (error) {
        console.log(error);
      }
    },
    //SUBMIT NEW CASE
    submit: async function () {
      //upload
      const data = new FormData();
      const responsePart = await servicesModule4.getParticipantByID(
        this.model.progDetailsID
      );

      data.append("PARTLIST", JSON.stringify(responsePart));

      data.append("PROGRAM_ID", this.model.progID);
      data.append("PROG_DETAILS_ID", this.model.progDetailsID);
      data.append("VENUE", this.model.venue);
      data.append("PROGRAM_TITLE", this.model.title);
      data.append("DELIVERY_MODE", this.model.deliveryMode.TR_MODE_ID);
      data.append("PROGRAM_TYPE", this.model.programType.TR_PROGRAM_TYPE_ID);
      this.model.startDate != null
        ? data.append(
            "START_DATE",
            moment(this.model.startDate).format("YYYY-MM-DD")
          )
        : null;
      this.model.endDate != null
        ? data.append(
            "END_DATE",
            moment(this.model.endDate).format("YYYY-MM-DD")
          )
        : null;
      data.append("TOTAL_HOURS", this.model.hours);
      data.append("TARGET_PARTICIPANT", this.model.target);
      data.append("LEARNING_OUTCOME", this.model.outcome);

      const user = JSON.parse(localStorage.getItem("user")).user_id;
      const res = await servicesModule4.getCompanyId(user);

      data.append("CREATE_BY", user);
      data.append("COMPANY_ID", res.USER_DIST_ID);
      data.append("PROG_TYPE", 1);
      data.append("CATEGORY", 2);

      data.append("POINT", this.model.point);

      data.append("PUBLISH_STATUS", 1);
      data.append("TS_ID", "15");
      data.append("PROG_DETAILS_REPEAT", 0);
      const approvalLevel = await services06Module0.getApprovalLevel(12, 1);
      data.append("APPR_LIST1", JSON.stringify(approvalLevel));

      const approvalLevel2 = await services06Module0.getApprovalLevel(12, 2);
      data.append("APPR_LIST2", JSON.stringify(approvalLevel2));

      var yr = new Date().getFullYear().toString().substr(2, 2);
      data.append("YEAR", yr);

      //File upload
      if (this.model.file.length != 0) {
        for (let i = 0; i < this.model.file.length; i++) {
          data.append("file[]", this.model.file[i]);
        }
      }

      //notification
      data.append("NOTI_LOCATION", "approvalPostVettingDistributorList");
      var remarkEntry = "(CPD-POST)New entry pending approval ";

      data.append("NOTI_REMARK", remarkEntry);

      try {
        const response = await servicesModule4.updatePostVet(data);
        this.$router.go(-1);
      } catch (error) {
        console.log(error);
      }
    },
    //UPLOAD EXCEL
    async upload() {
      const data = new FormData();
      data.append("file", this.model.fileExcel);
      data.append("PROG_TYPE", 1);
      data.append("CATEGORY", 2);
      const user = JSON.parse(localStorage.getItem("user")).user_id;
      const res = await servicesModule4.getCompanyId(user);

      data.append("CREATE_BY", user);
      data.append("COMPANY_ID", res.USER_DIST_ID);

      try {
        const response1 = await servicesModule4.importExcelPostVet(data);

        //get data TAB 1
        const response = await servicesModule4.getDetailsByID(
          response1.PROG_DETAILS
        );

        this.model.progID = response1.PROG_ID;

        (this.model.progDetailsID = response1.PROG_DETAILS),
          (this.model.deliveryMode = {
            TR_MODE_ID: response.PROG_DELMODE,
            TR_MODE_NAME: response.TR_MODE_NAME,
          });

        this.model.programType = {
          TR_PROGRAM_TYPE_ID: response.PROG_PROGRAM_TYPE,
          TR_PROGRAM_TYPE_NAME: response.TR_PROGRAM_TYPE_NAME,
        };

        this.model.title = response.PROG_TITLE;
        this.model.startDate = response.PROG_DATE_START;
        this.model.endDate = response.PROG_DATE_END;

        this.model.venue = response.PROG_VENUE;
        this.model.hours = response.PROG_HOURS;
        this.model.target = response.PROG_TARGET;
        this.model.outcome = response.PROG_OUTCOME;

        var num = response.PROG_HOURS.toString();
        num = num.slice(0, num.indexOf(".") + 1);
        this.model.point = Number(num);

        this.model.totalParticipant = response.TOTAL_PARTICIPANT;

        this.model.status = response.TS_PARAM;

        //slo
        const responseSlo = await servicesModule4.getSloByID(
          response1.PROG_DETAILS
        );
        this.sloList = responseSlo;
        this.sloRecordCount = this.sloList.length;

        //FB
        const responseFB = await servicesModule4.getFeedbackByID(
          response1.PROG_DETAILS
        );
        this.feedbackList = responseFB;
        //alert(JSON.stringify(this.feedbackList));

        this.feedbackRecordCount = this.feedbackList.length;
      } catch (error) {
        console.log(error);
      }
    },

    //*********************SLO************************ */

    async removeSlo(data) {
      if (confirm("Are you sure you want to delete this record?")) {
        const response = await servicesModule4.deleteSlo(data.PROG_SLO_ID);
        this.getSlo();
      }
    },
  },
  computed: {
    SloFields() {
      return [
        {
          name: "__slot:no",
          title: "NO",
        },
        {
          name: "SUB_LEARNING_OBJECTIVE",
          title: "SUB LEARNING OBJECTIVE",
          sortField: "SUB_LEARNING_OBJECTIVE",
        },
        {
          name: "TOPIC",
          title: "TOPIC",
          sortField: "TOPIC",
        },
        {
          name: "LS_METHOD_NAME",
          title: "METHOD",
          sortField: "LS_METHOD_NAME",
        },
        {
          name: "LS_MEDIA_NAME",
          title: "MEDIA",
          sortField: "LS_MEDIA_NAME",
        },
        {
          name: "LS_ASSESSMENT_NAME",
          title: "ASSESSMENT",
          sortField: "LS_ASSESSMENT_NAME",
        },
        {
          name: "SPEAKER",
          title: "SPEAKER",
          sortField: "SPEAKER",
        },
        {
          name: "HOURS",
          title: "HOURS",
          sortField: "HOURS",
        },
        {
          name: "__slot:actions",
          title: "Action",
          dataClass: "justify-content-center",
          width: "8%",
        },
      ];
    },
    SloFilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.sloList;
      }
      return this.sloList.filter((item) => {
        return this.term
          .toLowerCase()
          .split(" ")
          .every(
            (v) =>
              item.SUB_LEARNING_OBJECTIVE.toLowerCase().includes(v) ||
              item.TOPIC.toLowerCase().includes(v) ||
              item.MEDIA.toLowerCase().includes(v) ||
              item.METHOD.toLowerCase().includes(v) ||
              item.ASSESSMENT.toLowerCase().includes(v) ||
              item.SPEAKER.toLowerCase().includes(v)
          );
      });
    },

    FeedbackFields() {
      return [
        {
          name: "ITEM",
          title: "ITEM",
        },
        {
          name: "RATING",
          title: "RATING",
        },
      ];
    },
    FeedbackFilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.feedbackList;
      }
    },
  },
  data() {
    return {
      tabs: TABS,
      currentTab: "tab1",

      deliveryModeList: [],
      programTypeList: [],

      sloList: [],
      term: null,
      perPage: "10",
      currentPage: 1,
      header: "",
      count: 1,
      sloRecordCount: null,

      feedbackList: [],
      FeedbackRecordCount: null,

      model: {
        deliveryMode: "",
        programType: "",
        title: "",
        startDate: null,
        endDate: null,
        target: "",
        outcome: "",
        venue: "",
        hours: "",
        file: [],
        code: "",
        fileExcel: "",
        point: "0",
        totalParticipant: "0",
        status: "",
        progDetailsID: "",
        progID: "",
      },

      registerNewSchema: {
        fields: [
          {
            type: "input",
            inputType: "date",
            model: "startDate",
            label: "Start Date",
            styleClasses: "col-md-6",
            required: true,
            validator: ["required", this.validateStartDate],
          },
          {
            type: "input",
            inputType: "date",
            model: "endDate",
            label: "End Date",
            styleClasses: "col-md-6",
            required: true,
            validator: ["required", this.validateEndDate],
          },
          {
            type: "input",
            inputType: "text",
            model: "venue",
            label: "Venue",
            placeholder: "Enter Venue",
            styleClasses: "col-md-12",
            required: true,
          },
          {
            type: "input",
            inputType: "text",
            model: "title",
            label: "Program Title",
            placeholder: "Enter Program Title",
            styleClasses: "col-md-6",
            required: true,
            disabled: (model, field, form) => {
              return model.status == "3";
            },
          },
          {
            type: "input",
            inputType: "text",
            model: "hours",
            label: "Total Hours",
            placeholder: "Enter Total Hours",
            styleClasses: "col-md-6",
            required: true,
            validator: ["required", this.validateHours],
            disabled: (model, field, form) => {
              return model.status == "3";
            },
          },
          {
            type: "vueMultiSelect",
            model: "deliveryMode",
            label: "Mode of Delivery",
            placeholder: "Select Mode of Delivery",
            selectOptions: {
              multiple: false,
              key: "TR_MODE_ID",
              label: "TR_MODE_NAME",
              searchable: true,
            },
            values: (model, schema) => {
              return this.deliveryModeList;
            },
            styleClasses: "col-md-6",
            required: true,
            disabled: (model, field, form) => {
              return model.status == "3";
            },
          },
          {
            type: "vueMultiSelect",
            model: "programType",
            label: "Type of Program",
            placeholder: "Select Type of Program",
            selectOptions: {
              multiple: false,
              key: "TR_PROGRAM_TYPE_ID",
              label: "TR_PROGRAM_TYPE_NAME",
              searchable: true,
            },
            values: (model, schema) => {
              return this.programTypeList;
            },
            styleClasses: "col-md-6",
            required: true,
            disabled: (model, field, form) => {
              return model.status == "3";
            },
          },
          {
            type: "textArea",

            model: "target",
            label: "Target Participant",
            hint: "Max 250 characters",
            max: 250,
            placeholder: "Enter Target Participant",
            rows: 5,
            validator: "string",
            styleClasses: "col-md-6",
            required: true,
          },

          {
            type: "textArea",
            model: "outcome",
            label: "Learning Outcome",
            hint: "Max 1000 characters",
            max: 1000,
            placeholder: "Enter Learning Outcome",
            rows: 5,
            validator: "string",
            styleClasses: "col-md-6",
            required: true,
          },
          {
            type: "input",
            inputType: "hidden",
            model: "point",
            styleClasses: "col-md-3",
          },
          {
            type: "input",
            inputType: "hidden",
            model: "totalParticipant",
            styleClasses: "col-md-3",
          },
          {
            type: "input",
            inputType: "hidden",
            model: "status",
            styleClasses: "col-md-3",
          },
          {
            type: "input",
            inputType: "hidden",
            model: "progDetailsID",
            styleClasses: "col-md-3",
          },
          {
            type: "input",
            inputType: "hidden",
            model: "progID",
            styleClasses: "col-md-3",
          },
        ],
      },
      fileUploadSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                labels: "Upload Speaker Profile & Brochures",
                accept: ".pdf",
                multiple: true,
                text: "Choose a File",
                model: "file",
                type: "vfg-custom-multiple-file",
                styleClasses: "col-md-12",
              },
            ],
          },
        ],
      },
      uploadExcelSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                labels: "Upload Excel",
                accept: ".xlxs",
                multiple: true,
                text: "Choose a File",
                model: "fileExcel",
                type: "vfg-custom-file-excel",
                styleClasses: "col-md-12",
              },
            ],
          },
        ],
      },
      formOptions: {
        validateAfterChanged: true,
      },
    };
  },
};
</script>
<style lang="scss">
.default-tabs {
  position: relative;
  margin: 0 auto;

  &__item {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: gray;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.25s;

    &__active {
      color: black;
    }

    &:hover {
      border-bottom: 2px solid gray;
      color: black;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid gray;
      color: black;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}

.alignright {
  display: flex;
  justify-content: flex-end;
}

.alignleft {
  display: flex;
  justify-content: flex-start;
}
</style>

<style scoped>
.widthModal {
  width: 80%;
}
</style>
