/* eslint-disable no-debugger, no-console */
<template>
  <div class="">
    <div class="">
      <va-modal
      v-model="showStaticModal"
      title=""
      message=""
      no-dismiss
      cancel-text=""
      ok-text="Submit"
      @ok="proceedToSubmit"
    >
    <vue-form-generator
                  :model="model"
                  :schema="declarationSchema"
                  :options="formOptions"
                  ref="firstTabForm"
                  @model-updated="onModelUpdated"
                >
    </vue-form-generator>
    </va-modal>
      <vudal name="simpleModal" class="widthModal">
        <div class="header">
          <i class="close icon">&times;</i>
          <br />
        </div>
        <div>
          <va-card>
            <div>
              <horizontal-scroll>
                <va-button-toggle
                  :round="false"
                  outline
                  v-model="tabValue"
                  :options="options"
                  color="danger"
                />
              </horizontal-scroll>
            </div>
            <br />
            <div v-if="tabValue === 1" class="tabcontent">
              <table class="table">
                <tbody>
                  <tr>
                    <td style="width: 20%;"><b>Trainig Provider Name</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.TRP_NAME}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Registration Number</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.TRP_REGI_NUM1}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>New Registration Number</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.TRP_REGI_NUM2}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Training Provider Type</b></td>
                    <td style="width: 2%;">:</td>
                    <td v-if="model.TRP_TYPE_SETUP == 1">
                      Local
                    </td>
                    <td v-if="model.TRP_TYPE_SETUP == 2">
                      Non Local
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Address</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.TRP_ADDR_1}} {{model.TRP_ADDR_2}} {{model.TRP_ADDR_3}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Country</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.TRP_COUNTRY.SET_PARAM}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>State</b></td>
                    <td style="width: 2%;">:</td>
                    <!-- <td v-if="model.TRP_COUNTRY.SET_CODE == 'MY'">

                    </td>
                    <td v-if="model.TRP_COUNTRY.SET_CODE != 'MY'">

                    </td> -->
                    <td>{{model.TRP_STATE}}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>City</b></td>
                    <td style="width: 2%;">:</td>
                    <!-- <td v-if="model.TRP_COUNTRY.SET_CODE == 'MY'">

                    </td>
                    <td v-if="model.TRP_COUNTRY.SET_CODE != 'MY'">

                    </td> -->
                    <td>
                      {{model.TRP_CITY}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Postal</b></td>
                    <td style="width: 2%;">:</td>
                    <!-- <td v-if="model.TRP_COUNTRY.SET_CODE == 'MY'">

                    </td>
                    <td v-if="model.TRP_COUNTRY.SET_CODE != 'MY'">

                    </td> -->
                    <td>
                      {{model.TRP_POSTAL}}
                    </td>

                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Mobile Phone Number</b></td>
                    <td style="width: 2%;">:</td>
                    <td>{{model.TRP_PHONE_NUMBER.valuesubmit}}</td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Fax Number</b></td>
                    <td style="width: 2%;">:</td>
                    <td>{{model.TRP_FAX_NUMBER}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-if="tabValue === 2" class="tabcontent">
              <h4>CEO Profile</h4>
              <table class="table">
                <tbody>
                  <tr>
                    <td style="width: 20%;"><b>Name</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.CEO_REPR_SALUTATION.USER_SAL_NAME}} {{model.CEO_REPR_NAME}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Position</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.CEO_REPR_POSITION}}
                    </td>
                  </tr>
                  <tr v-if="model.CEO_REPR_CITIZEN == 1">
                    <td style="width: 20%;"><b>NRIC No</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.CEO_REPR_NRIC}}
                    </td>
                  </tr>
                  <tr v-if="model.CEO_REPR_CITIZEN == 2">
                    <td style="width: 20%;"><b>Passport No</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.CEO_REPR_PASS_NUM}}
                    </td>
                  </tr>
                  <tr v-if="model.CEO_REPR_CITIZEN == 2">
                    <td style="width: 20%;"><b>Passport Expiry Date</b></td>
                    <td style="width: 2%;">:</td>
                    <td>
                      {{model.CEO_REPR_PASS_EXP}}
                    </td>
                  </tr>
                  <tr>
                    <td v-if="model.CEO_REPR_TELEPHONE == null"></td>
                  </tr>
                  <tr>
                    <td style="width: 20%;"><b>Mobile Phone Number</b></td>
                    <td style="width: 2%;">:</td>
                    <td v-if="model.CEO_REPR_MOBILE_NUMBER != null">
                      {{model.CEO_REPR_MOBILE_NUMBER}}
                    </td>
                    <td v-if="model.CEO_REPR_MOBILE_NUMBER == null">
                      -
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-if="tabValue === 3" class="tabcontent">
              <b-table
                hover
                :items="uploadFileItems"
                :fields="uploadedFileFields"
                responsive="sm"
              >
                <template #cell(actions)="data">
                  <base-checkbox
                    class=""
                    v-model="data.item.selected"
                    disabled="true"
                  ></base-checkbox>
                </template>
                <template #cell()="data">
                  <span class="description">{{ data.value }}</span> &nbsp;
                </template>
                <template #cell(file)="data">
                  <a
                    target="blank"
                    v-if="data.item.selected == true"
                    href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                    >View</a
                  >
                </template>
              </b-table>
            </div>
            </va-card>
        </div>
        <div class="actions">
          <div class="cancel vudal-btn">Close</div>
        </div>
      </vudal>
      <vudal name="simpleModalEdit" class="widthModal">
        <div class="header">
          Edit Director Info
          <i class="close icon">&times;</i>
          <br />
        </div>
        <div class="content">
          <vue-form-generator
            :model="model"
            :schema="editDirectorSchema"
            :options="formOptions"
          />
        </div>
        <div class="actions">
          <button
            type="button"
            class="cancel vudal-btn mr-2 btn btn-danger btn-fill btn-md"
          >
            <i class="fa fa-times" /> &nbsp; Close
          </button>
          <button
            type="button"
            class="cancel vudal-btn mr-2 btn btn-primary btn-fill btn-md"
          >
            <i class="fa fa-edit" /> &nbsp; Edit
          </button>
        </div>
      </vudal>
      <br />
      <div class="row">
        <div class="col-12">
          <va-card>
            <form-wizard
              @on-complete="onComplete"
              color="#FF5050"
              error-color="#a94442"
              finish-button-text="Submit"
              ref="wizardForm"
            >
              <h3 slot="title"></h3>
              <tab-content icon="fa fa-university" title="1. Create Training Provider Profile"
              >
                <br />
                <vue-form-generator
                  :model="model"
                  :schema="firstTabSchema"
                  :options="formOptions"
                  ref="firstTabForm"
                  @model-updated="onModelUpdated"
                >
                </vue-form-generator>
              </tab-content>
              <tab-content icon="fa fa-user" title="2. CEO Profile">
                <br />
                <vue-form-generator
                  :model="model"
                  :schema="thirdTabSchemaCEO"
                  :options="formOptions"
                  ref="thirdTabFormCEO"
                  @model-updated="onModelUpdated"
                >
                </vue-form-generator>
                <br />
              </tab-content>
              <tab-content icon="fa fa-file-text" title="3. Upload Document">
                <br/>
                <vue-form-generator
                    :model="model"
                    :schema="uploadSchema"
                    :options="formOptions"
                    ref="uploadForm"
                    @model-updated="onModelUpdated"
                >
                </vue-form-generator>
                <br/>
              </tab-content>
              <br />
              <template
                slot="footer"
                slot-scope="{ activeTabIndex, isLastStep, nextTab, prevTab }"
              >
                <div class="float-left">
                  <button
                    v-if="activeTabIndex > 0"
                    @click="prevTab"
                    type="button"
                    class="btn btn-primary btn-fill btn-md"
                  >
                    <i class="fa fa-step-backward" /> &nbsp; Previous
                  </button>
                </div>
                <div class="float-right">
                  <!-- <button
                    :disabled="model.TRP_PUBLISH_STATUS"
                    @click="submit(1)"
                    type="button"
                    class="btn btn-info btn-fill btn-md"
                  >
                    <i class="fa fa-edit" /> &nbsp;Save as Draft
                  </button> -->
                  <button
                    v-if="isLastStep"
                    @click="showmodal"
                    type="button"
                    class="ml-2 btn btn-warning btn-fill btn-md"
                  >
                    <i class="fa fa-play-circle" /> &nbsp;Preview
                  </button>
                  <button
                    v-if="!isLastStep"
                    @click="nextTab"
                    type="button"
                    class="ml-2 btn btn-primary btn-fill btn-md"
                  >
                    Next &nbsp; <i class="fa fa-step-forward" />
                  </button>
                  <button
                    v-if="isLastStep"
                    @click="submitDistributor"
                    type="button"
                    class="ml-2 btn btn-primary btn-fill btn-md"
                  >
                    Submit
                  </button>
                </div>
              </template>
            </form-wizard>
          </va-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import Vudal from "vudal";
import VueFormGenerator from "vue-form-generator";
import "vue-form-generator/dist/vfg-core.css";
import VueFormWizard from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import Vue from "vue";
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";

// Import Bootstrap an BootstrapVue CSS files (order is important)
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import HorizontalScroll from "vue-horizontal-scroll";
import "vue-horizontal-scroll/dist/vue-horizontal-scroll.css";
import * as services06Module0 from "../../../app/module0/services06";
import * as services06Module1 from "../../../app/module1/services06";
import * as servicesModule5 from "../../../app/module5/services";
import * as services03Module5 from "../../../app/module5/services03"
import moment from "moment";
import { parse } from "vue-currency-input";

// Make BootstrapVue available throughout your project
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);
Vue.use(VueFormGenerator);
Vue.use(VueFormWizard);
Vue.component(Vudal);
// register globally
Vue.component("multiselect", Multiselect);
export default {
  watch: {
    "model.ssmForm9": function(value) {
    }
  },

  computed: {
    filteredData() {
      return this.directorList;
    },

    fieldsFile1() {
      return [
        {
          name: "__slot:marker",
          width: "30px",
          dataClass: "text-center"
        },
        {
          name: "__slot:no",
          title: "No",
          width: "30px"
        },
        {
          name: "REQ_DOCU_NAME", // "REQ_DOCU_NAME",
          title: "Name",
          width: "50%"
        },
        {
          name: "__slot:actions",
          title: "Choose File"
          // dataClass: "float-right"
        }
      ];
    },
    filteredDataFile1() {
      return this.uploadFileItems1;
    },

    fieldsFile2() {
      return [
        {
          name: "__slot:marker",
          width: "30px",
          dataClass: "text-center"
        },
        {
          name: "__slot:no",
          title: "No",
          width: "30px"
          // height: "45px"
          // dataClass: "text-center"
        },
        {
          name: "fileName",
          title: "Name",
          width: "50%"
        },
        {
          name: "__slot:actions",
          title: "Choose File"
          // dataClass: "float-right"
        }
      ];
    },
    filteredDataFile2() {
      return this.uploadFileItems2;
    },
    fieldsFile3() {
      return [
        {
          name: "__slot:marker",
          width: "30px",
          dataClass: "text-center"
        },
        {
          name: "__slot:no",
          title: "No",
          width: "30px"
          // height: "45px"
          // dataClass: "text-center"
        },
        {
          name: "fileName",
          title: "Name",
          width: "50%"
        },
        {
          name: "__slot:actions",
          title: "Choose File"
          // dataClass: "float-right"
        }
      ];
    },
    filteredDataFile3() {
      return this.uploadFileItems3;
    }
  },
  components: {
    Vudal,
    HorizontalScroll
  },
  mounted() {
    this.getUserSalutation();
    // this.getDefaultCountry();
    // this.getApplicationType();
    this.getCountry();
    this.showStaticModal = false;
    // this.getDistributorById();

    // this.getDocumentAdditional();

  },
  props: {
    value: File
  },
  data() {
    return {
      showStaticModal: true,
      documentIdArray: [],
      uploadFileOject: [],
      companyLogo: "",
      ssmForm8: "",
      ssmForm9: "",
      BODApprove: "",
      receipt: "",
      file1:[],
      file2: [],
      file3:[],
      updateDistributor: false,
      pdfURL: "blob:http://localhost:8080/03ae069e-59ff-44ac-946a-e130c4fcd6e3",
      fileRecords: [],
      fileRecords2: [],
      fileRecords3: [],
      fileRecordsForUpload: [],
      fileRecordsForUpload2: [],
      fileRecordsForUpload3: [],
      uploadUrl: "https://www.mocky.io/v2/5d4fb20b3000005c111099e3",
      uploadHeaders: {
        "X-Test-Header": "vue-file-agent"
      },
      state: [],
      country: [],
      options: [
        { label: "Training Provider Profile", value: 1 },
        { label: "CEO Profile", value: 2 },
        { label: "Uploaded Document", value: 3 }
      ],
      tabValue: 1,
      activePage: 4,
      activetab: 1,
      applicantPhoto: "",
      show: false,
      show_second: false,
      show_third: false,
      modalClass: "modal-90per",
      currentPage: 1,
      filter: null,
      directorList: [],
      showView: false,
      contactPersonValue: null,
      visibleIc: true,
      visiblePassport: false,
      visibleIcAAR: true,
      visiblePassportAAR: false,
      visiblePassportCEO: false,
      visibleIcCEO: true,
      visiblePassportOther: false,
      visibleIcOther: true,
      citizenship: [
        {
          name: "Malaysian",
          value: 1,
          selected: true
        },
        {
          name: "Non Malaysian",
          value: 2
        }
      ],
      postcode: [],
      city: [],
      states: "",
      setupType: [
        { value: 1, name: "Local" },
        { value: 2, name: "Non Local " }
      ],
      salutations: [],
      transType: [
        {
          name: "ONLINE TRANSACTION",
          value: 1
        },
        {
          name: "CASH DEPOSIT",
          value: 2
        }
      ],
      department: [],
      structureType: [
        { value: 1, name: "Single-tier" },
        { value: 2, name: "Multi-tier" }
      ],
      approachType: [
        { value: 1, name: "Direct" },
        { value: 2, name: "Nominee" }
      ],

      model: {
        file1: [],
        file2: [],
        file3: [],
        show1: true,
        //* *Particulars of Applicant (Corporate)*/
        TRP_PUBLISH_STATUS: "",
        companyLogo: [],
        DISTRIBUTOR_ID: "",
        TRP_NAME: "",
        TRP_REGI_NUM1: "",
        TRP_REGI_NUM2: "",
        TRP_DATE_INCORP: "",
        TRP_TYPE_SETUP: "1",
        TRP_PHONE_NUMBER: "",
        TRP_PHONE_EXTENSION: null,
        TRP_MOBILE_NUMBER: "",
        TRP_EMAIL: "",
        TRP_FAX_NUMBER: "",

        TRP_ADDR_1: "",
        TRP_ADDR_2: "",
        TRP_ADDR_3: "",
        TRP_POSTAL: "",
        TRP_COUNTRY: "",
        TRP_CITY: "",
        TRP_STATE: "",
        applicationType: null,

        //* * Ceo Detail */
        CEO_REPR_SALUTATION: "",
        CEO_REPR_NAME: "",
        CEO_REPR_POSITION: "",
        CEO_REPR_NRIC: "",
        CEO_REPR_PASS_NUM: "",
        CEO_REPR_PASS_EXP: null,
        CEO_REPR_CITIZEN: 1,
        CEO_REPR_TELEPHONE: "",
        CEO_REPR_MOBILE_NUMBER: "",
        CEO_REPR_EMAIL: ""
      },
      formOptions: {
        // validationErrorClass: "has-error",
        // validationSuccessClass: "has-`success`",
        validateAfterChanged: true
      },
      firstTabSchema: {
        groups: [
          {
            styleClasses: "row",
            // legend: "Create Company Profile",
            fields: [
              {
                type: "input",
                inputType: "text",
                label: "Training Provider Name",
                model: "TRP_NAME",
                placeholder: "Enter Training Provider name",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                label: "Registration Number",
                model: "TRP_REGI_NUM1",
                placeholder: "Enter distributor registration number",
                required: true,
                validator: "string",
                styleClasses: "col-md-4"
              },
              {
                type: "input",
                inputType: "text",
                label: "New Registration Number",
                model: "TRP_REGI_NUM2",
                placeholder: "Enter new distributor registration number",
                required: true,
                validator: "string",
                styleClasses: "col-md-3"
              },
              {
                type: "radios",
                label: "Training Provider Type",
                model: "TRP_TYPE_SETUP",
                required: true,
                validator: "required",
                styleClasses: "col-md-3 display-inline",
                values: () => {
                  return this.setupType;
                }
              },

              {
                type: "input",
                inputType: "text",
                label: "Address",
                model: "TRP_ADDR_1",
                placeholder: "Enter street address",
                hint: "Street Address",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                model: "TRP_ADDR_2",
                placeholder: "Enter street address",
                hint: "Street Address line 2",
                styleClasses: "col-md-12"
              },
              {
                type: "input",
                inputType: "text",
                model: "TRP_ADDR_3",
                placeholder: "Enter street address",
                hint: "Street Address line 3",
                styleClasses: "col-md-12"
              },
              {
                type: "vueMultiSelect",
                model: "TRP_COUNTRY",
                label: "Country",
                placeholder: "Enter Your Country",
                required: true,
                validator: "required",
                styleClasses: "col-md-6",
                selectOptions: {
                  multiple: false,
                  key: "SET_PARAM",
                  label: "SET_PARAM",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.country;
                }
              },
              {
                label: "State",
                type: "input",
                inputType: "text",
                model: "TRP_STATE",
                placeholder: "Enter Your State",
                styleClasses: "col-md-6",
                required: true,
                validator: "required",
                // visible: (model, field, form) => {
                //   return model.TRP_COUNTRY.SET_CODE != "MY";
                // }
              },
              // {
              //   type: "vueMultiSelect",
              //   model: "TRP_STATE",
              //   label: "State",
              //   placeholder: "Select Your state",
              //   required: true,
              //   validator: "required",
              //   styleClasses: "col-md-6",
              //   selectOptions: {
              //     multiple: false,
              //     key: "SET_PARAM",
              //     label: "SET_PARAM",
              //     searchable: true
              //   },
              //   // visible: (model, field, form) => {
              //   //   return model.TRP_COUNTRY.SET_CODE == "MY";
              //   // },
              //   values: (model, schema) => {
              //     return this.state;
              //   }
              // },
              // {
              //   type: "vueMultiSelect",
              //   model: "TRP_CITY",
              //   label: "City",
              //   placeholder: "Enter Your City",
              //   required: true,
              //   validator: "required",
              //   styleClasses: "col-md-6",
              //   selectOptions: {
              //     multiple: false,
              //     key: "SET_CITY_NAME",
              //     label: "SET_CITY_NAME",
              //     searchable: true
              //   },
              //   visible: (model, field, form) => {
              //     return model.TRP_COUNTRY.SET_CODE == "MY";
              //   },
              //   values: (model, schema) => {
              //     return this.city;
              //   }
              // },
              {
                label: "City",
                type: "input",
                inputType: "text",
                model: "TRP_CITY",
                placeholder: "Enter Your City",
                styleClasses: "col-md-6",
                required: true,
                validator: "required",
                // visible: (model, field, form) => {
                //   return model.TRP_COUNTRY.SET_CODE != "MY";
                // }
              },
              {
                label: "Postcode",
                type: "input",
                inputType: "text",
                model: "TRP_POSTAL",
                placeholder: "Enter Your Postcode",
                styleClasses: "col-md-6",
                required: true,
                validator: "required",
                // visible: (model, field, form) => {
                //   return model.TRP_COUNTRY.SET_CODE != "MY";
                // }
              },
              // {
              //   type: "vueMultiSelect",
              //   model: "TRP_POSTAL",
              //   label: "Postcode",
              //   placeholder: "Enter Your Postcode",
              //   required: true,
              //   validator: "required",
              //   styleClasses: "col-md-6",
              //   visible: (model, field, form) => {
              //     return model.TRP_COUNTRY.SET_CODE == "MY";
              //   },
              //   selectOptions: {
              //     multiple: false,
              //     key: "POSTCODE_NO",
              //     label: "POSTCODE_NO",
              //     searchable: true
              //   },
              //   values: (model, schema) => {
              //     return this.postcode;
              //   }
              // },
              {
                labels: "Mobile Phone Number",
                model: "TRP_COMPANY_MOBILE_NO",
                type: "vfg-the-mask",
                placeholder: "Enter telephone number",
                mask: "###-########",
                styleClasses: "col-md-6",
                required: true,
                validator: "string"
              },
              {
                type: "input",
                inputType: "text",
                label: "Fax Number",
                model: "TRP_FAX_NUMBER",
                placeholder: "Enter fax number",
                required: false,
                styleClasses: "col-md-6"
              },
              {
                type: "input",
                inputType: "email",
                label: "Email Address",
                model: "TRP_EMAIL",
                placeholder: "Enter email address",
                required: true,
                validator: "string",
                styleClasses: "col-md-6"
              }
            ]
          }
        ]
      },
      thirdTabSchemaCEO: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "vueMultiSelect",
                model: "CEO_REPR_SALUTATION",
                label: "Salutation",
                placeholder: "Enter Your Salutation",
                required: true,
                validator: "required",
                styleClasses: "col-md-3",
                selectOptions: {
                  multiple: false,
                  key: "USER_SAL_NAME",
                  label: "USER_SAL_NAME",
                  searchable: true
                },
                values: (model, schema) => {
                  return this.salutations;
                }
              },
              {
                type: "input",
                inputType: "text",
                label: "Name",
                model: "CEO_REPR_NAME",
                placeholder: "Please enter name",
                required: true,
                validator: "string",
                styleClasses: "col-md-9"
              },
              {
                type: "input",
                inputType: "text",
                label: "Position",
                model: "CEO_REPR_POSITION",
                placeholder: "Enter position",
                required: true,
                validator: "string",
                styleClasses: "col-md-12"
              },
              {
                type: "radios",
                label: "Citizenship",
                model: "CEO_REPR_CITIZEN",
                values: () => {
                  return this.citizenship;
                },
                styleClasses: "col-md-3 display-inline",
                required: true,
                validator: "required"
              },
              {
                type: "input",
                inputType: "text",
                label: "NRIC No",
                model: "CEO_REPR_NRIC",
                placeholder: "Enter NRIC No.",
                required: true,
                validator: ["required", this.validateIC],
                styleClasses: "col-md-9",
                visible: (model, field, form) => {
                  return model.CEO_REPR_CITIZEN == 1;
                }
              },
              {
                type: "input",
                inputType: "text",
                label: "Passport No.",
                model: "CEO_REPR_PASS_NUM",
                placeholder: "Enter Passport No.",
                required: true,
                validator: "string",
                styleClasses: "col-md-5",
                visible: (model, field, form) => {
                  return model.CEO_REPR_CITIZEN == 2;
                }
              },
              {
                labels: "Passport Expiry Date",
                type: "vfg-functional-date",
                placeholder: "Passport Expiry Date",
                model: "CEO_REPR_PASS_EXP",
                noLabel: true,
                noClearButton: true,
                format: "dd-MM-yyyy",
                styleClasses: "col-md-4",
                visible: (model, field, form) => {
                  return model.CEO_REPR_CITIZEN == 2;
                },
                required: true,
                validator: "required"
              },
              {
                labels: "Telephone Number",
                model: "CEO_REPR_MOBILE_NUMBER",
                type: "vfg-the-mask",
                placeholder: "Enter telephone number",
                mask: "01#-########",
                styleClasses: "col-md-6",
                required: true,
                validator: "string"
              },
              {
                type: "input",
                inputType: "email",
                label: "Email Address",
                model: "CEO_REPR_EMAIL",
                placeholder: "Enter email address",
                required: true,
                validator: "string",
                styleClasses: "col-md-6"
              },
            ]
          }
        ]
      },

      declarationSchema: {
        groups: [
          {
            styleClasses: ["row col"],
            legend: "",
            fields: [
              {
                type: "checkbox",
                model: "AI_term1",
                default: false,
                // required: true,
                // validator: "required",
                styleClasses: "col-sm-1 mt-1"
              },
              {
                type: "label",
                label:
                  "We agree to abide by the applicable Terms and Conditions  of use for this system and relevant laws and rules issued by FIMM.",
                // validator: "required",
                styleClasses: "col-sm-11"
              }
            ]
          },
          {
            styleClasses: ["row col"],
            legend: "",
            fields: [
              {
                type: "checkbox",
                model: "AI_term2",
                default: false,
                // required: true,
                // validator: "required",
                styleClasses: "col-sm-1 mt-1"
              },
              {
                type: "label",
                label:
                  "We hereby confirm that the information given herein and in any other document provided by us for purposes of our application and registration with FIMM is true and accurate.",
                // validator: "required",
                styleClasses: "col-sm-11"
              }
            ]
          },
          {
            styleClasses: ["row col"],
            legend: "",
            fields: [
              {
                type: "checkbox",
                model: "AI_term3",
                default: false,
                required: true,
                // validator: "required",
                styleClasses: "col-sm-1 mt-1"
              },
              {
                type: "label",
                label:
                  "Further, we hereby confirm and under take to ensure that, pursuant to the Personal Data Protection Act 2010, we have the consent of our officers, employees and unit trust consultants for the disclosure to and use by FIMM of their personal data.",
                // validator: "required",
                styleClasses: "col-sm-11"
              }
            ]
          }
        ]
      },
      uploadSchema: {
          groups: [
          {
            styleClasses: 'row',
            fields: [
              {
                id: 1,
                labels: 'Form 49',
                accept: '.pdf',
                multiple: false,
                required: true,
                text: 'Choose a File',
                model: 'file1',
                type: 'vfg-custom-multiple-file',
                styleClasses: 'col-md-12',
              },
            ],
          },
        ],
      },
    };
  },
  methods: {
    showOverlay(show) {
      Event.$emit("trp-register:overlay", show);
    },
    getBlobFile: function(fileRecords) {

    },
    async proceedToSubmit() {
      const vm = this;
      const user = localStorage.getItem("user");
      const data = new FormData();
      console.log("sini");
      console.log(this.uploadFileOject);
      console.log("sana");
      if (this.uploadFileOject.length != 0) {
        for (let i = 0; i < this.uploadFileOject.length; i++) {
          data.append(
            "FILEOBJECTID[]",
            JSON.stringify(this.uploadFileOjectId[i])
          );
          data.append("FILEOBJECT[]", this.uploadFileOject[i]);
        }
      }
      data.append("FILEOBJECT2", this.uploadFileOject2);
      data.append("companyLogo", this.model.companyLogo);
      data.append("ssmForm8", this.model.ssmForm8);
      data.append("ssmForm9", this.model.ssmForm9);
      data.append("BODApprove", this.model.BODApprove);

      // CREATE TRP PROFILE
      data.append("USER_ID", JSON.parse(user).user_id);
      data.append("TRP_NAME", this.model.TRP_NAME ?? "");
      data.append("TRP_REG_N0", this.model.TRP_REGI_NUM1 ?? "");
      data.append("TRP_NEW_REG_NO", this.model.TRP_REGI_NUM2 ?? "");
      data.append("TRP_TYPE", this.model.TRP_TYPE_SETUP ?? "");
      data.append(
        "TRP_COMPANY_MOBILE_NO",
        this.model.TRP_PHONE_NUMBER != null ? this.model.TRP_PHONE_NUMBER : ""
      );
      data.append("TRP_FAX_NUMBER", this.model.TRP_FAX_NUMBER ?? "");
      data.append("TRP_EMAIL", this.model.TRP_EMAIL ?? "");
      data.append("TRP_COUNTRY", this.model.TRP_COUNTRY.SETTING_GENERAL_ID);
      data.append("TRP_STATE",this.model.TRP_STATE);
      data.append("TRP_CITY",this.model.TRP_CITY);
      data.append("TRP_POSTAL", this.model.TRP_POSTAL ?? "");
      data.append("TRP_ADDR_1", this.model.TRP_ADDR_1 ?? "");
      data.append("TRP_ADDR_2", this.model.TRP_ADDR_2 ?? "");
      data.append("TRP_ADDR_3", this.model.TRP_ADDR_3 ?? "");

      // CEO Profile
      this.model.CEO_REPR_SALUTATION != ""
        ? data.append(
            "CEO_REPR_SALUTATION",
            this.model.CEO_REPR_SALUTATION.USER_SAL_ID
          )
        : null;
      data.append("CEO_REPR_NAME", this.model.CEO_REPR_NAME ?? "");
      data.append("CEO_REPR_POSITION", this.model.CEO_REPR_POSITION ?? "");
      data.append("CEO_REPR_NRIC", this.model.CEO_REPR_NRIC ?? "");
      data.append("CEO_REPR_PASS_NUM", this.model.CEO_REPR_PASS_NUM ?? "");
      this.model.CEO_REPR_PASS_EXP != null
        ? data.append(
            "CEO_REPR_PASS_EXP",
            moment(this.model.CEO_REPR_PASS_EXP).format("YYYY-MM-DD")
          )
        : null;
      data.append("CEO_REPR_CITIZEN", this.model.CEO_REPR_CITIZEN ?? "");
      data.append(
        "CEO_REPR_TELEPHONE",
        this.model.CEO_REPR_MOBILE_NUMBER ?? ""
      );
      data.append(
        "CEO_REPR_MOBILE_NUMBER",
        this.model.TRP_MOBILE_NUMBER ?? ""
      );
      data.append("CEO_REPR_EMAIL", this.model.CEO_REPR_EMAIL ?? "");

      if (this.model.file1.length != 0) {
        for (let i = 0; i < this.model.file1.length; i++) {
          data.append('file1[]', this.model.file1[i])
        }
      }

      // data.append("DIST_PUBLISH_STATUS", status);
      // if (status == 2) {
      //   const approvalLevel = await services06Module0.getApprovalLevel(
      //     "NEW DISTIBUTOR - A(1)(a)",
      //     1
      //   );
      //   data.append("APPR_LIST", JSON.stringify(approvalLevel));
      // }
      try {
        // if (this.updateDistributor == false) {
          if(confirm('Verify this data is correct')){
          const approvalLevel = await services06Module0.getApprovalLevelNM(26, 3);
          data.append("APPR_LIST", JSON.stringify(approvalLevel));
            //notification
          data.append("NOTI_LOCATION", "trp-submission-list");
          var remarkEntry = "(TRP) Trainig Provider Registration ";
          const response = await services03Module5.createTRPProfile(data);
          this.$router.push("/trp/dashboard");
          } else {}
        // } else {
        //   data.append("DELETED_DIR", JSON.stringify(this.deletedDir));
        //   data.append("DISTRIBUTOR_ID", this.model.DISTRIBUTOR_ID);
        //   data.append("FILEDELETED", JSON.stringify(this.fileDeleted));
        //   data.append("_method", "PUT");
        //   const response = await services06Module1.updateDistributorProfile(
        //     data
        //   );
        // }
      } catch (error) {
        console.log(error);
      }
    },
    b64toBlobPDF(b64Data, contentType, sliceSize) {
      contentType = contentType || "";
      sliceSize = sliceSize || 512;

      var byteCharacters = atob(b64Data);
      var byteArrays = [];

      for (
        var offset = 0;
        offset < byteCharacters.length;
        offset += sliceSize
      ) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
      }

      console.log(byteArrays);

      return new File(byteArrays, "pot", { type: contentType });
    },
    deleteUploadedFile: function(fileRecord) {
      // Using the default uploader. You may use another uploader instead.
      this.uploadFileOject = [];
      this.$refs.vueFileAgent.deleteUpload(
        this.uploadUrl,
        this.uploadHeaders,
        fileRecord
      );
      var i;
      for (i = 0; i < this.fileRecordsForUpload.length; i++) {
        this.uploadFileOject.push(this.fileRecordsForUpload[i].file);
      }
    },
    filesSelected: function(fileRecordsNewlySelected, fileRecords, docId) {
      this.uploadFileOject = [];
      this.uploadFileOjectId.push(docId);
      var validFileRecords = fileRecordsNewlySelected.filter(
        fileRecord => !fileRecord.error
      );
      this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
        validFileRecords
      );
      var i;
      for (i = 0; i < this.fileRecordsForUpload.length; i++) {
        this.uploadFileOject.push(this.fileRecordsForUpload[i].file);
      }
    },
    onBeforeDelete: function(fileRecord, fileRecords, docId) {
      this.fileDeleted = [];
      this.fileDeleted.push(docId);
    },
    fileDeleted: function(fileRecord, fileRecords, docId) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      } else {
        this.deleteUploadedFile(fileRecord);
      }
    },
    async getDocumentAdditional() {
      const data = {
        REQ_DOCU_TYPE: 2,
        MANAGE_SUBMODULE_ID: 1
      };
      const response = await services06Module0.getDocumentByType(data);
    },
    async getDocumentProposal() {
      const data = {
        REQ_DOCU_TYPE: 1,
        MANAGE_SUBMODULE_ID: 1,
        DISTRIBUTOR_ID: 43
      };
      const response = await services06Module0.getDocumentProposal(data);
      this.proposalList = response.dataProposal;
      this.proposalList.forEach(item => {
        item.list.forEach(element => {
          element.DOCU_BLOB = this.b64toBlobPDF(
            element.DOCU_BLOB,
            "application/pdf"
          );
          console.log("mula");
          console.log(element.DOCU_BLOB); // <----- cuba tgk ini
          console.log("habis");
          element.DOCU_BLOB = new File(
            [element.DOCU_BLOB],
            element.DOCU_ORIGINAL_NAME + "." + element.DOCU_FILETYPE,
            { type: element.DOCU_BLOB.type }
          );
          console.log(element.DOCU_BLOB);
          const data = {
            name: element.DOCU_ORIGINAL_NAME + "." + element.DOCU_FILETYPE,
            size: element.DOCU_FILESIZE,
            type: element.DOCU_FILETYPE,
            ext: "exe",
            url: window.URL.createObjectURL(element.DOCU_BLOB)
          };
          element.fileRecords.push(data);
        });
      });
      this.additionalList = response.dataAdditional;
      this.additionalList.forEach(element => {
        element.DOCU_BLOB = this.b64toBlobPDF(
          element.DOCU_BLOB,
          "application/pdf"
        );
        console.log("mula");
        console.log(element.DOCU_BLOB); // <----- cuba tgk ini
        console.log("habis");
        element.DOCU_BLOB = new File(
          [element.DOCU_BLOB],
          element.DOCU_ORIGINAL_NAME + "." + element.DOCU_FILETYPE,
          { type: element.DOCU_BLOB.type }
        );
        console.log(element.DOCU_BLOB);
        // element.fileRecords.push(element.DOCU_BLOB);
        // alert(element.DOCU_BLOB.name);
        const data = {
          name: element.DOCU_ORIGINAL_NAME + "." + element.DOCU_FILETYPE,
          size: element.DOCU_FILESIZE,
          type: element.DOCU_FILETYPE,
          ext: "exe",
          url: window.URL.createObjectURL(element.DOCU_BLOB)
        };
        element.fileRecords.push(data);
      });
    },
    async submitDistributor() {
      if (!this.$refs.firstTabForm.validate()) {
        if (!this.$refs.detailInfoForm.validate()) {
          if (!this.$refs.thirdTabFormCEO.validate()) {
            if (!this.$refs.ARForm.validate()) {
              if (!this.$refs.ARForm.validate()) {
                if (!this.$refs.ARForm.validate()) {
                  if (!this.$refs.AIForm1.validate()) {
                    if (!this.$refs.AIForm1.validate()) {
                      if (!this.$refs.AIForm2.validate()) {
                        if (!this.$refs.AIForm3.validate()) {
                          if (!this.$refs.fifthTabForm.validate()) {
                            if (!this.$refs.detailInfoForm.validate()) {
                            } else {
                              // alert("submit");
                              this.submit(2);
                            }
                          } else {
                            //alert("submit");
                            this.submit(2);
                          }
                        } else {
                         // alert("submit");
                          this.submit(2);
                        }
                      } else {
                        //alert("submit");
                        this.submit(2);
                      }
                    } else {
                      //alert("submit");
                      this.submit(2);
                    }
                  } else {
                   // alert("submit");
                    this.submit(2);
                  }
                } else {
                 // alert("submit");
                  this.submit(2);
                }
              } else {
                //alert("submit");
                this.submit(2);
              }
            } else {
              //alert("submit");
              this.submit(2);
            }
          } else {
            //alert("submit");
            this.submit(2);
          }
        } else {
         // alert("submit");
          this.submit(2);
        }
      } else {
       // alert("submit");
        this.submit(2);
      }
    },
    dataURItoBlob(dataurl, filename) {
      var arr = dataurl.split(",");
      var mime = arr[0].match(/:(.*?);/)[1];
      var bstr = atob(arr[1]);
      var n = bstr.length;
      var u8arr = new Uint8Array(n);

      while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
      }

      return new File([u8arr], filename, { type: mime });
    },
    async getDistributorById() {
      const user = localStorage.getItem("user");
      if ( JSON.parse(user).user_id == 0 || JSON.parse(user).user_id == 'undefined' ){

      }
      else{
      const response = await services06Module1.getDistributorById(
        JSON.parse(user).user_id
      );
      if (response == null) {
        this.updateDistributor = false;
      } else {
        this.model.DIST_PUBLISH_STATUS = response.DIST_PUBLISH_STATUS;
        this.model.DIST_NAME = response.DIST_NAME;
        this.model.DISTRIBUTOR_ID = response.DISTRIBUTOR_ID;
        this.getDocumentProposal();
        this.model.DIST_NAME = response.DIST_NAME;
        this.model.DIST_REGI_NUM1 = response.DIST_REGI_NUM1;
        this.model.DIST_REGI_NUM2 = response.DIST_REGI_NUM2;
        this.model.DIST_DATE_INCORP = response.DIST_DATE_INCORP;
        this.model.DIST_TYPE_SETUP = response.DIST_TYPE_SETUP;
        this.model.DIST_PHONE_NUMBER = response.DIST_PHONE_NUMBER;
        this.model.DIST_PHONE_EXTENSION = response.DIST_PHONE_EXTENSION;
        this.model.DIST_MOBILE_NUMBER = response.DIST_MOBILE_NUMBER;
        this.model.DIST_EMAIL = response.DIST_EMAIL;
        this.model.DIST_FAX_NUMBER = response.DIST_FAX_NUMBER;
        this.model.DIST_COMPANY_WEBSITE = response.DIST_COMPANY_WEBSITE;
        this.model.DIST_ADDR_1 = response.DIST_ADDR_1;
        this.model.DIST_ADDR_2 = response.DIST_ADDR_2;
        this.model.DIST_ADDR_3 = response.DIST_ADDR_3;
        this.model.DIST_COUNTRY = {
          SETTING_GENERAL_ID: response.COUNTRY_ID,
          SET_CODE: response.SET_CODE_COUNTRY,
          SET_PARAM: response.SET_PARAM_COUNTRY
        };
        if (response.DIST_TYPE != null) {
          this.model.applicationType = {
            DISTRIBUTOR_TYPE_ID: response.DISTRIBUTOR_TYPE_ID,
            DIST_TYPE_NAME: response.DIST_TYPE_NAME
          };
        }
        if (this.model.DIST_COUNTRY.SET_CODE == "MY") {
          if (response.SET_PARAM_STATE != null) {
            this.model.DIST_STATE = {
              SETTING_GENERAL_ID: response.STATE_ID,
              SET_PARAM: response.SET_PARAM_STATE
            };
            this.getCity(response.STATE_ID);
          }
          if (response.SET_CITY_NAME != null) {
            this.model.DIST_CITY = {
              SETTING_CITY_ID: response.SETTING_CITY_ID,
              SET_CITY_NAME: response.SET_CITY_NAME
            };
            this.getPostcode(response.SETTING_CITY_ID);
          }
          if (response.POSTCODE_NO != null) {
            this.model.DIST_POSTAL = {
              SETTING_POSTCODE_ID: response.SETTING_POSTCODE_ID,
              POSTCODE_NO: response.POSTCODE_NO
            };
          }
        } else {
          this.model.DIST_STATE = response.DIST_STATE2;
          this.model.DIST_CITY = response.DIST_CITY2;
          this.model.DIST_POSTAL = response.DIST_POSTAL2;
        }
        this.model.DIST_TYPE_STRUCTURE = response.DIST_TYPE_STRUCTURE;
        this.model.DIST_MARKETING_APPROACH = response.DIST_MARKETING_APPROACH;
        this.model.DIST_PAID_UP_CAPITAL = response.DIST_PAID_UP_CAPITAL;
        this.model.DIST_NUM_DIST_POINT = response.DIST_NUM_DIST_POINT;
        this.model.DIST_NUM_CONSULTANT = response.DIST_NUM_CONSULTANT;
        this.model.DIST_INSURANCE = response.DIST_INSURANCE;

        response.DATAREPR.forEach(element => {
          if (element.REPR_TYPE === "CEO") {
            if (element.USER_SAL_NAME != null) {
              this.model.CEO_REPR_SALUTATION = {
                USER_SAL_ID: element.USER_SAL_ID,
                USER_SAL_NAME: element.USER_SAL_NAME
              };
            }
            this.model.CEO_REPR_NAME = element.REPR_NAME;
            this.model.CEO_REPR_POSITION = element.REPR_POSITION;
            this.model.CEO_REPR_CITIZEN = element.REPR_CITIZEN;
            this.model.CEO_REPR_NRIC = element.REPR_NRIC;
            this.model.CEO_REPR_PASS_NUM = element.REPR_PASS_NUM;
            this.model.CEO_REPR_PASS_EXP = element.REPR_PASS_EXP;
            this.model.CEO_REPR_TELEPHONE = element.REPR_TELEPHONE;
            this.model.CEO_REPR_PHONE_EXTENSION = element.REPR_PHONE_EXTENSION;
            this.model.CEO_REPR_MOBILE_NUMBER = element.REPR_MOBILE_NUMBER;
            this.model.CEO_REPR_EMAIL = element.REPR_EMAIL;
          } else if (element.REPR_TYPE == "AR") {
            if (element.USER_SAL_NAME != null) {
              this.model.AR_REPR_SALUTATION = {
                USER_SAL_ID: element.USER_SAL_ID,
                USER_SAL_NAME: element.USER_SAL_NAME
              };
            }
            this.model.AR_REPR_NAME = element.REPR_NAME;
            this.model.AR_REPR_POSITION = element.REPR_POSITION;
            this.model.AR_REPR_CITIZEN = element.REPR_CITIZEN;
            this.model.AR_REPR_NRIC = element.REPR_NRIC;
            this.model.AR_REPR_PASS_NUM = element.REPR_PASS_NUM;
            this.model.AR_REPR_PASS_EXP = element.REPR_PASS_EXP;
            this.model.AR_REPR_TELEPHONE = element.REPR_TELEPHONE;
            this.model.AR_REPR_PHONE_EXTENSION = element.REPR_PHONE_EXTENSION;
            this.model.AR_REPR_MOBILE_NUMBER = element.REPR_MOBILE_NUMBER;
            this.model.AR_REPR_EMAIL = element.REPR_EMAIL;
          } else if (element.REPR_TYPE == "AAR") {
            if (element.USER_SAL_NAME != null) {
              this.model.AAR_REPR_SALUTATION = {
                USER_SAL_ID: element.USER_SAL_ID,
                USER_SAL_NAME: element.USER_SAL_NAME
              };
            }
            this.model.AAR_REPR_NAME = element.REPR_NAME;
            this.model.AAR_REPR_POSITION = element.REPR_POSITION;
            this.model.AAR_REPR_CITIZEN = element.REPR_CITIZEN;
            this.model.AAR_REPR_NRIC = element.REPR_NRIC;
            this.model.AAR_REPR_PASS_NUM = element.REPR_PASS_NUM;
            this.model.AAR_REPR_PASS_EXP = element.REPR_PASS_EXP;
            this.model.AAR_REPR_TELEPHONE = element.REPR_TELEPHONE;
            this.model.AAR_REPR_PHONE_EXTENSION = element.REPR_PHONE_EXTENSION;
            this.model.AAR_REPR_MOBILE_NUMBER = element.REPR_MOBILE_NUMBER;
            this.model.AAR_REPR_EMAIL = element.REPR_EMAIL;
          }
        });

        response.DATAAI.forEach(element => {
          if (element.ADD_TYPE == "HOD_COMPL") {
            if (element.USER_SAL_NAME != null) {
              this.model.COMPL_SALUTATION = {
                USER_SAL_ID: element.USER_SAL_ID,
                USER_SAL_NAME: element.USER_SAL_NAME
              };
            }
            this.model.COMPL_NAME = element.ADD_NAME;
            this.model.COMPL_TELEPHONE = element.ADD_TELEPHONE;
            this.model.COMPL_PHONE_EXTENSION = element.ADD_PHONE_EXTENSION;
            this.model.COMPL_EMAIL = element.ADD_EMAIL;
            this.model.COMPL_MOBILE_NUMBER = element.ADD_MOBILE_NUMBER;
          } else if (element.ADD_TYPE == "HOD_PRS") {
            if (element.USER_SAL_NAME != null) {
              this.model.PRS_SALUTATION = {
                USER_SAL_ID: element.USER_SAL_ID,
                USER_SAL_NAME: element.USER_SAL_NAME
              };
            }
            this.model.PRS_NAME = element.ADD_NAME;
            this.model.PRS_TELEPHONE = element.ADD_TELEPHONE;
            this.model.PRS_PHONE_EXTENSION = element.ADD_PHONE_EXTENSION;
            this.model.PRS_EMAIL = element.ADD_EMAIL;
            this.model.PRS_MOBILE_NUMBER = element.ADD_MOBILE_NUMBER;
          } else if (element.ADD_TYPE == "HOD_UTS") {
            if (element.USER_SAL_NAME != null) {
              this.model.UTS_SALUTATION = {
                USER_SAL_ID: element.USER_SAL_ID,
                USER_SAL_NAME: element.USER_SAL_NAME
              };
            }
            this.model.UTS_NAME = element.ADD_NAME;
            this.model.UTS_TELEPHONE = element.ADD_TELEPHONE;
            this.model.UTS_PHONE_EXTENSION = element.ADD_PHONE_EXTENSION;
            this.model.UTS_EMAIL = element.ADD_EMAIL;
            this.model.UTS_MOBILE_NUMBER = element.ADD_MOBILE_NUMBER;
          } else if (element.ADD_TYPE == "HOD_TRAIN") {
            if (element.USER_SAL_NAME != null) {
              this.model.TRAIN_SALUTATION = {
                USER_SAL_ID: element.USER_SAL_ID,
                USER_SAL_NAME: element.USER_SAL_NAME
              };
            }
            this.model.TRAIN_NAME = element.ADD_NAME;
            this.model.TRAIN_TELEPHONE = element.ADD_TELEPHONE;
            this.model.TRAIN_PHONE_EXTENSION = element.ADD_PHONE_EXTENSION;
            this.model.TRAIN_EMAIL = element.ADD_EMAIL;
            this.model.TRAIN_MOBILE_NUMBER = element.ADD_MOBILE_NUMBER;
          }
        });
        this.model.DIST_TRANS_REF = response.DIST_TRANS_REF;
        this.model.DIST_TRANS_DATE = response.DIST_TRANS_DATE;
        this.model.DIST_ACC_AMOUNT = response.DIST_ACC_AMOUNT;
        if (response.DIST_TRANS_TYPE == 1) {
          this.model.DIST_TRANS_TYPE = { name: "ONLINE TRANSACTION", value: 1 };
        } else if (response.DIST_TRANS_TYPE == 2) {
          this.model.DIST_TRANS_TYPE = { name: "CASH DEPOSIT", value: 2 };
        }
        this.directorList = response.DATADIR;

        this.updateDistributor = true;

        response.DATADOC.forEach(element => {
          // console.log(element.DOCU_BLOB);
          element.DOCU_BLOB = this.b64toBlobPDF(
            element.DOCU_BLOB,
            "application/pdf"
          );
          console.log("mula");
          console.log(element.DOCU_BLOB); // <----- cuba tgk ini
          console.log("habis");
          element.DOCU_BLOB = new File(
            [element.DOCU_BLOB],
            element.DOCU_ORIGINAL_NAME + "." + element.DOCU_FILETYPE,
            { type: element.DOCU_BLOB.type }
          );
          console.log(element.DOCU_BLOB);
          const data = {
            name: element.DOCU_ORIGINAL_NAME + "." + element.DOCU_FILETYPE,
            size: element.DOCU_FILESIZE,
            type: element.DOCU_FILETYPE,
            ext: "exe",
            url: window.URL.createObjectURL(element.DOCU_BLOB)
          };
          if (element.DOCU_GROUP == 8) {
            this.fileRecords.push(data);
          } else if (element.DOCU_GROUP == 3) {
            this.companyLogo = element.DOCU_BLOB;
            this.model.companyLogo.push(data);
          } else if (element.DOCU_GROUP == 5) {
            this.ssmForm8 = element.DOCU_BLOB;
            this.model.ssmForm8.push(data);
          } else if (element.DOCU_GROUP == 4) {
            this.ssmForm9 = element.DOCU_BLOB;
            this.model.ssmForm9.push(data);
          } else if (element.DOCU_GROUP == 7) {
            this.receipt = element.DOCU_BLOB;
            this.model.receipt.push(data);
          } else if (element.DOCU_GROUP == 6) {
            this.BODApprove = element.DOCU_BLOB;
            this.model.BODApprove.push(data);
          }
        });
      }}

    },
    async getUserSalutation() {
      const response = await servicesModule5.getUserSalutation();
      this.salutations = response;
    },
    validateExpiryDate(value) {
      console.log("value : " + value);
      if (value != null) {
        const today = new Date();
        const date =
          today.getFullYear() +
          "-" +
          (today.getMonth() + 1) +
          "-" +
          today.getDate();
        const time =
          today.getHours() +
          ":" +
          today.getMinutes() +
          ":" +
          today.getSeconds() +
          " GMT";
        const dateTime = date + " " + time;

        const unixTimeNow = Date.parse(dateTime);
        console.log(unixTimeNow);

        // date expiry
        const expiryDate = value;
        const dateExpiry =
          expiryDate.getFullYear() +
          "-" +
          (expiryDate.getMonth() + 1) +
          "-" +
          expiryDate.getDate();
        const timeExpiry =
          expiryDate.getHours() +
          ":" +
          expiryDate.getMinutes() +
          ":" +
          expiryDate.getSeconds() +
          " GMT";
        const dateTimeExpiry = dateExpiry + " " + timeExpiry;
        const unixTimeExpiryDate = Date.parse(dateTimeExpiry);
        console.log(unixTimeExpiryDate);

        // compare
        if (unixTimeExpiryDate < unixTimeNow) {
          console.log("expired");
          return ["Expired"];
        } else {
          console.log("not expired");
          // return ["Expired"];
        }
      } else {
        console.log("ssdfdsf");
      }
    },
    async getApplicationType() {
      console.log("app type");
      const response = await services06Module0.getApplicationType();
      this.applicationType = response;
    },
    async getCountry() {
      const response = await servicesModule5.getAllCountryList();
      this.country = response;
      // this.getState(this.country.SETTING_GENERAL_ID);
    },
    async getCity(data) {
      const response = await services06Module0.getCity(data);
      this.city = response;
    },
    async getPostcode(data) {
      const response = await services06Module0.getPostcode(data);
      this.postcode = response;
    },
    async getDefaultCountry() {
      try {
        const response = await services06Module0.getDefaultCountry();
        this.model.TRP_COUNTRY = response;
      } catch (error) {
        console.log(error);
      }
    },
    async submit(status) {
      // alert(JSON.stringify(this.model.companyLogo));
      const vm = this;
      vm.showOverlay(true);
      vm.showOverlay(false);
      vm.showStaticModal = true;
    },
    showmodal() {
      this.$modals.simpleModal.$show();
    },
    uploadFile() {
      // console.log(this.$refs.file.files[0]);
      if (this.$refs.file.files[0] !== undefined) {
        this.showView = true;
      } else {
        this.showView = false;
      }
    },

    validateIC(value) {
      const expression1 = /^[0-9]+$/;

      console.log(expression1.test(value));
      if (!expression1.test(value)) {
        return ["Ic must contain number only"];
      }
    },
    onModelUpdated(newVal, schema) {
      console.log("modell : ");

      console.log(newVal);
      if (schema === "AR_citizenship") {
        if (newVal === 1) {
          this.visiblePassport = false;
          this.visibleIc = true;
        } else {
          this.visiblePassport = true;
          this.visibleIc = false;
        }
      } else if (schema === "AAR_citizenship") {
        if (newVal === 1) {
          this.visiblePassportAAR = false;
          this.visibleIcAAR = true;
        } else {
          this.visiblePassportAAR = true;
          this.visibleIcAAR = false;
        }
      } else if (schema === "AI_contactPerson") {
        console.log("valuee :" + newVal);
        if (newVal != null) {
          this.contactPersonValue = newVal.value;
        } else {
          this.contactPersonValue = null;
        }
      } else if (schema === "CEO_REPR_CITIZEN") {
        if (newVal === 1) {
          this.visiblePassportCEO = false;
          this.visibleIcCEO = true;
        } else {
          this.visiblePassportCEO = true;
          this.visibleIcCEO = false;
        }
      } else if (schema === "Other_citizenship") {
        if (newVal === 1) {
          this.visiblePassportOther = false;
          this.visibleIcOther = true;
        } else {
          this.visiblePassportOther = true;
          this.visibleIcOther = false;
        }
      } else if (schema === "TRP_COUNTRY") {
        // s
      } else if (schema === "TRP_POSTAL") {
        // this.model.city = null;
        //  this.model.state = null;
        // if (this.model.TRP_COUNTRY.SET_CODE === "MY") {
        //   this.getCity(this.model.TRP_POSTAL.SETTING_CITY_ID);
        // }
      } else if (schema === "TRP_CITY") {
        // if (this.model.TRP_COUNTRY.SET_CODE === "MY") {
        //   this.getPostcode(this.model.TRP_CITY.SETTING_CITY_ID);
        // }
      } else if (schema === "TRP_STATE") {
        // this.model.city = null;
        // if (this.model.TRP_COUNTRY.SET_CODE === "MY") {
        //   this.getCity(this.model.TRP_STATE.SETTING_GENERAL_ID);
        // }
      } else if (schema == "fileRecordsForUpload") {
        console.log("custom upload");
        console.log(this.model.fileRecordsForUpload);
      } else if (schema == "TRP_NAME") {
        this.model.TRP_NAME = String(newVal).toUpperCase();
      } else if (schema == "TRP_REGI_NUM1") {
        this.model.TRP_REGI_NUM1 = String(newVal).toUpperCase();
      } else if (schema == "TRP_REGI_NUM2") {
        this.model.TRP_REGI_NUM2 = String(newVal).toUpperCase();
      } else if (schema == "CEO_REPR_NAME") {
        this.model.CEO_REPR_NAME = String(newVal).toUpperCase();
      } else if (schema == "CEO_REPR_POSITION") {
        this.model.CEO_REPR_POSITION = String(newVal).toUpperCase();
      }
    },
    handleFileChange(e) {
      this.$emit("input", e.target.files[0]);
      this.fileName1 = e.target.files[0].name;
      console.log(e.target.files[0].name);
    },
    onComplete() {
      alert(JSON.stringify(this.model));
    },
    validatePassword(value) {
      //* * must contain letter only (lowercase and uppercase) */
      const expression1 = /^[a-zA-Z]+$/;
      // eslint-disable-next-line no-unused-vars
      const expression2 = /^[a-zA-Z]*[A-Z]+[a-zA-Z]*$/;
      //* * must contain at least one uppercase letter, one lower case letter and one number */
      // eslint-disable-next-line no-unused-vars
      const expression4 = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])([a-zA-Z0-9]+)$/;
      //* * must contain at least one uppercase letter, one lower case letter, one number and one character */
      // eslint-disable-next-line no-unused-vars
      const expression5 = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-])([a-zA-Z0-9#?!@$%^&*-]+)$/;
      //* * must contain at least one uppercase letter, one lower case letter, one number and one character with minimum length*/
      // eslint-disable-next-line no-unused-vars
      const expression6 = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*?[#?!@$%^&*-])([a-zA-Z0-9#?!@$%^&*-]+).{8}$/;

      console.log(expression1.test(value));
      if (!expression1.test(value)) {
        this.passwordStrength = "";
        return ["Password must contain letter only"];
      }
    },
    isEqualTo(value, field, model) {
      // eslint-disable-next-line no-undef
      if (!_.has(field, "equals")) return ["Confirm password is required"];
      // eslint-disable-next-line no-undef
      const a = _.get(model, _.get(field, "equals"));
      const b = value;
      // eslint-disable-next-line no-undef
      if (_.isEqual(a, b)) return [];
      return ["Password do not match"];
    },
    validateFirstTab() {
      return this.$refs.firstTabForm.validate();
    },
    validateFirstAddTab() {
      return this.$refs.firstAddTabForm.validate();
    },
    validateSecondTab: function() {
      return this.$refs.secondTabForm.validate();
    },
    validateThirdTab: function() {
      if (this.$refs.thirdTabFormCEO.validate()) {
        if (this.directorList.length == 0) {
          console.log("no director");
          return false;
        } else {
          return true;
        }
      } else {
        return false;
      }
      // return this.$refs.thirdTabFormCEO.validate();
    },
    validateFourthTab() {
      return this.$refs.fourthTabForm.validate();
    },
    validateFifthTab() {
      return this.$refs.fifthTabForm.validate();
    }
  }
};
</script>
<!-- New step!
     Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss">
.display-inline label {
  display: inline !important;
  padding: 5px;
}
.app-layout__main {
  background: #e8e8e8;
}
.container {
  max-width: 620px;
  min-width: 420px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #888;
}

/* Style the tabs */
.tabs {
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: -2px; // hide bottom border
}

.tabs ul {
  list-style-type: none;
  margin-left: 20px;
}

.tabs a {
  float: left;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 0.2s;
  border: 1px solid #ccc;
  border-right: none;
  background-color: #f1f1f1;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
.tabs a:last-child {
  border-right: 1px solid #ccc;
}

/* Change background color of tabs on hover */
.tabs a:hover {
  background-color: #aaa;
  color: #fff;
}

/* Styling for active tab */
.tabs a.active {
  background-color: #fff;
  color: #484848;
  border-bottom: 2px solid #fff;
  cursor: default;
}

/* Style the tab content */
.tabcontent {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #e1e1e1;
}
</style>
<style scoped>
.widthModal {
  width: 80%;
}
.width {
  width: 100%;
}
.widthName {
  width: 5%;
}
</style>
