<template>
  <div>
    <form @submit.prevent="onsubmit">
      <va-input
        class="box-size"
        v-model="email"
        type="text"
        :label="$t('User ID')"
        :error="!!emailErrors.length"
        :error-messages="emailErrors"
      />

      <va-input
        v-model="password"
        type="password"
        :label="$t('auth.password')"
        :error="!!passwordErrors.length"
        :error-messages="passwordErrors"
      />

      <div
        class="__options d-flex align--center justify--space-between"
      >
        <va-checkbox v-model="keepLoggedIn" class="mb-0 text-color" :label="$t('auth.keep_logged_in')"/>
        <div class="ml-1 link text-color">
          <router-link class="text-color" :to="{ name: 'recover-password' }">{{
            $t("auth.recover_password")
          }}</router-link>
          </br>
          <router-link class="text-color" :to="{ name: 'first-time-user' }">{{
            $t("First time user")
          }}</router-link>
        </div>
      </div>

      <div class="d-flex justify--center mt-3">
        <va-button type="submit" class="my-0 btncolor">{{ $t("auth.login") }}</va-button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import * as servicesModule0 from '../../../app/module0/services'
import * as servicesModule5 from '../../../app/module5/services'

export default {
  name: "login",
  data() {
    return {
      showPass: false,
      email: "", // hidayatul@vn.my temporary for testing
      password: "", //@Bcd1234
      keepLoggedIn: false,
      emailErrors: [],
      passwordErrors: [],
      remember: false
    };
  },
  computed: {
    formReady() {
      return !this.emailErrors.length && !this.passwordErrors.length;
    }
  },
  methods: {
    onsubmit: async function() {
      console.log(this.email);
      console.log(this.password);
      //servicesModule0.logout(); // logout first to clear cache
      // // console.log("test");
      // console.log(this.email);
      // console.log(this.password);

      this.emailErrors = this.email ? [] : ["Email is required"];
      this.passwordErrors = this.password ? [] : ["Password is required"];
      if (!this.formReady) {
        return;
      }

      try {
        const data = {
          LOGIN_ID: this.email,
          USER_PASS_NUM: this.password
        };
        console.log ('start verify');
        const response = await servicesModule5.verifyUser(data);
        console.log(response.data.TP_ISLOGIN);
        console.log(response.data.TP_USER_TYPE);
        if (typeof response.data.TP_ISLOGIN != "undefined") {
           if (response.data.TP_ISLOGIN == 0 || response.data.TP_ISLOGIN == null || response.data.TP_ISLOGIN == undefined) {
            console.log("New User");
            localStorage.setItem("recover-password", response.data.TP_USER_ID);
            this.$router.push({
              name: "others-recover-password",
              params: { TP_USER_ID: response.data.TP_USER_ID }
            });
          } else if ( response.data.TP_ISLOGIN == 1 && response.data.TP_USER_TYPE == 1 ) {
            console.log("other else here 1");

          } else if ( response.data.TP_ISLOGIN == 1 && response.data.TP_USER_TYPE == 2 ) {
            console.log("other else here 2");
            if (response.data.TP_COMP_ID == 0 || response.data.TP_COMP_ID == null || response.data.TP_COMP_ID == undefined ) {
              console.log("User Training Provider")
              console.log(JSON.stringify(response.data));
              servicesModule5.setUser(JSON.stringify(response.data));
              this.$store.commit("change", JSON.stringify(response.data));
              console.log("user store :" + localStorage.getItem("user"));
              this.$router.push({ name: "trp-register" });
              console.log("first");
            } else {
              console.log("User Training Provider")
              console.log(JSON.stringify(response.data));
              servicesModule5.setUser(JSON.stringify(response.data));
              this.$store.commit("change", JSON.stringify(response.data));
              console.log("user store :" + localStorage.getItem("user"));
              this.$router.push({ name: "trp-dashboard" });
              console.log("first");
            };
          }
        } else {
          console.log("Wrong User")

        }

      } catch (error) {
        console.log(error);
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.btncolor {
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 0, 0)
  ) !important;
  font-size: 16pt !important;
  // box-shadow: rgb(0 0 0 / 60%) 0px 0.125rem 0.19rem 0px !important;
}
</style>
<style lang="scss" scoped>
.box-size{
    height: 40pt !important;
    font-size: 12pt !important;
    color: #83b3e6  !important;
}
.text-color{
  color: #83b3e6 !important;
}
.chk-bg{
  background: #83b3e6 !important;
}
.va-input__container{
  min-height: 3.85rem !important;

}
.va-input__container__label {
  color: #83b3e6 !important;
  font-size: 0.825rem !important;
  margin-bottom: 1.5rem !important;
}
.va-input__container__input{
  height: 2.5rem;
  font-size: 1.3rem;
}
.pa-3,
.py-3,
.pb-3 {
  padding-bottom: 4rem !important;
}

.__card{
  max-width: 650px !important;
}

</style>
