<template>
  <va-card>
    <div class="row">
      <h4 slot="header" class="card-title">Fund and Consultant Divestment</h4>
      <br />
      <div class="col float-right"></div>
    </div>
    <!-- advanced search form -->
    <b-collapse id="collapse-1" class="mt-2">
      <b-card>
        <vue-form-generator
          :model="model"
          :schema="advancedSearchSchema"
          ref="advancedSearchForm"
        >
        </vue-form-generator>
        <br />
        <button
          @click="filterRecord"
          type="button"
          class="ml-2 btn btn-sm btn-primary"
        >
          Search
        </button>
        <button
          @click.prevent="reset"
          type="button"
          class="ml-2 btn btn-sm btn-danger"
        >
          Reset
        </button>
      </b-card>
    </b-collapse>

    <br />
    <br />
    <!-- <h5 >Select Distributor </h5> -->
    <vue-form-generator
      :model="model"
      :schema="Schema"
      :options="formOptions"
      ref="regForm"
    >
    </vue-form-generator>
    <br />
    <br />
    <!-- {{RecordFilteredData}} -->

    <!-- list table-->
    <va-card class="mt-5 col-12">
      <va-card>
        <div class="row">
          <h6>Select Fund</h6>
          <div class="col float-right">
            <div class="float-right">
              <va-input
                :value="term"
                :placeholder="$t('Search')"
                @input="search"
                removable
              >
                <va-icon name="fa fa-search" slot="prepend" />
              </va-input>
            </div>
          </div>
        </div>
        <va-data-table
          :fields="RecordFields"
          :data="RecordFilteredData"
          no-data-label="No data found"
          :datacount="RecordCount"
          v-model="selected"
          item-key="FUND_CODE_FIMM"
          select-all
          clickable
        >
          <template slot="actions" slot-scope="props">
            <va-checkbox class="col-2" v-model="props.rowData.selected" />
          </template>
          <template slot="no" slot-scope="row">
            {{ row.rowIndex + 1 }}
          </template>
        </va-data-table>
      </va-card>
      <br />
      <br />
      <va-card>
        <div class="row">
          <h6>Select Consultant</h6>
          <div class="col float-right">
            <div class="float-right">
              <va-input
                :value="term"
                :placeholder="$t('Search')"
                @input="search"
                removable
              >
                <va-icon name="fa fa-search" slot="prepend" />
              </va-input>
            </div>
          </div>
        </div>
        <va-data-table
          :fields="ConsultantRecordFields"
          :data="ConsultantFilteredData"
          no-data-label="No data found"
          :datacount="RecordConsultantCount"
          v-model="selected"
          item-key="FUND_CODE_FIMM"
          select-all
          clickable
        >
          <template slot="actions" slot-scope="props">
            <va-checkbox class="col-2" v-model="props.rowData.selected" />
          </template>
          <template slot="no" slot-scope="row">
            {{ row.rowIndex + 1 }}
          </template>
        </va-data-table>
      </va-card>
      <br />
      <br />
      <div>
        <button
          @click="back"
          type="button"
          class="btn btn-primary btn-fill btn-md"
        >
          <i class="fa fa-step-backward" /> &nbsp; Previous
        </button>
        <div class="float-right">
          <button
            @click="Verify"
            type="button"
            class="ml-1 btn btn-primary btn-fill btn-md"
          >
            Next &nbsp; <i class="fa fa-step-forward" />
          </button>
        </div>
      </div>
      <br />
    </va-card>
  </va-card>
</template>

<script>
import "vue-form-generator/dist/vfg.css";
import { debounce } from "lodash";
import * as servicesModule1 from "../../../../app/module1/services05";

export default {
  mounted() {
    
    // this.getAllRecord();
    // this.getAllRecordConsultant();
    // this.getDistributorList();
    this.getStatusFund();

  },
  components: {},

  methods: {
    //checkbox
    checkBox() {
      alert("here");
      console.log(this.selected);
      if (document.getElementById("checkboxId_" + id).checked) {
        this.checkboxArray.push(FUND_CODE_FIMM);
      } else {
        const indexToRemove = this.checkboxArray.indexOf(FUND_CODE_FIMM);
        if (indexToRemove > -1) {
          this.checkboxArray.splice(indexToRemove, 1);
        }
      }
    },

    checkBox(screenId, id) {
      console.log(this.selected);
      if (document.getElementById("checkboxId_" + id).checked) {
        this.checkboxArray.push(screenId);
      } else {
        const indexToRemove = this.checkboxArray.indexOf(screenId);
        if (indexToRemove > -1) {
          this.checkboxArray.splice(indexToRemove, 1);
        }
      }
    },

    // search

    search: debounce(function (term) {
      this.term = term;
      console.log(this.term);
    }, 400),

    // advanceSearch
    async filterRecord() {
      try {
        // const response = await servicesModule7.filter_submission_record(this.model.modelFilter,)
        if (response != "error") {
          this.RecordList = response;
          this.RecordCount = this.RecordList.length;
        }
      } catch (error) {}
    },

    async reset() {
      this.model.modelFilter.DIST_NAME = "";
      this.model.modelFilter.FUND_CODE_FIMM = "";
      // this.RecordList = null;
      this.getAllRecord();
    },

    // back button
    back() {
      this.$router.push("/distributor/DistributorDivestment-Submission");
    },

    // next button
    Verify: async function () {
      // this.$router.push("/distributor/DistributorDivestment-FundSubmission");
      const data = new FormData();

        //fund & consultant
      const user = localStorage.getItem("user");
      data.append("DISTRIBUTOR_ID_DIVEST", JSON.parse(user).USER_DIST_ID);
      data.append("USER_ID", JSON.parse(user).user_id);
      data.append("DISTRIBUTOR_ID_TO", this.model.Distributor.DISTRIBUTOR_ID);
      data.append("TS_ID", "1"); // draft
      data.append("DIVE_TYPE", "37");

      try {
        const response = await servicesModule1.fund_selection(data);
        // alert(response.DIVE_ID);
        localStorage.setItem("DIVE_ID", response.DIVE_ID);
        this.$router.push({
          name: "DIVE_ID",
          params: { USER_ID: this.model.Distributor.DISTRIBUTOR_ID },
        });
        this.$router.push("/distributor/DistributorDivestment-FundConsultantSubmission");
        
      } catch (error) {
        console.log(error);
      }
    },

    // getDivesrmenttatus (fund)
    getStatusFund: async function () {
      const user = localStorage.getItem("user");
      const response = await servicesModule1.getDivestmentFundStatus(JSON.parse(user).user_id);
      this.divestmentStatus = response;
      this.divestmentStatusCount = this.divestmentStatus.length;

      // alert(this.divestmentStatusCount);

      if (this.divestmentStatusCount != 0 ){
        alert(" You have draft application for fund ");
        this.$router.push("/distributor/DistributorDivestment-List");
      }

      this.getStatusCons();

    },

    // getDivesrmenttatus (consultant)
    getStatusCons: async function () {
      const user = localStorage.getItem("user");
      const response = await servicesModule1.getDivestmentConsStatus(JSON.parse(user).user_id);
      this.divestmentStatus = response;
      this.divestmentStatusCount = this.divestmentStatus.length;

      // alert(this.divestmentStatusCount);

      if (this.divestmentStatusCount != 0 ){
        alert(" You have draft application for Consultant ");
        this.$router.push("/distributor/DistributorDivestment-List");
      }
      
      this.getAllRecord();

    },

    // getAllRecord (fund)
    getAllRecord: async function () {
      const user = localStorage.getItem("user");
      const response = await servicesModule1.getDistributor_fund_list(
        JSON.parse(user).user_id
      );
      this.RecordList = response;
      this.RecordCount = this.RecordList.length;

      this.getAllRecordConsultant();
    
    },

    // getAllRecord (consultant)
    getAllRecordConsultant: async function () {
      const user = localStorage.getItem("user");
      const response = await servicesModule1.getDistributor_consultant_list(
        JSON.parse(user).user_id
      );
      this.RecordConsultantList = response;
      this.RecordConsultantCount = this.RecordConsultantList.length;

      this.getDistributorList();
    },

    // get distributor list
    getDistributorList: async function () {
      const user = localStorage.getItem("user");
      const response = await servicesModule1.getDistributor_fundDivestment(
        JSON.parse(user).user_id
      );
      this.DistributorRecords = response;
      this.DistributorCount = this.DistributorRecords.length;

      if ((this.RecordCount == 0 || this.RecordCount == null) && (this.RecordConsultantCount == 0 || this.RecordConsultantCount == null)) 
      {
        if (this.DistributorCount == 0 || this.DistributorCount == null) {
          alert("You are not eligible to do fund divestment");
          this.$router.push("/distributor/DistributorDivestment-Submission");
        } else {
          alert("There is no fund and consultant record to divest");
          this.$router.push("/distributor/DistributorDivestment-Submission");
        }
      } else if ((this.RecordCount == 0 || this.RecordCount == null) && (this.RecordConsultantCount != 0 || this.RecordConsultantCount != null)) 
      {
        if (this.DistributorCount == 0 || this.DistributorCount == null) {
          alert("You are not eligible to do fund divestment");
          // push to consultant
          this.$router.push("/distributor/DistributorDivestment-Consultant");
        } else {
          alert("There is no fund record to divest");
          // push to consultant
          this.$router.push("/distributor/DistributorDivestment-Consultant");
        }
      } else if ((this.RecordCount != 0 || this.RecordCount != null) && (this.RecordConsultantCount == 0 || this.RecordConsultantCount == null)) 
      {
        alert("There is no consultant record to divest");
        // push to fund
        this.$router.push("/distributor/DistributorDivestment-Fund");
      }
    },

    test() {
      // console.log(document.getElementById("checkboxId_" + id).checked)
    },
  },

  computed: {
    RecordFields() {
      return [
        {
          name: "__checkbox",
          titleClass: "center aligned",
          dataClass: "center aligned",
        },
        {
          name: "__slot:no",
          title: "NO",
        },
        {
          name: "FUND_CODE_FIMM",
          title: "FIMM FUND CODE",
          sortField: "FUND_CODE_FIMM",
        },
        {
          name: "FUND_NAME",
          title: "FUND NAME",
          sortField: "FUND_NAME",
        },
        {
          name: "FUND_ASEAN_CIS",
          title: "CIS STRUCTURE",
          sortField: "FUND_ASEAN_CIS",
        },
      ];
    },

    //consultant fields
    ConsultantRecordFields() {
      return [
        {
          name: "__checkbox",
          titleClass: "center aligned",
          dataClass: "center aligned",
        },
        {
          name: "__slot:no",
          title: "NO",
        },
        {
          name: "CONSULTANT_NAME",
          title: "CONSULTANT NAME",
          sortField: "CONSULTANT_NAME",
        },
        {
          name: "CONSULTANT_NRIC",
          title: "NIRC NUMBER",
          sortField: "CONSULTANT_NRIC",
        },
        {
          name: "CONSULTANT_PASSPORT_NO",
          title: "PASSPORT NUMBER",
          sortField: "CONSULTANT_PASSPORT_NO",
        },
        {
          name: "TYPE_NAME",
          title: "CONSULTANT TYPE",
          sortField: "TYPE_NAME",
        },
      ];
    },

    // eslint-disable-next-line vue/return-in-computed-property
    RecordFilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.RecordList;
      }
      return this.RecordList.filter((item) => {
        return this.term
          .toLowerCase()
          .split(" ")
          .every(
            (v) =>
              item.STATUS_DISPLAY.toLowerCase().includes(v) ||
              item.DIST_NAME.toLowerCase().includes(v) ||
              item.FUND_NAME.toLowerCase().includes(v) ||
              item.FUND_ASEAN_CIS.toLowerCase().includes(v) ||
              item.FUND_CATEGORY.toLowerCase().includes(v) ||
              item.GROUP_ASSET.toLowerCase().includes(v) ||
              item.GROUP_FUND.toLowerCase().includes(v) ||
              item.TS_PARAM.toLowerCase().includes(v) ||
              item.FUND_CODE_FIMM.includes(v) ||
              item.FUND_MAXIMUM_SALE_CHARGE.includes(v)
          );
      });
    },

    ConsultantFilteredData() {
      if (!this.term || this.term.length < 1) {
        return this.RecordConsultantList;
      }
      return this.RecordConsultantList.filter((item) => {
        return this.term
          .toLowerCase()
          .split(" ")
          .every(
            (v) =>
              item.STATUS_DISPLAY.toLowerCase().includes(v) ||
              item.DIST_NAME.toLowerCase().includes(v) ||
              item.FUND_NAME.toLowerCase().includes(v) ||
              item.FUND_ASEAN_CIS.toLowerCase().includes(v) ||
              item.FUND_CATEGORY.toLowerCase().includes(v) ||
              item.GROUP_ASSET.toLowerCase().includes(v) ||
              item.GROUP_FUND.toLowerCase().includes(v) ||
              item.TS_PARAM.toLowerCase().includes(v) ||
              item.FUND_CODE_FIMM.includes(v) ||
              item.FUND_MAXIMUM_SALE_CHARGE.includes(v)
          );
      });
    },
  },

  data() {
    return {
      field: [],
      term: null,
      currentPage: 1,
      RecordList: [],
      RecordConsultantList: [],
      count: 1,
      RecordCount: null,
      RecordConsultantCount: null,
      Distributor: "",
      DistributorRecords: [],
      selected: [],
      DIV_ID: [],

      model: {
        Distributor: "",
        modelFilter: {
          DIST_NAME: "",
          FUND_CODE_FIMM: "",
        },
      },

      advancedSearchSchema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.DIST_NAME",
                label: "Distributor Name",
                styleClasses: "col-md-6",
              },
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.FUND_CODE_FIMM",
                label: "Fund Name",
                styleClasses: "col-md-6",
              },
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.FUND_CODE_FIMM1",
                label: "FIMM Fund Code",
                styleClasses: "col-md-3",
              },

              {
                type: "input",
                inputType: "text",
                model: "modelFilter.FUND_CODE_FIMM2",
                label: "CIS Structure",
                styleClasses: "col-md-3",
              },
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.FUND_CODE_FIMM3",
                label: "Asset Class",
                styleClasses: "col-md-3",
              },
              {
                type: "input",
                inputType: "text",
                model: "modelFilter.FUND_CODE_FIMM4",
                label: "Fund Group",
                styleClasses: "col-md-3",
              },
            ],
          },
        ],
      },

      //distributor selection
      Schema: {
        groups: [
          {
            styleClasses: "row",
            fields: [
              {
                type: "vueMultiSelect",
                model: "Distributor",
                label: "Select Distributor",
                placeholder: "Select Distributor",
                required: true,
                validator: "required",
                styleClasses: "col-md-5",
                selectOptions: {
                  multiple: false,
                  key: "DISTRIBUTOR_ID", // id yg nak simpan
                  label: "DIST_NAME", // value nak display
                  searchable: true,
                },
                values: (model, schema) => {
                  return this.DistributorRecords; // get value
                },
              },
            ],
          },
        ],
      },

      formOptions: {
        validateAfterChanged: true,
      },
    };
  },
};
</script>
<style lang="css">
.va-data-table__pagination {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.content {
  margin-top: 30px;
  font-size: 20px;
}
.inline {
  display: inline-flex;
  float: right;
}

.red-color {
  color: #c00000;
}
.blue-color {
  color: #4472c4;
}
.purple-color {
  color: #cc00cc;
}
.orange-color {
  color: #ed7d31;
}
</style>
