
<template>
  <va-card>
    <h5 slot="header" class="card-title">AMSF/ Annual Fees Submission Year 2020</h5>
    <!-------------------------------- cancellation type -------------------------------------->
    <div>
      <br />
      <!-- <h6 slot="header" class="card-title">Administrator</h6> -->
      <br />
      <va-card>
        <div class="row justify-content-center">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 15%">TYPE OF REGISTRATION</th>
                <th style="width: 15%">SUBMISSION</th>
                <th>ACTION BY DISTRIBUTOR</th>
                <th>UPDATE BY</th>
                <th>LATEST UPDATE</th>
                <th>ACTION BY FIMM</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 15%">UTMC</td>
                <td style="width: 15%">
                  <router-link
                    class="text-color"
                    :to="{ name: 'DistributorCompliance-AUM-Submission' }"
                    >{{
            $t("AUM")
                    }}</router-link
                  >
                </td>
                <td>PENDING</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td style="width: 15%">IPRA</td>
                <td style="width: 15%">
                  <router-link
                    class="text-color"
                    :to="{ name: 'DistributorCompliance-TGS-Submission' }"
                    >{{
            $t("TOTAL GROSS SALES")
                    }}</router-link
                  >
                </td>
                <td>PENDING</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="float-right">
          <button
            @click="save"
            type="button"
            class="btn btn-primary btn-fill btn-md"
          >
            <i class="fa fa-paper-plane" /> &nbsp; Submit
          </button>
        </div>
      </va-card>
      <br />
      <br />
    </div>
  </va-card>
</template>

<script>
export default {
  methods: {
    // page dis
    DistributorTermination () {
      this.$router.push('/fimm/PrepaymentRefund-DistributorTermination-list')
    },
    ExamWaiver () {
      this.$router.push('/fimm/PrepaymentRefund-ExamWaiver-list')
    },
  },
}
</script>

<style scoped>
.icon-flex,
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid blue;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapper i {
  color: blue;
}

.icon-wrapperConsultant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapperBoth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapperBoth {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #6600ff;
  font-size: 2rem;
  width: 80px;
  height: 80px;
}
.icon-wrapperBoth i {
  color: #6600ff;
}
</style>
