<template>
  <div>
    <b-form-group
      label="Select your position:"
      label-for="positions"
      label-cols-lg="3"
      label-cols-md="2"
      description=""
    >
      <multiselect
        id="positions"
        v-model="selected_position"
        :options="general_settings.STAFF_POSITIONS"
        placeholder="Select a position"
        track-by="ID"
        label="NAME"
        @select="onStateSelected"
        class="col-lg-9 col-md-10 p-0"
      >
      </multiselect>

    </b-form-group>

    <div v-if="selected_position">
    <b-form-group
      label="Position:"
      label-cols-lg="3"
      label-cols-md="2"
      label-for="input-1"
      description=""
      v-if="selected_position.ID === 3"
    >
      <b-form-input
        id="positions"
        v-model="user_position"
        placeholder="Position's name"
        class="col-lg-9 col-md-10"
      ></b-form-input>
    </b-form-group>
    </div>

  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "section-agent-position",
  computed: {
    ...mapGetters({ general_settings: "getGeneralSettings" }),
  },
  data() {
    return {
      positions: [],
      selected_position: null,
      user_position: "",
    };
  },
  methods: {
    onStateSelected(item){
      console.log(item)
    }
  }
};
</script>

<style>
</style>
