<template>
  <div>
    <!--   CMSRL: No  -->
    <b-card class="no-shadow mb-4" sub-title="CMSRL: No">
      <b-form-group
        class="mt-2 col-lg-6"
        id="input-group-1"
        label="Recruiter NRIC:"
        description=""
      >
        <b-form-input placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        class="mt-2 col-lg-6"
        id="input-group-1"
        label="Recruiter CMSRL No:"
        description=""
      >
        <b-form-input placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        class="mt-2 pl-3 pr-3"
        id="input-group-1"
        label="Apprenticenship Program:"
        description="Upload Certificate from any Module 1 CFP/IFP/RFP/shariah RFP or Exemption Letter from FPAM"
      >
        <!-- Plain mode -->
        <b-form-file v-model="file2" class=""></b-form-file>
      </b-form-group>
    </b-card>

    <!--   CMSRL: No  -->
  </div>
</template>

<script>
export default {
  name: "type-of-consultant-cmsrl-false",
  data() {
    return {
      file2: null,
    };
  },
};
</script>

<style>
</style>
