<template>
<div>
  <!--   CMSRL: Yes  -->
        <b-card class="no-shadow mb-4" sub-title="CMSRL: Yes">
          <b-form-group
            class="mt-2 col-lg-6"
            id="input-group-1"
            label="CMSRL No:"
            description=""
          >
            <b-form-input placeholder=""></b-form-input>
          </b-form-group>

          <b-form-group
            class="mt-2 col-lg-6"
            id="input-group-1"
            label="CMSRL Expiry Date:"
            label-for="example-datepicker"
            description=""
          >
            <b-form-datepicker
              id="example-datepicker"
              v-model="value"
              class=""
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
            ></b-form-datepicker>
          </b-form-group>

          <b-form-group class="pl-3 pr-3" label="CMSRL Certificate:">
            <!-- Plain mode -->
            <b-form-file v-model="file" class=""></b-form-file>
          </b-form-group>
          <div class="pl-3 pr-3">Uploaded file: filename.pdf</div>

          <b-form-group
            class="mt-2 col-lg-6"
            id="input-group-1"
            label="Recruiter NRIC:"
            description=""
          >
            <b-form-input placeholder=""></b-form-input>
          </b-form-group>

          <b-form-group
            class="mt-2 col-lg-6"
            id="input-group-1"
            label="Recruiter CMSRL No:"
            description=""
          >
            <b-form-input placeholder=""></b-form-input>
          </b-form-group>
        </b-card>

        <!--   CMSRL: Yes  -->
</div>
</template>

<script>
export default {
  name: 'type-of-consultant-cmsrl-true',
  data(){
    return{
      file: null,
    }
  }

}
</script>

<style>

</style>
