<template>
  <div>
    <b-form class="pt-5 pb-5">
      <!--  License type  -->
      <h5 class="">Choose your License:</h5>
      <b-form-group
        id="input-group-license-type"
        label="License Type:"
        label-cols-lg="3"
        label-cols-md="2"
        label-for="input-1"
        description=""
      >
        <b-form-select
          v-model="model.LICENSE_TYPE"
          :options="license_type"
          class="mb-3 col-lg-9"
        >
        </b-form-select>
      </b-form-group>

      <!--  Preferred Distributor  -->

      <h5 class="mt-5">Choose your preferred Distributor:</h5>

      <b-form-group
        id="input-group-1"
        label="List of Distributors:"
        label-cols-lg="3"
        label-cols-md="2"
        label-for="input-1"
        description=""
      >
        <b-form-select
          v-model="model.DISTRIBUTOR"
          :options="options"
          class="col-lg-9"
        ></b-form-select>
      </b-form-group>

      <b-form-group
        id="input-group-1"
        label="Distribution Point:"
        label-cols-lg="3"
        label-cols-md="2"
        label-for="input-1"
        description=""
      >
        <b-form-select
          v-model="selected"
          :options="options"
          class="col-lg-9"
        ></b-form-select>
      </b-form-group>

      <div>
        <!--  CMSRL  -->
        <h5 class="mt-5">CMSRL:</h5>

        <b-form-group v-slot="{ ariaDescribedby }">
          <b-form-radio-group
            id="radio-group-2"
            v-model="selected"
            :aria-describedby="ariaDescribedby"
            name="radio-sub-component"
          >
            <b-form-radio value="first">Yes</b-form-radio>
            <b-form-radio value="second">No</b-form-radio>
          </b-form-radio-group>
        </b-form-group>

        <!--   CMSRL: Yes  -->

        <!--   CMSRL: Yes  -->

        <!--   CMSRL: No  -->


        <!--   CMSRL: No  -->
      </div>
    </b-form>
  </div>
</template>
<script>
/*
Component flow

- Create formDataModel
- Create inputsModel
- Show loading
- APIsDependenciesCounter = 0
- Load APIs - inputs data
- Watch for props/parent data loaded - formDataModel
- When data loaded ->
- Map loaded Dependencies data to inputsModel - dropdowns/ checkboxes
- Map loaded ConsultantApplication data to formDataModel
- Update form UI
- Hide loading

Events
- data_loaded
- model_updated

*/

export default {
  components: {},
  props: {
    // The parameters the component accepts
    parentDataLoaded: Boolean,
    formDataModel: Object,
  },
  data: function () {
    return {
      user: JSON.parse(localStorage.getItem("user")),
      overlay_show: true,
      formDataDependencyCounter: 0,

      /* -------------------------------------------------------------------------- */
      /*                             VISIBILITY_SECTION2                            */
      /* -------------------------------------------------------------------------- */
      visibleCategoryStaff: false,
      visibleConsultant: false,
      visibleCMSRL_Yes: false,
      visibleCMSRL_No: false,
      visibleUTS: false,
      visiblePRS: false,

      // section 2
      category: [
        { text: "Staff", value: 1 },
        { text: "Consultant", value: 2 },
      ],
      cmsrl: [
        { text: "Yes", value: 1 },
        { text: "No", value: 2 },
      ],

      distributorAPI: [
        // { id: 1, name: 'ENG JIA SECURITIES SDN BHD', LICENSE_TYPE: 'UTS' },
        // { id: '4', name: 'HONG LEONG ASSET FUND MANAGEMENT BHD', LICENSE_TYPE: 'PTS' },
      ],

      license_type: [
        { text: "UNIT TRUST SCHEME CONSULTANT", value: 1 },
        { text: "PRIVATE RETIREMENT SCHEME CONSULTANT", value: 2 },
      ],

      uts: [{ text: "UNIT TRUST SCHEME CONSULTANT", value: 1 }],
      prs: [{ text: "PRIVATE RETIREMENT SCHEME CONSULTANT", value: 2 }],

      selected: null,

      model: {
        /* -------------------------------------------------------------------------- */
        /*                             MODEL_DATA_SECTION1                            */
        /* -------------------------------------------------------------------------- */

        CONSULTANT_CATEGORY: null,
        CONSULTANT_STATUS: null,
        STAFF_POSITION: null,
        CMSRL: null,
        CMSRL_NO: null,
        CMSRL_EXPIRY_DATE: null,
        CMSRL_CERT_DOCS: null,
        RECRUITER_NRIC_NO: null,
        RECRUITER_CMSRL_NO: null,
        APPRENTICESHIP_DOCS: null,

        DISTRIBUTOR: null,
        LICENSE_TYPE: [],
        UTS: false, // not used in post methods
        PRS: false, // not used in post methods
      },
      inputsModel: {
        /* -------------------------------------------------------------------------- */
        /*                             DROPDOWN_MODEL                                 */
        /* -------------------------------------------------------------------------- */
        DISTRIBUTOR_MODEL: null,
      },

      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: true,
        validateAsync: true,
      },
    };
  },
};
</script>

<style lang="scss">
.no-shadow {
  /* remove shadows by xomisse */
  -moz-box-shadow: none;
  -goog-ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
</style>
