<template>
  <div>
    <!-- Selected License -->
    <div class="selected-license-types">
      <div class="row mt-5 mb-2">
        <div class="col-md-6">
          <h5 class="">Applied License:</h5>
        </div>
        <div class="col-md-6 text-right">
          <b-button variant="success" v-b-modal.modal-1>Add License</b-button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">License Type</th>
            <th scope="col">Distributor</th>
            <th scope="col">Distribution Point</th>
            <th scope="col">Exam Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th scope="row">1</th> -->
            <td>UNIT TRUST SCHEME</td>
            <td>BANK COMCRADE SDN BHD</td>
            <td>Q sentral (ZAS123)</td>
            <td>30-09-2021</td>
            <td>
              <b-button variant="primary">Update</b-button>
            </td>
          </tr>
          <tr>
            <!-- <th scope="row">1</th> -->
            <td>PRIVATE RETIREMENT SCHEME</td>
            <td>BANK COMCRADE SDN BHD</td>
            <td>Q sentral (ZAS123)</td>
            <td>20-10-2021</td>
            <td>
              <b-button variant="primary">Update</b-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
