<template>
  <div class="min-500">
    <div class="row pt-5">
      <div class="col-md-12">
        <h5>Examination Type: CUTE/CPRE/FCE</h5>

        <b-form-checkbox
        class="mt-4"
          id="inp_exempted"
          v-model="consultant_exempted"
          name="inp_exempted"
          @change="setIsExemptionQualified"
        >
          I am Qualified for Exemption
        </b-form-checkbox>
      </div>
    </div>
    <exemption v-if="consultant_exempted"></exemption>
    <exam-booking v-if="!consultant_exempted"></exam-booking>
  </div>
</template>
<script>
import Exemption from "./exams/exemption";
import ExamBooking from "./exams/exam_booking";

export default {
  components: {
    Exemption,
    ExamBooking,
  },
  data() {
    return {
      consultant_exempted: false,
    };
  },
  methods: {
    setIsExemptionQualified(value) {
    },
  },
  created() {},
};
</script>
<style lang="scss">
.table thead th {
  font-weight: bold;
  font-size: 1rem;
}

.min-500 {
  min-height: 600px;
}
</style>
