<template>
  <div class="row mt-4">
    <div class="col-xs-12 col-md-8">
      <personal-info
        ref="personalInfo"
        :personal_particulars="personal_particulars"
        :general_settings="general_settings"
      ></personal-info>
      <personal-education
        ref="personalEducation"
        :personal_particulars="personal_particulars"
        :general_settings="general_settings"
        class="mt-5"
      ></personal-education>
      <personal-addresses
        ref="personalAddresses"
        :personal_particulars="personal_particulars"
        :general_settings="general_settings"
        class="mt-5"
      ></personal-addresses>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

import PersonalInfo from "./personal-particulars/personal_info";
import PersonalEducation from "./personal-particulars/education";
import PersonalAddresses from "./personal-particulars/addresses";

export default {
  name: "form-personal-particulars",
  components: {
    PersonalInfo,
    PersonalEducation,
    PersonalAddresses,
  },
  computed: {
    ...mapState({
      personal_particulars: (state) => state.consultant.applicant_details,
      general_settings: (state) => state.consultant.general_settings,
    }),
  },
  methods: {
    pullData(){
      console.log(this.$refs.personalInfo)
      const personal_info = this.$refs.personalInfo.getDataToSave();
      const addresses = this.$refs.personalAddresses.getDataToSave();
      console.log(personal_info);
      console.log(addresses);
    }
  },
  created(){
    const vm = this;

    Event.$on("CONSULTANT:SAVE_DATA", function () {
      vm.pullData()
    });
  }
};
</script>

<style scoped>
.form-group.required > label:after {
  content: "*";
  font-weight: 400;
  color: red;
  padding-left: 0.2 em;
  font-size: 1em;
}
</style>
