<template>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h4 slot="header">Password Settings</h4>
      </div>

      <!-- 2 -->
      <va-card class="ml-4 col-lg-10 my-1 px-1">
        <h5><i class="fa fa-key"></i>&nbsp;&nbsp;<b> Password </b></h5>
        <hr />
        <div class="ml-5">
          <div>
            <span>Password Characteristic</span>
            <button
              v-if="visiblePassCharacter == false"
              v-b-toggle.collapse-4
              type="button"
              class="float-right btn-fill btn-md"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              v-if="visiblePassCharacter == true"
              v-b-toggle.collapse-4
              type="button"
              class="float-right btn-fill btn-md"
            >
              <i class="fa fa-times"></i>
            </button>
            <b-collapse
              id="collapse-4"
              class="mt-4"
              v-model="visiblePassCharacter"
            >
              <va-card>
                <br />
                <tr>
                  <td colspan="2">
                    <div class="row">
                      <div class="ml-4 col-md-12">
                        <div class="row mb-1">
                          <va-checkbox
                            class="col-2"
                            v-model="selectedMinLength"
                          ></va-checkbox>
                          <span class="col mt-2 description">
                            Minimum Password Length</span
                          >
                          <input
                            :disabled="this.selectedMinLength == false"
                            v-model="passwordSetting.MIN_LENGTH"
                            type="number"
                            placeholder="0"
                            class="col-2 form-control form-control-md"
                          />
                        </div>
                        <div class="row mb-1">
                          <va-checkbox
                            class="col-2"
                            v-model="selectedMaxLength"
                          ></va-checkbox>
                          <span class="col mt-2 description">
                            Maximum Password Length</span
                          >
                          <input
                            :disabled="this.selectedMaxLength == false"
                            v-model="passwordSetting.MAX_LENGTH"
                            type="number"
                            placeholder="0"
                            class="col-2 form-control form-control-md"
                          />
                        </div>
                        <div class="row mb-1">
                          <va-checkbox
                            class="col-2"
                            v-model="passwordSetting.UPPERCASE_LOWERCASE"
                          ></va-checkbox>
                          <span class="col mt-2 description">
                            Required Uppercase and Lowercase Letters</span
                          >
                        </div>
                        <div class="row mb-1">
                          <va-checkbox
                            class="col-2"
                            v-model="passwordSetting.ALPHANUMERIC"
                          ></va-checkbox>
                          <span class="col mt-2 description">
                            Required Alphanumeric</span
                          >
                        </div>
                        <div class="row mb-1">
                          <va-checkbox
                            class="col-2"
                            v-model="passwordSetting.SPECIAL_CHARACTERS"
                          ></va-checkbox>
                          <span class="col mt-2 description">
                            Required Special Characters , e.g., ! @ # ? ]</span
                          >
                        </div>
                      </div>
                      <br />
                      <br />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button
                      @click="setPasswordSetting"
                      type="submit"
                      class="ml-2 float-left btn btn-primary btn-fill btn-md"
                    >
                      <i class="fa fa-save" />&nbsp; SAVE
                    </button>
                  </td>
                </tr>
              </va-card>
            </b-collapse>
            <hr />
          </div>

          <div>
            <span>Password History</span>
            <button
              v-if="visiblePassHistory == false"
              v-b-toggle.collapse-5
              type="button"
              class="float-right btn-fill btn-md"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              v-if="visiblePassHistory == true"
              v-b-toggle.collapse-5
              type="button"
              class="float-right btn-fill btn-md"
            >
              <i class="fa fa-times"></i>
            </button>
            <b-collapse
              id="collapse-5"
              class="mt-4"
              v-model="visiblePassHistory"
            >
              <b-card>
                <tr>
                  <td colspan="2">
                    <div class="row">
                      <div class="ml-4 col-md-12">
                        <span class="col mt-1 description">History Limit</span>
                        <input
                          v-model="model.PASSWORD"
                          type="number"
                          placeholder="0"
                          class="float-right col-7 form-control form-control-md"
                        />
                      </div>
                      <br />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button
                      @click="submitHistory"
                      type="submit"
                      class="ml-2 float-left btn btn-primary btn-fill btn-md"
                    >
                      <i class="fa fa-save" />&nbsp; SAVE
                    </button>
                  </td>
                </tr>
              </b-card>
            </b-collapse>
            <hr />
          </div>

          <div>
            <span>Default Password</span>
            <button
              v-if="visibleDefaultPass == false"
              v-b-toggle.collapse-6
              type="button"
              class="float-right btn-fill btn-md"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              v-if="visibleDefaultPass == true"
              v-b-toggle.collapse-6
              type="button"
              class="float-right btn-fill btn-md"
            >
              <i class="fa fa-times"></i>
            </button>
            <b-collapse
              id="collapse-6"
              class="mt-4"
              v-model="visibleDefaultPass"
            >
              <b-card>
                <tr>
                  <td colspan="2">
                    <div class="row">
                      <div class="ml-4 col-md-12">
                        <span class="col mt-1 description"
                          >Set default password value</span
                        >
                        <input
                          v-model="model.PASSWORD_DEFAULT_VALUE"
                          type="number"
                          placeholder="0"
                          class="float-right col-5 form-control form-control-md"
                        />
                      </div>
                    </div>
                  </td>
                </tr>
                <br />
                <br />
                <tr>
                  <td colspan="2">
                    <button
                      @click="submitDefault"
                      type="submit"
                      class="ml-2 float-right btn btn-primary btn-fill btn-md"
                    >
                      <i class="fa fa-save" />&nbsp; SAVE
                    </button>
                  </td>
                </tr>
              </b-card>
            </b-collapse>
            <hr />
          </div>
        </div>
      </va-card>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import Vue from "vue";
import "vue-form-generator/dist/vfg.css";
import Spacing from "../../../components/ui/spacing/Spacing.vue";
import * as services06Module0 from "../../../app/module0/services06";
import * as servicesModule0 from "../../../app/module0/services02";

export default {
  // eslint-disable-next-line vue/no-unused-components
  components: { Spacing },
  mounted() {
    this.getPasswordSetting();
    this.getUserIdSetting();
    this.getPasswordHistory();
    this.getPasswordDefault();
  },
  watch: {
    selectedMinLength: function (val) {
      if (val == false) {
        this.passwordSetting.MIN_LENGTH = 0;
      }
    },
    selectedMaxLength: function (val) {
      if (val == false) {
        this.passwordSetting.MAX_LENGTH = 0;
      }
    },
  },
  // DATA SCHEMA
  data() {
    return {
      passwordSetting: {
        SETTING_PASSWORD_ID: null,
        MIN_LENGTH: 0,
        MAX_LENGTH: 0,
        UPPERCASE_LOWERCASE: false,
        ALPHANUMERIC: false,
        SPECIAL_CHARACTERS: false,
        updatePasswordSetting: false,
      },
      model: {
        PASSWORD: "",
        PASSWORD_DEFAULT_VALUE: "",
      },
      selectedMinLength: false,
      selectedMaxLength: false,

      userIdSetting: {
        SETTING_USERID_ID: null,
        MIN_LENGTH: 0,
        MAX_LENGTH: 0,
        UPPERCASE_LOWERCASE: false,
        ALPHANUMERIC: false,
        SPECIAL_CHARACTERS: false,
        updateUseridSetting: false,
      },

      dataToggle: true,

      visibleUserId: false,

      visiblePassCharacter: false,
      visiblePassHistory: false,
      visibleDefaultPass: false,
      HistoryList: [],
      DefaultList: [],
    };
  },
  methods: {
    async setPasswordSetting() {
      const data = new FormData();
      data.append(
        "SETTING_PASSWORD_ID",
        this.passwordSetting.SETTING_PASSWORD_ID
      );
      data.append("MIN_LENGTH", this.passwordSetting.MIN_LENGTH);
      data.append("MAX_LENGTH", this.passwordSetting.MAX_LENGTH);
      data.append(
        "UPPERCASE_LOWERCASE",
        this.passwordSetting.UPPERCASE_LOWERCASE
      );
      data.append("ALPHANUMERIC", this.passwordSetting.ALPHANUMERIC);
      data.append(
        "SPECIAL_CHARACTERS",
        this.passwordSetting.SPECIAL_CHARACTERS
      );

      if (this.passwordSetting.updatePasswordSetting == false) {
        const response = await services06Module0.setPasswordSetting(data);
        this.getPasswordSetting();
      } else {
        data.append("_method", "PUT");
        const response = await services06Module0.updatePasswordSetting(data);
        this.$toasts.success("This is my favorite toasts plugin.", {
          // width: "400px",
          // position: "bottom-right",
          // padding: "1rem"
        });
      }
    },

    async setUserIdSetting() {
      const data = new FormData();
      data.append("SETTING_USERID_ID", this.userIdSetting.SETTING_USERID_ID);
      data.append("MIN_LENGTH", this.userIdSetting.MIN_LENGTH);
      data.append("MAX_LENGTH", this.userIdSetting.MAX_LENGTH);
      data.append(
        "UPPERCASE_LOWERCASE",
        this.userIdSetting.UPPERCASE_LOWERCASE
      );
      data.append("ALPHANUMERIC", this.userIdSetting.ALPHANUMERIC);
      data.append("SPECIAL_CHARACTERS", this.userIdSetting.SPECIAL_CHARACTERS);
      if (this.passwordSetting.updateUseridSetting == false) {
        const response = await services06Module0.setUserIdSetting(data);
      } else {
        data.append("_method", "PUT");
        const response = await services06Module0.updateUseridSetting(data);
        this.$toasts.success("This is my favorite toasts plugin.", {
          // width: "400px",
          // position: "bottom-right",
          // padding: "1rem"
        });
      }
    },

    async getUserIdSetting() {
      const response = await services06Module0.getUserIdSetting(1);
      if (response != null) {
        this.userIdSetting = response;
        // alert(JSON.stringify(this.userIdSetting));
        this.userIdSetting.updateUseridSetting = true;
        response.MIN_LENGTH != null
          ? (this.selectedMinLength = true)
          : (this.selectedMinLength = false);
        response.MAX_LENGTH != null
          ? (this.selectedMaxLength = true)
          : (this.selectedMaxLength = false);
      } else {
        this.passwordSetting.updateUseridSetting = false;
      }
    },

    async getPasswordSetting() {
      const response = await services06Module0.getPasswordSetting(1);
      if (response != null) {
        this.passwordSetting = response;
        this.passwordSetting.updatePasswordSetting = true;
        response.MIN_LENGTH != null
          ? (this.selectedMinLength = true)
          : (this.selectedMinLength = false);
        response.MAX_LENGTH != null
          ? (this.selectedMaxLength = true)
          : (this.selectedMaxLength = false);
      } else {
        this.passwordSetting.updatePasswordSetting = false;
      }
    },

    getPasswordHistory: async function () {
      const response = await servicesModule0.getPasswordHistoryById();
      this.HistoryList = response;
      this.model.PASSWORD = response.PASSWORD;
    },
    async submitHistory() {
      let app = this;
      var param = app.model;
      const data = new FormData();
      data.append("PASSWORD", this.model.PASSWORD);
      try {
        // eslint-disable-next-line no-unused-vars
        const response = await servicesModule0.createPasswordHistory(data);
        this.getPasswordHistory();
        // this.$modals.simpleModal.$hide()
      } catch (error) {
        console.log(error);
      }
    },
    getPasswordDefault: async function () {
      const response = await servicesModule0.getPasswordDefaultById();
      this.DefaultList = response;
      this.model.PASSWORD_DEFAULT_VALUE = response.PASSWORD_DEFAULT_VALUE;
    },
    async submitDefault() {
      let app = this;
      var param = app.model;
      const data = new FormData();
      data.append("PASSWORD_DEFAULT_VALUE", this.model.PASSWORD_DEFAULT_VALUE);
      try {
        // eslint-disable-next-line no-unused-vars
        const response = await servicesModule0.createPasswordDefault(data);
        this.getPasswordDefault();
        // this.$modals.simpleModal.$hide()
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss">
.app-layout__main {
  background: #e8e8e8;
}
</style>
